#accessoriesOrder{
    .row{
        margin: 0px;
    }
    .screen-mob({
        background-color: @grey11;
        margin-left: 20px;
        margin-right: 20px;
        width: inherit;
    });
    .titleHeader{
        .screen-mob({
            padding-left: 0px;
        });  
    }
    .orederDetailHeading{
        .font(@openSans_Bold, bold, 18px, @black-color01);
        letter-spacing: -0.5px;
        text-align: left;
        padding-top: 40px;
        padding-bottom: 40px;
        text-transform: uppercase;
        padding-left: 0px;
        .screen-mob({
            padding: 30px 20px 25px 0px;
        })
    }
    .orderSumarrySectionDesktop {
        background-color: @white;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 40px;
        .ordersummaryHead{
            .font(@openSans_Bold, bold, 14px, @black-color01);
            text-align: left;
            text-transform: uppercase;
            border-bottom: solid 1px @grey12;
            padding: 30px 10px 20px 30px;
        }
        .fisrtHalf{
            padding-top: 45px;
            padding-bottom: 20px;
            padding-left: 20px;
        }
        .secondHalf{
            border-top:solid 1px @grey12;
            padding-top: 45px;
            padding-bottom: 45px;
            padding-left: 20px;  
        }
        .summaryLabel{
            .font(@openSans_Light, 300, 14px, @black-color01);
            text-align: left;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        .summaryValue{
            .font(@HelveticaNeue, 500, 14px, @black-color01);
            text-align: left;
            text-transform: capitalize;
        }
    }
    .orderSumarrySectionMobile{
        background-color: @white;
        padding: 15px 10px 25px 10px;
        margin-bottom: 20px;
        .ordersummaryHead{
            .font(@openSans_Bold, 300, 12px, @black-color01);
            text-align: left;
            padding: 0px 5px 10px 5px;
            text-transform: uppercase;
        }
        .orderSummarycontMob{
            border: 1px solid @grey17;
            padding-left: 0px;
            padding-right: 0px;
            .summaryLabel{
                .font(@openSans_Light, 300, 10px, @black-color01);
                text-align: left;
                text-transform: uppercase;
                padding-left: 0px;
                padding-right:0px;
            }
            .summaryValue{
                .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                text-align: left;
                padding-left: 0px;
                text-transform: capitalize;
                word-wrap: break-word;
                padding-right: 0px;
            }
            .firstHalf{
                border-bottom: solid 1px @grey17;
                padding: 20px !important;
                .msoLabel{
                    //padding-left: 20px;
                }
                .PriceOrder{
                    padding-left: 0px;
                    padding-right: 0px;
                    .totalPriceSection{
                        padding: 15px 0px 0px 0px !important;
                        
                    }
                    .orderStatus{
                        padding: 15px 0px 0px 0px;
                        display: inline;
                        .orderStatusLabel{
                            padding-left: 20px;
                        }
                    }
                }
            }
            .ordersubmitSection{
                padding:20px 20px 0px 20px;
            }
            .inTransitSection{
                padding:15px 20px 0px 20px;
            }
            .estimatedSection{
                padding:15px 20px 0px 20px;
            }
            .promiseSection{
                padding:15px 20px 20px 20px;
            }
        }
    }
    .dealerDetailsSection{
        background-color: @white;
        padding: 30px 0px 30px 0px;
        margin-top: 40px;
        margin-bottom: 60px;
        .screen-mob({
            margin-top: 25px;
            margin-bottom: 25px;
            padding: 13px 0px 20px 0px;
        });
        .dealerDetailHeading{
            .font(@openSans_Bold, bold, 14px, @black-color01);
            padding: 0px 30px 18px 36px;
            text-transform: uppercase;
            text-align: left;
            border-bottom: solid 1px @grey12;
            .screen-mob({
                padding: 0px 10px 7px 10px;
                .font(@openSans_Bold, bold, 14px, @black-color01);
            });
        }
        .dealerNameLable{
            padding: 55px 0px 39px 36px;
            .font(@openSans_Light, 300, 14px, @black-color01);
            text-align: left;
            text-transform: uppercase;
            .screen-mob({
                padding: 20px 10px 5px 10px;
            });    
        }
        .dealerNameValue{
            .font(@HelveticaNeueMedium, 500, 16px, @black-color01);
            padding: 54px 0px 40px 0px;
            text-align: left;
            text-transform: capitalize;
            .screen-mob({
                padding: 0px 10px 18px 10px;
            }); 
        }
        .shippingAddressLabel{
            padding: 0px 0px 0px 36px;
            .font(@openSans_Light, 300, 14px, @black-color01);
            text-align: left;
            text-transform: uppercase;
            .screen-mob({
                padding: 0px 10px 10px 10px;
            }); 
        }
        .shippingAddressValue{
            padding: 0px 0px 50px 0px;
            text-transform: capitalize;
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
            .screen-mob({
                padding: 0px 10px 0px 10px;
            });
        }
    }
    .accessoriesSectionDesktop{
        padding:0px;
        background-color: @white;
        .accessoriesHeading{
            border-bottom: solid 1px @grey12;
            padding: 30px 30px 18px 30px;
            .font(@openSans_Bold, bold, 14px, @black-color01);
            text-align: left;
            text-transform: uppercase;
        }
        .tableHeaders{
            padding: 29px 30px 33px 30px;
            border-bottom: solid 1px @grey12;
            .font(@openSans_Bold, bold, 16px, @black-color01);
            text-transform: uppercase;
            .partDescriptionLabel{
                text-align: left;
                padding-left: 0px;
            }
            .partNumberLabel{
                text-align: left;
            }
            .salesModelLabel{
                text-align: left;
            }
            .listPriceLabel{
                text-align:right;
                padding-right: 65px;
            }
            .quantityLabel{
                text-align:right;
            }
            .totalPriceLabel{
                text-align: right;
            }
        }
        .tableValues{
            padding: 40px 30px 0px 33px;
            .font(@HelveticaNeue, normal, 16px, @black-color01);
            .partDescriptionValue{
                text-align: left;
                padding-left: 0px;
            }
            .partNumberValue{
                text-align: left;
            }
            .salesModelValue{
                text-align: left;
            }
            .listPriceValue{
                text-align:right;
                padding-right: 65px;
            }
            .quantityValue{
                text-align:right;
                .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
            }
            .totalPriceValue{
                text-align: right;
            }
        }
        .tableValues:last-child{
            padding-bottom: 40px;
            border-bottom: solid 1px @grey12;
        }
        .totalSection{
            padding:25px 30px 40px 30px;
            .totalLabel{
                .font(@openSans_Bold, bold, 16px, @black-color01);
                text-transform: uppercase;
                text-align: right;
                padding-right: 65px;
            }
            .qunatitySum{
                text-align: right;
                .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
            }
            .priceSum{
                text-align: right;
                .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
            }
        }
    }
    .accessoriesSectionMobile{
        background-color: @white;
        padding-left: 0px;
        padding-right: 0px;
        .accessoriesHeading{
            padding: 15px 15px 11px 15px;
            border-bottom: solid 1px @grey12;
            text-transform: uppercase;
            .font(@openSans_Bold, bold, 12px, @black-color01);
        }
        .lineItemDescription{
            padding-left: 10px;
            padding-right: 10px;
            .salesModelName{
                .font(@openSans_Bold, bold, 14px, @black-color01);
                padding: 15px 5px 15px 5px;
                text-transform: uppercase;
            }

            .lineCards{
                padding: 0px;
                border: solid 1px @grey17;
                padding-bottom: 15px;
                margin-top: 20px;
                .partDescription{
                    padding: 15px 15px 10px 15px;
                    .font(@openSans_Bold, bold, 14px, @black-color01);
                    text-align: left;
                    text-transform: capitalize;
                }
                .partnumberlabel{
                    padding: 0px 0px 5px 16px;
                    .font(@openSans_Light, 300, 10px, @black-color01);
                    text-transform: uppercase;
                }
                .partnumberValue{
                    padding: 0px 0px 20px 16px;
                    .font(@HelveticaNeue, normal, 12px, @black-color01);
                }
                .listPriceSection{
                    padding: 0px;
                    border-bottom: solid 1px @grey17;
                    .listPriceLabel{
                        padding: 0px 0px 15px 15px;
                        .font(@openSans_Light, 300, 10px, @black-color01);
                        text-transform: uppercase;
                    }
                    .listPriceValue{
                        padding: 0px 19px 14px 0px;
                        .font(@HelveticaNeue, normal, 12px, @black-color01);
                        text-align: right;
                    }
                }
                .quantiySection{
                    padding: 0px;
                    .quantityLabel{
                        padding: 19px 0px 15px 15px;
                        .font(@openSans_Light, 300, 10px, @black-color01);
                        text-transform: uppercase;
                    }
                    .quantityValue{
                        padding: 15px 36px 17px 0px;
                        text-align: right;
                        .font(@HelveticaNeue_Light, normal, 12px, @black-color01);
                    }
                }
                .totalListPriceSection{
                    padding: 0px;
                    background-color: @grey05;
                }
                .totallistPriceLabel{
                    padding: 13px 0px 13px 15px;
                    .font(@HelveticaNeueMedium, 500, 10px, @black-color01);
                    text-transform: uppercase;
                }
                .totalListPriceVlaue{
                    padding: 14px 14px 12px 0px;
                    .font(@HelveticaNeueMedium, 500, 10px, @black-color01);
                    .font(@HelveticaNeue, normal, 12px, @black-color01);
                    text-align: right
                }
            }
            .lineCards:nth-child(2){
                margin-top: 0px !important;
            }
            .lineCards:last-child{
                margin-bottom: 25px !important;
            }
        }
        .totalSection{
            padding: 0px;
            border-top: solid 1px @grey17;
            .quantityAndPrice{
                padding: 25px 11px 25px 11px;
                .quantity{
                    border-top: solid 1px @grey17;
                    .totalQuantityLabel{
                        .font(@openSans_Light, 300, 10px, @black-color01); 
                        padding: 19px 0px 15px 19px;
                        text-transform: uppercase;
                    }
                    .totalQuantityValue{
                        padding: 15px 19px 17px 0px;
                        text-align: right;
                        .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                    }
                }
                .total{
                    background-color: @grey05;
                    .totalPriceLabel{
                        padding: 13px 0px 13px 20px;
                        .font(@HelveticaNeueMedium, 500, 10px, @black-color01);
                        text-transform: uppercase;
                    }
                    .totalPriceValue{
                        padding: 11px 15px 12px 0px;
                        .font(@HelveticaNeueMedium, normal, 12px, @black-color01);
                        text-align: right;
                    }
                }
            }
        }
    }
}