.accessoriesWrapper{
    .reviewBtn {
        margin: 40px 0;
    }
    .open{
        &> .dropdown-menu {
          padding: 10px;
          margin-left: 10px;
          min-width: auto;
        }
    }
    h2{
        text-transform: uppercase;
        .font(@openSans, bold, 18px, @black-color01);
        margin: 0;
    }

    .seleAccLabel{
        margin-top: 20px;
        span{
            .font(@openSans, 300, 14px, @black-color01);
            text-transform: uppercase;
        }
        .acc-model-dropdown{
            button{
                padding: 0px;
                background-color: transparent;
                border-bottom: solid 1px @grey10;
                margin-top: 5px;
                box-shadow: none;
            }
            .text {
                display: inline-block;
                text-transform: capitalize;
                width: 94%;
                .font(@HelveticaNeueMedium, 500, 12px, @black-color01);
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .arrow {
                width: 6%;
                color: @grey10;
                i {
                    color: @grey10;
                }
            }
        }
    }
    .accContentWrap{
        background: @white;
        margin-top: 40px;
        .line-item {
            border-bottom: 1px solid @grey14;
        }
        .partHeadings{
            padding: 0 30px 0 30px;
            .message{
                border-bottom: 1px dashed #979797;
                cursor: pointer;
                display: inline-block;
            }
            .popover { 
                position: absolute;
                top: 60px !important;
                padding: 0;
                width: 250px;
                background-color: @white;
                border: solid 1px @grey10;
                text-align: left;
                .font(@HelveticaNeue, 300, 12px, @black-color01);

                .arrow {
                    display: none;
                }
            }
            h3{
                .font(@openSans, bold, 16px, @black-color01);
                padding: 32px 0;
                margin: 0;
                text-transform: uppercase;
            }
            .total-price{
                padding-right: 60px;
            }
        }
        .total-section {
            background-color: @white;
            padding: 30px 0 40px;
            margin-top: 20px;
            border: 1px solid @grey17;
            .total-label { 
                .font(@openSans, bold, 16px, @black-color01);
            }
            .total-count {
                .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
            }
            .totPrice {
                .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
                span{
                    padding-right: 75px;
                }
            }
        }
    }
    .acc-tab-head{
        padding: 20px 30px 20px 30px;
        box-shadow: 0 0 7px 3px rgba(234, 234, 234, 0.5);
        margin:0;
        border: 1px solid @grey17;
        h4{
            margin: 0;
            .font(@openSans, bold, 14px, @black-color01);
            text-transform: uppercase;
        }
    }
    .acc-tab-details{
        .font(@HelveticaNeue, normal, 16px, @black-color01);
        padding: 0 30px;
        margin-bottom: 30px;
        margin-top: 30px;
        &:first-child{
            margin-bottom: 0;
        }
        .recommendTag{
            background: @grey11;
            padding: 3px;
            .font(@HelveticaNeueThin, 300, 10px, @black-color01);
            img{
                width: 9px;
                position: relative;
                top: -1px;
            }
        }
        h4{
            margin: 5px 0;
            .font(@HelveticaNeueThin, 700, 16px, @black-color01);
            text-transform: capitalize;
        }
        p{
            .font(@HelveticaNeueThin, 300, 14px, @black-color01);
        }
        .acc-model-dropdown{
            margin-left: 20px;
            padding-right: 5px;
            text-align: left;
            button{
                padding: 0px;
                background-color: #fff;
                border-bottom: solid 1px #4a4a4a;
                box-shadow: none;
            }
            .text {
                display: inline-block;
                text-transform: capitalize;
                width: 92%;
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .arrow {
                width: 8%;
                i {
                    color: @grey10;
                }
            }
        }
        .accQuantControls{
            img{
                width: 15px;
                cursor: pointer;
            }
            span {
                img {
                    &.disabled{
                        opacity: 0.25;
                        cursor: default;
                    }
                }
            }
            input {
                width: 25px;
                text-align: center;
                margin: 0 10px;
                &[disabled] {
                    background-color: @grey20;
                    +img {
                        opacity: 0.25;
                        cursor: default;
                    }
                }
            }
        }
        .totPrice{
            padding-right: 60px;
        }
    }
    .accAddNew{
        margin:15px 0 20px;
        padding-left: 10px;
        padding-right: 60px;
        img{
            width: 15px;
        }
        button{
            background: none;
            border: none;
            .font(@openSans, 300, 16px, @black-color01);
            &:focus {
                outline: 0;
            };
            &:disabled {
                color: @grey10;
                img {
                    opacity: 0.45;
                }
            };
        }
        div{
            border-top: 1px solid @grey13;
            padding-top: 10px;
        }
    }
}

.accessoriesWrapper-mob{
    .open{
        &> .dropdown-menu {
          padding: 10px;
          margin-left: 10px;
          min-width: auto;
        }
    }
    width: 100%;
    h2{
        text-transform: uppercase;
        .font(@openSans, bold, 18px, @black-color01);
        margin: 0 0 10px 20px;
    }
    .seleAccLabel{
        padding-left: 20px;
        margin-bottom: 30px; 
        span{
            .font(@openSans, 300, 14px, @black-color01);
            text-transform: uppercase;
        }
        .acc-model-dropdown{
            button{
                padding: 0px;
                background-color: transparent;
                border-bottom: solid 1px @grey10;
                margin-top: 5px;
                box-shadow: none;
            }
            .text {
                display: inline-block;
                text-transform: none;
                width: 94%;
                .font(@openSans, 500, 14px, @black-color01);
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .arrow {
                width: 6%;
                color: @grey10;
            }
        }
    }
    .accContentWrapMob{
        margin-top: 5px;
        .acc-tab-head  {
            padding: 15px 20px;
            background: @grey13;
            margin:0;
            h4{
                margin: 0;
                .font(@openSans, 600, 14px, @black-color01);
                text-transform: uppercase;
            }
            img{
                width: 14px;
            }
        }
        .acc-tab-details {
            margin: 20px;
            background: @white;
            .partDesc{
                padding: 20px;
                border-bottom: 1px solid @grey13;
                .partDescHeading{
                    .font(@openSans, 300, 10px, @black-color01); 
                    margin: 0;
                    text-transform: uppercase;
                }
                .recommendTag{
                    background: @grey11;
                    padding: 3px;
                    margin-top: 10px;
                    .font(@HelveticaNeueThin, 300, 10px, @black-color01);
                    img{
                        width: 9px;
                        position: relative;
                        top: -1px;
                    }
                }
                h4{
                    margin: 5px 0;
                    .font(@HelveticaNeueThin, 700, 16px, @black-color01);
                    text-transform: capitalize;
                }
                p{
                    .font(@HelveticaNeueThin, 300, 14px, @black-color01);
                }
            }
            .partConfig{
                padding: 20px;
                border-bottom: 1px solid @grey13;
                .font(@HelveticaNeueThin, 600, 14px, @black-color01);
                .light-head{
                    .font(@openSans, 300, 10px, @black-color01);
                    text-transform: uppercase;
                }
                .partConfigMargin{
                    margin: 20px 0;
                    .acc-model-dropdown {
                        button{
                            padding: 0px;
                            background-color: transparent;
                            border-bottom: solid 1px @black-color01;
                            margin-top: 5px;
                            box-shadow: none;
                        }
                        .text {
                            display: inline-block;
                            text-transform: capitalize;
                            width: 94%;
                            .font(@openSans, normal, 14px, @black-color01);
                            text-align: left;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        .arrow {
                            width: 6%;
                            i {
                                color: @grey10;
                            }
                        }
                        .dropdown-menu {
                            margin: 0;
                        }
                    }
                    .popover {
                        position: absolute;
                        top: 10px !important;
                        left: 10px !important;
                        padding: 0;
                        width: 250px;
                        background-color: @white;
                        border: solid 1px @grey10;
                        text-align: left;
                        .font(@HelveticaNeue, 300, 12px, @black-color01);
        
                        .arrow {
                            display: none;
                        }
                    }
                    .message{
                        border-bottom: 1px dashed #979797;
                        cursor: pointer;
                        display: inline-block;
                    }
                }
                .accQuantControls{
                    img{
                        width: 10px;
                        margin: 0 5px;
                    }
                    span {
                        img {
                            &.disabled{
                                opacity: 0.25;
                            }
                        }
                    }
                    input {
                        width: 40px;
                        height: 23px;
                        border: 1px solid @black-color01;
                        margin-top: 5px;
                        text-align: center;
                        &[disabled] {
                            background-color: @grey20;
                            +img {
                                opacity: 0.25;
                            }
                        }
                    }
                }
            }
        }
        .accAddNew{
            margin:15px 0 20px;
            padding-left: 10px;
            img{
                width: 15px;
            }
            button{
                background: none;
                border: none;
                .font(@openSans, 300, 16px, @black-color01);
                &:focus {
                    outline: 0;
                };
                &:disabled {
                    color: @grey10;
                    img {
                        opacity: 0.45;
                    }
                };
            }
            div{
                padding-top: 10px;
            }
        }
    } 
}
#remove-bcp-modal-body{
    background-color:@white;
    padding: 60px 81px 41px 80px;
    border: solid 3px @grey10;
    .screen-mob({
        padding: 50px 22px 41px 22px;
        width: 280px;
    });
        .close-icon{
            position: absolute;
            top: -40px;
            right: -60px;
            background: url(/_ui/responsive/cat/images/reorderPopupClose.png) center right no-repeat;
            display: inline-block;
            background-size: contain;
            width: 15px;
            height: 15px;
            .screen-mob({
                top: -40px;
                right: -10px;
            });
        }
    .popup-message{
        padding-left: 0px;
        padding-right: 0px;
        .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
        margin-bottom: 40px;
    }
    .remove-product-btn-container{
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        .remove-product-btn{
        	width: auto;
            padding: 12px 30px 12px 30px;
            .font(@openSans_Bold, bold, 14px,@white);
        }
    }
}
.accessories-disclaimer{
    	.font(@HelveticaNeue_Light,300,14px,@black-color01);
         font-style: italic;
         padding-top: 10px;
         .screen-mob({
         padding: 0px 20px 20px 30px;})
    }