
.review-accessoriesWrapper-mob,.review-accessoriesWrapper{
    .disclimer-error-message {
        .font(@openSans, normal, 12px, @red02);
        font-style: italic;
    }
   
    .uib-typeahead-match{
            a{
                padding-top:20px;
                padding-bottom:20px;
            }
            &:not(:last-child){
                a{
                    border-bottom:1px solid @grey10;
                    .screen-mob({
                        border-bottom:1px solid @grey17;
                    })
                }
                
            }
            &:hover{
                cursor: pointer;
            }

    }
        .result{
            padding:0;
            margin-left:25px;
            background-color:@white!important;
            .font(@HelveticaNeueThin, 300, 12px, @grey07);
            color:@grey07 !important;
            &:active{
                background-color:@white!important;
                
            }
            strong{
                font-family:@HelveticaNeueMedium;
            }
            .screen-mob({
                padding-left:25px;
                margin-left:0;
            })
        }
}
.review-accessoriesWrapper{
    
    h2 {
        .font(@openSans, bold, 18px, @black-color01);
        text-transform: uppercase;
    }
    .accContentWrap{
        background: @white;
        margin-top: 40px;
        .main-partHeadings {
            border-bottom: 1px solid @grey13;
            padding: 0 30px 0 30px;
            div{
                padding: 30px 0 20px 0;
                h3{
                    .font(@openSans, bold, 14px, @black-color01);
                    margin: 0;
                    text-transform: uppercase;
                }
                &.edit-order{
                    margin-right: -10px;
                    h3{
                        .font(@openSans, normal, 18px, @black-color01);
                        font-style: italic;
                        text-transform: none;
                        cursor: pointer;
                        background: url(/_ui/responsive/cat/images/edit.png) bottom right no-repeat;
                        padding-right: 30px;
                    }
                }
            }
        }
        .partHeadings{
            border: 0;
            padding: 0 30px 0 30px;
            h3{
                .font(@openSans, bold, 16px, @black-color01);
                padding: 30px 0 25px 0;
                margin: 0;
                text-transform: uppercase;
            }
            div{
                &:last-child{
                    padding-right: 50px;
                }
            }
        }
        .accTypeWrap {
            .acc-tab-head{
                padding: 20px 30px 20px 30px;
                margin:0;
                border: 1px solid @grey13;
                h4{
                    margin: 0;
                    .font(@openSans, bold, 14px, @black-color01);
                    text-transform: uppercase;
                }
            }
            .line-item{
                margin: 30px 0;
                .acc-tab-details{
                    padding: 0 30px;
                    h4{
                        .font(@HelveticaNeue, normal, 16px, @black-color01);
                        text-transform: capitalize;
                    }
                    p{
                        .font(@HelveticaNeue, 300, 16px, @black-color01);
                    }
                    .accQuantControls{
                        p {
                            text-align: center;
                        }
                    }
                    .totPrice{
                        padding-right: 20px;
                        img {
                            padding-left: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .po-details{
                border-top: 1px solid @grey13;
                padding: 30px 40px;
                .orderContentTabHeader {
                    margin: 0px;
                    margin-bottom: 10px;
                    .font(@openSans, 300, 14px, @black-color01);
                }
                .po-info-message {
                    margin: 0;
                    margin-bottom: 40px;
                    .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                    .error {
                        color: @red02;
                    }
                }
                input{
                    &.error{
                        border-bottom: 1px solid @red02;
                    }
                }
            }
        }
        .total-section {
            background-color: @white;
            padding: 30px 0 40px;
            margin-top: 20px;
            border: 1px solid @grey17;
            .total-quantity-section {
                padding-bottom: 40px;
            }
            .total-label { 
                .font(@openSans, bold, 16px, @black-color01);
                text-transform: uppercase;
            }
            .total-count {
                padding-right: 80px;
                .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
            }
        }
    }
    .delearsDetailsHold{
        background: @white;
        margin: 0;
        margin-top: 30px;
        .headerHold {
            padding: 30px 30px 20px;
            border-bottom: 1px solid @grey12;
            .font(@openSans, bold, 14px, @black-color01);
        }
        .formelementhold {
            padding: 40px;
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
            p{
                &.lable {
                    .font(@openSans, 300, 14px, @black-color01);
                }
            }
            .dealer-name {
                padding-bottom: 40px;
            }
            .dealer-section {
                #shipping-address-dropdown {
                    width: 100%;
                    padding: 10px 30px 10px 10px !important;
                    border-bottom: 1px solid @sunflower-yellow !important;
                    p{
                        display: inline-block;
                        margin-bottom: 0;
                    }
                    .shipping-address-dropdown-arrow {
                        position: absolute;
                        right: 10px;
                    }
                }
                .shipping-address-dropdown-menu {
                    width: 100%;
                    .shipping-address-dropdown-item {
                        a {
                            padding: 0 15px 0 0 !important;
                        }
                        label {
                            .font(@HelveticaNeue, normal, 12px, @black-color01);
                            display: inline-block;

                        }
                    }
                }
            }
            
        }
    }
    #submitOrderHold {
        background: transparent;
        margin: 20px 0 0 0;
        .checkBoxSection {
            padding-left: 10px
        }
        #submitorderbuttonHold {
            padding-right: 0;
            input {
                .font(@openSans, bold, 14px, @grey03);
                padding: 10px 35px;
                margin-right: 0;
                height: auto;
                background-color: @grey07;
                &:disabled {
                    background-color: @grey14;
                    color: @grey03;
                }
            }
        }
    }
}

.review-accessoriesWrapper-mob{
    width: 100%;
    h2{
        text-transform: uppercase;
        .font(@openSans, bold, 18px, @black-color01);
        margin: 0 0 30px 20px;
    }
    .mobile-container-wrapper {
        margin: 0 20px;
        background-color: @white;
        .main-partHeadings {
            padding: 0 15px;
            h3 {
                .font(@openSans, bold, 12px, @black-color01);
                text-transform: uppercase;
            }
            .edit-order {
                margin-top: 15px;
            }
        }
        .accContentWrapMob{
            border-top: 1px solid @grey12;
            margin-top: 5px;
            .acc-tab-head  {
                padding: 20px 15px 0;
                margin:0;
                h4{
                    margin: 0;
                    .font(@openSans, 600, 14px, @black-color01);
                    text-transform: uppercase;
                }
                img{
                    width: 14px;
                }
            }
            .acc-tab-details {
                background: @white;
                border: 1px solid @grey12;
                margin: 15px;
                .partDesc{
                    .accName {
                        .font(@openSans, bold, 14px, @black-color01); 
                    }
                    .partDescHeading{
                        .font(@openSans, 300, 10px, @black-color01); 
                        margin: 0;
                        text-transform: uppercase;
                    }
                    .recommendTag{
                        background: @grey11;
                        padding: 3px;
                        margin-top: 10px;
                        .font(@HelveticaNeueThin, 300, 10px, @black-color01);
                        img{
                            width: 9px;
                            position: relative;
                            top: -1px;
                        }
                    }
                    h4{
                        margin: 5px 0;
                        .font(@HelveticaNeueThin, 700, 16px, @black-color01);
                        text-transform: capitalize;
                    }
                    p{
                        .font(@HelveticaNeueThin, 300, 14px, @black-color01);
                    }
                }
                .partConfig{
                    .font(@HelveticaNeueThin, 600, 14px, @black-color01);
                    .light-head{
                        .font(@openSans, 300, 10px, @black-color01);
                        text-transform: uppercase;
                    }
                    .list-price {
                        padding-bottom: 20px;
                        padding-top: 20px;
                        border-bottom: 1px solid @grey13;
                    }
                    .accQuantControls{
                        padding-bottom: 20px;   
                        padding-top: 20px;
                    }
                    .total-list-price {
                        background-color: @grey05;
                        padding-bottom: 10px;   
                        padding-top: 10px;
                        margin-bottom: 15px;
                        div {
                            font-weight: bold;
                        }
                    }
                }
            }
            .po-details{
                padding: 5px 20px;
                .orderContentTabHeader {
                    margin: 0px;
                    margin-bottom: 10px;
                    .font(@openSans, 300, 14px, @black-color01);
                }
                .po-info-message {
                    margin: 0;
                    margin-bottom: 15px;
                    .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                    .error {
                        color: @red02;
                    }
                }
                input{
                    margin-bottom: 20px;
                    &.error{
                        border-bottom: 1px solid @red02;
                    }
                }
            }
        }
        .total-section {
            border-top: 1px solid @grey13;
            background-color: @white;
            padding: 10px;
            margin: 0 20px;
            .total-quantity-section {
                padding-bottom: 15px;
            }
            .total-price-section {
                background-color: @grey05;
                padding: 15px 0;
                .total-label { 
                    .font(@HelveticaNeueMedium, 500, 10px, @black-color01);
                }
                .total-count {
                    .font(@HelveticaNeue, normal, 12px, @black-color01);
                }
            }
            .total-label { 
                .font(@openSans, 300, 10px, @black-color01);
                text-transform: uppercase;
                padding-left: 15px;
            }
            .total-count {
                padding-right: 15px;
                .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
            }
        }
        &.dealer-wrapper{
            margin-top: 20px;
            .delearsDetailsHold {
                background: @white;
                margin: 0;
                .headerHold {
                    padding: 15px;
                    border-bottom: 1px solid @grey12;
                    .font(@openSans, bold, 14px, @black-color01);
                }
                .formelementhold {
                    padding: 25px;
                    .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                    p{
                        &.lable {
                            .font(@openSans, 300, 14px, @black-color01);
                        }
                    }
                    .dealer-name {
                        padding-bottom: 20px;
                    }
                    .dealer-section {
                        #shipping-address-dropdown {
                            width: 100%;
                            padding: 10px 30px 10px 10px !important;
                            border-bottom: 1px solid @grey10 !important;
                            color: @black-color01;
                            p{
                                display: inline-block;
                                margin-bottom: 0;
                            }
                            .shipping-address-dropdown-arrow {
                                position: absolute;
                                right: 10px;
                            }
                        }
                        .shipping-address-dropdown-menu {
                            width: 100%;
                            .shipping-address-dropdown-item {
                                a {
                                    padding: 0 15px 0 0 !important;
                                }
                                label {
                                    .font(@HelveticaNeue, normal, 12px, @black-color01);
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
    #submitOrderHold {
            background: transparent;
            margin: 20px 20px 0;
            .indicateMsg {
                .font(@HelveticaNeue_Light, 300, 10px, @black-color01);
            }
            .checkBoxSection {
                padding-left: 10px;
            }
            #submitorderbuttonHold {
                padding-right: 0;
                input {
                    .font(@openSans, bold, 14px, @grey03);
                    padding: 10px 35px;
                    margin-right: 0;
                    height: auto;
                    background-color: @grey07;
                    &:disabled {
                        background-color: @grey14;
                        color: @grey03;
                    }
                }
            }
        }
}

.accessories-success-popup {
    padding: 50px 40px 40px;
    .header {
        margin: 0;
        margin-bottom: 40px;
        .font(@openSans, bold, 20px, @black-color01);
        .screen-mob({
            font-size: 16px;
        });
    }
    .order-info {
        margin-bottom: 20px;
        .info-item {
            margin-bottom: 20px;
            .label {
                text-align: left;
                .font(@HelveticaNeueThin, 100, 16px, @black-color01);
            }
            .label-value {
                text-align: left;
                .font(@HelveticaNeueMedium, 500, 16px, @black-color01);
            }
        }
    }
    .order-conf-info{
        padding-top: 5px;
        margin-left: 20px;
        .font(@HelveticaNeueThin, 500, 16px, @black-color01);
    }
    .accessories-footer {
        .btn {
            padding: 14px;
            border: solid 1px @grey10;
            background-color: transparent;
            width: 180px;
            .font(@openSans, bold, 14px, @black-color01);
            &.black-btn {
                background-color: @grey07;
                color: @white;
            }
            .screen-mob({
                width: 100%;
                margin-bottom: 20px;
            });
        }
    }
}

.page-catAccessoriesOrderReviewPage{
    .modal-content{
        border: solid 3px @grey10 !important;
    }
}