.favorite-products {
    .new-product, .used-products {
        padding: 0;
    }
    .header {
        .favorite-product-label{
            .font(@openSans, bold, 18px, @black-color01);
            color: #000000;
            padding-bottom: 20px;
            .screen-tab-desk({
                padding-bottom: 0px;
            });
        }
        .toggle-btn-group {
            label {
                background-color: #ffffff;
                border: solid 1px #cccccc;
                .font(@openSans, bold, 12px, @grey14);
                    &.active {
                        color: @black-color01;
                        border-color: @grey10;
                    }
            }
            .screen-tab-desk({
                float: right;
                .font(@openSans, bold, 12px, @grey14);
            });
        }
    }
    .empty {
        padding-top: 20px;
        .font(@HelveticaNeue, 300, 16px, @black-color01);
        font-style: italic;
        text-align: left;
    }
    .products {
        padding-top: 25px;
        .fav-invisible{
            position:relative;
            z-index:-9999;
            height:0;
            overflow:hidden;
        };
        .screen-tab-desk({
            padding-top: 40px;
        });
        .single-card {
            .screen-tab-desk({
                padding: 30px 40px;
            });
        }
        .cat-row {
            .screen-tab-desk({
                margin-left: 0;
            });
            display: flex;
            flex-wrap: wrap;
            .card-wrap{
                display: flex;
                flex:0 0 33%;
                padding: 0 0 10px;
                .screen-mob({
                    flex: 0 0 49%;
                });
            }
        }
    }
}