<!DOCTYPE html>
<html>
<title>CAT - Landing Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../_ui/responsive/cat/css/style.css">
<link rel="stylesheet" type="text/css" href="../_ui/responsive/cat/css/core.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<script src="../hybris-dependent/libs/jquery.min.js"></script>
<script src="../hybris-dependent/libs/_autoload.js"></script>
<script src="../hybris-dependent/libs/enquire.min.js"></script>
<script src="../hybris-dependent/libs/generatedVariables.js"></script>
<script src="../hybris-dependent/libs/jquery.hoverIntent.js"></script>

<script src="../_ui/responsive/cat/js/core.min.js"></script>
<script src="../_ui/responsive/cat/js/catStaticUIViews.js"></script>
<script src="../_ui/responsive/cat/js/ui-stats.js"></script>
<script src="../_ui/responsive/cat/js/owl.js"></script>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body ng-app="cat-app">
<script type="text/ng-template" id="typeahead-item.html">
    <div class="typeahead-group-header" ng-if="match.model.firstInGroup">{{match.model.group}}</div>
    <a class="result">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
    <div class="typeahead-group-footer" ng-if="match.model.lastObject"></div>
</script>
    <div ui-view="header"></div>
    <!-- <div ui-view="navigation"></div> -->
    <div class="landingPage">
	    <div ui-view="lowStockAlert"></div>

	    <div ui-view="catSearch"></div>

	    <div ui-view="recentlyViewed"></div>

	    <div ui-view="favoriteProducts"></div>
    </div>
    

    <div ui-view="footer"></div>
</body>

</html>