<!DOCTYPE html>
<html>
<title>CAT - PLP</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="/libs/angularPractice.js"></script>

<body ng-app="myapp">
    <div ng-controller="MyController">

    Drop Down selected: <span ng-bind="selectedItem"></span>
    <select ng-model="selectedItem" ng-options="item as item.name group by item.age for item in items"></select>
<br />
<br />

<item name="Item-1"></item>

<br />
<br />

<item name="Item-2"></item>

<br />
<br />

<item name="Item-3"></item>
<br />
<br />

<span>This is the textbox on the page</span>
<input type="text" ng-model="commentText"/>
<br/>
<span>This is the textbox on the directive</span>
<book-comment text="commentText"></book-comment>
    </div>
</body>

</html>