footer{
	background-color: #000;
	padding-top: 0px;
	padding-top: 16px;
	padding-bottom: 19px;
	.screen-mob({
	// position: fixed;
    // bottom: 0;
	// width: 100%;
	});
	.links{
		text-align: left;
		padding: 0px;
		font-size: 12px;
		font-weight: 300;
		display: inline-block;
		a{
			.font("HelveticaNeue_Light", 300, 12px, @white);
		}
		&.verticalDivider{
			padding-left:2px;
		}
	}
	.copy-rights{
		text-align: right;
		padding: 0px;
		.font("HelveticaNeue_Light", 300, 12px, @white);
		a{
			color:inherit;
			text-decoration:underline;
			font-style:italic;
		}
		.screen-mob({
			width:204px !important;
			margin:auto;
		})
		
	}
}
