.top-40{
    padding-top:40px;
}
.prevSection{
    padding:25px 13px 25px 10px;
    .prevSectionbutton{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background:@grey11;
        border: none;
        img{
            width:40px;
        }
    }
    .prevSectiontext{
        .font(@openSans, bold, 14px, @grey10);
        padding-top: 0px;
        text-align: left;
        position: relative;
        width: 56px;
        margin-left:10px;
    }
}
.exportWordDoccument{
    .exportWordDoccumenttext{
        .font(@openSans, bold, 14px, @black-color01);
    }
    background-color: @white;
    border: solid 1px @grey10;
}

.quotation-customer-container{
    background-color: @white;
    .font(@openSans, bold, 14px, @black-color01);

    .margin-left-30{
        margin-left:30px !important;
    }
    .margin-left-25{
        margin-left:25px !important;
    }
    .padding-top-136{
        padding-top:136px !important;
    }
    .padding-top-198{
        padding-top:198px !important;
    }
    .select-customer-radio-section input {
        position: absolute;
        opacity: 0;
    }

    .customer-data{
        padding:0 0 60px 0 !important;
        margin-top: 30px;
        .customer-data-row{
            margin-bottom:40px;
            @media (max-width: 900px){
                margin-bottom: 10px;
                float: left;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            .col-md-3{
                padding-left:40px;
            }
            .col-md-6{
                padding-left:40px;
            }
            .col-md-8{
                padding-left:40px;
            }
            
        }
        .left-heading{
            .font(@openSans_Light, 300, 14px, @black-color01);
        }
        .asterik{
            .font(@openSans_Light, 300, 14px, @black-color01);
        }
        .text-box{
            padding:0 0 3px 0;
            margin:0 0 20px 0;
        }
        #sales-model {
            .text {
                .screen-mob({
                    font-family: @openSans_Light;
                })
            }
            .drop-down {
                .screen-mob({
                    width: 8px;
                    height: 15px;
                    transform: rotate(90deg);
                })
            }
        }
        [uib-typeahead-popup].dropdown-menu {
            display: block;
            width:100%;
            max-height:200px;
            overflow: auto;
            margin:0;
            padding:0 0 0 10px;
            li{
                a{
                    padding:3px 0;
                   
                }
                &:last-child{
                    > .active{
                        a{
                            &:hover{
                                border-bottom:0;
                            }
                            &:focus{
                                border-bottom:0;
                            }
                        }
                    }
                }
            }
            > .active{
                a{
                    background-color:@white !important;
                    color:#000;
                    &:hover{
                        background-color:@white !important; 
                        color:#000;
                        border-bottom:1px solid @sunflower-yellow;
                    }
                    &:focus{
                        background-color:@white !important;
                        color:#000;
                        border-bottom:1px solid @sunflower-yellow;
                    }
                }
            }
        }

        .drop-down-button{
            &:focus{
                border-bottom-color: @sunflower-yellow;
            }
            .dropdown-menu{
                &.not-selected{
                    .font(@HelveticaNeueThin, 100, 14px, @grey10);
                    font-style: italic;
                }
                li{
                    background-color: transparent !important;
                    a{
                        background-color: transparent !important;
                        width:100%;
                        padding:0;
                        &:focus{
                            outline: none;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .typeahead-arrow{
            position: relative;
            right: 0;
            float: right;
        }
        .product-family-dropdown{
            margin-bottom:20px;
            .product-family-dropdown-label{
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01) !important;
            }
        }
        .product-family-dropdown-menu{
            margin-top:-19px;
        }
        .competitor-dropdown-header{
            .font(@openSans_Light, 300, 14px, @black-color01);
        }

        .billing-address-checkbox-section{
            margin-bottom:40px;
        }

        .billing-address-checkbox{
            display:inline-block;
            text-indent: 15px;
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
            text-transform: none;
        }
        .billing-address-checkbox input {
            display: none;
        }
        
        /* Create a custom checkbox */
        .billing-address-checkbox .checkmark {
            position: absolute;
            top: 5px;
            left:-4px;
            height: 13px;
            width: 13px;
            background-color:@white;
            border:1px solid @grey10;
        }
        
        /* When the checkbox is checked, add a blue background */
        .billing-address-checkbox input:checked ~ .checkmark {
            background-color:@sunflower-yellow;
            border:0;
        }
        
        /* Create the checkmark/indicator (hidden when not checked) */
        .billing-address-checkbox:after {
            content: "";
            position: absolute;
            display: none;
        }
        
        /* Show the checkmark when checked */
        .billing-address-checkbox input:checked ~ .checkmark:after {
            content: "";
            position: absolute;
            display: block;
        }
        
        /* Style the checkmark/indicator */
        .billing-address-checkbox .checkmark:after {
            left: 4px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid #000000;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .cart-header-section{
        padding:30px 0 18px 30px !important;
        border-bottom:1px solid @grey12;
    }

    .customer-details-section{
        .fix-input-width{
            max-width: 315px;
        }
        .marginLeft50{
            margin-left:50px;
        }
        padding:40px 0 0 35px;
        .customer-data{
        .shipping-address{
            padding: 0px;
            text-transform:capitalize;
            @media (max-width: 900px){
                margin-top: 40px; 
            }
        }

        }
    }
    .customer-radio-container{
        .font(@openSans, normal, 18px, @black-color01);
        @media (max-width: 900px){
            font-size: 14px;
        }
        text-transform: capitalize;
    }

    .select-customer-radio-section .checkmark {
        position: relative;
        height: 15px;
        width: 15px;
        background-color:@white;
        border-radius: 50%;
        right: 151px;
        display: inline-block;
        top: 2px;
        border:1px solid @black-color01;
        .screen-mob({
            right: 125px;
        });
        &.new-customer{
            right: 181px;
        }
    }

    .select-customer-radio-section:hover input ~ .checkmark {
        background-color: @white;
    }

    .select-customer-radio-section input:checked ~ .checkmark {
        background-color:@sunflower-yellow;
        border:0;
    }

    .select-customer-radio-section .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .select-customer-radio-section input:checked ~ .checkmark:after {
        display: block;
    }

    .select-customer-radio-section .checkmark:after {
        top: 4px;
        left: 4px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background:@grey07;
    }
}
 @media only screen and (max-width: 768px) {
    .exportWordDoccument{
        width: 100%;
    }
    
    .quotation-customer-container {
        .customer-data{
            padding-top: 30px;
            padding-right: 20px;
            .customer-data-row{
                .col-md-3 {
                    padding-left: 10px;
                }
                .col-md-6{
                    padding-left: 10px;
                }
                .col-md-8{
                    padding-left: 5px;
                }
            } 
        }
        .customer-details-section {
            padding-left:10px;
            padding-top:25px;
            .padding-top-150, .padding-top-215 {
                padding-top: 0 !important;
            }
            .marginLeft50 {
                margin-left: 0;
            }
        }
        .cart-header-section{
            padding: 15px 0px 10px 10px;
        }
    }
 }
