.nextSection{
    padding:25px 13px 25px 10px; 
    background-color: @grey11;
    .nextSectionbutton{
        &:active,&:focus{
            outline: 0;
        }
        img{
            width: 40px;
            height: 40px;
        }
        border-radius: 50%;
        background:@grey11;
        border: none;
    }
    .nextSectiontext{
        .font(@openSans, bold, 14px, @grey10);
        padding-top: 0px;
        text-align: right;
        position: relative;
        width: 77px;
        margin-right:10px;
    }
}
.prevSection{
    background-color: @grey11;
}
.quotation-page-mobile-component{
    display:none;
}
.bottom-40{
    padding-bottom: 40px;
}
.quotation-page-desktop-component{
    .quotation-cart-container{
        .cart-product-details-table-section {
            .cart-product-details-table {
                tbody {
                    .cart-product-row {
                        border-top: 1px solid @grey10;
                        .screen-mob({
                            border: none;
                        });
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
.quotation-page-desktop-component{
    .quotation-cart-container{
        margin-top:40px;
        margin-bottom:40px;
        padding-bottom: 20px;
        background-color: @white;
        .cart-header-section{
            background-color: @white;
        }
        .cart-product-details-table-section{
            .cart-product-details-table{
                thead{
                    tr{
                        th{
                            &.force-text-right{
                                text-align: right !important;
                            }
                            &:last-child{
                                padding-right:30px;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        background-color:@white;
                        td{
                            &.discount{
                                label {
                                    .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                                }
                                text-align: right;
                                padding-right: 30px;
                                .discount-box{
                                    width:86px;
                                    height:25px;
                                    text-align: center;
                                    border:1px solid @grey10;
                                }
                            }
                            &.list-price{
                                text-align: right;
                                padding-right:30px;
                            }
                            &.discount-radio-col{
                                    padding-left:60px;
                                    position: relative;
                                    right:-15px;
                                    .discount-radio-container{
                                        text-indent:5px;
                                        input {
                                            position: absolute;
                                            opacity: 0;
                                        }
                                    } 

                                    .checkmark {
                                        position: relative;
                                        height: 13px;
                                        width: 13px;
                                        background-color:@white;
                                        border-radius: 50%;
                                        right: 58px;
                                        display: inline-block;
                                        top: 2px;
                                        border:1px solid @black-color01;
                                    }

                                    .discount-radio-container:hover input ~ .checkmark {
                                        background-color: @white;
                                    }

                                    .discount-radio-container input:checked ~ .checkmark {
                                        background-color:@sunflower-yellow;
                                        border:0;
                                    }

                                    .checkmark:after {
                                        content: "";
                                        position: absolute;
                                        display: none;
                                    }

                                    .discount-radio-container input:checked ~ .checkmark:after {
                                        display: block;
                                    }

                                    .discount-radio-container .checkmark:after {
                                        top: 4px;
                                        left: 4px;
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 50%;
                                        background:@grey07;
                                    }
                            }
                        }
                        &.discount-radio-row{
                            border-bottom:0;
                            td{
                                padding-bottom:0 !important;
                            }
                        }
                    }
                }
                .epp-csa-row{
                    .epp-csa-table-col{
                        padding-right:30px;
                    }
                    .epp-csa-col{
                            &:first-child{
                                        // padding-left:75px;
                                        }
                            &:last-child{
                                        // padding-right:30px;
                                        }
                            .config-label{
                                        .font(@openSans_Light,300,14px,@black-color01);
                                        }
                            .config-value{
                                        .font(@HelveticaNeue,500,14px,@black-color01);
                                        }
                        }
                    .epp-csa-table{
                        thead{
                            tr{
                                border-bottom : 0;
                                th{
                                    .font(@openSans_Bold,normal,14px,@black-color01);
                                    padding-left : 0;
                                    padding-top : 0;
                                    border : 0;
                                    /*width : 33% !important;*/
                                    text-align: right;
                                    &:last-child
                                    {
                                    padding-right:0;
                                    }
                                }
                            }                       
                        }
                        tbody{
                            tr{
                                border-bottom : 0;
                                td{
                                    .font(@HelveticaNeue,500,14px,@black-color01);
                                    // font-weight : bold;
                                    padding-left : 0;
                                    @media (min-width : 1201px) {
                                        padding-left: 55px;
                                    }
                                }
                            }                       
                        }
                    }
                }
            }
        } 
        .total-price-section{
            background-color: @white;
            padding:40px 30px;
            border-bottom:1px solid @grey13;
            border-top:1px solid @grey13;
            .price-value{
                .font(@HelveticaNeue_Light, 300, 20px, @black-color01);
                line-height:20px;
                float: right;
                .screen-mob({
                    font-size: 16px;
                });
            }
            .price-header{
                .font(@openSans, bold, 16px, @black-color01);
                float: right;
                margin-right: 20px;
                .screen-mob({
                    float: left;
                    font-size: 12px;
                    font-weight: 100;
                });
            }
            .screen-mob({
                padding:15px 20px;
            });
        }
        .transaction-price-section{
            background-color: @white;
            padding:40px 30px;
            border-bottom: 0;
            
            .price-value{
                .font(@HelveticaNeue_Light, 300, 24px, @black-color01);
                line-height:24px;
                float: right;
                .screen-mob({
                    font-size: 18px;
                });
            }
            .price-header{
                .font(@openSans, bold, 18px, @black-color01);
                float: right;
                .screen-mob({
                    float: left;
                    font-size: 14px;
                    font-weight: 100;
                });
            }
            .screen-mob({
                padding:15px 20px;
                border-bottom: 1px solid @grey13;
                background-color: @grey09;
            })
        }
        .additional-services-section{
            background-color: @white;
            padding:40px 30px 30px 30px;
            .additional-services-header{
                margin-bottom:30px;
                .font(@openSans, bold, 14px, @black-color01);
            }
            .additionalDetailName{
            .font(@openSans_Light, 300, 14px, @black-color01);
                text-align: left;
            }
            .additionalDetailValue{
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                text-align: left;
                word-wrap: break-word;
            }
            .description-box-container{
                position:relative;
                .text-counter{
                    position:absolute;
                    top:42px;
                    max-width:77px;
                    right:15px;
                    .font(@HelveticaNeueThin,normal,14px,@grey10);
                    font-style:italic;
                }
                .description-box{
                    padding-right:77px;
                    outline:none;
                    background-color: @grey11;
                    border:0;
                    border-bottom:1px solid @grey10;
                    margin-top:40px;
                    &::placeholder{
                        .font(@HelveticaNeueThin, 100, 14px, @grey10);
                        font-style: italic;
                    }
                }
            }
            
            .additional-service-checkbox-container{
                display:block;
                text-indent: 15px;
            }
            .additional-service-checkbox-container input {
                position: absolute;
                opacity: 0;
            }
            
            /* Create a custom checkbox */
            .additional-service-checkbox-container .checkmark {
                position: absolute;
                top: 5px;
                left:-4px;
                height: 13px;
                width: 13px;
                background-color:@white;
                border:1px solid @grey10;
            }
            
            /* When the checkbox is checked, add a blue background */
            .additional-service-checkbox-container input:checked ~ .checkmark {
                background-color:@sunflower-yellow;
                border:0;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .additional-service-checkbox-container:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .additional-service-checkbox-container input:checked ~ .checkmark:after {
                content: "";
                display: block;
                position: absolute;
            }
            
            /* Style the checkmark/indicator */
            .additional-service-checkbox-container .checkmark:after {
                left: 4px;
                top: 1px;
                width: 5px;
                height: 10px;
                border: solid #000000;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            
        }
    }
    
}
.epp-csa-mob{
    font-weight: 300;
    font-size: 12px;
    .text-bold{
        font-weight: 600;
        font-size: 10px;
        line-height: 17px;
    }
    [class^='col-xs'] { /* class name starts with col-xs */
        margin-bottom: 15px;
      }
}

@media only screen and (max-width: 900px) {

    .quantity{
        label{
            position: absolute;
            top: 0px;
        }
    }
    .quotation-cart-container{
        .cart-product-details-table-section{
            background-color: @white;
            .cart-product-details-table{
                tbody{
                    tr{
                        td{
                            &.list-price-per-product {
                                label {
                                    right: 20px;
                                }
                            }
                            &.product-name {
                                padding-left: 15px !important;
                            }
                            .product-container{
                                padding-left: 0;
                                .product-image-container{
                                    img {
                                        height: auto;
                                    }
                                }
                                .product-details-container{
                                    width: 64%;
                                    margin-left: 0;
                                }
                            }
                            &.discount{
                                
                                &:before{
                                    label{.font(@openSans, 300, 100px, @black-color01)!important;}
                                }    
                                .discount-box{
                                    width: 55px !important;
                                    position: absolute;
                                    left: -73px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .quotation-cart-container{
            .bottom-40{
                padding-bottom: 25px!important;
            }
            .price-header{
                .font(@openSans, 300, 12px, @black-color01)!important;
                padding-left: 0px!important;
            }
            .price-value{
                .font(@HelveticaNeueMedium, 500, 16px, @black-color01)!important;
            }
            .total-price-section{
                padding: 15px; 
                .total-list-price, .total-discount{
                    div{
                        &:last-child{
                            float: left !important;
                        }
                    }
                }
            }
            .transaction-price-section{
                padding: 15px; 
                .total-transction-price{
                    label{
                        &:last-child{
                            float: left !important;
                        }
                    }
                }
            }
            .transaction-price-section{
                background-color:@grey05;
            }
            .additional-services-section{
                padding: 30px 20px 25px 10px;
                .padding-25{
                    padding-top: 25px !important;
                }
                .additional-services-header{
                    label{.font(@openSans, 300, 12px, @black-color01)!important;}
                    margin-bottom:20px !important;
                }
                .additionalDetailValue{
                    border-bottom: solid 1px @grey10;
                    background-color: @grey05;
                    margin-left:10px;
                }
                .additionalDetailName{
                    .sub-header{
                        .font(@HelveticaNeue_Light, 300, 14px, @black-color01)!important;
                    }
                }
            }
        }
    }
}
