.quotation-page-mobile-component{
    display:none;
}
.backToHomebtn {
    a {
        .font(@openSans, 600, 16px, @black-color01);
        font-style: italic;
        text-align: left;
        position: relative !important;
        top: 4px;
        &:hover {
            .font(@openSans, 600, 16px, @black-color01);
        }
        &:focus {
            .font(@openSans, 600, 16px, @black-color01);
        }
    }
}
.nextSection{
    padding:25px 13px 25px 10px;
    .nextSectionbutton{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background:@grey07;
        border: none;
    }
    .nextSectiontext{
        .font(@openSans, bold, 14px, @grey10);
        padding-top: 0px;
        text-align: right;
        position: relative;
        width: 56px;
        margin-right:10px;
    }
}
.exportWordDoccument{
    border: solid 1px @grey10;
    background-color: @white;
    margin-right: 20px;
    .font(@openSans, bold, 14px, @black-color01);
    exportWordDoccumenttext{
        padding: 12px;
        
    }
}
.exportWordDoccument:hover{
    .font(@openSans, bold, 14px, @black-color01);
}
    .quote-details-section-desktop{
        .edit-quote-name{
            width: 75%;
        }
        .row{
            margin-left:0;
            margin-right:0;
        }
        .quote-details-heading-section{
            padding:30px 0 16px 30px;
            background-color:@white;
            .font(@openSans, bold, 14px, @black-color01);
        }
 
        .quote-details-col{
            background-color:@white;
            padding:30px 0 30px 50px;
            &.border-right{
                border-right:1px solid @grey12 !important;  
                @media screen and (max-width: 900px){
                    border-right: none !important;
                }
            }
            label{
                display: block;
                text-transform: none;
            }

            .status-label {
                text-transform: capitalize;
            }
            
            &.description-section{
                position:relative;
                padding:30px 0 40px 50px;
                .description-box{
                    background-color: @grey11;
                }
            }
            .description-input{
                padding-right:80px;
            }
            .text-counter{
                position:absolute;
                top:70px;
                max-width:77px;
                right:10px;
                .font(@HelveticaNeueThin,normal,14px,@grey10);
                font-style:italic;
            }
            input[type='text']{
                border:0;
                border-bottom:1px solid @grey10;
            }
        }
        .sub-header{
            .font(@openSans_Light, 300, 14px, @black-color01);
            margin-bottom:20px;
            text-transform: uppercase;
        }
        .asterik{
            .font(@openSans_Light, 300, 14px, @black-color01);
        }
        .value{
            .font(@HelveticaNeueMedium, 300, 14px, @black-color01);
        }
        .no-border-right{
            border-right:0 !important;
        }

    }
@media only screen and (max-width: 768px) {
    .quote-details-col{
        border-right: none!important;
        border-top: none!important;
    }
        .quote-details-section-desktop{
            .quote-details-col.description-section{
                padding:25px 6px 0px 10px !important;
            }
            .quote-details-heading-section {
                padding-left: 10px;
            }
            .quote-details-col{
                padding-top: 20px;
                padding-bottom: 0px;
                padding-left: 10px;
            }
            .sub-header{
                margin-bottom: 10px;
            }
        }
}

.white-background{
    background-color: @white;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .quotation-page-desktop-component .quote-details-section-desktop .calendar-icon {
        margin-left: 122px;
    }
 }
