/******** Landing Page with Compare pdt ***************/
.pageHeaders {
  padding-top: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}
.pageSubHeaders {
  text-align: right;
  width: 177px;
  height: 22px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.pageSubHeaders.pdtCompare {
  padding-top: 10px;
  padding-bottom:40px;
  width: 296px;
  height: 18px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.nextButton {
  width: 97px;
  height: 40px;
  background-color: #3f3f3f;
  border: solid 1px #979797;
}
.nextButtonText {
  padding: 10px 60px;
  width: 37px;
  height: 12px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
.fabTabs {
  width: 69px;
  height: 38px;
  background-color: #ffffff;
  border: solid 1px #979797;
  .hover {
    width: 69px;
    height: 38px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
  }
}
.fabTabText {
  padding: 20px;
  margin-right: 20px;
  width: 32px;
  height: 10px;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
