.cat-typeahead {
    input {
        padding: 30px;
        border: none;
        &::placeholder,
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            .font(@HelveticaNeue_Light, 100, 16px, #979797);
            font-style: italic;
        }
    }

    .dropdown-menu {
        padding-top: 0px;
        margin-top: -1px;
        border: none;
        .uib-typeahead-match {
        	a ,a:hover, a:focus{
        			background-color: transparent;
        	}
        	&.active{
        		a ,a:hover, a:focus{
        			background-color: transparent;
        			span{
	                	border-bottom: solid 1px #ffcc00;
	                }
        		}
        	}

            .typeahead-group-header {
                padding-left: 40px;
                .font(@openSans, bold, 16px, @black-color01);
                padding-top: 30px;
                border-top: solid 1px #d1d1d1;
            }
            .result {
                padding-left: 40px;
                margin-top: 5px;
                cursor: pointer;
                span {
                    .font(@HelveticaNeue_Light, 300, 16px, #979797);
                    strong {
                        color: @black-color01;
                    }
                }
            }
            .typeahead-group-footer {
                padding-left: 40px;
                padding-bottom: 30px;
            }
        }
    }

    .search-icon {
    display: inline-block;
    background-color: #ffcc00;
    padding: 14px;
    position: relative;
    top: -59px;
    left: 100%;
    margin-left: -55px;
    }
}