.modalPopup {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.innerDiv {
    width: 430px;
    /*height: 300px;*/
    position: fixed;
    left: 35%;
    top: 30%;
    opacity: 1;
    background-color: #ffffff;
    border: solid 3px #979797;

    z-index: 2;
    .header {
        margin: 60px 70px;
        .font(@openSans, 600, 20px, @black-color01);
        text-align: center;
        .content {
            padding: 0px;
        }
    }
    .buttonClass{
       margin-bottom: 60px;
       padding-left: 0;
    }
    .footer {
        width: 100px;
        margin: 0px auto;
        button {
            background-color: #3f3f3f;
            border: solid 1px #979797;
            color: #fff;
            padding: 12px 30px;
            border-radius: 0;
        }
    }
}
@media only screen and (max-width: 768px){
    .innerDiv {
        width:375px;
        position:relative;
        margin:50% auto;
        left:0;
        top:0;
    }
}