.modalPopup {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.review-order-popup {
    width: 450px;
    .screen-mob({
        width:280px;
        padding: 40px 20px;
    });
    position: fixed;
    .calc(left, "((100% - 450px) / 2)");
    opacity: 1;
    background-color: @white;
    border: solid 3px @grey10;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background-color: @white;
    border: solid 3px @grey10;
    padding: 50px;
    
    &.accessories{
        .screen-mob({
            width:280px;
            padding: 45px 30px 40px 35px;
        });
        .close-icon {
            .reorderPopupClose{
                .screen-mob({
                    right: -10px;
                });   
            }
        }
        .header{
            .font(@openSans_Bold, bold, 16px, @black-color01);
            .content{
                    padding-left: 0px;
            }
        }
        .po-error-info{
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
        }
    }
    .truckload-validation-error-popup{
        .screen-mob({
            width:330px;
            .calc(left, "((100% - 330px) / 2)");
        });
    }
    &.truckload-submission-popup{
        padding:50px 20px 40px 20px;
        .screen-mob({
            width:320px;
        });
        .screen-tab-intermediate({
            width:450px;
        });
        .truckload-submission-popup-wrapper{
            padding:40px 30px;
            .screen-mob({
                padding:40px 0;
            });
            .screen-tab-intermediate({
                padding:40px 30px;
            });
        }
    }
    .header {
        .font(@openSans, bold, 20px, @black-color01);
        letter-spacing: -0.6px;
        padding-bottom: 10px;
        .content {
            text-transform: uppercase;
            .screen-mob({
                .font(@openSans, bold, 16px, @black-color01);
            });
            &.truckload{
                .screen-mob({
                    width:200px;
                    margin:auto;
                });
                .screen-tab-intermediate({
                    width:auto;
                });
            }
            &.custom-error {
                // text-align: center;
                img {
                    width: 33px;
                    padding-right: 10px;
                }
            }
        }
    }
    .error-info-message {
        .font(@HelveticaNeueThin, 100, 16px, @black-color01);
        line-height: 1.13;
        padding-top: 30px;
        // text-align: center;
    }
    .po-error-info {
        // text-align: center;
        .font(@HelveticaNeueMedium, 500, 16px, @black-color01);
        line-height: 1.13;
        padding-left: 34px;
    }
    .order-info {
        .order-info-msg{
                position:absolute;
                left:10px;
                width:16px;
                height:20px;
                margin-top:3px;
                background-image: url(../images/info.png); 
                background-size:contain;
                background-repeat:no-repeat;
        }
        .text {
            // text-transform: uppercase;
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
            &.truckload{
                .font(@HelveticaNeueThin, 100, 16px, @black-color01);
            }
        }
        .value {
            .font(@HelveticaNeue, 500, 16px, @black-color01);
            &.truckload{
                .font(@HelveticaNeueMedium, 500, 16px, @black-color01);
            }
        }
        .message{
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
        }
        .orderInfoLabels {
            padding-bottom: 20px;
            .imProductReview {
                // text-align: center;
                padding-left: 30px;
                .data-row:nth-child(1) {
                    padding-top: 10px;
                    // font-weight: 700;
                }
                @media (max-width: 767px){
                    margin-bottom: 10px;
                }
                .heading {
                    .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                    @media (min-width: 768px){
                        padding-top: 16px;
                    }
                }
            }
        }
        .cuv-order-conf-msg {
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
            margin-left: 10px;
        }
        .order-msg{
            position: relative;
            color:@black-color01;
            padding-left: 37px;
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
        }
    }

    .footer {
        padding-top: 40px;
        &.truckload{
            padding-top:0;
        }
        @media screen and (min-width: 768px) {
            margin-left: -5px !important;
            margin-right: -5px !important;
        }
        .pop-up-btn {
            padding: 0;
        }
        .ok {
            background-color: @grey07;
            border: solid 1px @grey10;
            padding: 10px 35px;
            .font(@openSans, bold, 14px, @white);
            margin-left: 20px;
            &.truckload{
                margin-left:0;
                width:100%;
            }
        }
        .view-order-history {
            .font(@openSans_Bold, bold, 14px, @black-color01);
            font-style: normal;
            background: transparent;
            border: 1px solid @grey10;
            box-shadow: none;
            padding: 10px 10px;
            text-transform: uppercase;
            width: 210px;
            height: 42px;
            .screen-mob({
                width: 100%;
            });
            &.truckload{
                width:100%;
                height:auto;
            }
        }
    }
    .mobile-btns {
        >div button {
            margin-left: 0px !important;
            margin-bottom: 20px;
        }
        button {
            width: 100%;
        }
    }
    .close-icon {
        cursor: pointer;
        .reorderPopupClose{
            .screen-mob({
                right: -10px;
            });
            position: absolute;
            top: -30px;
            right: -30px;
            background: url(/_ui/responsive/cat/images/reorderPopupClose.png) center right no-repeat;
            display: inline-block;
            background-size: contain; 
            width:15px;
            height:15px;
        }

    }
}
