
//CAT Base color definition
@black-color01: #000000;
@sun-yellow: #ffd426;
@white: #ffffff;
@white01: #414141;
@grey01: #292929;
@grey02: #303030;
@grey03: #f0f0f0;
@grey04:#404040;
@grey05: #f4f4f4;
@grey06: #cdcdcd;
@grey07: #3f3f3f;
@grey08: #9b9b9b;
@grey09: #f7f7f7;
@grey10: #979797;
@grey11: #f6f6f6;
@grey12: #d1d1d1;
@sunflower-yellow: #ffcc00;

