* {
    box-sizing: border-box;
}

.text-center{
	text-align: center;
}

.cat-container{
  margin: 0px auto;
  width: 95%;
  @media (min-width: 1240px) {
    width: 1080px;
  }
}

body{
	background-color: #f7f7f7;
}

html,body{
    min-height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.cat-loading-spinner {
  border: 5px solid @grey05;
  border-radius: 50%;
  border-top: 5px solid @sun-yellow;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}





