
<div class="row cat-container cat-typeahead">
	<div class="pageHeaders">
	product comparison
</div>
<div class="pageSubHeaders pdtCompare">
	Select a product family to compare products
</div>
<cat-search></cat-search>
<div class="nextButton pull-right"><span class="nextButtonText pull-right">Next</span>
</div>
</div>
