
<div class="row cat-container cat-typeahead">
	<div class="pageHeaders">
	search for a Used Product
</div>
<cat-search></cat-search>
<div class="pageSubHeaders pull-right">
	Search for a new product
</div>
</div>
