<div class="favorite-products cat-container">
     <div class="fabTabs pull-right"><span class="fabTabText">Used</span></div>
            <div class="fabTabs pull-right"><span class="fabTabText">New</span></div>
    <div class="header">
        Favorite Products
    </div>
    <div class="products">
        <div class="row">
        <!-- hybris loop -->
            <div class="col-xs-6 col-sm-4">
                <div class="single-card">
                    <cat-card 
                    super-header="one" 
                    image="/_ui/responsive/cat/images/download.png" 
                    primary-header="259D" 
                    secondry-header="Stock Levels" 
                    min-qty="5" 
                    min-qty-text="Minimum" 
                    max-qty="15" 
                    max-qty-text="Maximum" 
                    recommended-qty="15" 
                    recommended-qty-text="Recommended" 
                    current-qty="4" 
                    current-qty-text="Current" 
                    qty-measurement="units" 
                    reorder-btn-text="reorder" 
                    favorate-card="true" 
                    pdp-link="/pages/plp.html" 
                    card-type="SP" 
                    can-reorder="true" 
                    book-marked="true" 
                    product-id-for-communication="123" 
                    reorder-default-value="0"></cat-card>
                </div>
            </div>
        <!-- end of loop -->
        </div>
    </div>
    <div class="empty">
        You have no favorite products. Start by clicking the favorite icon on each product tile.
    </div>
</div>