#sticky-header-mobile{
    .no-padding-top{
        padding-top:0;
    }
	&.stick {
		left:-10px;
		position: fixed;
		top: 0;
        z-index: 10000;
        .slick-prev{
            margin-top:50%;
            left:20px;
            position: absolute;
        }
        .slick-next{
            margin-top:50%;
            right:20px;
            position: absolute;
        }
        .product-compare-container{
            padding:0;
        }
        .item-detail{
            padding-top:0;
            min-height:88px;
        }
        .item-desc{
            border:0;
            height:88px;
        }
        .no-product-text-scroll{
            padding:0;
            margin-top:18px;
        }
	}
}
.product-compare-mobile-view{
    .carousel-container{
        background-color:@white;
        padding:10px 10px 20px 10px;
        margin-bottom:20px;
    }
    .change-selection-btn-mobile{
        background-color:@white; 
        color:@black-color01;
    }
    .units-type{
      margin-left:0;
    }
    .slick-prev{
        border-radius:50%;
        width:35px;
        height:35px;
        content:"";
        position:absolute;
        left:-10px;
        top:91%;
        z-index:999;
        text-indent: -9999em;
        background-image:url(/_ui/responsive/cat/images/carousel-prev.png);
        background-repeat:no-repeat;
        background-position: 9px 7px;
        border:1px solid @grey10;
        outline:0;
        background-color: @white;
    }
    .slick-next{
        border-radius:50%;
        width:35px;
        height:35px;
        content:"";
        position:absolute;
        right:-10px;
        top:91%;
        z-index:999;
        text-indent: -9999em;
        background-image:url(/_ui/responsive/cat/images/carousel-next.png);
        background-repeat:no-repeat;
        background-position: 11px 7px;
        border:1px solid @grey10;
        outline: 0;
        background-color:@white;
    }
    .update-product-list{
        margin-bottom:15px;
        width:100%;
        .screen-tab-intermediate({
            width:48%;
            float:left;
        });
        &.reset-selection{
            .screen-tab-intermediate({
                margin-right:25px;
            });
        }
        &.change-selection-btn-mobile{
            .screen-tab-intermediate({
                width:50%;
                left:25%;
            });
        }
    }
    .units-row {
        padding: 5px 0 25px 0;
    }
    .item-image{
       width:88%;
       background:none;
       margin:0;
       border:1px solid @grey12;
       img{
           width:100%;
           height:75px;
           .screen-tab-intermediate({
                height:143px;
           })
       }
    }
    .item-desc{
        width:88%;
        border:0;
        margin:0;
        .machine-manufacturer{
            margin-left:0;
            margin-bottom:5px;
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
        }
        .engine-model-heading{
            margin-left:0;
            margin-top:0;
            .font(@openSans_Light, 300, 10px, @black-color01);
        }
        .engine-model-value{
            margin-left:0;
            .font(@openSans_Light, 300, 10px, @black-color01);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .product-compare-container{
        outline:0;
        &:first-child{
            .item-detail{
                padding-top:0;
            }
        }
        .item-detail{
            min-height: 225px;
            border-right:1px solid @grey17 !important;
            padding-left:15px;
            padding-top:35px;
            .pull-left{
                .screen-mob({
                    width:100%;
                })
            }
        }
        .product-family-dropdown-label{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .dropdown-menu{
        min-width:auto;
        z-index:999;
        position: relative;
        &.product-family-dropdown-menu{
            max-height:100px;
        }
    }
    .product-family-dropdown-header{
        .font(@openSans_Light, 300, 11px, @black-color01);
        text-transform: uppercase;
    }
    .product-compare-accordion{
        background-color: @white;
        .panel{
            border:0 !important;
            margin-bottom:3px;
            .panel-heading{
                background-color:@grey13;
                padding:20px;
                border:0;
            }
            .accordion-row{
                padding:20px;
            }
            .panel-body{
                border:0;
            }
            .panel-title{
                a{
                    padding-left:0;
                }
            }
            .column-header{
                padding-left:0;
                margin-bottom:15px;
            }
            .column-padding{
                padding:2px 0 2px 0;
            }
        }
    } 
}