.cat-compare-container{
	width:1180px;
	margin:auto;
}
#sticky-header{
	&.stick {
		margin-top: 0 !important;
		position: fixed;
		top: 0;
		z-index: 10000;
	}
}
.speckcheck-loading-compare-spinner{
	position: absolute;
	margin-left: 37%;
	top: 60%;
	z-index: 99;
}
.product-compare-container {
background-color: @white;
padding: 10px 0 10px 0;
.product-family-dropdown-label{
	word-spacing:-3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.product-family-dropdown-menu{
	padding-right:0 !important;
	li{
		a{
			&.dropdown-value{
				word-spacing:-3px;
				.font(@HelveticaNeue_Light,300,14px,@black-color01);
			}
		}
	}
}
.item-detail{
		&.scrollable-view{
			.item-image{
				width: 40%;
				padding:10px;
				background-color: @white;
				border-top: 1px solid @grey17;
				border-left: 1px solid @grey17;
				border-bottom: 1px solid @grey17;
				img{
					height: 63px;
				}
			}
			.item-desc{
				width:60%;
				height:85px;
				border: 1px solid @grey17;
				.machine-manufacturer{
					.font(@HelveticaNeue_Light,300,16px,@black-color01);
					margin-bottom: 10px;
					margin-left: 10px;
					margin-top: 18px;
				}
				.engine-model-value{
					margin-left: 10px;
					margin-bottom:0;
					min-height:32px;
					.font(@HelveticaNeue,bold,12px,@black-color01);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
.item-image {
	background-color: @grey05;
	width: 65%;
	margin: auto;
	img{
		width:100%;
		height:143px;
	}
}
.item-desc {
	border: 1px solid @grey05;
	width: 65%;
	margin: auto;
	text-align: left;
	.engine-model {
		font-weight: 600;
	}
}
.machine-manufacturer{
	.font(@HelveticaNeue_Light,300,18px,@black-color01);
	margin-bottom:13px;
	margin-left:11px;
	margin-top:12px;
}
.engine-model-heading{
	.font(@openSans,normal,12px,@black-color01);
	margin-left:11px;
}
.engine-model-value{
	.font(@HelveticaNeueMedium,300,14px,@black-color01);
	margin-left:11px;
	margin-bottom:18px;
	word-spacing:-3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
}
.product-compare-header {
.font(@openSans_Bold, bold, 18px, @black-color01);
letter-spacing: -0.5px;
border-bottom: none;
margin-top:0;
padding-left:0px;
}
.rm-pddng-lft{
	padding-left:0;
}
.product-compare-image {
width: 100%;
height: 143px;
}
.multiple-content-specs {
padding-bottom: 25px;
}
.no-margin-bottom {
margin-bottom: 0 !important;
}
.placeholder-margin {
margin: 0 75px 0 75px;
}
.product-compare-accordion {
  .panel-heading {
    background-color: @white;
    border: 1px solid @grey10;
    border-bottom: 0;
    border-radius: 0;
    padding:20px 40px 21px 40px;
    border-top:0;
  }

.panel-body {
	padding: 0;
}
.panel-title {
	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		.font(@openSans_Bold, bold, 14px, @black-color01);
		padding-left: 5px;
	}
	a.collapsed {
		background: url(/_ui/responsive/cat/images/arrow-down.png) center right no-repeat;
	}
	a.expanded {
		background: url(/_ui/responsive/cat/images/arrow-up.png) center right no-repeat;
	}
}
.panel {
	border-color: @grey10;
    border: 0;
    margin-top: 0 !important;
    &:first-child{
		border-top: 1px solid @grey10;
	}
&.panel-open{
border-bottom: 0;
.panel-body{
border-bottom: 1px solid @grey10;
}
}
}
.panel-heading {
background-color: @white;
border: 1px solid @grey10;
border-bottom: 0;
border-radius: 0;
padding:20px 40px 21px 40px;
border-top:0;
}
.panel-group {
	&:last-child {
		.panel {
			border-bottom: 1px solid @grey10;
		}
		.panel-open{
			border-bottom: 0;
		}
	}
}
.panel-default {
	>.panel-heading {
		&+.panel-collapse {
			>.panel-body {
				border-top-color: @grey10;
			}
		}
	}
}
.collapse.in {
	border: 0 !important;
}
}
.grey-border-right {
border-right: 1px solid @grey12;
}
.no-border {
.grey-border-right {
	border-right: 0;
}
}
.odd-row {
background-color: @grey15;
}
.no-horizontal-padding {
padding-left: 0;
padding-right: 0;
}
.accordion-row{
padding:25px 0 25px 56px;
&.scrollable-shadow{
		padding: 25px 20px 25px 40px;
	}
}
.no-horizontal-padding.single-spec-container {
padding: 8px 0 8px 0;
}
.multiple-spec-container {
padding: 8px 0 8px 0;
}
.units-row {
background-color: @white;
padding: 40px 0 10px 40px;
	&.selected-products-row{
		padding-top:20px;
		padding-left:59px;
		&.scrollable-shadow{
			box-shadow: 0 0 7px 7px @grey18;
			padding:30px 20px 30px 40px;
		}
	}
}

.units-label{
.font(@openSans_Bold, bold, 14px, @black-color01);
}
.units-type {
background-color: @white;
.font(@openSans_Bold, bold, 12px, @black-color01);
border-radius: 0;
margin-left: 20px;
border:1px solid @grey10;
padding:7px 20px;
cursor:pointer;
}
.column-padding {
padding: 3px 0 10px 0;
}
.column-header {
.font(@openSans_Light, 300, 16px, @black-color01);
 padding-left: 14px;
}
.column-value{
	.font(@HelveticaNeue, 100, 16px, @black-color01);
	padding-left:14px;
}
.padding-left-15{
	padding-left:15px;
}
.no-margin-left{
	margin-left:0;
}
.no-product-text{
	.font(@HelveticaNeue_Light,300,18px,@grey16);
	padding:80px 0;
}
.no-product-text-scroll{
	.font(@HelveticaNeue_Light,300,18px,@grey16);
	padding:30px 0;
}
.media-cols {
padding-left: 10px;
}
.compare-toggle-button {
	padding: 20px 40px 30px 20px;
	.update-product-list{
		.font(@openSans,bold,14px,@white);
		width:auto;
		height:auto;
		padding:14px 30px;
		&.reset-selection{
			color:@black-color01;
		}
	}
}
.competitor-dropdown-header {
text-align: left;
.font(@openSans_Light,300,12px,@black-color01);
}
.metric-disabled{
	border-left:0;
	border-color:@grey14;
	color:@grey14;
}
.us-disabled{
	border-right:0;
	border-color:@grey14;
	color:@grey14;
}
