.re-used-mobile-nav-menu{
    .screen-tab-desk({
        display: none !important;
        });
    display: none;
    position: absolute;
    background-color: @white;
    top:40px;
    right:0px;
    height: 100vh;
    width: 280px;
    overflow-y: auto;
    z-index: @zIndexMobileMenu;
}
#catPLPMobileNavMenu{
    &[data-sidebar] {
        .re-used-mobile-nav-menu;
   }
}
#plp-mobile-filters{
    letter-spacing: -0.3px;
    padding: 10px 15px;
}
#manageOrderMobileNavMenu{
    &[data-sidebar] {
        .re-used-mobile-nav-menu
   }
}
