#plp-container {
    .additional-charges{
        padding-top:10px;
        background-color:@grey09;
        margin-bottom:40px;
        padding-left:20px;
        font-style: italic;
        .font(@HelveticaNeue, 300, 12px, @black-color01);
        .screen-mob({
            margin-bottom: 0;
            padding-left: 0;
        });
    }
    .show-more-mobile{
        .font(@HelveticaNeue_Light, 300, 16px, @grey08);
        .screen-mob({
            margin-left: 20px;
            margin-top: 20px;
        });
      }
    
    .cat-card-container {
        .header-content {
            .super-header {
                .super-header-text {
                    padding-left: 20px;
                    .card-lane-color-container{
                        .screen-tab-desk({
                            float: right;
                        });
                        .card-lane-color{
                            display: inline-block;
                            width: 9px;
                            height: 9px;
                            margin-left: 5px;
                            border-radius: 50%;
                            &.lane-1{
                                background: @lane1;
                            }
                            &.lane-2{
                                background: @lane2;
                            }
                            &.lane-3{
                                background: @lane3;
                            }
                        }
                    }
                }
            }
        }
        .body-content {
            border: none;
        }
    }
    background-color: @white;
    .screen-mob({
        background-color: @grey11;
    });
    min-height: 30vh;
    .page-loader {
        height: 100vh;
        .cat-loading-spinner {
            position: relative;
            top: 40%;
            margin: 0px auto;
        }
    }
    #plp-facet-container{
        border-right: solid 1px #d1d1d1;
        padding: 0px;
        .screen-mob( {
            display: none !important;
        }
        );
    }
    #catPLPMobileNavMenu{
        .update-btn-container-mobile{
            padding-bottom: 35px;
            margin: 10px;
            .update-button-mobile{
                width:100%;
            }
        }
    }
    #plp-facet-container, #catPLPMobileNavMenu {
        .cat-search-parameters {
            .params {
                border-bottom: solid 1px @grey06;
                padding: 15px;
                .screen-tab-desk({
                    padding: 30px 20px 35px 30px;
                });

                .param-head {
                    span.filter-text {
                        display: inline-block;
                        border-bottom: solid 3px #ffcc00;
                        padding-bottom: 8px;
                    }
                    margin-bottom: 30px;
                    .font(@openSans, bold, 14px, @black-color01);
                    text-align: left;
                }
                .param-sub-head {
                    padding-bottom: 20px;
                    .text {
                        .font(@openSans, bold, 14px, @black-color01);
                    }
                }
                .params-sec {
                    margin-bottom: 30px;
                    .params-sec-heading {
                        .font(@openSans, 300, 12px, @black-color01);
                        padding-bottom: 5px;
                        .screen-mob({
                            text-transform: uppercase;
                        });
                    }
                    .params-sec-row {
                        margin-left: 0px;
                        margin-right: 0px;
                        .params-sec-dropdown {
                            padding: 0px;
                            .dropdown-arrow {
                                background: url(/_ui/responsive/cat/images/dropdown.png) center right no-repeat;
                                background-size: 8px 15px;
                                width: 15px;
                                height: 15px;
                                transform: rotate(90deg);
                            }
                            .drop-down-button {
                                padding: 0px;
                                background-color: #fff;
                                border-bottom: solid 1px #4a4a4a;
                                box-shadow: none;
                                &.disabled {
                                    border-bottom: solid 1px #cccccc;
                                    .text {
                                        color: #cccccc;
                                        text-transform: capitalize;
                                    }
                                    .arrow {
                                        color: #cccccc;
                                    }
                                }
                                .text {
                                    display: inline-block;
                                    text-transform: capitalize;
                                    width: 94%;
                                    text-align: left;
                                    .font(@HelveticaNeue, normal, 14px, @black-color01);
                                    text-align: left;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                                .arrow {
                                    width: 6%;
                                    color: #000;
                                    .img {
                                        height: 6px;
                                    }
                                    i {
                                        vertical-align: bottom;
                                    }
                                }
                            }
                            ul.dropdown-menu {
                                padding: 10px 0px 15px 10px;
                                max-height: 200px;
                                overflow-y: auto;
                                z-index: 9;
                                border: 0;
                                li {
                                    padding: 4px 6px 4px 0px;
                                    margin:0 0 0 4px;
                                    text-transform: capitalize;
                                    font-family: @HelveticaNeue;
                                    height: 30px;
                                    a{
                                        outline:none;
                                        background:inherit;
                                        padding-left: 0;
                                        &:focus,&:hover{
                                            padding-bottom: 4px;
                                            font-weight: bold;
                                            border-bottom: solid 1px #ffcc00;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .update-btn {
                    .font("Open Sans", bold, 12px, @white);
                    text-align: center;
                    display: inline-block;
                    padding: 8px 22px;
                    &.disabled {
                        background-color: @grey04;
                    }
                    background-color: @grey07;
                }
            }
        }
        .cat-intransitData {
            padding: 30px 0 30px 29px;
            border-top: solid 1px @grey06;
            .filter-desc {
                padding-top: 17px;
                padding-right: 30px;
                .inTransitData-Type {
                    .font(@openSans, bold, 14px, @black-color01);
                    text-align: left;
                    padding-bottom: 20px;
                    text-transform: uppercase;
                    .expandImage {
                        width: 15px;
                        right: 0;
                        position: relative;
                    }
                }
                .filter-checkgrp {
                    position: relative;
                    width: 100%;
                    margin-bottom: 0;
                    padding-bottom: 6px;
                    margin-left: 0px;
                    .flit-text {
                        display: inline-block;
                        width: 90%;
                        text-transform: capitalize;
                        .font(@openSans, 300, 14px, @black-color01);
                        &.disabled {
                            color: @grey14;
                            cursor: not-allowed;
                        }
                    }

                    .box-rect {
                        position: absolute;
                        top: 3px;
                        right: 0;
                        width: 14px;
                        height: 14px;
                        border-radius: 1.5px;
                        box-sizing: border-box;
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                        border: solid 1px @grey10;
                    }
                    .filter-check {
                        visibility: hidden;
                        position: absolute;
                        top: 0;
                        right: 0;
                        &[disabled=disabled]+.box-rect {
                            border: solid 1px @grey14;
                            cursor: not-allowed;
                        }
                        &:checked+.box-rect {
                            background: url(/_ui/responsive/cat/images/yellow-tick.png) center no-repeat;
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            border: 0px;
                        }
                    }
                }
            }
        }
        .cat-location-types {
            .filters {
                padding: 30px;
                .filter-copy {
                    width: 53px;
                    height: 19px;
                    .font(@openSans, bold, 14px, @black-color01);
                    text-align: left;
                    text-transform: uppercase;
                    display: inline;
                    padding-bottom: 2px;
                    border-bottom: 3px solid @sun-yellow;
                }
                .filter-desc {
                    padding-top: 17px;
                    .location-Type {
                        .font(@openSans, bold, 14px, @black-color01);
                        text-align: left;
                        padding-bottom: 20px;
                        text-transform: uppercase;
                        .expandImage {
                            width: 15px;
                            right: 0;
                            position: relative;
                        }
                    }
                    .filter-checkgrp {
                        position: relative;
                        width: 100%;
                        margin-bottom: 0;
                        padding-bottom: 6px;
                        margin-left: 0px;
                        .flit-text {
                            display: inline-block;
                            width: 90%;
                            .font(@openSans, 300, 14px, @black-color01);
                            text-transform: capitalize;
                            &.disabled {
                                color: #cccccc;
                                cursor: not-allowed;
                            }
                        }

                        .box-rect {
                            position: absolute;
                            top: 3px;
                            right: 0;
                            width: 14px;
                            height: 14px;
                            border-radius: 1.5px;
                            box-sizing: border-box;
                            display: inline-block;
                            vertical-align: middle;
                            cursor: pointer;
                            border: solid 1px @grey10;
                        }
                        .filter-check {
                            visibility: hidden;
                            position: absolute;
                            top: 0;
                            right: 0;
                            &[disabled=disabled]+.box-rect {
                                border: solid 1px #cccccc;
                                cursor: not-allowed;
                            }
                            &:checked+.box-rect {
                                background: url(/_ui/responsive/cat/images/yellow-tick.png) center no-repeat;
                                display: inline-block;
                                width: 14px;
                                height: 14px;
                                border: 0px;
                            }
                        }
                    }
                }
            }
        }
        .branch-locations {
            .pointer-style {
                cursor: pointer;
            }
            padding: 30px;
            .header {
                .font(@openSans, bold, 14px, @black-color01);
            }

            .search-location {
                outline: none;
                margin-top: 30px;
                width: 100%;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: solid 1px #000000;
                margin-bottom: 20px;
                padding-bottom: 3px;
                &::placeholder {
                    opacity: 0.75;
                    .font(@openSans, 300, 12px, #979797);
                    font-style: italic;
                }
                &::-webkit-input-placeholder {
                    opacity: 0.75;
                    .font(@openSans, 300, 12px, #979797);
                    font-style: italic;
                }
                &:-moz-placeholder {
                    opacity: 0.75;
                    .font(@openSans, 300, 12px, #979797);
                    font-style: italic;
                }
                &:-ms-input-placeholder {
                    opacity: 0.75;
                    .font(@openSans, 300, 12px, #979797);
                    font-style: italic;
                }
                &:-moz-placeholder {
                    opacity: 0.75;
                    .font(@openSans, 300, 12px, #979797);
                    font-style: italic;
                }
                &::-ms-clear {
                    display: none;
                    width: 0;
                    height: 0;
                }
            }
            .search-icon {
                width: 16px;
                height: 16px;
                position: absolute;
                right: 12px;
                top: 34px;
            }
            .location-group {
                display: inline-block;
                width: 100%;
            }
            .locations {
                padding: 0px;
                list-style: none;
                .location-group {
                    padding-bottom: 5px;
                }
                .location-name {
                    display: inline-block;
                    width: 49%;
                    float: left;
                    .font(@openSans, 300, 14px, @black-color01);
                }
                .check-box {
                    display: inline-block;
                    float: left;
                }
                padding-bottom: 10px;
                input[type='checkbox'] {
                    display: none;
                    &+label {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border: 1px solid #c2c2c2;
                        float: left;
                        background: #ffffff;
                        position: relative;
                        top: 3px;
                        margin-bottom: 0px;
                        .tick-mark {
                            display: none;
                            width: 10px;
                            height: 9px;
                            left: 1px;
                            top: 2px;
                            position: relative;
                        }
                    }
                    &:checked {
                        &+label {
                            background: #ffcc00;
                            .tick-mark {
                                display: block;
                            }
                        }
                    }
                }
                .checkboxlabel {
                    float: left;
                    padding-left: 10px;
                    .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                    text-transform: none;
                    position: relative;
                    top: -4px;
                }
                .expand {
                    .font(@HelveticaNeueMedium, 500, 12px, @black-color01);
                    font-style: italic;
                    cursor: pointer;
                }
            }
        }
        .minus {
            width: 15px;
            height: 1px;
            border-top: solid 1px @grey10;
            display: inline-block;
            margin-top: 10px;
        }
        .toggle-minus {
            width: 15px;
            position: relative;
            top: 10px;
        }
        .toggle-plus {
            height: 15px;
            position: relative;
            top: 3px;
        }
        .certified-filter {}
    }
    #plp-results-container {
        .screen-mob( {
            margin-bottom: 15px;
            padding: 0 10px;
        }
        );
        .screen-tab-desk( {
            border-left: solid 1px #d1d1d1;
            margin-left: -1px;
            padding-bottom: 45px;
            padding-right: 20px;
            padding-left: 20px;
        }
        );
        &.utv-user {
            .screen-tab-desk( {
                border-left: none;
                margin-left: 10px;
            }
            );
        }
        .lane-button-container{
            .screen-tab-desk({
                padding: 25px 20px;
            });
            .screen-mob({
                padding: 20px 0;
            });
            button{
                text-transform: uppercase;
                padding: 7px 10px;
                background: @grey11;
                border: 1px solid @grey12;
                .font(@openSans, normal, 14px, @black-color01);
                margin-right: 15px;
                .screen-mob({
                    margin-right: 19px;
                });
                &.laneEnabled{
                    background: @white;
                    border: 1px solid @grey19;
                }
                .lane-color{
                    display: inline-block;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    margin-left: 5px;
                    &.lane-1{
                        background: @lane1;
                    }
                    &.lane-2{
                        background: @lane2;
                    }
                    &.lane-3{
                        background: @lane3;
                    }
                }
                &:last-child{
                    .screen-mob({
                        margin-right: 0;
                    });
                }
            }
            .tooltip{
                border-bottom: none;
                &.top{
                    background: transparent;
                    margin-top: -6px;
                    .tooltip-arrow{
                        position: absolute;
                        bottom: 1px;
                        left: 20%; 
                        width: 0;
                        height: 0;
                        border-top: 5px solid @grey10;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        &:after{
                            left: -7px;
                            bottom: -14px;
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            border-top: 7px solid @white;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-bottom: 15px solid transparent;
                            position: absolute;
                            z-index: 100;
                        }
                    }
                }
                .tooltip-inner{
                    padding: 10px;
                    text-align:center;
                    text-decoration:none;
                    background-color: @white;
                    border-radius: 0px;
                    border: 1px solid @grey10;
                    .font(@HelveticaNeue, 300, 12px, @black-color01);
                }
                .screen-tab({
                    display: none;
                });
            }
        }
        .lane-window-error-msg{
            .font(@openSans, normal, 14px, @red02);
            font-style: italic;
            .screen-tab-desk({
                padding-left: 20px;
            });
        }

        .plp-results {
            .plp-row-container{
                .screen-tab-desk({
                    display: flex;
                    display: -webkit-flex;
                });

                .only-for-IE({
                    display: block;
                });
                .card-anchor-link{
                    height: 100%;
                    display: block;
                }
            }
            .item {
                .screen-mob({
                    position: relative !important;
                    left: inherit !important;
                    top: inherit !important;
                }
                );
                .screen-tab-desk({
                    padding-top: 45px;
                    padding-left: 20px;
                    display: flex;
                    display: -webkit-flex;
                    .only-for-IE({
                        display: block;
                    });
                    
                 });
                .item-header {
                    .font(@HelveticaNeue_Light, normal, 14px, @grey08);
                    text-align: left;
                    padding-bottom: 11px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .item-detail {
                    cursor: pointer;
                    -webkit-transition: all 0.15s ease-in-out;
                    -moz-transition: all 0.15s ease-in-out;
                    -o-transition: all 0.15s ease-in-out;
                    transition: all 0.15s ease-in-out;
                    &:hover {
                        box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.075);
                        transform: translateY(-2px) translateX(2px);
                    }
                    .item-image {
                        .screen-tab-desk( {
                            height: 133px;
                            padding: 10px
                        }
                        );
                        background-color: @grey05;
                        img {
                            width: 100%;
                            height: 113px;
                            .screen-mob( {
                                height: 220px;
                            }
                            );
                        }
                    }
                    .item-desc {
                        border: solid 1px @grey05;
                        color: @black-color01;
                        text-align: left;
                        padding: 14px 11px 10px 11px;
                        .screen-mob({
                            .view-more {
                                .font(@HelveticaNeue_Light, 300, 16px, @grey08);
                                padding-right: 15px;
                            }
                        });
                        .item-main {
                            .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                            padding-bottom: 16px;
                            word-wrap: break-word;
                        }
                        .item-details {
                            .screen-tab-desk( {
                                display: block !important;
                            }
                            );

                            .screen-mob( {
                                display: none;
                                .view-less {
                                    .font(@HelveticaNeue_Light, 300, 16px, @grey08);
                                    padding-right: 15px;
                                }
                            }
                            );
                            .item-engine-head {
                                .font(@openSans , normal, 10px, @black-color01);
                                padding-bottom: 5px;
                            }
                            .item-engine-desc {
                                .font(@HelveticaNeueMedium, bold, 12px, @black-color01);
                                padding-bottom: 12px;
                            }
                            .item-power-head {
                                .font(@openSans , normal, 10px, @black-color01);
                                padding-bottom: 5px;
                            }
                            .item-power-desc {
                                .font(@HelveticaNeueMedium, bold, 12px, @black-color01);
                                text-align: left;
                                padding-bottom: 12px;
                            }
                            .item-optwt-head {
                                .font(@openSans , normal, 10px, @black-color01);
                                text-align: left;
                                padding-bottom: 5px;
                            }
                            .item-opt-desc {
                                .font(@HelveticaNeueMedium, bold, 12px, @black-color01);
                            }
                        }
                    }
                }
                > div {
                    width: 100%;
                }
            }

            .cat-card-container {
                box-shadow: 0 0 7px 3px rgba(234, 234, 234, 0.5);
                border: solid 1px @grey17;
                height: 100%;
                .product-image {
                    img {
                        border: none;
                    }
                }
                .main-header-row {
                    position:relative;
                    background-color: #f4f4f4;
                    .main-header {
                        .screen-mob({
                            padding:10px;
                        });
                        .screen-tab({
                            padding: 10px 20px;
                        });
                        .screen-desk({
                            padding: 14px 30px;
                        });
                    }
                    .used-product-tag {
                        top: 0px;
                        right: 10px;
                        border: solid 1px @grey08;
                        border-top: none;
                    }
                    .used-product-tag-row{
                        background-color: @white;
                        border-top:1px solid @grey05;
                        .used-product-tag {
                            top: 0px;
                            right: 0px;
                            border: solid 1px @grey05;
                            position: relative;
                            border-top: none;
                        }
                    }
                }
            }
        }
        .searching-failed,
        .empty-results {
            height: 60vh;
            .error,
            .empty {
                height: 100%;
                position: relative;
                top: 20%;
                margin: 0px auto;
                text-align: center;
                .font(@openSans, 300, 20px);
                .header {
                    border-bottom: 1px solid #ffd426;
                    margin-bottom: 20px;
                    display: inline-block;
                    font-weight: bold;
                }
            }
        }
    }
    .mobile-content {
        margin-left: -15px;
        .nav-mobile {
            left: 0px;
            position: fixed;
            bottom: 0px;
            width: 100%;
            z-index: @zindexMobilePlpButtons;
            .screen-tab-desk( {
                display: none;
            }
            );
            .nav-mobile-contnet {
                >div {
                    display: none;
                }
                #nav-mobile-selection {
                    background-color: @grey09;
                }
                #nav-mobile-locations {
                    background-color: @grey09;
                    padding: 20px;
                    .font(@openSans, 300, 14px);
                    .filter-checkgrp {
                        display: block;
                        .flit-text {
                            display: inline-block;
                            &.disabled {
                                color: #cccccc;
                                cursor: not-allowed;
                            }
                        }
                        .filter-check {
                            float: right;
                        }
                        .box-rect {
                            position: inherit;
                            float: right;
                            top: 3px;
                            right: 0;
                            width: 10px;
                            height: 10px;
                            border-radius: 1.5px;
                            box-sizing: border-box;
                            display: inline-block;
                            vertical-align: middle;
                            cursor: pointer;
                            border: solid 1px @grey10;
                        }

                         .filter-check {
                            visibility: hidden;
                            position: absolute;
                            top: 0;
                            right: 0;

                            &[disabled=disabled]+.box-rect {
                                border: solid 1px #cccccc;
                            }

                            &:checked+.box-rect {
                                background-color: @sun-yellow;
                            }
                        }
                    }
                }
                #nav-mobile-selection {
                    padding: 17px 10px;
                    .params-sec {
                        padding-bottom: 30px;
                        .params-sec-heading {
                            .font(@openSans, 300, 18px, @black-color01);
                            padding-bottom: 10px;
                        }
                        .params-sec-dropdown {
                            .drop-down-button {
                                padding: 0px;
                                background-color: @white;
                                box-shadow: none;
                                .text {
                                    overflow: hidden;
                                    display: inline-block;
                                    height: 50px;
                                    .calc(width, "100% - 50px");
                                    padding: 15px 15px;
                                    .font(@HelveticaNeueThin, 100, 14px);
                                    text-align: left;
                                }
                                .arrow {
                                    width: 50px;
                                    background-color: #ffcc00;
                                    height: inherit;
                                    margin: 0px auto;
                                    padding: 22px 12px;
                                }
                            }
                            ul.dropdown-menu {
                                .calc(width, "100% - 70px");
                                margin-left: 10px;
                                padding-left: 10px;
                                padding: 0px;
                                max-height: 150px;
                                overflow: auto;
                                li {
                                    padding: 5px 10px;
                                }
                            }
                        }
                    }
                    .update-btn-container {
                        padding-top: 10px;
                        width: 132px;
                        margin: 0px auto;
                        padding-bottom: 10px;
                        button {
                            .font(@openSans, bold, 20px, @grey03);
                            &.disabled {
                                background-color: @grey04;
                            }
                            background-color: @grey07;
                        }
                    }
                }
            }
            .nav-mobile-tabs {
                .tabs-container {
                    font-family: OpenSans;
                    font-size: 16px;
                    font-weight: 300;
                    text-align: center;
                    clear: both;
                    color: white;
                    text-transform: uppercase;
                    .select-tab {
                        background-color: #000;
                        width: 50%;
                        float: left;

                        .selection {
                            padding: 11px 0;
                        }
                    }
                    .loacate-tab {
                        background-color: #000;
                        width: 50%;
                        float: right;
                        border-left: solid 2px #f0f0f0;
                        .location {
                            padding: 11px 0;
                        }
                    }
                }
            }
        }
    }
    .pagination-container {
        .screen-mob({
            padding-left:20px;
            padding-right: 20px;
        });
        .rm-pddn-rgt{
            padding-right:0;
        }
        &.top {
            padding-bottom: 20px;
        }
        .search-text-header {
            .font(@openSans, bold, 18px, @black-color01);
            letter-spacing: -0.5px;
        }
        .search-info {
            .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
            font-style: italic;
        }
        .pagination {
            li {
                a {
                    color: #000;
                    background-color: #f7f7f7;
                }
                &.active {
                    a {
                        // font-weight: bolder;
                        font-family: @HelveticaNeue;
                    }
                }
            }
            .pagination-prev, .pagination-next {
                a{
                    color: transparent;
                }
                a::after {
                    content: "";
                    background: url(/_ui/responsive/cat/images/breadCrum.png) center right no-repeat;
                    background-size: 10px 10px;
                    width: 12px;
                    height: 15px;
                    padding: 5px;
                    //position: absolute;
                }
            }
            .pagination-prev {
                transform: scaleX(-1);
            }
            .pagination-next {
                a::after {
                }
                a {
                    margin-left: 0;
                }
            }
        }
        background-color: @grey09;
        padding-top: 12px;
        >div {
            padding-right: 10px;
        }
        .pagination-first {
            display: none;
        }
        .pagination-last {
            display: none;
        }
        .pagination-prev,
        .pagination-next {
            a {
                background-color: #f7f7f7;
                font-size: 21px;
                color: #000;
            }
        }
        .pagination-first,
        .pagination-last {
            a {
                background-color: @grey09;
            }
        }
        .pagination-page {
            a {
                .font(@HelveticaNeueThin, 100, 16px);
            }
        }
    }
    .plp-list {
        .screen-mob({
            padding: 0 20px;
        })
    }

    #catSearchMobileNavOverlay {
        &[data-sidebar-overlay] {
            .screen-tab-desk( {
                display: none !important;
            }
            );
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 40px;
            z-index: @zindexMobilePlpOverLay;
        }
    }

    &+footer {
        display: none;
    }
}

.modal-clear-cart-popup{
    .screen-tab-desk({
        width: 580px;
        margin: 15% auto;
    });
    .screen-mob({
        width: 280px;
        height: 282px;
        margin: 50% auto;
    });
    .clear-cart-popup-container{
        padding: 50px 100px 40px 42px;
        border: 3px solid @grey10;
        .screen-mob({
            padding: 20px;
        });
        .clear-cart-popup-content{
            &.something-wrong {
                background: none !important;
            }
            .screen-tab-desk({
                background:url(/_ui/responsive/cat/images/cart-icon@3x.png) 0 0 no-repeat;
                background-size: 38px 29px;
                padding-left: 58px; 
            });
            .clear-cart-title{
                margin-bottom: 10px;
                .font(@openSans, bold, 18px);
                .screen-mob({
                    background:url(/_ui/responsive/cat/images/cart-icon@3x.png) 0 0 no-repeat;
                    background-size: 38px 29px;
                    padding-left: 58px; 
                });          
            }
            .description{
                .font(@openSans, 300, 16px);
            }
            .continue-button{
                margin: 40px auto 0;
                display: table;
                background: @grey07;
                border: 1px solid @grey10;
                padding: 9px 52px;
                outline: none;
                .font(@openSans, bold, 14px, @white);                
                &:focus,&:active,&:hover{
                    outline: none;
                }
            }
        }
    }
}