.slider-container {
    padding: 30px;
    border-top: solid 1px #d1d1d1;
    .slider-bar {
        padding: 20px 10px;
    }
    .rzslider {
        .rz-pointer {
            width: 5px;
            height: 15px;
            background-color: #000;
            &:after {
                background: none;
            }
        }
        .rz-bubble {
            .font(@openSans, bold, 12px, @black-color01);
            &.rz-limit {
                .font(@openSans, bold, 12px, @black-color01);
            }
        }
    }
    input {
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 1px #000000;
        width: 100%;
        &::placeholder {
            opacity: 0.75;
            .font(@openSans, 300, 12px, #979797);
            font-style: italic;
        }
        &::-webkit-input-placeholder {
            opacity: 0.75;
            .font(@openSans, 300, 12px, #979797);
            font-style: italic;
        }
        &:-moz-placeholder {
            opacity: 0.75;
            .font(@openSans, 300, 12px, #979797);
            font-style: italic;
        }
        &:-ms-input-placeholder {
            opacity: 0.75;
            .font(@openSans, 300, 12px, #979797);
            font-style: italic;
        }
        &:-moz-placeholder {
            opacity: 0.75;
            .font(@openSans, 300, 12px, #979797);
            font-style: italic;
        }
        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }
    }
    .hifan {
        width: 12px;
        height: 1px;
    }
    .slider-header {
        cursor: pointer;
        padding-bottom: 30px;
        text-transform: uppercase;
        &.remove-margin-bottom {
            padding-bottom: 0px;
        }
        .header {
            .font(@openSans, bold, 14px, @black-color01);
        }
    }
}

.certified-filter {
    padding: 30px;
    border-top: solid 1px #d1d1d1;
    .certified-header {
        cursor: pointer;
        padding-bottom: 30px;
        text-transform: uppercase;
        &.remove-margin-bottom {
            padding-bottom: 0px;
        }
        .header {
            .font(@openSans, bold, 14px, @black-color01);
        }
    }
    .group {
        .name {
            float: left;
            display: inline-block;
            .font(@openSans, 300, 14px, @black-color01);
        }
        .check-box {
            float: left;
            display: inline-block;
            input[type='checkbox'] {
                display: none;
                &+label {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #c2c2c2;
                    float: left;
                    background: #ffffff;
                    position: relative;
                    top: 3px;
                    margin-bottom: 0px;
                    .tick-mark {
                        display: none;
                        width: 10px;
                        height: 9px;
                        left: 1px;
                        top: 2px;
                        position: relative;
                    }
                }
                &:checked {
                    &+label {
                        background: #ffcc00;
                        .tick-mark {
                            display: block;
                        }
                    }
                }
            }
            .checkboxlabel {
                float: left;
                padding-left: 10px;
                .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                text-transform: none;
                position: relative;
                top: -4px;
            }
        }
    }
}