.calc(@prop, @val) {
  @{prop}: calc(~'@{val}');
  @{prop}: -moz-calc(~'@{val}');
  @{prop}: -webkit-calc(~'@{val}');
  @{prop}: -o-calc(~'@{val}');
}

.no-box-shadow(){
	-moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
}
.border-radius(@value){
  border-radius:@value;
  -webkit-border-radius:@value;
  -moz-border-radius:@value;
  -ms-border-raius:@value;
}
.transform-scale(@value){
  transform:scale(@value);
  -webkit-transform:scale(@value);
  -moz-transform:scale(@value);
  -ms-transform:scale(@value);
}
.blur(@value){
  filter:blur(@value);
  -webkit-filter:blur(@value);
  -moz-filter:blur(@value);
  -ms-filter:blur(@value);
}