@font-face {
    font-family: 'HelveticaNeue_Light';
    src: url("../fonts/HelveticaNeue_Light.eot");
    src: url("../fonts/HelveticaNeue_Light.eot?#iefix") format("embedded-opentype"),
    url('../fonts/HelveticaNeue_Light.woff2') format('woff2'),
    url('../fonts/HelveticaNeue_Light.woff') format('woff'),
    url('../fonts/HelveticaNeue_Light.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src:url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src:url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Medium';
    src:url('../fonts/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url("../fonts/HelveticaNeueRegular.eot");
    src: url("../fonts/HelveticaNeueRegular.eot?#iefix") format("embedded-opentype"),
    url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
    url('../fonts/HelveticaNeueRegular.woff') format('woff'),
    url('../fonts/HelveticaNeueRegular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url("../fonts/Helvetica-Neue-Bold.eot");
    src: url("../fonts/Helvetica-Neue-Bold.eot?#iefix") format("embedded-opentype"),
    url('../fonts/Helvetica-Neue-Bold.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue-Bold.woff') format('woff'),
    url('../fonts/Helvetica-Neue-Bold.ttf') format('truetype');
    font-style: bold;
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url("../fonts/HelveticaNeue Medium.eot");
    src: url("../fonts/HelveticaNeue Medium.eot?#iefix") format("embedded-opentype"),
    url('../fonts/HelveticaNeue Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeue Medium.woff') format('woff'),
    url('../fonts/HelveticaNeue Medium.ttf') format('truetype');
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueThin';
    src: url("../fonts/HelveticaNeue-Thin.eot");
    src: url("../fonts/HelveticaNeue-Thin.eot?#iefix") format("embedded-opentype"),
    url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
    font-style: normal;
}

.rgbaColorIn(@color, @opacity : 1){
    @result: rgba( red(@color), green(@color), blue(@color), @opacity );
}

.font(@family: @openSans, @weight: normal, @size: 1em, @color: @black-color01) {
    font-family: @family;
    font-weight: @weight;
    font-size: @size;
    color: @color;
    
   // .convertToEm(font-size,@size);
   //.rgbaColorIn(@color, 100%);
   // -webkit-text-fill-color: @result; 
   // -webkit-opacity: 1;
}



@openSans: "Open Sans",Helvetica, Arial, sans-serif;
@openSans_Light:"OpenSans-Light",Helvetica, Arial,sans-serif;
@openSans_Bold:"OpenSans-Bold",Helvetica, Arial,sans-serif;
@openSans_Medium:"OpenSans-Medium",Helvetica, Arial,sans-serif;
@openSans_Semibold:"Open Sans Semi Bold",sans-serif;
@HelveticaNeue_Light: "HelveticaNeue_Light",Helvetica, Arial, sans-serif;
@HelveticaNeue: "HelveticaNeue",Helvetica, Arial, sans-serif;
@HelveticaNeueBold: "HelveticaNeueBold",Helvetica, Arial, sans-serif;
@HelveticaNeueMedium: "HelveticaNeueMedium",Helvetica, Arial, sans-serif;
@HelveticaNeueThin: "HelveticaNeueThin",Helvetica, Arial, sans-serif;
