@screen-sm:                        900px;
@screen-sm-max:                    @screen-sm;

@screen-lg:                        1200px;
@screen-lg-min:                    @screen-lg;

@screen-md-min:                    901px;
@screen-md-max:                    1199px;


//mobile screen portrait extra small device width 320px - 399px specially for Samsung devices
.screen-mob-xss-portrait(@rules) {
    @media (min-width: 320px) and (max-width: 399px) { @rules(); }
}

//mobile screen portrait max 480 with
.screen-mob-max-portrait(@rules) {
    @media (max-width: 480px) { @rules(); }
}

// mobile only
.screen-mob(@rules) {
    @media (max-width:@screen-sm-max)  { @rules(); }
}

//intermediate tablet resolution only
.screen-tab-intermediate(@rules) {
    @media (min-width: 767px) and (max-width: 899px) { @rules(); }
}

// tablet only
.screen-tab(@rules) {
    @media (min-width: 900px) and (max-width: 1200px) { @rules(); }
}

// desktop version
.screen-desk(@rules) {
    @media (min-width: @screen-lg-min) { @rules(); }
}


// tablet and desk top
.screen-tab-desk(@rules) {
     @media screen and (min-width: @screen-md-min){ @rules(); }
}


// 1. Mobile
.screen(@rules-mob){
	.screen-mob(@rules-mob);
}
// 1: Mobile only , 2: tablet Only
.screen(@rules-mob, @rules-tab) {
    .screen-mob(@rules-mob);
    .screen-tab(@screen-tab);
}

// 1: Mobile only , 2: tablet Only, 3: Desktop only
.screen(@rules-mob, @rules-tab, @rules-desk) {
    .screen-mob(@rules-mob);
    .screen-tab(@screen-tab);
    .screen-desk(@rules-desk);
}