#mobile-safari-modal-body{
    background-color: @white;
    padding:60px 46px 40px 46px;
    border:3px solid @grey10;
    .screen-mob({
        padding:50px 30px 40px 30px;
    });
    .confirm-remove{
        margin-bottom:40px;
        .font(@HelveticaNeue_Light,300,16px,@black-color01);
        letter-spacing:-0.4px;
        .screen-mob({
            text-align: center;
            margin-bottom:25px;
        });
    }
    .remove-product-btn-container{
        text-align: center;
        .update-product-list{
            width:80px;
            height:40px;
            padding:0;
            .font(@openSans_Bold,normal,14px,@white);
            &.no-btn{
                background-color: @white;
                .font(@openSans_Bold,normal,14px,@black-color01);
                margin-right:20px;
            }
        }
    }
}
#truckload-configurator-container{
    .screen-mob({
        width:100%;
    });
    .truckload-container{
        padding-left:5px;
        .screen-mob({
            padding:0;
        });
        .page-header-section{
            label{
                .font(@openSans_Bold,normal,18px,@black-color01);
            }
            margin-bottom:20px;
            .screen-mob({
                margin-bottom:10px;
                padding-left:20px !important;
            });
        }
        .truckload-configurator-header-section{
            background-color:@white;
            padding:30px 0 23px 30px;
            label{
                .font(@openSans_Bold,normal,14px,@black-color01);
            }
            border-bottom:1px solid @grey13;
        }
        .truckload-config-disclaimer{
            padding:30px 0 25px 30px;
            .font(@HelveticaNeue_Light,300,14px,@black-color01);
            font-style: italic;
            background-color:@white;
            .screen-mob({
                padding:0 0 20px 20px;
                background:none;
            });
        }
        .truckload-config-options-header{
            padding:30px 0 0 30px;
            background-color:@grey17;
            .font(@openSans_Bold,normal,14px,@black-color01);
            text-transform: uppercase;
            .screen-mob({
                padding:30px 0 0 20px;
            });
        }
        .truckload-config-options-row{
            padding:0 0 25px 30px;
            background-color:@grey17;
            .screen-mob({
                padding:0 0 25px 20px;
            });
            .config-selection-header{
                margin-bottom:20px;
                .font(@HelveticaNeue_Light,300,14px,@black-color01);
            }
            .seater-heading{
                .font(@openSans_Bold,normal,14px,@black-color01);
                .seat-count{
                    .font(@openSans_Light,300,14px,@black-color01);
                }
            }
            .option-heading{
                .font(@openSans_Light,300,14px,@black-color01);
            }
            ul{
                padding-left:0;
                li{
                    .font(@openSans,normal,14px,@black-color01);
                    list-style-type:none;
                }
            }
        }
        .truckload-config-accordion{
            .screen-mob({
                margin-bottom:20px;
            });
            .panel-group{
                margin-bottom:0;
                .panel{
                    border:0;
                    .panel-heading,.panel-body{
                        background-color:@white;
                        border-color:@grey13;
                    }
                    .panel-heading{
                        padding:21px 40px 20px 30px;
                        border:1px solid @grey16;
                        .screen-mob({
                            background-color: @grey13;
                            padding-left:20px;
							border:0;
                        });
                        a{
                            .font(@openSans_Bold,normal,14px,@black-color01);
                            text-transform: uppercase;
                            &:hover,&:focus,&:active{
                                text-decoration: none;
                            }
                            .screen-mob({
                               width:210px;
                            });
                        }
                        .accordion-arrow{
                            display: block;
                            width: 30px;
                            height: 15px;
                            background: url(/_ui/responsive/cat/images/arrow-down.png) center right no-repeat;
                        }
                    }
                    &.panel-open{
                        .panel-heading{
                            .accordion-arrow{
                                background: url(/_ui/responsive/cat/images/arrow-up.png) center right no-repeat;
                            }
                        }
                    }
                    .panel-body{
                        padding:0;
                        border:0;
                        .truckload-config-matrix-accordion-body{
                            .truckload-matrix-table{
                                .screen-mob({
                                    display: block;
                                    padding:0;
                                });
                                thead{
                                    .screen-mob({
                                        display: block;
                                    });
                                    tr{
                                        .screen-mob({
                                            position: absolute;
                                            top: -9999px;
                                            left: -9999px;
                                        });
                                        th{
                                           background-color: @white;
                                           .font(@openSans,normal,14px,@black-color01);
                                           text-transform: none;
                                           padding:30px 0 12px 30px;
                                           border-bottom:1px solid @grey13;
                                           &:first-child{
                                               border-left:1px solid @grey13;
                                           }
                                           &:last-child{
                                               text-align: left;
                                               padding-right:40px;
                                               border-right:1px solid @grey13;
                                           }
                                           .screen-mob({
                                                display: block;
                                           });
                                        }
                                    }
                                }
                                tbody{
                                    .screen-mob({
                                        display: block;
                                    });
                                    tr{
                                        .screen-mob({
                                            display: block;
                                            width:50%;
                                            float:left;
                                        });
                                        &:nth-child(even){
                                            td{
                                                background-color: @grey05;
                                                .screen-mob({
                                                    background-color: @white;
                                                });
                                            }
                                        }
                                        &:last-child{
                                            td{
                                                border-bottom:1px solid @grey13;
                                                border-top:1px solid @grey13;
                                                padding:20px 0;
                                                &:first-child{
                                                    border-left:1px solid @grey13;
                                                }
                                                &:last-child{
                                                    border-right:1px solid @grey13;
                                                }
                                            }
                                        }
                                        &:first-child{
                                            td{
                                                padding-top:24px;
                                                .screen-mob({
                                                    padding-top:20px;
                                                });
                                                span{
                                                    .screen-mob({
                                                        border-right:1px solid @grey12;
                                                    }); 
                                                }
                                            }
                                        }
                                        td{
                                           background-color: @white;
                                           .font(@HelveticaNeueThin,100,16px,@black-color01);
                                           text-transform: none;
                                           padding:14px 0 14px 30px;
                                           &:nth-child(odd){
                                                .screen-mob({
                                                    background-color:@grey15;
                                                });
                                           }
                                           &:first-child{
                                            .screen-mob({
                                                padding-left:20px;
                                                background-color:@white;
                                                .font(@openSans_Light,300,16px,@black-color01);
                                                text-transform:uppercase;
                                            });
                                            span{
                                                .screen-mob({
                                                    border-right:0;
                                                });
                                            }
                                           }
                                           &:last-child{
                                               padding-right:40px;
                                               .screen-mob({
                                                    padding-right:0
                                                });
                                           }
                                           .screen-mob({
                                                display: block;
                                                border: none;
                                                position: relative;
                                                white-space: normal;
                                                text-align: left;
                                                padding:20px 0 20px 40px;
                                                .font(@HelveticaNeue,normal,16px,@black-color01);
                                            });
                                            span{
                                                .screen-mob({
                                                    display: block;
                                                    width:100%;
                                                    height:30px;
                                                });
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .truckload-config-lineitem{
            background-color:@white;
            border-bottom:1px solid @grey13;
            .screen-mob({
               padding:0 20px !important;
               background:none;
               border-bottom:none;
            });
            .truckload-error{
                .font(@openSans,normal,12px,@red02);
                font-style:italic;
                margin-top:10px;
                &.less-error,&.more-error{
                    margin-top:0;
                    margin-bottom:10px;
                }
            }
            .truckload-success{
                .font(@openSans,normal,12px,@black-color01);
                font-style:italic;
                margin-bottom:10px;
            }
            .hidden-input{
                display:none;
            }
            .truckload-index-label{
                .font(@openSans_Bold,normal,14px,@black-color01);
                margin-bottom:40px;
                text-transform:uppercase;
                .screen-mob({
                    margin-bottom:0;
                    line-height:25px;
                    text-transform:none;
                });
            }
            .truckload-remove-button{
                .remove-text{
                    .font(@openSans,normal,18px,@black-color01);
                    font-style:italic;
                    text-transform: none;
                    cursor: pointer;
                }
                .remove-icon{
                    background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
                    display:inline-block;
                    width:12px;
                    height:12px;
                    margin-left:10px;
                    cursor: pointer;
                }
            }
            .truckload-config-data-holder{
                padding:60px 60px 40px 65px;
                .screen-mob({
                    background-color: @white;
                    padding:20px 10px 0 10px;
                });
                .truck-heading-section{
                    .screen-mob({
                        padding:20px 10px !important;
                        border-top:1px solid @grey17;
                        border-left:1px solid @grey17;
                        border-right:1px solid @grey17;
                    });

                }
                .truckload-shipping-date-section{
                    .screen-mob({
                        padding:0 10px 20px 10px !important;
                        border-left:1px solid @grey17;
                        border-right:1px solid @grey17;
                        margin-bottom:0;
                    });
                    .ship-after-date-label{
                        .font(@openSans_Light,300,14px,@black-color01);
                        margin-bottom:17px;
                        .screen-mob({
                          display:block;
                        });
                    }
                    .product-family-btn {
                        margin-bottom: 10px;
                    }
                    .product-not-available {
                        .font(@HelveticaNeue_Light,300,14px,@black-color01);
                        font-style: italic;
                    }
                    .product-family-dropdown{
                        .product-family-dropdown-label{
                            .font(@HelveticaNeueMedium,300,14px,@black-color01) !important;
                        }
                    }
                    margin-bottom:60px;
                }
                .truckload-products-row{
                    .screen-mob({
                        padding:0 10px !important;
                        border-left:1px solid @grey17;
                        border-right:1px solid @grey17;
                    });
                    .truckload-product-card{
                        &:first-child{
                            padding-left:0;
                        }
                        &:last-child{
                            padding-right:0;
                        }
                        .screen-mob({
                            &:nth-child(odd){
                                padding-left:0;
                            }
                            &:nth-child(even){
                                padding-right:0;
                            }
                        });
                        .sales-model{
                            margin-bottom:20px;
                            .font(@openSans_Bold,normal,16px,@black-color01);
                            .screen-mob({
                                .font(@HelveticaNeueMedium,500,14px,@black-color01);
                                margin-bottom:16px;
                            });
                            .seat-details{
                                .font(@openSans_Light,300,14px,@black-color01);
                                position:relative;
                                margin-left:10px;
                                .screen-mob({
                                    margin-left:0;
                                    margin-top:5px;
                                    display: block;
                                });
                            }
                        }
                        .truckload-product-image{
                            width:180px;
                            height:135px;
                            border:1px solid @grey17;
                            margin-bottom:20px;
                            .screen-mob({
                                width:auto;
                                height:auto;
                                border:1px solid @grey05;
                                margin-bottom:15px;
                            });
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                        .truckload-quantity-section{
                            margin-bottom:60px;
                            .screen-mob({
                                margin-bottom:30px;
                            });
                            .quantity-label{
                                display:block;
                                .font(@openSans_Light,300,14px,@black-color01);
                                margin-bottom:20px;
                                .screen-mob({
                                    margin-bottom:15px;
                                });
                            }
                            .qty-textbox{
                                width:36px;
                                height:25px;
                                border:1px solid @grey10;
                            }
                            .decrement{
                                background: url(/_ui/responsive/cat/images/truckload-decrement.png) center right no-repeat;
                                display:inline-block;
                                width:15px;
                                height:15px;
                                margin-right:10px;
                                cursor: pointer;
                                position: relative;
                                top: 3px;
                                &.disabled{
                                    background: url(/_ui/responsive/cat/images/greyed-decrement.png) center right no-repeat;
                                    cursor: not-allowed;
                                }
                            }
                            .increment{
                                background: url(/_ui/responsive/cat/images/truckload-increment.png) center right no-repeat;
                                display:inline-block;
                                width:15px;
                                height:15px;
                                margin-left:10px;
                                cursor: pointer;
                                position: relative;
                                top: 3px;
                                &.disabled{
                                    background: url(/_ui/responsive/cat/images/grayed-increment.png) center right no-repeat;
                                    cursor: not-allowed;
                                }
                            }
                        }
                    }
                    .is-available-blur {
                        -moz-filter: opacity(30%) grayscale(100%);
                        -webkit-filter: opacity(30%) grayscale(100%);
                        filter: opacity(30%) grayscale(100%);
                    }
                    .is-available-blur-IE {
                        filter:url('/_ui/responsive/cat/images/greyScale.svg#grayscale');
                        opacity: 0.3;
                    }
                }
                .truckload-info-section{
                    .truckload-info-box{
                        .screen-mob({
                            padding:20px 10px;
                        });
                        padding:25px;
                        border:1px solid @grey17;
                        box-shadow: 0 8px 8px 0 @grey11;
                        .truckload-info-label{
                            display:block;
                            .font(@openSans_Bold,normal,14px,@black-color01);
                            margin-bottom:26px;
                            text-transform: uppercase;
                            .screen-mob({
                                text-transform: none;
                                margin-bottom: 10px;
                            });
                        }
                        .truckload-qty-info{
                            .font(@HelveticaNeue_Light,300,14px,@black-color01);
                            .screen-mob({
                                .font(@openSans_Light,300,14px,@black-color01);
                            });
                            p{
                                .screen-mob({
                                    margin-bottom:0;
                                })
                            }
                            ul{
                                padding:25px 70px 0 5px;
                                .screen-mob({
                                    padding:0;
                                });
                                .truckload-info-list{
                                    list-style-type: none;
                                    margin-bottom:15px;
                                    .header{
                                        .font(@HelveticaNeue_Light,300,14px,@black-color01);
                                    }
                                    .value{
                                        .font(@HelveticaNeueMedium,500,14px,@black-color01);
                                        .screen-mob({
                                            padding-right:65px;
                                        });
                                    }
                                    &:last-child{
                                        border-top : 1px solid @grey17;
                                        padding-top : 15px;
                                    }
                                }
                            }
                        }
                        .truckload-image{
                            width:480px;
                            height:180px;
                            position:relative;
                            background: @grey11 url(/_ui/responsive/cat/images/truckload-empty-truck.png) center no-repeat;
                            background-size:90% 80%;
                            .screen-mob({
                                background: @white url(/_ui/responsive/cat/images/truckload-empty-truck-mobile.png) center no-repeat;
                                width:100%;
                                padding:0;
                                background-size:90% 80%;;
                            });
                            .cuvImageHolder{
                                height:110px;
                                box-sizing: border-box;
                                padding-left:calc(23%);
                                .cuvImage{
                                    height:calc(50%);
                                    padding-left:5px;
                                    padding-right:5px;
                                    &.seater2{
                                        background: url(/_ui/responsive/cat/images/truckload2Seater.png) center no-repeat;
                                        background-size:90% 52px;
                                        .screen-mob({
                                            background: url(/_ui/responsive/cat/images/truckload2SeaterMobile.png) center no-repeat;
                                            background-size:90% 35px;
                                        });
                                        .screen-tab-intermediate({
                                            background: url(/_ui/responsive/cat/images/truckload2Seater.png) center no-repeat;
                                            background-size:85% 50px;
                                        });
                                    }
                                    &.seater5{
                                        background: url(/_ui/responsive/cat/images/truckload5Seater.png) center no-repeat;
                                        background-size:90% 52px;
                                        .screen-mob({
                                            background: url(/_ui/responsive/cat/images/truckload5SeaterMobile.png) center no-repeat;
                                            background-size:90% 35px;
                                        });
                                        .screen-tab-intermediate({
                                            background: url(/_ui/responsive/cat/images/truckload5Seater.png) center no-repeat;
                                            background-size:85% 50px;
                                        });
                                        &.col-md-3{
                                            background: url(/_ui/responsive/cat/images/truckload5Seater.png) center no-repeat;
                                            background-size:95% 52px;
                                            .screen-mob({
                                                background: url(/_ui/responsive/cat/images/truckload5SeaterMobile.png) center no-repeat;
                                                background-size:100% 35px;
                                            });
                                            .screen-tab-intermediate({
                                                background: url(/_ui/responsive/cat/images/truckload5Seater.png) center no-repeat;
                                                background-size:85% 50px;
                                            });
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .add-to-truckload-box{
                        .truckload-button-wrapper{
                            height: 275px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            .screen-mob({
                                height:auto;
                                justify-content: center;
                                border-right:1px solid @grey17;
                                border-left:1px solid @grey17;
                                padding:0 10px;
                            });
                            .add-to-truckload-btn{
                                width:auto;
                                height:auto;
                                padding:11px 37px;
                                &.disabled{
                                    background-color: @grey14;
                                    border:0;
                                }
                                .screen-mob({
                                    width:100%;
                                    margin-bottom:20px;
                                });
                            }
                        }
                    }
                    .truckload-disclaimer{
                        .font(@HelveticaNeue_Light,300,14px,@black-color01);
                        font-style: italic;
                        padding:25px 0 0 0;
                        .screen-mob({
                            padding-top:0;
                        });
                    }
                }
            }
        }
        .add-truckload-section{
           padding:35px 0 35px 60px;
           background-color: @white;
           border-bottom:1px solid @grey13;
           .screen-mob({
              padding:0 20px;
              background-color: @grey05;
              border-bottom:0;
           });
           .add-truckload-wrapper{
            .screen-mob({
                padding:22px 20px !important;
                background-color: @white;
                margin-bottom:20px;
             });
            .add-to-truck-label{
                .font(@openSans,normal,16px,@black-color01);
                cursor: pointer;
                &.disabled{
                    color:@grey14;
                }
            }
            .increment{
                 background: url(/_ui/responsive/cat/images/truckload-increment.png) center right no-repeat;
                 display:inline-block;
                 width:15px;
                 height:15px;
                 margin-right:10px;
                 cursor: pointer;
                 position: relative;
                 top: 2px;
                 &.disabled{
                    background: url(/_ui/responsive/cat/images/grayed-increment.png) center right no-repeat;
                 }
             }
             .popover {
                .arrow {
                    display: none;
                }
             }
           }
        }
        .truckload-total-qty-section{
            padding:30px 60px 25px 0;
            background-color: @white;
            border-bottom:1px solid @grey13;
            .screen-mob({
                padding:0 20px 22px 20px;
                background-color: @grey05;
                border-bottom:0;
            });
            .truckload-qty-wrapper{
                .screen-mob({
                    background-color: @white;
                    padding:22px 20px !important;
                });
                .total-qty-label{
                    .font(@openSans_Bold,normal,16px,@black-color01);
                    .screen-mob({
                        .font(@openSans_Light,300,14px,@black-color01);
                    });
                }
                .total-qty-value{
                    .font(@HelveticaNeue_Light,300,20px,@black-color01);
                    line-height: 20px;
                    .screen-mob({
                        .font(@HelveticaNeueMedium,500,18px,@black-color01);
                    });
                }
            }
        }
        .next-button-section{
            padding:40px 60px 40px 0;
            background-color: @white;
            .screen-mob({
                padding:0 20px;
                background-color: @grey05;
            });
            .next-btn{
                padding:12px 70px;
                height:auto;
                width:auto;
                .font(@openSans_Bold,normal,14px,@white);
                .screen-mob({
                    width:100%;
                });
                &.disabled{
                    background-color: @grey14;
                    border:0;
                }
            }
        }
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #truckload-configurator-container {
        .truckload-container{
            .truckload-config-lineitem{
                .truckload-config-data-holder{
                    .truckload-shipping-date-section{
                        .product-family-dropdown{
                            height:25px;
                        }
                    }
                }
            }
        }
    }
 }
