#remove-truckload-modal-body{
    background-color: @white;
    padding:60px 46px 40px 46px;
    border:3px solid @grey10;
    .screen-mob({
        padding:50px 30px 40px 30px;
    });
    .close-truckload-remove-popup{
        background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
        width:15px;
        height:15px;
        display:inline-block;
        position: absolute;
        right:-35px;
        top:-50px;
        cursor: pointer;
        .screen-mob({
            right:-20px;
            top:-40px;
        });
    }
    .confirm-remove{
        margin-bottom:40px;
        .font(@HelveticaNeue_Light,300,16px,@black-color01);
        letter-spacing:-0.4px;
        .screen-mob({
            text-align: center;
            margin-bottom:25px;
        });
    }
    .remove-product-btn-container{
        text-align: center;
        .update-product-list{
            width: auto; 
            padding:14px 53px;
            .font(@openSans_Bold,normal,14px,@white);
            .screen-mob({
                padding:13px 14px;
            });
        }
    }
}

.empty-cart{
    text-align: center;
    padding:200px 0;
    .screen-mob({
        padding:42% 0;
    })
}
.empty-cart-text{
    .font(@HelveticaNeue_Light, 300, 20px, @black-color01);
    margin-bottom:30px;
}

.truckload-revieworder {
    .headerHold {
        padding-left: 30px !important; 
        .screen-mob({ 
            padding: 15px !important; 
        });
        .order-details-header{
            .font(@openSans_Bold,normal,14px,@black-color01);
        }
        .edit-truckload-container{
            display:inline-block;
            position: relative;
            .edit-text{
                .font(@openSans,normal,18px,@black-color01);
                font-style:italic;
                text-transform:none;
                cursor:pointer;
                position: absolute;;
                top:10px;
                right: 25px;
            }
            .edit-icon{
                background: url(/_ui/responsive/cat/images/edit.png) center no-repeat;
                display:inline-block;
                width:15px;
                height:15px;
                margin-left:10px;
                cursor:pointer;
                position:relative;
                top:15px;
                .screen-mob({
                    top: 0px;
                });
            }
        }
    }
    .truckload-container {
        .screen-mob({
            margin: 20px 10px 0px;
            border: 1px solid @grey12;
        });
        .screen-tab-desk({
            & {
                display: table;
                width: 100%;
                height: 230px;
                padding-left: 40px;
                padding-top: 40px;
                padding-right:30px;
            }
        });
        .truck-no {
            .font(@openSans_Bold,bold,14px,@black-color01);
            .screen-tab-desk({
                text-transform: uppercase;
            })
        }
        .truck-info {
            .font(@openSans_Bold,bold,12px,@black-color01);
            white-space: nowrap;
            .screen-mob ({
                font-size: 14px;
                padding-bottom: 10px;
            })
        }
	    .remove-icon{
            background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
            display:inline-block;
            width:12px;
            height:12px;
            cursor: pointer;
            position:absolute;
            right:0;
            .screen-mob ({
                right:20px;
                top:20px;
            })
        }
        .heading {
            .font(@openSans_Light,normal,14px,@black-color01);
            .screen-mob({
                font-size: 10px;
            });
        }
        .value {
            .font(@HelveticaNeueMedium,normal,14px,@black-color01);
            .screen-tab-desk ({
                padding-top: 10px !important;
            })
        }
        .truckload-info-table {
            .screen-tab-desk({
                & .row {
                    div{
                        padding-top: 15px;
                    }
                    .quantity {
                        text-align: right;
                    }
                }    
                & div:first-child {
                    padding-top: 20px;
                }
            });
            & >:last-child {
                .screen-tab-desk({
                    margin-top: 15px;
                });
                .screen-mob({
                    padding-top: 10px;
                });
                border-top: 1px solid @grey12;
            }
            > div {
                .screen-mob({
                    padding-bottom: 10px;
                })    
            }
            & .row:not(:last-child) {
                div:first-child{
                    .screen-mob({
                        font-family: @HelveticaNeue_Light;
                    })
                }
            }
        }
        .truck-box-1 {
            .screen-mob ({
                border-bottom: 1px solid @grey12;
                padding: 20px 15px !important;
                .value {
                    .font(@HelveticaNeue,normal,14px,@black-color01);
                }
            })
        }
        .truck-box-2 {
            .screen-mob({
                padding: 20px 10px !important;
            })
        }
        .screen-tab-desk({
            .truck-data {
                float: none;
                display: table-cell;
            };
            .truck-box-1 {
                .truck-price {
                   margin: 30px 0;
                }
            }
            .truckload-img {
                position: absolute;
                left: 5%;
                top: 35px;
            }
        });
        .screen-mob({
            .truck-box-1 {
                .truck-price {
                   margin:25px 0;
                }
            }
        });
    }
   
    .truckload-img {
        width: 90%;
        height: 160px;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 0px;
        .screen-tab-desk({
            margin-left: 50px;
        });
        .screen-mob({
            margin-left: 10px;
        });
    }
    .orderContentTab_new {
        border-top: 0px !important;
        .screen-mob({
            margin: 0px 10px;
            border: 1px solid @grey12;
        });
        .errorLabel{
            sup {
                font-size: 100%;
                top: 0.1em;
                margin-left: -3px;
            }
        }
    }
    .truckload-unit-price { 
        padding-bottom: 20px;
        padding-top: 35px;
        .screen-mob({
            padding: 20px 0px 0px;
            background-color: @grey09;
            margin-top: 10px;
        });
        > .row {
            background-color: @white;
            &:first-child {
                .screen-mob({
                    padding-top: 15px;
                });
            }
        }
        .label {
            .font(@openSans_Bold,bold,16px,@black-color01);
            padding-bottom: 20px;
            text-align: right;
            .screen-mob({
                .font(@openSans_Light,300,12px,@black-color01);
                text-align: left;
            });
        }
        .value {   
            .font(@HelveticaNeueMedium,normal,18px,@black-color01);
            text-align: right;
            .screen-tab-desk({
                .font(@HelveticaNeue_Light,normal,18px,@black-color01);
                padding-right: 100px;
            });
            .screen-mob({
                font-size: 16px;
            })
        }
    }
    .orderContentTabLower {
        padding-bottom: 0px;
        margin-right:0!important;
        .screen-mob({
            padding-top: 20px;
        });
        
    }
    .productContainer{
        position: relative;
        border-top: 1px solid @grey12;
        .screen-tab-desk({
           
            &::before{
                display:block;
                content:'';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 33%;
                left: 0;
                margin: auto;
                width: 1px;
                background:@grey12;
            }
        });
       .screen-mob({
        border: none;
       })
      
    };
    .screen-mob({
        .productContainer +  .productContainer{
            &::before{
                display: block;
                position: relative;
                content:'';
                height:1px;
                .calc(width,"100% + 10px");
                left:-10px;
                background:@grey12;
                margin-bottom:40px;
            }
        }
    });
       
       
    .productInfoContainer{
        padding:40px 0 40px 40px;
        .screen-mob({
            padding: 0;
            margin-bottom: 20px;
        });
        .productName{
            display:block;
            padding-left: 20px;
            margin-bottom: 30px;
            .font(@HelveticaNeueMedium,500,18px,@black-color01);
            .screen-mob({
                font-size: 14px;
                padding-left:0;
                margin-bottom: 10px;
            });
        }
        .productQuantity{
            display: block;
            padding-left: 20px;
            margin-bottom: 10px;
            .font(@openSans_Light, 300, 14px, @black-color01);
            .screen-mob({
                font-size: 10px;
                padding-left:0;
            })
        }
        .productCount{
            display:block;
            padding-left: 20px;
            .font(@HelveticaNeue, 500, 14px, @black-color01);
            .screen-mob({
                font-size: 12px;
                padding-left: 0px;
            });
        }

    }
    .productImage{
        border: 1px solid @grey12;
        padding: 10px;
    }
    .orderDetailsHeaderTab_new {
        .screen-tab-desk({
            border-bottom: 1px solid @grey12;
        });
    }
    .orderContentTabHeader, .po-info-message, .orderContentTabLower {
        padding-left: 10px !important;
        .screen-tab-desk({
            padding-left: 0px !important;
        })
    }
    .POcontainer{
        padding-left: 60px;
        padding-top: 40px;
        .screen-mob({
            padding: 0;
        })
        
    }
    .po-info-message{
        .screen-mob({
            padding-left: 0 !important;
        })
    }
    .inputPOContainer{
        margin-top:25px;
        div{
            margin:0 40px 40px 0;
            .screen-mob({
                margin: 0 0 40px;
            });
        }
        .inputPO{
            margin:0 0 0 10px;
            .screen-mob({
                margin:0 0 0 5px;
                width:85%;
                vertical-align: super;
            });
        }
        .POIndexnumber{
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
        }
    }
    .validPOCounter{
        .font(@HelveticaNeue, 300, 12px, @black-color01);
        margin-top:20px;
        .status-board{
            display: inline-block;
            width: 25px;
            height: 25px;
            vertical-align: bottom;
        }
        .warning{
            .status-board;
            background: url(/_ui/responsive/cat/images/warning.png) bottom no-repeat;
            background-size: 20px 20px;
        }
        .caution-info{
            .status-board;
            background: url(/_ui/responsive/cat/images/info-icon-type2.png) bottom no-repeat;
            background-size: 20px 20px;
        }
        .tick{
            .status-board;
            background: url(/_ui/responsive/cat/images/yess.png) bottom no-repeat;
        }
    }
}
.entry-address {
    margin-top: 30px;
    padding-left: 40px;
    .screen-mob({
        margin-top: 15px;
        padding-left: 0;
    });
    p.lable {
        text-transform: uppercase;
        .font(@openSans, 300, 13px, @black-color01);
        .screen-mob({
            font-size: 10px;
        });
    }
    #shipping-address-dropdown {
        width: 100%;
        .shipping-address-dropdown-label {
            padding: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 90%;
        }
        .shipping-address-dropdown-arrow {
            top: 12px;
            margin-right: 10px;
            right: 0px;
        }
    }
    .shipping-address-dropdown-menu {
        width: 100%;
        label {
            .font(@openSans, 300, 12px, @black-color01);
        }
    }
}
.truckloadDealer {
    margin-bottom: 40px;
    margin-top: 0px !important;
    .dealer-box {
        padding: 40px 30px;
        .screen-mob({
            padding: 20px 10px;
        })
    }
    .screen-mob({
        margin-bottom: 20px !important;
    });
    .formelementhold {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    #dealerName {
        font-size: 14px !important;
        font-weight: normal !important;
    }
}
