.no-border-bottom {
    border-bottom: 0 !important;
}

#reviewOrderForm{
    width:100%;
    // @media (min-width: 768px){
    //   width:100%;
    // }
}
.order-review-page {
    
    .orderDetails_new {
        background-color: @white;
        padding: 0px;
        .orderContentTab_new {
            .screen-mob({
                margin: 20px 0;
            });
            .truck-img {
                width: 150px;
                height: 110px;
                border: 1px solid @grey17;
                .screen-mob({
                    width: 90px;
                    height: 62px;
                    margin-left: 15px;
                });
            }
            .cuv-line-entry {
                .screen-mob({
                    border: 1px solid @grey17;
                    border-bottom: none;
                    margin: 0 10px 0px;
                })
            }
            .cuv-container {
                .screen-mob({
                    border-bottom: 1px solid @grey17;
                });
            }
            .config-id {
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
            }
            .config-id-mb {
                .screen-mob({
                    display: inline-block !important;
                });
                vertical-align: top;
                padding-top: 5px;
                padding-left: 10px;
            }
            .details-section {
                .screen-tab-desk({
                    padding-top: 20px;
                    border-top: 1px solid @grey17;
                });
            }
            .details-section-mb {
                .screen-mob({
                    margin-top: 10px;
                    border-top: 1px solid #E7E7E7;
                });
            }
            .info-body {
                padding-left: 0px;
                padding-right: 0px;
            }
            .img-details {
                padding-top: 40px;
                .screen-mob({
                    padding-top: 20px;
                })
            }
            .po-section {
                .screen-tab-desk({
                    border-top: 1px solid @grey17;
                    border-left: 1px solid @grey17;
                });
            }
            .po-section-first {
                .screen-tab-desk({
                    border-left: 1px solid @grey17; 
                });
            }
            .po-box-align {
                .screen-tab-desk({
                    margin-top: 20px;
                });
                .screen-mob({
                    padding-left: 5px;
                });
            }
            .line-item {
                padding-right: 0px;
                .screen-mob({
                    padding-left: 0;
                    padding-bottom: 20px;
                    border-bottom: 1px solid @grey17;
                });
            }
            .po-no {
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                padding-right: 5px;
            }
            .element-1 {
                .font(@openSans_Light, 300, 14px, @black-color01);
                margin-top: 20px;
                .screen-mob({
                    padding-left: 15px;
                });
            }
            .po-count-msg {
                .font(@HelveticaNeueMedium, 500, 12px, @black-color01);
                vertical-align: super;
            }
            .po-count-img {
                width: 20px;
                height: 20px;
                display: inline-block;
            }
            .message-section {
                padding: 20px 50px;
                .screen-mob({
                    padding-left: 5px;
                });
            }
            .po-count-img-full {
                @extend .po-count-img;
                background: url(/_ui/responsive/cat/images/yess.png) no-repeat;
                background-size: 20px;
            }
            .po-count-img-empty {
                @extend .po-count-img;
                background: url(/_ui/responsive/cat/images/warning.png) no-repeat;
                background-size: 20px;
            }
            .po-count-img-not-full {
                @extend .po-count-img;
                background: url(/_ui/responsive/cat/images/info-icon-type2.png) no-repeat;
                background-size: 20px;
            }
            .element-2 {
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                margin-top: 10px;
                .screen-mob({
                    padding-left: 15px;
                    margin-top: 20px;
                });
            }
            .po-info-message {
                padding-left: 5px;
                margin-top: 10px;
                .screen-tab-desk({
                  padding-left: 50px;
                });
                .font(@HelveticaNeue, 300, 12px, @black-color01);
                text-align: left;
                .purchase-text {
                    .font(@HelveticaNeue_Light, normal, 12px, @black-color01);
                    .screen-mob({
                        display: block;
                    });
                }
                
            }
        }
        .typeahead-template-wrapper{
            padding-left: 0;
        }
    }
    .orderDetailsHeader_new {
        height: 60px;
        border-bottom: solid 1px @grey12;
    }   
    .orderDetailsHeaderTab_new {
        position: relative;
        width: 100%;
       @media (min-width: 768px){
            // height: 117px;
            // border-bottom: solid 1px @grey12;
        }
        .review-row {
            border-bottom: 1px solid @grey12;
            & > div:nth-child(4), div:nth-child(5), div:nth-child(6){
                .tabContentHeader {
                    .screen-mob-max-portrait({
                        height: 90px;
                    });
                }
            }
        }
        .utv-product {
            .tabContentHeader {
                .screen-tab-desk({
                    padding: 31px 0 20px 50px;
                })
            }
            .tabContentText {
                .screen-tab-desk({
                    padding: 0 0 30px 50px;
                })
            }
            .tabContentLast {
                .screen-mob({
                    clear: none;
                })
            }
        }
    }
    .utv-product-visible {
        bottom: 0px;
        border-bottom: solid 1px @grey12;
        .screen-mob({
            padding-bottom: 30px;
        })
    }
    .after-border{
        content: "";
                // background-color: #000;
                position: absolute;
                height: 100%;
                top: 0;
                border-left: 1px solid @grey12;
    }
    .tabContent {
        // height: inherit;
        padding: 0px;
        position: static;
        .screen-tab-desk({
            // border-right: solid 1px @grey12;
            &.tabContent:not(:first-child)::after {
                .after-border;
            }
        })
    }
    .tabContent-config::after{
        .after-border;
    }
    .tabContentLast {
        height: inherit;
        padding: 0px;
        position: static;
        @media (min-width: 768px){
            //border-right: solid 1px @grey12;
            &.tabContentLast::after {
                content: "";
                // background-color: #000;
                position: absolute;
                height: 100%;
                top: 0;
                border-left: 1px solid @grey12;
            }
        }
        @media (max-width: 767px) {
            clear: both;
        }
        .tabContentText {
            border: 0;
        }
    }
    .tabContentText {
        .decrement{
            background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            cursor: pointer;
            position: relative;
            top: 5px;
        }
        .increment{
            background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
            display: inline-block;
            width: 15px;
            height: 15px;
            cursor: pointer;
            position: relative;
            top: 5px;
        }
        .saveSection{

           text-align: right;
        }
        .updateSection{
           @media (min-width: 768px){
             padding-left: 85px;
            }
             text-align: right;
        }
        .screen-tab-desk({
           padding: 0px 0px 30px 50px;
        });
        padding: 0px 0px 0px 20px;
        .hidden-data {
            visibility: hidden;
        }
        .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
        .updateButton{
              margin-top: -3px;

        }
        .saveButton{
            @media (min-width: 768px){
              margin-top: -5px;
            }
            margin-top: -5px;
            margin-left:-20px;

        }
        .upate-save {
            .font(@openSans_Medium, 500, 12px, @black-color01);
            font-style: italic;
            cursor: pointer;
        }
        .disable-save {
            cursor: not-allowed;
        }
        .operation {
            cursor: pointer;
        }
    }
    .tabContentHeader {
       padding: 30px 0px 15px 20px;
       .screen-tab-desk({
          padding: 31px 0px 20px 50px;
          height: 90px;
        });
        .font(@openSans_Light, 300, 14px, @black-color01);
    }
    .orderContentTabHeader {
        .screen-tab-desk({
           padding: 0 0 0 50px;
        });
        padding:20px 0px 0px 5px;
    }
    .orderContentTabText {
        padding: 0px 0px 44px 49px;
    }
    .shipping-review {
        padding: 0;
        .screen-tab-desk({
            margin-bottom: 50px;
            margin-top: 50px;
            border-top: 1px solid @grey13;
        });
        &> :first-child{
            border-bottom: 1px solid @grey13;
            padding: 10px 0;
            .screen-mob({
                padding: 20px 0px;
            });
            .font(@openSans, normal, 14px, @black-color01);
        }
        .shipping-data {
            > div {
                margin-bottom: 5px;
            }
            > :last-child {
                margin-bottom: 20px;
            }
            > :first-child {
                margin-top: 20px;
            }
            .element-1 {
                .font(@HelveticaNeue, normal, 14px, @black-color01);
            }
            .element-2 {
                .font(@HelveticaNeue_Light, normal, 14px, @black-color01);
            }
        }
        .element-1 {
            display: inline-block;
            padding-left: 20px;
        }
        .element-2 {
            display: inline-block;
            text-align: left;
        }
        .element-1, .element-2 {
            .screen-mob({
                text-transform: uppercase;
            })
        }
    }
    .shipping-order {
        .screen-tab-desk({
            padding: 0px 0px 0px 50px;
            margin-top: 0;
            .shipping-review {
                border: 1px solid @grey13;
            }
        });
    }
    .orderContentTabLowerContent {
        padding: 0px;
        margin-right: 25px;
        margin-bottom: 44px;
        border-bottom: solid 1px @grey12;
        &:ng-invalid {
            border: solid 1px #d0021b;
            .inputCell{
                padding-left:0px;
            }
        }
    }
    .inputPO {
        width:80%;
        background-color: transparent;
        border: 0px solid;
        margin-right: 20px;
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: solid 1px @grey10;
        margin-bottom: 40px;
        border-radius: 0px;
        .font(@HelveticaNeue, 300, 14px, @black-color01);
        &:focus {
            outline: none;
            border-bottom-color: #ffcc00;
        }
        &::placeholder {
            color: @grey10;
            font-style: italic;
            font-weight: 100;
            margin-left: 2px;
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: @grey10;
            font-style: italic;
            margin-left: 2px;
        }
        &:-moz-placeholder {
            font-weight: 100;
            color: @grey10;
            font-style: italic;
            margin-left: 2px;
        }
        &:-ms-input-placeholder {
            font-weight: 100;
            color: @grey10;
            font-style: italic;
            margin-left: 2px;
        }
        &:-moz-placeholder {
            font-weight: 100;
            color: @grey10;
            font-style: italic;
            margin-left: 2px;
        }
        .screen-mob({
            width: 90%;
            font-size: 12px;
        });
    }
    .po-alignment {
        margin-right: 0px;
        margin-bottom: 0px;
        .screen-mob({
            width: 80%;
        });
    }
    .inputPOQuantity {
        background-color: transparent;
        border: 0px solid;
        width: inherit;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    .orderContentTabLower {
        .inputCell {
           .screen-tab-desk({
             //width: 20%;
            });
            padding-left:0;
        }
        .screen-tab-desk({
          padding: 40px 0 30px 50px;
        });
        
        padding: 40px 15% 30px 20px;
        &.row {
           .screen-tab-desk({
              margin-right: 0px;
              padding-top: 0px;
           });
        }
        .screen-mob({
            padding: 0px 5px 25px 5px;
        });
    }
    .inputBox {
        padding: 0;
        width: 40px;
        height: 25px;
        border: solid 1px @black-color01;
    }
    .submitButton {
        background-color: @grey07;
        border: solid 1px @grey10;
        height: 40px;
    }
    .submitButtonText {
        padding: 14px 30px 14px 30px;
    }
    .decrement {
        width: 15px;
        height: 1.3px;
        background-color: @grey19;
    }
    .increment {
        width: 15px;
        height: 1.3px;
        background-color: @grey19;
    }
    .errorLabel {
        padding-right: 0;
        .font(@openSans_Light, 300, 14px, @black-color01);
        .screen-tab-desk({
          padding-top:0;
          padding-top: 40px;
        });
    }
    .error {
        padding-left: 10px;
        .font(@openSans, normal, 12px, @red02);
        font-style: italic;
        text-align: left;
        .screen-mob({
            padding-left:0;
        })
    }
    .hasError {
        border-bottom: solid 1px #d0021b;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
        .drop-down-img {
            z-index: 9;
        }
    }
    .col-md-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .enter-comments-section {
        float: left;
        width: 100%;
    }
}
.no-padding-desktop {
    .screen-tab-desk ({
        padding: 0!important;
    });
}
.no-padding-mobile {
    .screen-mob({
        padding: 0 !important;
    });
}
.cuv-unit-price { 
    padding-bottom: 20px;
    padding-top: 35px;
    background: white;
    .screen-tab-desk({
        border-top: 1px solid @grey17;
        margin-left: 5px !important;
    });
    .screen-mob({
        padding: 20px 0px 0px;
        background-color: @grey09;
        margin-top: 10px;
    });
    > .row {
        background-color: @white;
        &:first-child {
            .screen-mob({
                padding-top: 15px;
            });
        }
    }
    .label {
        .font(@openSans_Bold,bold,16px,@black-color01);
        padding-bottom: 20px;
        text-align: right;
        .screen-mob({
            .font(@openSans_Light,normal,16px,@black-color01);
            text-align: left;
        });
    }
    .value {   
        .font(@HelveticaNeueMedium,normal,18px,@black-color01);
        text-align: right;
        .screen-tab-desk({
            .font(@HelveticaNeue_Light,normal,18px,@black-color01);
            padding-right: 100px;
        })
    }
}