

#CaterpillarPageWrap {
    .disclimer-error-message {
        .font(@openSans, normal, 12px, @red02);
        font-style: italic;
    }
    .uib-typeahead-match{
            a{
                padding-top:20px;
                padding-bottom:20px;
            }
            &:not(:last-child){
                a{
                    border-bottom:1px solid @grey10;
                    .screen-mob({
                        border-bottom:1px solid @grey17;
                    })
                }
                
            }
            &:hover{
                cursor: pointer;
            }

    }
        .result{
            padding:0;
            margin-left:25px;
            background-color:@white!important;
            .font(@HelveticaNeueThin, 300, 12px, @grey07);
            &:active{
                background-color:@white!important;
                
            }
            strong{
                font-family:@HelveticaNeueMedium;
            }
            .screen-mob({
                padding-left:25px;
                margin-left:0;
            })
        }
    
    .align-to-left {
        margin-left: 5px;
        padding-left: 0px;
    }
    .super-header {
        letter-spacing: -0.5px;
        .font(@openSans, bold, 18px, @black-color01);
        margin: 0 0 40px 0;
    }
    .orderDetailsTab {
        .screen-tab-desk({
            margin-left: 5px;
        })
    }
    .sectionWrap {
        background: @white;
        .headerHold {
            border-bottom: 1px solid @grey12;
            .font(@openSans, bold, 14px, @black-color01);
            padding: 20px 30px;
            .screen-mob({
                padding-left: 20px;
            })
        }
        &.orderDetailsHold {
            height: 260px;
            overflow: hidden;
            .subsectionhold {
                border-right: 1px solid @grey12;
                height: 260px;
                padding: 5px 20px 5px 20px;
                .form-group {
                    margin: 20px;
                    position: relative;
                    .updateorderbutton {
                        position: absolute;
                        bottom: 5px;
                        right: 10px;
                        top: 30px;
                        .font(@openSans, normal, 12px, @black-color01);
                        font-style: italic;
                        text-transform: lowercase;
                        text-decoration: none;
                    }
                }
                .heading {
                    text-transform: uppercase;
                    .font(@openSans, 300, 14px, @black-color01);
                    margin-bottom: 20px;
                }
                .value {
                    .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                    &.padding-20 {
                        padding-bottom: 20px;
                    }
                }

                &:last-child {
                    border-right: none;
                }
            }
            label {
                text-transform: uppercase;
                .font(@openSans, 300, 14px, @black-color01);
                text-align: left;
            }
            .form-control {
                border: 0px;
                box-shadow: none;
                font-weight: bold;
                padding-left: 0px;
                border-radius: 0px;
                font-size: 12px;
                background: @white;
                color: @black-color01;
                &:focus {
                    border-bottom: 1px solid #c2c2c2;
                }
            }
            #purchaceorder.form-control {
                border-bottom: solid 1px @grey10;
                width: 150px
            }
        }

        &.delearsDetailsHold {
            .headerHold {
                .screen-mob({
                    padding-left: 10px;
                })
            }
            .star-info-message {
                .font(@HelveticaNeueThin, 100, 14px, @black-color01);
                padding-bottom: 18px;
                padding-left: 35px;
            }
            #dealerName {
                margin-top: -10px;
            }
            .form-control {
                border: 0px;
                box-shadow: none;
                padding-left: 0px;
                border-radius: 0px;
                background: @white;
                .font(@HelveticaNeueMedium, bold, 12px, @black-color01);
                &.disabled {
                    color: @grey14;
                }
            }
            select {
                &.form-control {
                    border-bottom: solid 1px @grey10;
                }
            }
            margin-top: 30px;
            .screen-tab-desk({
                margin-left: 5px;
            });
            .formelementhold {
                padding: 30px 30px 30px 10px;
                .dealer-section {
                    .screen-mob({
                        padding-left: 0px;
                    });
                }
                .screen-tab-desk({
                    padding: 30px 30px 30px 35px;
                })
            }
            input.form-control {
                border-bottom: 1px solid @grey10;
                padding-bottom: 0px;
            }
            input.form-control.no-border {
                border: 0px;
            }
            label {
                margin-bottom: 0px;
                .font(@openSans, 300, 12px, @black-color01);
                height: 17px;
            }
            p.lable {
                text-transform: uppercase;
                .font(@openSans, 300, 13px, @black-color01);
            }
            input[type='checkbox'] {
                display: none;
                &+label {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #c2c2c2;
                    float: left;
                    background: @white;
                    .glyphicon {
                        display: none;
                    }
                }
                &:checked {
                    &+label {
                        background: @sunflower-yellow;
                        .glyphicon {
                            display: block;
                        }
                    }
                }
            }
            .checkboxlabel {
                float: left;
                padding-left: 10px;
            }
            .row {
                padding-top: 10px;
            }
        }
    }
}

#submitOrderHold {
    .order-save-btn{
        padding: 12px 70px;
        opacity:0.5;
        outline: none;
        .screen-mob({
            width:100%;
            margin-bottom: 20px;
        })
    }
    .checkBoxSection{

         padding: 0;
    }
    .tickFont{
       background: url(/_ui/responsive/cat/images/yellow-tick.png) center right no-repeat;
            display: inline-block;
            width: 15px;
            height: 15px;
            cursor: pointer;
            position: relative;
            top: -2px;
            left: -2px;
    }
    .indicateMsg{
        margin-bottom: 20px;
        @media (min-width: 768px){
          //padding-left: 34px;
        }
        padding-left: 0;
        font-style: italic;
        text-align: left;
        .font(@HelveticaNeue, 300, 14px, @black-color01);

    }
    input[type='checkbox'] {
        display: none;
        &+label {
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 1px solid #c2c2c2;
            float: left;
            background: @white;
            .glyphicon {
                display: none;
            }
        }
        &:checked {
            &+label {
                background: @sunflower-yellow;
                .glyphicon {
                    display: block;
                }
            }
        }
    }
    .checkboxlabel {
        float: left;
        padding-left: 10px;
        .font(@HelveticaNeueThin, 100, 16px, @black-color01);
        text-transform: none;
        position: relative;
        @media (min-width: 768px){
           top: -4px;
           left: 0;
        }
        top: -24px;
        left: 15px;
    }
    // height: 100px;
    background: #F6F6F6;
    margin: 20px 0 0 5px;
    
}

#submitorderbuttonHold {
    text-align: center;
    @media (min-width: 768px){
        padding-right: 10px;
    }
    input[type='submit'] {
        line-height: normal;
        text-transform: uppercase;
        height: 35px;
        padding-left: 20px;
        padding-right: 20px;
        background: #3f3f3f;
        color: @white;
        border: 0px;
        @media (min-width: 768px){
          float: right;
          margin-right: -15px;
        }
    }
    input[type='button'],
    button {
        line-height: normal;
        text-transform: uppercase;
        height: 35px;
        padding-left: 20px;
        padding-right: 20px;
        background: #3f3f3f;
        border: 0px;
        float: right;
        margin-right: -15px;

        .font(@openSans, 500, 14px, @grey03);
        &.disabled {
            background-color: @grey14;
        }
        &.truckLoad-submit-btn{
            height:40px;
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    
    button {
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .screen-mob({
        &> input {
            margin: 10px 0 !important;
            width: 100%
        }
    });
   
}

.edit-order-button {
    line-height: normal;
    text-transform: uppercase;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    background: @white;
    border: 1px solid @grey10;
    float: right;
    margin-right: -15px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: @black-color01;
    .screen-mob({
        margin: 10px 0;
        width: 100%
    })
}


#orderConfirmationHold {
    margin-top: 50px;
    .conmsghold {
        padding: 30px;
    }
    .headerhold {
        margin-bottom: 20px;
    }
    h3 {
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
    }
    .conlabel {
        padding-left: 50px;
        font-size: 12px;
        text-transform: capitalize;
    }
    .convalue {
        font-size: 12px;
        font-weight: bold;
    }
    .conbuttonhold {
        margin-top: 40px;
        text-align: center;
        button {
            background: #3F3F3F;
            color: @white;
            height: 35px;
            line-height: 35px;
            padding-left: 20px;
            padding-right: 20px;
            text-transform: uppercase;
        }
    }
    .padding-top {
        padding-top: 10px;
    }
}

#shipping-address-dropdown {
    background-color:@grey11;
    border: none;
    text-transform: none !important;
    text-decoration: none !important;
    border-bottom: 1px solid @grey10;
    padding: 0 0 3px 5px !important;
    display: inline-block;
    width:50%;
    &:hover {
        //background: none;
        border: none;
        text-transform: none !important;
        border-bottom: 1px solid @black-color01;
    }
    &:focus {
        //background: none;
        border: none;
        text-transform: none !important;
        border-bottom: 1px solid @black-color01;
    }
    &:active {
        //background: none;
        border: none;
        text-transform: none !important;
    }
    .shipping-address-dropdown-label {
        display: block;
        text-align: left;
        .font(@HelveticaNeueMedium, 500, 14px, @black-color01) !important;
        text-decoration: none;
        margin-bottom: 0px;
    }
}

.shipping-address-btn {
    padding: 0 !important;
}

.shipping-address-dropdown-menu {
    max-height: 200px;
    overflow: auto;
    margin: 2px 0 0 0;
    padding: 15px 0 15px 15px !important;
    width:50%;
    min-width: inherit;
    .shipping-address-dropdown-item {
        &:hover {
            border-bottom: 1px solid @sunflower-yellow;
        }

        label {
            display: block;
            text-align: left;
        }
        a {
            padding: 0 50px 0 0 !important;
            background-color: none;
        }
        /*&:last-child {
            border-bottom: 0;
        }*/
    }
}

.shipping-address-dropdown-arrow {
    position: absolute;
    right: 50%;
    top: 20px;
    margin-right: 5px;
    background-image: url(/_ui/responsive/cat/images/drop-down-arrow.png) center no-repeat;
}

.billing-address-section {
    div {
        padding: 0 0 5px 0;
        label {
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01) !important;
        }
    }
}

.address-dropdown-header {
    .font(@openSans, 300, 12px, @black-color01);
    padding-bottom: 10px;
}

.enter-comments-section {
    .commentInput { 
                margin-top: 15px;
                width: 100%;

    }
    .text-counter {
        position: absolute;
        top: 20px;
        right: 20px;
        .font(@HelveticaNeueThin, 400, 14px, @grey10);
        font-style: italic;
    }
    .comment-label-padding {
        margin-bottom: 30px;
        padding-top: 15px;
        padding-left: 0;
    }
}

.no-padding {
    padding: 0 !important;
}
