.cat-card-container-mobile-only  {
    background-color: @white;
    margin-top: 15px;
    padding: 15px;
    box-shadow: 0 0 7px 3px rgba(234, 234, 234, 0.5);
    border: solid 1px #E7E7E7;
    .text{
        .font(@openSans, 300, 12px,@black-color01);
        line-height: 1.2;
    }
    .value{
        .font(@HelveticaNeueBold, 500, 12px,@black-color01);
        word-wrap:break-word;
    }
    .header-content{
        padding: 0px;
        .super-header{
            .super-header-text{
                .font(@openSans, bold, 16px,@black-color01);
            }
            .favorite{

            }
        }
    }
    .body-content{
        .text{
            margin-bottom: 5px;
        }
        padding: 10px 0px 20px 0px;
        .product-info{
            padding-bottom: 15px;
        }
        .product-image{

        }
        .main-header{
            .font(@openSans, bold, 14px,@black-color01);
            height: 35px;

            .screen-mob({
                height: auto;
            });
        }
        .price-text{
            .font(@HelveticaNeue_Light, 300, 14px,@black-color01);
            padding-left: 0;
        }
        .used-tag{
            margin-top:14px;
            float: right;
            border: solid 1px @grey08;
            padding: 3px 5px;
            .font(@openSans, 600, 10px,@grey10);
        }
    }
    .footer-content{
        .text{
            margin-bottom: 8px;
        }
        .new-products{
            .text {
                .font(@openSans, 300, 12px,@black-color01);
            }
            .value {
                .font(@HelveticaNeue, 500, 12px,@black-color01);
            }
        }
    }
    .card-lane-color-container{
        .card-lane-color{
            display: inline-block;
            width: 11px;
            height: 11px;
            margin-left: 2px;
            border-radius: 50%;
            &.lane-1{
                background: @lane1;
            }
            &.lane-2{
                background: @lane2;
            }
            &.lane-3{
                background: @lane3;
            }
        }
    }
}