.discontinuedBorder{
      border: solid 1px @red02!important;
}
.discontinuedWarnImage{
  padding-left:0;   
}
.warn-icon{
      margin-top: -5px;
      padding-left: 0;
      width: 25px;
      height: 25px;

    }
.warn-iconFullCard{
      margin: 11px 0 0 5px;
      padding-left: 0;
      width: 25px;
      height: 25px;

    }
.discontinuedInfo{
    opacity:0.1;
}

.card-anchor-link{
    display: block;
}
.cat-card-container {
    width: 100%;
    background-color: #ffffff;
    border: solid 2px #f4f4f4;
    padding-bottom: 10px;
    .discontinuedText{
      padding-left: 0;
      position: absolute;
      bottom:10px;
      left:29px;
      .calc(width,"100% - 20px");
      .font(@HelveticaNeue_Light, 300, 18px, @red02);
      .screen-mob({
        left: 9px;
        padding: 0;
        width:90%;
      });
    }
    .discontinuedTextFullCard{
       position:relative;
       top:5px;
    }
    .header-content {
        cursor: pointer;
        padding: 0px;
        .super-header {
            margin: 0px;
            >div {
                padding: 0px;
            }
            font-family: "HelveticaNeue_Light";
            font-size: 14px;
            text-align: left;
            color: #9b9b9b;
            .super-header-text {
                padding: 5px 20px 5px;
                border-bottom: solid 1px @grey05;
                img.verified {
                    padding: 1px;
                    background-color: #7ed321;
                    border-radius: 50%;
                    width: 9px;
                    margin-left: 10px;
                }
            }
        }
        .image {
            >div {
                background-color:@white;
                padding: 0px;
            }
            margin:10px 10px 0px;
            .product-image {
                img {
                    width: 100%;
                    display: inline-block;
                    float: left;
                    border:solid 2px @grey05;
                    min-height: 75px;
                    height: auto;
                }
                .discontinuedImage{
                    opacity: .25;
                }
            }
            .favorite {
                .book-marked {
                    cursor: pointer;
                }
                img.book-marked {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: auto;
                }
                img.not-book-marked {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: auto;
                }
            }
        }
    }
    .body-content {
        cursor: pointer;
        
        border: solid 1px #f4f4f4;
        border-top:0px; 
        .used-product-tag {
            padding: 2px 10px;
            .font(@openSans, 600, 10px, @grey10);
            display: inline-block;
            top: -20px;
            .screen-mob({
                top: -10px;
            });
            right: -9px;
            position: absolute;
            border: solid 1px #f4f4f4;
        }
        .main-header {
            font-family: @openSans;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            color: #000000;

            &.full-card {
                font-family: HelveticaNeue_Light, Helvetica, Arial, sans-serif;
                font-weight: 300;
                font-size: 16px;
                color: #000;
                padding-bottom: 16px;
                word-wrap: break-word;
                padding-bottom: 0px;
            }
        }
        .sp-card-header {
            margin: 0px;
            border: solid 1px #f4f4f4;
            margin-bottom: 10px;
            .main-header {
                padding: 20px;
            }
        }
        .sub-header {
            font-family: "HelveticaNeueThin";
            font-size: 14px;
            font-weight: 100;
            text-align: left;
            color: #000000;
            text-transform: uppercase;
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .info {
            .screen-tab({
                padding: 0px 20px 10px;
            });
            .screen-desk({
                padding: 0px 30px 10px;
            });
            >div.row {
                padding-top: 10px;
                &.price-row{
                    padding-bottom: 5px;
                }
            }

            .text {
                font-family: "Open Sans", sans-serif;
                font-weight: 300;
                font-size: 10px;
                color: #000;
                text-transform: uppercase;
                padding-bottom: 5px;
                span{
                        font-size:14px;
                }
            }
            .value {
                font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: #000;
                padding-bottom: 12px;
                word-wrap:break-word;

            }
        }
        .utv-block{
            margin-top: 10px;
            .info{
                padding-top: 0px;
                .row.price-row{
                    padding-top: 0px;
                    padding-bottom: 10px;
                }
            }
            .utv-row{
                    padding-top: 15px;
                }
            .price{
                .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
            }
            .text{
                .font(@openSans, 300, 10px, @black-color01);
                    padding-bottom: 0px;
            }
            .value{
                .font(@HelveticaNeue_Light, bold, 14px, @black-color01);
                padding-bottom: 0px;
            }
        }
    }
    .footer-content {
        border-top: solid 2px #f4f4f4;
        padding: 15px;
        .in-stock {
            font-family: "HelveticaNeueThin";
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            color: #979797;
        }
        .out-of-stock {
            .quantity {
                margin: 0px auto;
                width: 145px;
                text-align: center;
                padding-bottom: 15px;
                input {
                    margin-left: 15px;
                    margin-right: 15px;
                    text-align: center;
                }
                i.fa {
                    font-size: 17px;
                    cursor: pointer;
                }
            }
            .reorder {
                margin: 0px auto;
                width: 145px;
                button {
                    background-color: #ffffff;
                    border: solid 1px #4a4a4a;
                    text-transform: uppercase;
                    padding: 10px 40px;
                    font-family: @openSans;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    color: #000000;
                }
            }
        }
    }
    &.row {
        margin: 0;
    }
}

.single-card {
    width: 100%;
    .screen-tab-desk({
        padding-left: 50px;
        padding-right: 50px;
    });
}

.guided-sales-container {
    .cat-card-container {
        .header-content .image .product-image img {
            min-height: 150px;
        }
    }
}