header {
    background: none;
    margin-bottom: 0px;
    .navigation {
        &.navigation--top {
            background-color: @black-color01;
            padding-left: 0px;
            padding-right: 0px;
            .header-row {
                height: 68px;
                .nav__left {
                    display: inline-block;
                    float: left;
                    padding-right: 45px;
                }
                .analytics {
                    display: inline-block;
                    cursor: pointer;
                    padding: 22px 20px;
                    border-left: 1px solid #5f5f5f;
                    color: #fff;
                    text-transform: uppercase;
                    border-right: 1px solid #5f5f5f;
                    font-weight: bold;
                    font-size: 16px;
                    a {
                        color: #fff;
                    }
                }
                .nav__right {
                    .nav__links {
                        border-right: 1px solid #5f5f5f;
                        li {
                            cursor: pointer;
                            padding: 24px 18px;
                            border-left: 1px solid #5f5f5f;
                            color: #fff;
                            text-transform: uppercase;
                            a {
                                padding: 0px;
                                color: #fff;
                                font-weight: bold;
                            }
                            img.userProfile-icon {
                                top: -3px;
                                position: relative;
                                padding-right: 5px;
                                width: 17px;
                            }
                            img.lock-icon {
                                top: -3px;
                                position: relative;
                                padding-right: 5px;
                                width: 17px;
                            }
                        }
                    }
                }
            }
            .banner__component {
                width: 70px;
                height: 40px;
                overflow: hidden;
                position: relative;
                top: 9px;
                img {
                    height: 70px;
                }
            }
        }
        &.navigation--middle {
            min-height: 15px;
            background-color: @sun-yellow;
        }
    }
    .navigation--bottom {
        position: inherit;
        @media (min-width: 768px) {
            background-color: @sunflower-yellow;
            .navigation__overflow{
                ul.desktop-nav-menu{
                    li:first-child{
                        padding-left: 0px;
                        a{
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            .navigation__overflow {
                &.cat-container {
                    margin: inherit;
                }
            }
            .nav__link {
                padding: 20px 15px 20px 27px;
                .parentLink {
                    float: left;
                    width: 100%;
                    padding: 0px;
                    cursor: pointer;
                }
            }
            .nav__links--products {
                li a {
                    padding: 0px;
                }
            }

            .nav__links--primary-has__sub {
                .nav__link {
                    width: 100%;
                }
            }
        }
        border-bottom: none;
        color: @black-color01;
    }

    .cat-menu-naivation {
        .mobile-navigation {
            @media (max-width: 767px) {
                top: -1px;
            }
        }
        .main-navigation-container {

            @media (max-width: 767px) {
                width: 80%;
                margin-top: 73px !important;
                .liUserSign {
                    padding: 18px 20px;
                    background-color: #000000;
                    img {
                        padding-right: 11px;
                        height: 24.3px;
                        top: -3px;
                    }
                    .userSign {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: bold;
                        text-align: left;
                        color: #ffffff;
                    }
                    &:hover {
                        background-color: #292929;
                    }
                }
                .js-myAccountLinksContainer {
                    display: none;
                }
            }
            @media (min-width: 768px) {
                ul.nav__links {
                    li:nth-child(2) {
                        padding-left: 0px !important;
                        a {
                            padding-left: 0px !important;
                        }
                    }
                }
            }

            .primary-link {
                @media (min-width: 768px) {
                    padding: 0px 20px 0px 20px;
                }

                .nav__link {
                    .parentLink {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        font-weight: 300;
                        text-align: left;
                        color: #000000;
                        padding-top: 8px;

                        @media (min-width: 768px) {
                            font-weight: bold;
                            padding-bottom: 9px;
                            padding-right: 0px;

                            &.active{
                                border-bottom: solid 3px #000000;
                                padding-bottom: 6px;
                            }
                            &:hover {
                                border-bottom: solid 3px #000000;
                                padding-bottom: 6px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .sunYellowBorder{
            min-height: 5px;
            background-color: #ffd426;
            }
            .lightYellowBorder{
                min-height: 5px;
                background-color: #ffde59;
            }
    }
}

.branding-mobile {
    background-color: @black-color01;
    height: 44px;
    .js-mobile-logo {
        width: 60px;
        overflow: hidden;
        height: 29px;
        display: inline-block;
        img {
            width: 150px;
        }
    }
    .mobile-hamburger {
        vertical-align: top;
        padding: 0px;
        background: transparent;
        display: inline;
        .cat-hamburger-menu {
            padding: 0px;
            top: -14px;
            position: relative;
            margin-right: 20px;
            >.divider {
                width: 30px;
                height: 2px;
                background-color: #ffffff;
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

footer {
    margin-top: 30px;
}

#cat-navigation-menu {
    background-color: @black-color01;
    visibility: hidden;
    position: absolute;
    z-index: @desktopMenu;
    .screen-mob( {
        display: none !important;
        visibility: hidden;
    }
    );
    &.active, &:hover  {
          visibility: visible !important;
    }
    .subCat-box {
        padding-top:15px;
        padding-bottom: 15px;
        margin: 0px;
        div.desk-menu{
                padding: 0px;
                div.border-right:not(:last-child){
                border-right: solid 1px @white01;
            }
        }
        .border-right{
            padding-right:0px;
            padding-left:0px;
            
        }
        a.nav-link-desktop {
            padding: 10px 22px;
           .font(HelveticaNeueThin, normal, 16px, rgba(255, 255, 255, 0.75));
            text-transform: capitalize;
            letter-spacing: 1px;
            text-decoration: none;
           &:hover{
            background-color: @grey01;
           }
        }
        &:hover {
            visibility: visible !important;
        }
    }
    .active
        {
            display: inline-block !important;
        }
    
}



.offcanvas {
    .sticky-nav-top {
        .userGroup {
            @media (max-width: 767px) {
                background-color: #000;
                height: 72px;
                font-size: 14px;
                font-weight: bold;
                text-align: left;
                color: #ffffff;
                padding-top: 10px;
                .userName {
                    a {
                        color: #ffffff;
                        padding-left: 10px;
                    }
                    img.userProfile-icon {
                        width: 19px;
                        position: relative;
                        top: -2px;
                    }
                }
            }
        }
        .close-nav {
            display: none;
        }
        .js-myAccountLinksContainer {
            display: none;
        }
    }
}

.subCat-box-mob {
    @media (min-width: 768px) {
        display: none !important;
    }
    display: none;
    padding-left:0px;
    li {
        border-bottom: transparent !important;
        padding: 10px 40px;
        a {
            font-family: "Helvetica Neue", sans-serif;
            font-size: 16px;
            font-weight: 100;
            text-align: left;
            color: #000000;
        }
    }

    &.active {
        display: block;
    }
}


.js-mobile-logo {
    display: inline-block;
}