.login-section {
    .login-page__headline {
        padding-top: 59px;
        padding-bottom: 64px;
        font-family: OpenSans;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: -0.8px;
        text-align: center;
        text-transform: uppercase;
    }
    .login-form {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 40px;
        @media (min-width:768px) {
            width: 640px;
            margin-bottom: 100px;
        }
        background-color: #ffffff;
        box-shadow: 0 0 8px 4px rgba(186, 186, 186, 0.33);
        padding-top: 70px;
        padding-bottom: 27px;
        input {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            box-shadow: none;
            padding-right: 30px;
            height: 55px;
            padding-left: 0px;
        }
        button {
            width: 120px;
            margin: 0px auto;
            background-color: #3f3f3f;
            border: solid 1px #979797;
            margin-top: 40px;
            &:hover {
                background-color: @sun-yellow;
            }
        }
        #loginForm {
            width: 90%;
            @media (min-width:768px) {
                width: 420px;
            }
            margin: 0px auto;
            .forgotten-password {
                color: @black-color01;
                margin-top: 25px;
                a {
                    color: @black-color01;
                    &:hover {
                        color: @black-color01;
                    }
                }
            }
            .form-group {
                .input-icon {
                    position: relative;
                    top: -37px;
                    left: 95%;
                }
            }
        }
    }
}