.cat-card-container {
    width: 100%;
    background-color: #ffffff;
    border: solid 2px #f4f4f4;
    .header-content {
        cursor: pointer;
        padding: 0px;
        .super-header {
            margin: 0px;
            >div {
                padding: 0px;
            }
            font-family: "HelveticaNeue_Light";
            font-size: 14px;
            text-align: left;
            color: #9b9b9b;
            .super-header-text {
                padding: 10px 30px 0px;
            }
            img {
                position: absolute;
                right: 0px;
                background-color: #f7f7f7;
            }
        }
        .image {
            >div {
                background-color: #f4f4f4;
                padding: 0px;
            }
            margin:10px 10px 0px;
            .product-image {
                img {
                    width: 100%;
                    display: inline-block;
                    float: left;
                }
            }
            .favorite {
                .book-marked{
                    cursor: pointer;
                }
                img.book-marked {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                img.not-book-marked {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
        }
    }
    .body-content {
        cursor: pointer;
        .main-header {
            font-family: @openSans;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            color: #000000;
            padding-top: 15px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .sp-card-header {
            margin: 0px;
            border: solid 1px #f4f4f4;
            margin-bottom: 10px;
            .main-header {
                padding: 20px;
            }
        }
        .sub-header {
            font-family: "HelveticaNeueThin";
            font-size: 14px;
            font-weight: 100;
            text-align: left;
            color: #000000;
            text-transform: uppercase;
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .info {
            padding-top: 5px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 15px;
            >div.row {
                padding-top: 10px;
            }

            .text {
                font-family: @openSans;
                font-size: 10px;
                font-weight: 300;
                text-align: left;
                color: #000000;
            }
            .value {
                font-family: "HelveticaNeueThin";
                font-size: 14px;
                text-align: left;
                font-weight: bold;
                color: #000000;
            }
        }
    }
    .footer-content {
        border-top: solid 2px #f4f4f4;
        padding: 15px;
        .in-stock {
            font-family: "HelveticaNeueThin";
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            color: #979797;
        }
        .out-of-stock {
            .quantity {
                margin: 0px auto;
                width: 145px;
                text-align: center;
                padding-bottom: 15px;
                input {
                    margin-left: 15px;
                    margin-right: 15px;
                    text-align: center;
                }
                i.fa {
                    font-size: 17px;
                    cursor: pointer;
                }
            }
            .reorder {
                margin: 0px auto;
                width: 145px;
                button {
                    background-color: #ffffff;
                    border: solid 1px #4a4a4a;
                    text-transform: uppercase;
                    padding: 10px 40px;
                    font-family: @openSans;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    color: #000000;
                }
            }
        }
    }
}

.single-card {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

slider {
    display: block;
    .owl-prev {
        i {
            color: #000;
            font-size: 45px;
        }
    }
    .owl-next {
        i {
            color: #000;
            font-size: 45px;
        }
    }

    &.owl-carousel {
        .owl-controls {
            .owl-buttons {
                .owl-prev,
                .owl-next {
                    width: 65px;
                    &:before {
                        content: none;
                    }
                }
                .owl-prev {
                    text-align: left;
                }
                .owl-next {
                    text-align: right;
                }
            }
        }
        .owl-wrapper-outer {
            margin-left: 10px;
            .owl-wrapper {
                .owl-item {
                    .single-card {
                        width: 100%;
                    }
                }
            }
        }
    }
}