.titleHeader {
    .font(@openSans, bold, 18px, @black-color01);
    letter-spacing: -0.5px;
    text-transform: uppercase;
    padding-left: 0px;
    .screen-mob({
        padding-left: 20px;
    })
}

.Home {
    padding-bottom: 5px;
    .col-xs-12 {
        padding-right: 0px;
    }
    .homeIcon {
        margin-right: 5px;
    }
    .backToHomebtn {
        a {
            .font(@openSans, 600, 16px, @black-color01);
            font-style: italic;
            text-align: left;
            position: relative !important;
            top: 4px;
            &:hover {
                .font(@openSans, 600, 16px, @black-color01);
            }
            &:focus {
                .font(@openSans, 600, 16px, @black-color01);
            }
        }
    }
}


.order-history-box {
    .screen-mob({
        margin-left: 10px;
        margin-right: 10px;
    })
}
#ord-container {
    .top-nav {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 15px;
        .screen-mob({
            padding-left: 0px;
            padding-right: 0px;
            border: 1px solid @grey12;
            margin: 20px 10px 10px;
        })
    }
    .orderinfo,
    .dealerinfo {
        width: 100%;
        background-color: white;
        /* padding: 10px 20px; */
        margin: 40px 0px 20px;
    }
    .orderedPdtImage {
        // background-color: @grey05;
        border: solid 1px @grey13;
        .screen-mob({
            margin-left: 15px;
        })
    }
    .orderTabHeader {
        padding: 30px;
        padding-bottom: 18px;
        border-bottom: solid 1px #d1d1d1;
        .screen-mob({
            padding: 15px;
        })
    }
    .orderTabHeaderText {
        .font(@openSans, bold, 14px, @black-color01);
        text-transform: uppercase;
    }
    .orderDetailsStatusTab {
        padding-top: 0px;
        border-top: solid 1px #d1d1d1;
        padding-left: 60px;
        .screen-mob({
            padding-left: 0px;
            margin-top: 10px;
        });
        .row{
            margin-top: 10px;
            .screen-mob({
                margin-left: -5px;
                margin-right: -5px;
            })
        }
    }
    .orderDetailsMSOTab {

        padding-top: 0px;
        // padding-bottom: 15px;
        padding-left: 70px;
        .screen-mob({
            padding-left: 10px;
            padding-top: 20px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 15px;
            border-top: 1px solid @grey12;
            .PONumber, .serialNumber, .MSOStatus{
                padding-right: 0;
            }
        });
        .row {
            @media (max-width: 767px){
                .heading-text:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }
    .productThumbnail {
        .fig-caption {
            padding-left: 0px;
        }
        @media (max-width: 767px){
            padding-left: 15px;
            padding-right: 15px;
        }
        padding-left: 40px;
        padding-bottom: 40px;

        .trackingDetailsComponent {
            @media (min-width: 768px){
                padding: 20px 0px;
            }

            .trackingDetailsButton {
                margin-right: 30px;
                padding: 10px 30px;
                .font(@openSans, bold, 14px, @white);
                text-align: center;
                text-decoration: none;
                background-color: @grey07;
                border: solid 1px @grey10;
                a {
                    color: @white;
                    text-transform: uppercase
                }
                @media (max-width: 767px){
                    margin-right: 0px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    width: 100%;
                }
            }
        }
        .familyName {
            padding-bottom: 40px;
            font-weight: bold;
        }
    }

    .dealerdetailsHeader {
        padding: 30px;
        padding-bottom: 18px;
        border-bottom: solid 1px #d1d1d1;
        .screen-mob({
            padding: 15px 10px;
        })
    }
    .heading-oDetail {
        .font(@openSans_Light,normal,12px,@black-color01);
        padding-top: 10px;
    }
    .value-oDetail {
        .font(@HelveticaNeueMedium,normal,14px,@black-color01);
        .screen-mob({
            font-family: @HelveticaNeue;
        });
        padding-top: 5px;
    }
    .dealerdetailsHeaderText {
        .font(@openSans, bold, 14px, @black-color01);
        text-transform: uppercase;
    }
    .title {
        .font(@openSans, 300, 14px, @black-color01);
    }

    .div-seperator {
        border: solid 1px #251010;
        margin: 15px 0px;
    }
    .heading-text {
        .font(@openSans, 300, 14px, @black-color01);
        padding-top: 20px;
        .screen-mob({
            padding-top: 0px;
            padding-left: 15px;
        })
    }
    .prodcategory{
        padding: 0 10px 15px;
        .font(@openSans_Bold, normal, 14px, @black-color01);
    }
    .desc-text {
        .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
        padding-bottom: 20px;
        word-wrap: break-word;
    }
    .dealerLabelText {
        .font(@HelveticaNeueMedium, 500, 17px, @black-color01);
    }
    .dealer-details {
        padding-bottom: 40px;
        .addressDealer {
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
        }
    }
    .dealer-details-dealerName {
        .dealerLabelText {
            .font(@HelveticaNeueMedium, 500, 16px, @black-color01);
        }
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .dealerDetailsContent {
        padding-left: 36px;
        .screen-mob({
            padding-left: 10px;
        })
    }
    .addressDealer {
        padding-left: 10px;
    }
}

#accessoriesOrder {
    .titleHeader {
        display: inline-block;
        margin-bottom: 40px;
    }
    .Home {
        display: inline-block;
    }
}