.county-container{
    a{
        color: inherit;
        &.btn-primary[disabled] {
            cursor: not-allowed;
            background-color: @grey10;
            &:hover, &:active{
                background-color: @grey10;
            }
        }
        &.btn-primary {
            &:hover, &:active{
                background-color: @grey07;
            }
        }
    }
    .font(@HelveticaNeue_Light, 100, 16px, @black-color01);
    h2{
        .font(@openSans, bold, 18px, @black-color01);
        margin: 40px 0 10px;
        text-transform: uppercase;
    }
    .pagination-row{
        margin-bottom: 20px;
        ul {
            li{
                &.pagination-prev, &.pagination-next {
                    a {
                        .font(@HelveticaNeueThin, 100, 40px, @black-color01);
                        margin: 0;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                a{
                    .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                    background-color: transparent; 
                }
                &.active {
                    a {
                        .font(@HelveticaNeueMedium, 500, 16px, @black-color01);
                    }
                }
                &.pagination-first, &.pagination-last {
                    display: none;
                }
            }
        }
    }
    .county-content-wrapper{
        background: @white;
        margin-bottom: 20px;
        clear: both;
        .county-mapping-left-wrap{
            border-right: 1px solid @grey12;
            .unhide-section{
                /*border-bottom: 1px solid @grey12;*/
                padding: 30px 20px 30px 30px;
                h3{
                    .font(@openSans, bold, 14px, @black-color01);
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 20px;
                }
                span {
                    .font(@openSans, 300, 12px, @black-color01);
                    margin-bottom: 10px;
                }
                .acc-model-dropdown{
                    button{
                        padding: 0px;
                        background-color: transparent;
                        border: 0;
                        border-bottom: solid 1px @black-color01;
                        margin-top: 5px;
                        box-shadow: none;
                    }
                    .text {
                        display: inline-block;
                        text-transform: capitalize;
                        width: 94%;
                        .font(@HelveticaNeueMedium, 500, 12px, @black-color01);
                        text-align: left;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .arrow {
                        width: 6%;
                        color: @grey10;
                        position: relative;
                        top: 5px;
                        i {
                            color: @grey10;
                        }
                    }
                    ul{
                        max-height: 380px;
                        overflow-y: auto;
                    }
                    .dropdown-menu {
                        li {
                            padding: 0 10px 10px;
                            a {
                                white-space: initial;
                            }
                        }
                    }
                }
                button {
                    margin-top: 30px;
                    background-color: transparent;
                    border: solid 1px @grey10;
                    padding: 10px;
                    .font(@openSans, bold, 12px, @black-color01);
                    &[disabled] {
                        color: @grey10;
                    }
                    &.btn-primary{
                        outline: none;
                    }
                }
            }
            .county-address-container{
                height: 690px;
                overflow-y: auto;
                h3{
                    .font(@openSans, bold, 14px, @black-color01);
                    text-transform: uppercase;
                    margin: 0;
                    padding: 30px 0 30px 30px;
                    &.hide-text {
                        font-weight: 600;
                        font-style: italic;
                        text-transform: none;
                    }
                }
                .county-address{
                    font-size: 14px;
                    outline: none;
                    h3{
                        button {
                            border: none;
                            font-weight: 600;
                            background: transparent;
                        }
                        padding-left: 0;
                        padding-bottom: 15px;
                    }
                    padding: 0 30px 30px;
                    /*margin-bottom: 15px;*/
                    border-bottom: 1px solid @grey12;
                    &:first-child{
                        border-top: 1px solid @grey12;
                        padding-top: 0;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                    &.selected {
                        border: 1px solid @sunflower-yellow;
                    }
                }
            }

        }
        .county-mapping-result-wrap{
            h3{
                margin: 30px 0 30px 30px;
                .font(@openSans, bold, 14px, @black-color01);
            }
            .county-table{
                thead{
                    border-top: 1px solid @grey13;
                    border-bottom: 1px solid @grey13;
                }
                thead,tbody{
                    th,td{
                    text-align: left;
                    &:first-child{
                        padding-left: 30px;
                        }   
                    }
                    th{
                        background: @white;
                        color: @black-color01;
                        padding: 30px 0 18px;
                        &:last-child{
                            text-align: left;
                        }
                        span{
                            &.fa-angle-up, &.fa-angle-down{
                                &:before {
                                    padding-left: 10px;
                                }
                            }    
                        }
                    }
                    td{
                        padding-left: 0;
                        .del-county{
                            position: relative;
                            padding-left: 50px;
                        }
                    }
                }
                tbody{
                    tr{
                        &:nth-child(even){
                            background: @grey05;
                        }
                        padding: 14px 0 10px 0;
                        &:first-child{
                            padding: 24px 0 10px 30px;
                        }
                    }
                }
            }
            .no-counties {
                text-align: center;
                margin-top: 40px;
            }
            .no-un-hidden-shiptos{
                margin-top: 40px;
                margin-left: 30px;
                span {
                    display: block;
                    .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
                }
            }
        }
    }
    .add-county-info{
        p{
            margin: 0;
        }
        margin-bottom: 20px;
    }
    .add-county-btn{
        a{
            padding: 9px 45px;
            background: @grey07;
            .font(@openSans, bold, 12px, @white);
            border: 1px solid @grey10;
            text-transform: uppercase;
        }
    }
}

.county-mapping-container-mob {
    padding: 0 10px 10px;
    h2 {
        .font(@openSans, bold, 18px, @black-color01);
        margin: 0;
        text-transform: uppercase;
    }
    a{
        color: inherit;
        &.btn-primary[disabled] {
            cursor: not-allowed;
            background-color: @grey10 !important;
            border-color: @grey10;
            outline: none;
            &:hover, &:active{
                background-color: @grey10 !important;
            }

        }
        &.btn-primary {
            &:active:hover{
                background-color: @grey07;
            }
        }
        &:focus, &:active {
            outline: none,
        }
    }
    .unhide-section{
        background-color: transparent;
        padding: 30px 10px 30px 20px;
        margin-right: 10px;
        h2{
            .font(@openSans, bold, 12px, @black-color01);
            margin: 10px 0 20px;
            text-transform: uppercase;
        }
        span {
            .font(@openSans, 300, 12px, @black-color01);
            margin-bottom: 10px;
        }
        .acc-model-dropdown{
            button{
                padding: 0px;
                background-color: transparent;
                border: 0;
                border-bottom: solid 1px @black-color01;
                margin-top: 5px;
                box-shadow: none;
            }
            .text {
                display: inline-block;
                text-transform: capitalize;
                width: 94%;
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .arrow {
                width: 6%;
                color: @grey10;
                position: relative;
                top: 5px;
                i {
                    color: @grey10;
                }
            }
            ul{
                max-height: 340px;
                overflow-y: auto;
            }
            .dropdown-menu {
                li {
                    padding: 0 10px 10px;
                    a {
                        white-space: initial;
                    }
                }
            }
        }
        button {
            margin-top: 30px;
            background-color: transparent;
            border: solid 1px @grey10;
            padding: 14px 37px 14px 37px;
            .font(@openSans, bold, 14px, @black-color01);
            &[disabled] {
                color: @grey10;
                background-color: transparent !important;
                border-color: @grey10 !important;
            }
            &.btn-primary{
                outline: none;
                &:active:focus {
                    background-color: transparent;
                    border-color: @grey10;
                    color: @black-color01;
                };
            }
        }
    }
    .county-wrap {
        background: @white;
        margin: 0 10px;
        width: 95%;
        h2 {
            .font(@openSans, bold, 12px, @black-color01); 
            padding: 15px;
            margin: 0;
            border-bottom: 1px solid @grey13; 
        }
        .address-wrap {
            padding: 20px 10px;
            
            .address {
                .address-title {
                    .font(@openSans, bold, 14px, @black-color01);
                }
                .address-details {
                    .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
                }
                padding: 20px 20px 0 20px;
                border: 1px solid @grey13;
                h3{
                    margin: 0 0 15px 0;
                    .font(@openSans, bold, 14px, @black-color01);
                    text-transform: uppercase;
                    &.hide-text {
                        font-weight: 600;
                        font-style: italic;
                        text-transform: none;
                    }
                }
                .increment{
                    width: 35px;
                    height: 15px;
                }
                .decrement {
                    width: 30px;
                    height: 5px;
                }
            }
        }
        .address-wrap-no-shiptos {
            padding-top: 10px;
            .no-un-hidden-shiptos {
                margin: 20px 10px 30px;
                border: 1px solid @grey17;
                padding: 10px;
                span {
                    display: block;
                    .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
                }
            }
            .add-county-info {
                padding-top: 0;
            }
        }
        .address-related-counties {
            border: 1px solid @grey13;
            border-top: none;
            border-bottom: none;
            .county-details {
                border-bottom: 1px solid @grey13;
                padding: 15px 20px;
                h3{
                    margin: 15px 0;
                }
                div{
                    padding-bottom: 15px;
                    &.mapping-title {
                        .font(@openSans, 300, 12px, @black-color01);
                    }
                    &.mapping-label {
                        .font(@HelveticaNeueMedium, 500, 12px, @black-color01);
                    }
                }
                .delink-county{
                    margin-top: 10px;
                    width: 10px;
                    height: 10px;
                    padding-right: 20px;
                }
                &.no-counties{
                    text-align: center;
                }
            }
            .light-text{
                .font(@openSans, 300, 12px, @black-color01);
                text-transform: uppercase;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .add-county-info{
        p{
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
            margin: 0;
        }
        padding: 20px;
        border-width: 0 1px;
        
    }
    .add-county-btn {
        border-top: none;
        padding-bottom: 20px;
        a{
            padding: 9px 45px;
            background: @grey07;
            .font(@openSans, bold, 14px, @white);
            border: 1px solid @grey10;
            text-transform: uppercase;
            width: 100%;
        }
    }
    .show-more-btn {
        border: 1px solid @grey13;
        border-top: none;
        padding-bottom: 20px;
        p{
            margin: 15px 10px;
            padding: 14px 34px;
            background: @white;
            .font(@openSans, bold, 14px, @black-color01);
            border: 1px solid @grey10;
            text-transform: uppercase;
        }
    }
}