#countyListContainer{
    .cat-container{
            .countyHeader{
                .font(@openSans, bold, 18px, @black-color01);
                letter-spacing: -0.5px;
                text-transform: uppercase;
                padding-bottom: 45px;
                @media only screen and (max-width : 768px) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 20px;
                }
            }
            .link-button{
                padding-right: 0px;
                margin-top: 40px;
                @media only screen and (max-width : 768px) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            .main-content{
                margin-left: 0px;
                background-color: @white;
                @media only screen and (max-width : 768px) {
                    background-color: inherit;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-left: -10px;
                }
                .branch{
                    padding-left: 30px;
                    @media only screen and (max-width : 768px) {
                        background-color: @white;
                        margin-bottom: 20px;
                        padding-left:15px;
                    }
                    .branchName{
                    .font(@openSans_Bold, normal, 14px, @black-color01);
                    text-align: left;
                    padding-bottom: 18px;
                    text-transform: uppercase;
                    padding-top: 30px;
                    @media only screen and (max-width : 768px) {
                        padding-top:15px;
                    }
                    }
                    .branchDesc{
                    .font(@HelveticaNeueThin, 300, 14px, @black-color01);
                    @media only screen and (max-width : 768px) {
                        padding-bottom: 20px;
                    }
                }
            }
                    .county-list-table{
                        padding-right: 0px;
                        .screen-mob({
                            padding-left: 0px;
                        });
                table{
                    border-left: solid 1px #d1d1d1;
                        @media only screen and (max-width : 768px) {
                            border-left: none;
                        }
                    tr{
                        &:first-child {
                            border: solid 1px @grey13;
                        }
                        &:nth-child(even) {
                            background-color: @white;
                        }
                        &:nth-child(odd) {
                            background-color: @grey05;   
                        }
                        th{
                            background-color: @white;
                            .font(@openSans, normal, 14px, @black-color01);
                            padding-top: 30px;
                            padding-bottom: 18px;
                            text-align: left;
                            text-transform: uppercase;
                        }
                        td{
                            padding-top: 14px;
                            padding-bottom: 10px;
                            text-align: left;
                            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                        }
                        .countyName{
                            padding-left: 94px;
                            @media only screen and (max-width : 768px) {
                                padding-left: 34px;
                            }
                        }
                        .countyValue{
                            
                            text-transform: capitalize;
                            padding-left: 60px;
                            @media only screen and (max-width : 768px) {
                                padding-left: 17px;
                            }
                            .countyDetail{
                                display: block;
                                padding-left: 22px;
                                text-indent: 0px;
                                    @media only screen and (max-width : 768px) {
                                    padding-left: 10px;
                                }
                            }
                            .county-List-checkbox-section{
                                
                            }
                    
                            .county-List-checkbox{
                                display:block;
                                .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                                text-transform: capitalize;
                                @media only screen and (max-width : 768px) {
                                }
                            }
                            .county-List-checkbox input {
                                position: absolute;
                                opacity: 0;
                            }
                            
                            /* Create a custom checkbox */
                            .county-List-checkbox .checkmark {
                                position: absolute;
                                top: 5px;
                                left:-4px;
                                height: 14px;
                                width: 14px;
                                background-color:@white;
                                border:1px solid @grey10;
                            }
                            
                            /* When the checkbox is checked, add a blue background */
                            .county-List-checkbox input:checked ~ .checkmark {
                                background-color:@sunflower-yellow;
                                border:0;
                            }
                            
                            /* Create the checkmark/indicator (hidden when not checked) */
                            .county-List-checkbox:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                            
                            /* Show the checkmark when checked */
                            .county-List-checkbox input:checked ~ .checkmark:after {
                                content: "";
                                position: absolute;
                                display: block;
                            }
                            
                            /* Style the checkmark/indicator */
                            .county-List-checkbox .checkmark:after {
                                left: 4px;
                                top: 1px;
                                width: 5px;
                                height: 10px;
                                border: solid #000000;
                                border-width: 0 2px 2px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                        .stateValue{
                            text-transform: capitalize;
                        }
                        .countryValue{
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}