.my-profile {

    .dealer-description{
        margin-top:20px;
    }
    .dealer-address-label{
        padding-left: 8px;
    }
    .calc(height,"100vh - 290px");
    .screen-mob({
        .calc(height,"100vh - 216px");
    });
    ul{
        list-style-type: none;
    }
    .page-header-title {
        margin-bottom: 40px;
        font-weight: bold;
        font-size: 18px;
        color: #000000;
        letter-spacing: -0.5px;
      }
    .profile-container {

        .screen-tab-desk( {
            background-color: #000000;
            
        });
        margin: 0px;
    }
    .right-content {
        background-color:#ffffff;
        .heading {
            .font(@openSans, normal, 18px, @black-color01);
            margin-bottom: 30px;
            height: 24px;
            font-size: 18px;
            text-align: left;
            color: #000000;
            text-transform: uppercase;
            .screen-mob( {
                font-size: 14px;
                font-weight:bold;
                margin-bottom: 15px;
            });
        }
        .profile-user-info {
            color: #000000;
            margin: 23px 0px 10px 30px;
            .screen-mob({
               margin:15px 10px 0 10px;
            });
            .adjust{
                margin-left: -16px;
            }
            .user-name {
                .font(@openSans, bold, 18px, @black-color01);
                margin-bottom: 10px;
                position:relative;
                top:3px;
                text-align: left;
                word-wrap: break-word;
                text-transform: uppercase;
                .screen-mob({
                    font-weight:normal;
                    font-size:14px;
                    text-align: left;
                    margin-bottom: 10px;
                    width:49%;
                    float:left;
                });
            }
            .user-email {
                .font(@openSans, 300, 16px, @black-color01);
                vertical-align: middle;
                position: relative;
                top:2px;
                margin-bottom: 15px;
                word-wrap: break-word;
                .screen-mob( {
                    font-weight:normal;
                    font-size:14px;
                    text-align: center;
                    width:49%;
                    line-height:inherit;
                });
            }
            .user-contact {
                .font(@openSans, 300, 16px, @black-color01);
                position: relative;
                top: -1px;
                vertical-align: middle;
                margin-left:10px;
                text-transform: uppercase;
                text-align: left;
                .screen-mob({
                    display:none;
                });
            }
            .user-contact-xs{
                display:none;
                .font(@openSans, 300, 14px, @black-color01);
                .screen-mob({
                    display:block;
                    text-transform: uppercase;
                    font-weight:300;
                });
               
            }
            .user-password {
                .screen-mob({
                    text-align: center;
                });
            }
            .update-password {
                min-height: 35px;
                background-color: #3f3f3f;
                border: solid 1px #979797;
                text-transform: uppercase;
                border: solid 1px #979797;
                color: #ffffff;
                .screen-mob({
                    text-align: center;
                });
            }
        }
        .border-top {
            border-top: solid 1px #d1d1d1;
        }
        .dealer-info {
            .font(@openSans_Bold, bold, 18px, @black-color01);
            padding-bottom: 40px;
            padding-top: 33px;
            padding-left: 35px;
            padding-bottom: 15px;
            .screen-mob( {
                margin-top: 10px;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 22px;
            });
        }
        .contact-fax-xs{
            .screen-mob({
                display:none;
            });
        }
        .shipping-info {
            padding-top: 33px;
            padding-bottom: 40px;
            padding-left: 35px;
            padding-bottom: 15px;
            .screen-mob({
                margin-top: 10px;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 14px;
            });
        }

        .billing-info {
            padding-top: 33px;
            padding-bottom: 40px;
            padding-left: 35px;
            padding-bottom: 15px;
           .screen-mob( {
                margin-top: 10px;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 14px;
            });
        }
        .user-profile-cell {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 100;
            text-align: left;
            color: #000000;
            .screen-mob({
                padding-bottom: 10px;
            });
            label {
                margin-right:10px;
                .font(@openSans, 300, 14px, @black-color01);
                text-transform: uppercase;
                text-align: left;
                .screen-mob({
                    margin-bottom: 0px;
                });
            }
            div {
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                text-transform:capitalize;
                display: block;
                text-align: left;
                .screen-tab-desk( {
                    display: inline-block;
                });
                .screen-mob({
                    font-family:@HelveticaNeue;
                    font-weight:normal;
                });
            }
        }
        .atomic-shipping-address{
            margin-bottom:40px;
            h5{
               margin:0 0 15px 0;
               padding:0;
            }
            ul{
                    padding:0;
                li{
                    .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                }
            }
            
        }
    }
}

    .my-profile{
        .right-content {
            .profile-user-info{
                .user-email{
                        .screen-mob({
                             display: block;
                             text-align: left;
                             float: left !important;
                             width:100%;
                             .font(@HelveticaNeue, normal, 14px, @black-color01);
                        });
                    }
                .user-name{
                    .screen-mob({
                        display: block;
                         margin-bottom: 5px;
                         width:100%;
                         margin-top: 10px;
                        .font(@HelveticaNeue, normal, 14px, @black-color01);
                    });
                }
            }
        }
    } 
