<div class="accessories-success-popup" align-vertical-center-modal-dialog >
	<div class="row header">
        <div class="col-md-12 text-center text-uppercase no-padding">Your order has been submitted!</div>
    </div>
	<div class="row order-info">
        <div class="col-md-12 col-xs-12 info-item">
            <div class="label col-xs-6 col-md-7">
                Total Units
            </div>
            <div class="label-value col-xs-6 col-md-5">
                {{quantity}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 order-conf-info" ng-if="splitOrderCount > 1">
                <img class="info-icon" src="/_ui/responsive/cat/images/info-icon.svg"/> Your current order has been split into {{splitOrderCount}} orders and will be reflected on the Order History Page Shortly.
            </div>
            <div class="col-md-12 col-xs-12 order-conf-info" ng-if="splitOrderCount == 1">
                <img class="info-icon" src="/_ui/responsive/cat/images/info-icon.svg" /> Your current order will take few more moments to reflect on the Order History Page.
            </div>
        </div>
    </div>
	
    <div class="row accessories-footer hidden-xs">
        <div class="col-md-6 no-padding">
            <button class="text-uppercase btn" ng-click="viewOrderHistory()">View order history</button>
        </div>
        <div class="col-md-6 no-padding">
            <button class="pull-right btn black-btn" ng-click="popUpClose()">DONE</button>
        </div>
    </div>

    <div class="row accessories-footer visible-xs">
        <div class="col-xs-12 no-padding">
            <button class="btn black-btn" ng-click="popUpClose()">DONE</button>
        </div>
        <div class="col-xs-12 no-padding">
            <button class="text-uppercase btn" ng-click="viewOrderHistory()">View order history</button>
        </div>
    </div>
</div>