<div class="modal-body col-md-12" align-vertical-center-modal-dialog id="remove-truckload-modal-body">
    <div class="col-md-12">
        <span class="pull-right close-truckload-remove-popup" ng-click="closeConfirmationPopup();"></span>
    </div>
    <div class="col-md-12 popup-text-align confirm-remove">
        <span>{{cartSaveConfirmationMsg}}</span>
    </div>
    <div class="col-md-12 remove-product-btn-container">
        <button class="btn update-product-list remove-product-btn" ng-click="savePoNumberContinue()">CONTINUE</button>
    </div>
</div>