<div class="modal-body col-md-12" id="replicate-quote-non-empty-cart-modal-body">
    <div class="col-md-12">
        <span class="close-modal pull-right" ng-click="close();"></span>
    </div>
    <div class="col-md-12 attention-header">
            <h3>ATTENTION!</h3>
        </div>
     <div class="col-md-12 confirm-remove">
         <span class="errMessage">Quote cannot be replicated as all products are out of stock.</span>
     </div>
  </div>