<div>
   <form action="{{pdpLink}}" method="POST" id="{{formId}}">
       <input type="hidden" name="{{queryParam.name}}" value="{{queryParam.value}}" ng-repeat="queryParam in PDPrequestBody">
        <a class="card-anchor-link" ng-href="javascript:void()" ng-click="$event.preventDefault();navigateToPDP($event)">
                <div class="row cat-card-container" ng-class="{'hidden-xs':showMobileTemplate, 'discontinuedBorder': disContinued == 'true' && !usedProductCard }">
                    <div class="col-xs-12 header-content">
                        <div class="row super-header" ng-if="showFullcard">
                            <div class="col-xs-12">
                                <div class="super-header-text">
                                    {{superHeader}}
                                    <span ng-if="isLaneDotsApplied" class="card-lane-color-container">
                                        <span class="card-lane-color lane-1" ng-if="lane1==='true'"></span>
                                        <span class="card-lane-color lane-2" ng-if="lane2==='true'"></span>
                                        <span class="card-lane-color lane-3" ng-if="lane3==='true'"></span>
                                    </span>
                                    <img class="verified" ng-if="!!dealerCertified" src="/_ui/responsive/cat/images/verified.png">
                                </div>
                            </div>
                        </div>
                        <div class="row image">
                            <div class="col-xs-12">
                                <div class="product-image">
                                    <img ng-class="{'discontinuedImage': disContinued == 'true' && !usedProductCard }" ng-src="{{image || defaultDownloadImage}}" cat-fallback-image>
                                </div>
                                <div class="favorite">
                                    <img ng-if="bookMarked" class="book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-265.svg" ng-click="$event.preventDefault();toggleBookMark()"
                                        stop-event alt="Book Mark">
                                    <img ng-if="!bookMarked" class="not-book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-264.svg" ng-click="$event.preventDefault();toggleBookMark()"
                                        stop-event alt="Book Mark">
                                </div>
                                <div ng-if="disContinued == 'true' && !usedProductCard &&  !showFullcard " 
                            class="col-xs-8 col-xs-push-2 discontinuedText">This product is discontinued.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="body-content">
                            <div class="row" ng-if="!!usedProductCard && usedTagPosition != 'bottom'">
                                <div class="col-xs-12">
                                    <div class="pull-right used-product-tag">USED</div>
                                </div>
                            </div>
                            <div class="row main-header-row">
                                <div>
                                    <div class="col-xs-3 text-center warning-icon-div" ng-if="disContinued == 'true' && !usedProductCard">
                                        <img ng-class="(showFullcard)?'warn-iconFullCard':'warn-icon'" src="/_ui/responsive/cat/images/warning.png">
                                    </div>
                                    <div class="col-xs-9 main-header hide_overflow" title="{{primaryHeader}}" ng-bind="primaryHeader"></div>
                                </div>
                                <div class="col-xs-12" ng-if="!!usedProductCard && usedTagPosition == 'bottom'">
                                    <div class="pull-right used-product-tag">USED</div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-if="disContinued == 'true' && !usedProductCard && showFullcard" class="col-xs-10 discontinuedText discontinuedTextFullCard">
                                    This product is discontinued.
                                </div>
                            </div>
                            <div class="row utv-block" ng-if="showFullcard && !!utvCard ">
                                <div class="col-xs-12 info">
                                    <div class="row price-row">
                                        <div class="col-xs-12 price" ng-bind="utvPrice"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 utv-row">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="text">FUEL TYPE</div>
                                            <div class="value" ng-bind="fuelType"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 utv-row">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="text">MAX SPEED</div>
                                            <div class="value" ng-bind="maxSpeed"></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="text">SEAT CAPACITY</div>
                                            <div class="value" ng-bind="seatCapacity"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="showFullcard && !usedProductCard && !utvCard">
                                <div class="col-xs-12 info" ng-class="{'discontinuedInfo': disContinued == 'true' }">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="text" ng-bind="engineModelText"> </div>
                                            <div class="value" ng-bind="engineModelValue"></div>
                                        </div>
                                            <div class="col-xs-12">
                                                <div class="text" ng-bind="netPowerText"> </div>
                                                <div class="value" ng-bind="netPowerValue"></div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="text" ng-bind="operatingWeightText"> </div>
                                                <div class="value" ng-bind="operatingWeightValue"></div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row usedProduct" ng-if="showFullcard && usedProductCard && !utvCard">
                                <div class="col-xs-12 info">
                                    <div class="row price-row">
                                        <div class="col-xs-12">
                                            <div class="text">
                                                <span ng-bind="currency"></span>
                                                <span ng-bind="productPrice"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-padding">
                                        <div class="col-xs-12">
                                            <div class="text" ng-bind="delarNameText"></div>
                                            <div class="value usedPLPDealerValue hide_overflow" title="{{delarNameValue}}" ng-bind="delarNameValue"></div>
                                        </div>
                                    </div>
                                    <div class="row no-padding">
                                        <div class="col-xs-7">
                                            <div class="text" ng-bind="branchLocationText"></div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="text" ng-bind="hoursUsedText"></div>
                                        </div>
                                    </div>
                                    <div class="row no-padding">
                                        <div class="col-xs-7">
                                            <div class="value hide_overflow" ng-bind="branchLocationValue"></div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="value" ng-bind="hoursUsedValue"></div>
                                        </div>
                                    </div>
                                    <div class="row no-padding">
                                        <div class="col-xs-10">
                                            <div class="text" ng-bind="manufacturingYearText"></div>
                                            <div class="value" ng-bind="manufacturingYearValue"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div ng-if="disContinued == 'true' && !usedProductCard &&  !showFullcard " 
                    class="col-xs-8 col-xs-push-2 discontinuedText">This product is discontinued</div> -->
                    <!-- <div ng-if="showFullcard">
                     <div ng-if="disContinued == 'true' && !usedProductCard && showFullcard" 
                     class="col-xs-10 col-xs-push-1 discontinuedText discontinuedTextFullCard">This product is discontinued</div>
                    </div> -->
                </div>
                <div class="row cat-card-container-mobile-only visible-xs" ng-if="showMobileTemplate">
                    <div class="col-xs-12 header-content" ng-if="!utvCard">
                        <div class="row super-header">
                            <div class="col-xs-11">
                                <div class="super-header-text">
                                    {{superHeader}} 
                                    <span ng-if="isLaneDotsApplied" class="card-lane-color-container">
                                        <span class="card-lane-color lane-1" ng-if="lane1==='true'"></span>
                                        <span class="card-lane-color lane-2" ng-if="lane2==='true'"></span>
                                        <span class="card-lane-color lane-3" ng-if="lane3==='true'"></span>
                                    </span>
                                    <img class="verified" ng-if="!!dealerCertified" src="/_ui/responsive/cat/images/verified.png">
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="favorite pull-right">
                                    <img ng-if="bookMarked" class="book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-265.svg" ng-click="$event.preventDefault();toggleBookMark()"
                                        stop-event alt="Book Mark">
                                    <img ng-if="!bookMarked" class="not-book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-264.svg" ng-click="$event.preventDefault();toggleBookMark()"
                                        stop-event alt="Book Mark">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 body-content">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="product-image">
                                    <img ng-src="{{image || defaultDownloadImage}}" cat-fallback-image>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row used-products" ng-if="!!usedProductCard && !utvCard">
                                    <div class="col-xs-12 product-info">
                                        <div class="row">
                                            <div class="col-xs-5 main-header" ng-bind="primaryHeader">
                                            </div>
                                            <div class="col-xs-7 price-text">
                                                <div class="pull-right">
                                                    <span ng-bind="currency"></span>
                                                    <span ng-bind="productPrice"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="text" ng-bind="delarNameText"></div>
                                                <div class="value" ng-bind="delarNameValue"></div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="used-tag">USED</div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                                <div class="row new-products" ng-if="!usedProductCard && !utvCard">
                                    <div class="col-xs-12 main-header product-info" ng-bind="primaryHeader">
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="text" ng-bind="engineModelText"> </div>
                                        <div class="value" ng-bind="engineModelValue"></div>
                                    </div>
                                </div>
                                <div class="row new-products" ng-if="!!utvCard">
                                    <div class="col-xs-12 product-info">
                                        <div class="row">
                                            <div class="col-xs-10 main-header" ng-bind="primaryHeader">
                                            </div>
                                            <div class="col-xs-1">
                                                <div class="favorite pull-right">
                                                    <img ng-if="bookMarked" class="book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-265.svg" ng-click="$event.preventDefault();toggleBookMark($event)"
                                                        stop-event alt="Book Mark">
                                                    <img ng-if="!bookMarked" class="not-book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-264.svg" ng-click="$event.preventDefault();toggleBookMark($event)"
                                                        stop-event alt="Book Mark">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 main-header" ng-bind="superHeader">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 price-text main-header">
                                                <div class="" ng-bind="utvPrice"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-xs-12">
                                        <div class="text">FUEL TYPE</div>
                                        <div class="value" ng-bind="fuelType"></div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 footer-content">
                        <div class="row used-products" ng-if="!!usedProductCard && !utvCard">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="text" ng-bind="branchLocationText"></div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="text" ng-bind="hoursUsedText"></div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="text" ng-bind="manufacturingYearText"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="value" ng-bind="branchLocationValue"></div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="value" ng-bind="hoursUsedValue"></div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="value" ng-bind="manufacturingYearValue"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row new-products" ng-if="!usedProductCard && !utvCard">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6 text" ng-bind="netPowerText"></div>
                                    <div class="col-xs-6 text" ng-bind="operatingWeightText"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 value" ng-bind="netPowerValue"></div>
                                    <div class="col-xs-6 value" ng-bind="operatingWeightValue"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row new-products" ng-if="!!utvCard">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-4 text">FUEL TYPE</div>
                                    <div class="col-xs-4 text">MAX SPEED</div>
                                    <div class="col-xs-4 text">SEAT CAPACITY</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 value" ng-bind="fuelType"></div>
                                    <div class="col-xs-4 value" ng-bind="maxSpeed"></div>
                                    <div class="col-xs-4 value" ng-bind="seatCapacity"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
       </form>
    
</div>
    
    
