<div class="modal-body"  align-vertical-center-modal-dialog="cart-lost-container">
        <div class="cart-lost-content">
            <a href="javascript:void()" class="close-pop-up" ng-click="dismissCartLostPopup()"></a>
            <p>{{cartLostMessage}}</p>
    
            <button class="btn update-product-list"
                ng-click="clearCart()">CONTINUE</button>
        </div>
    </div>