
<div class="typeahead-template col-md-12 col-sm-12 col-xs-12">
        <div class="row no-padding shipping-address-content">
                <a ng-if="!selectedAddress" class="drop-down-img" ng-click="showAddressesList()"></a>
                <a class="clear-form" ng-if="selectedAddress" ng-click="clearAddress(addressId)"></a>
                <!-- ng-class="{'drop-down-img':selectedAddress}"  removed for updated changes-->
                <textarea type="text" id="{{shipAddressId}}" 
                    class="review-shipping-address cat-inputs type2 
                    cat-autocomplete-input cat-inputs type2"
                    ng-class="{'hasError':isAddressEmpty&&(!selectedAddress||!isAddressValid)}"
                    ng-change="userModifiedField()"
                    placeholder="Select or search an address" 
                    ng-model="selectedAddress" 
                    uib-typeahead="result as result for result in shippingAddress|filter:{formattedAddress:filterCondition({triggerFrom:2})}" 
                    typeahead-template-url="cat-address-item.html"
                    typeahead-on-select="onSelect($item, $model, $label)" 
                    typeahead-min-length="0" 
                    typeahead-is-open="typeaheadIsOpen"
                    typeahead-show-hint="true"
                    typeahead-wait-ms="500"
                    autocomplete="notAllowed"
                    typeahead-no-results="noResults">
            </textarea>
            <div ng-if="isAddressEmpty&&(!selectedAddress||!isAddressValid)" class="disclimer-error-message">{{::shippingAddressErrMsg}}</div>
                
                <div ng-if="noResults&&selectedAddress.length>2" class="no-address-found">
                        {{::resultsNotFound}}
                </div>
        </div>
        <script type="text/ng-template" id="cat-address-item.html">
            <a class="result">
                 <span  ng-bind-html="match.label.formattedAddress|uibTypeaheadHighlight:query|catAddress"></span>
            </a>
        </script>
    </div>

   