<div class="modal-body clear-cart-popup-container">
    <div class="clear-cart-popup-content">
        <div class="clear-cart-title upperCase">Your cart has been cleared!</div>
        <div class="description" ng-repeat="errorObj in cartForProducts.errorData">{{errorObj.errorMessage}}</div>
        <button class="continue-button upperCase" ng-click="dismissclearCartPopup()">continue</button>
    </div>
</div>