<div class="coaching-tools-popup">
<div class="modal-body coaching-tool-container"  align-vertical-center-modal-dialog="full-screen-xs">
    <div class="cart-lost-content">
        <a href="javascript:void(0)" class="close-pop-up" ng-click="dismissCoachingToolsPopUp()"></a>
        <h3 class="coaching-tool-title">COACHING TOOLS</h3>
        <ul class="row coaching-tool-links-section list-unstyled">
    		<li class="coaching-tool-link col-md-6 col-sm-6" ng-repeat="(idx, val) in coachingTools track by $index">
    			<a href="{{val.url}}" title="{{val.code}}" target="_blank">{{idx+1}}. {{getEllipsedText(val.code)}}</a>
    		</li>
        </ul>
    </div>
</div>
</div>