<ul role="presentation" class="uib-datepicker-popup dropdown-menu uib-position-measure" dropdown-nested ng-if="isOpen" ng-keydown="keydown($event)" ng-click="$event.stopPropagation()" ng-controller="quotationQuoteDetailsController as qqc">
    <li ng-transclude></li>
    <li ng-if="showButtonBar" class="uib-button-bar clearfix">
        <div class="pull-left date-heading">Today</div>
        <div class="pull-right date-value">{{qqc.AvailableDate | date : 'LLLL d,y'}}</div>
    </li>
</ul>