<div class="modal-body col-md-12" id="quote-details-after-submission-noneditable-popup">
    <div class="col-md-12">
        <span class="close-modal pull-right" ng-click="close();"></span>
    </div>
     <div class="col-md-12 confirm-remove">
         <span>Your current cart would be lost, do you want to continue?</span>
     </div>
     <div class="col-md-12 remove-product-btn-container">
          <button class="btn pull-left update-product-list yes-btn" ng-click="navigateToEditQuotePage();">CONTINUE</button>
     </div>
  </div>