<div class="modal-body col-md-12" id="replicate-quote-non-empty-cart-modal-body">
    <div class="col-md-12">
        <span class="close-modal pull-right" ng-click="close();"></span>
    </div>
        <div class="col-md-12 attention-header">
            <h3>NOTE</h3>
        </div>
        <div class="col-md-12 col-xs-12 msg-text" >
            <span >{{quoteStockPopupResponse.errorMessage}}</span>  
        </div>
        <div class="col-md-12 col-xs-12 clearfix content-section" ng-repeat="product in quoteStockPopupResponse.productsWithNoStock">
             <span class="productImage pull-left">
             	<img class="popImage" ng-src="{{product.imageUrl || defaultDownloadImage}} ">
			 </span>
            <span class="rightHalf">
                <div class="productCode">{{product.productFamily}}</div>
                <span class="productName">{{product.primaryOfferingName}}</span>
                <span class="productBase">({{product.baseProduct}})</span>
            </span>
        </div> 
     <div class="col-md-12 remove-product-btn-container">
          <button class="btn update-product-list yes-btn" ng-click="allowToReplicateQuote();">Continue</button>
     </div>
  </div>