<div class="modal-body"  align-vertical-center-modal-dialog="cart-lost-container">
    <div class="lane-cart-lost cart-lost-content">
        <a href="javascript:void(0)" class="close-pop-up" ng-click="closeSelectOptionsPopup()"></a>
        <div class="clear-cart-title upperCase">Attention!</div>
        <p class="description">{{cartLostMessage}}</p>
        <button class="btn update-product-list" ng-click="navigateToMustSelect()">CONTINUE</button>
    </div>
</div>