<div class="col-xs-12 col-md-12 fbc-product-card no-padding">
    <div class="col-xs-12 col-md-12 card-details clearfix">
        <div class="pull-left radio-section">
            <label class="radio-container">
                <input type="radio" name="fbcProductCardRadio" ng-click="selectFBCProduct(cardData.featureCode);">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="pull-left data-section">
            <label class="heading">{{cardData.description}} ({{cardData.featureCode}})</label>
            <label class="price">Extended Price: {{cardData.extendedListPrice | currency}}</label>
            <label class="quantity">Quantity : {{cardData.quantity}}</label>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 no-padding accordion-section">
        <button uib-popover-template="popupTemplate" popover-enable="cardData.extendedDescription !== ''" popover-placement="auto right" popover-is-open="popoverIsOpen" type="button" class="btn update-product-list view-info-popover-btn hidden-xs" ng-class="{'disabled':(cardData.extendedDescription == '')}"ng-click="popoverIsOpen = !popoverIsOpen" popover-trigger="'outsideClick'">VIEW INFORMATION</button>
        <button type="button" class="btn update-product-list view-info-popover-btn visible-xs" ng-class="{'disabled':(cardData.extendedDescription == '')}" ng-click="viewInfoMobilePopup(cardData);">VIEW INFORMATION</button>
    </div>
</div>