<div class="modal-body col-xs-12 col-md-12" align-vertical-center-modal-dialog id="fbc-popover-modal-body">
    <div class="col-xs-12 col-md-12 heading-section clearfix">
        <span class="close-modal pull-right" ng-click="closeInfoPopover();"></span>
    </div>
    <div class="col-xs-12 col-md-12 no-padding data-section">
        <label class="heading">{{cardData.description}} ({{cardData.featureCode}})</label>
        <label class="price">Extended Price: {{cardData.extendedListPrice | currency}}</label>
        <label class="quantity">Quantity : {{cardData.quantity}}</label>
    </div>
    <div class="col-xs-12 col-md-12 no-padding accordion-section">
        <p class="desc" ng-bind-html="cardData.extendedDescription"></p>
    </div>
   
</div>