<div class="cat-progress" ng-init="graphProjectedData()">
    <div class="container">
        <div class="progress col-xs-11 col-sm-11 no-padding">
            <span class="count-min"><span class="count-no-style" ng-bind="graph.minimum"></span> {{minimum}}</span>
            <div class="zero-count">0</div>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : barPointerData + '%'}">
            <div class="projected" ng-class="{'left-corner' : graph.current <= graph.minimum, 'width-till-15' : barPointerData <= 15, 'right-corner' : graph.current >= graph.recommended}"><span> {{current}} </span><span ng-bind="graph.current"></span></div>
            </div>
            <span class="count-max">{{recommended}} <span class="count-no-style" ng-bind="graph.recommended"></span></span>
        </div>
        <div class="info-pop col-xs-1 col-sm-2 no-padding">
            <span class="max-count">{{graph.recommended}}</span>
            <img class="info-icon" src="/_ui/responsive/cat/images/info-icon.svg" uib-popover-html="informatonMesage" popover-placement="bottom-center" popover-class="bar-graph-info" popover-trigger="'mouseenter'">
        </div>
    </div>
</div>