<div class="modal-body col-md-12" align-vertical-center-modal-dialog id="mobile-safari-modal-body">
     <div class="col-md-12 confirm-remove">
         <span>Are you sure , you wanted to navigate out of Page?</span>
     </div>
     <div class="col-md-12 remove-product-btn-container">
          <button class="btn update-product-list no-btn" ng-click="mobileSafariPopupCancel();">CANCEL</button>
          <button class="btn update-product-list yes-btn" ng-click="mobileSafariPopupOk();">OK</button>
     </div>
  </div>