<div class="col-xs-12 pdp-used-product-card">
    <div class="col-xs-12 clearfix no-padding">
        <div class="header-code pull-left">{{headerCode}}</div>
        <div class="bookmark-star pull-right">
            <img ng-if="bookMarked" class="book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-265.svg" ng-click="toggleBookMark()" stop-event alt="Book Mark">
            <img ng-if="!bookMarked" class="not-book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-264.svg" ng-click="toggleBookMark()" stop-event alt="Book Mark">
        </div>
    </div>
    <div class="col-xs-12 no-padding">
        <div class="col-xs-5 no-padding">
            <img class="product-image" ng-src="{{defaultDownloadImage}}"/>
        </div>
        <div class="col-xs-7 no-padding">
            <div class="col-xs-12 clearfix product-desc-row">
               <div class="pull-left sales-model">
                    {{salesModel}}
               </div> 
               <div class="pull-right price">
                    {{price | currency}}
                    <span class="asterik">*</span> 
               </div>
            </div>
            <div class="col-xs-12 clearfix product-desc-row">
                <div class="pull-left dealer-name">
                    <label class="dealer-name-heading">DEALER</label>
                    <label class="dealer-name-value">{{dealerName}}</label>
                </div> 
                <div class="pull-right">
                    <div class="used-badge">USED</div> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 no-padding">
        <div class="col-xs-4 row-header no-padding">BRANCH LOCATION</div>
        <div class="col-xs-4 row-header no-padding">HOURS USED</div>
        <div class="col-xs-4 row-header no-padding">MANUFACTURING YEAR</div>
    </div> 
    <div class="col-xs-12 no-padding">
        <div class="col-xs-4 row-value no-padding">{{branchLocation}}</div>
        <div class="col-xs-4 row-value no-padding">{{hoursUsed}}</div>
        <div class="col-xs-4 row-value no-padding">{{manufacturingYear}}</div>
    </div>  
</div>