<div class="modalPopup" id ng-click="popUpClose()">
  <div class="innerDiv" stop-event>
  	<div class="row header">
    <div class="col-xs-12 content">{{alertHeader}}</div>
    </div>
    <div class="row">
    <div class="col-xs-12">{{alertContent}}</div>
    </div>
    <div class="row footer">
    <div class="col-xs-12 buttonClass">
    	<button  ng-click="popUpClose()">{{ok}}</button>
    </div>
  </div>
</div>
</div>
