<div class="inventory-table"> 
<div ng-show="isloaderOn">
		<div class="cat-loading-spinner loadingSymbol"></div>
	</div>
	<div ng-show="!isloaderOn&&!errObj.oopsMsg">
       <div ng-show="EDHData.length > 0">
		<div class="row inventoryAgeMessage">The following serial numbers are available at the Dealer Warehouse.</div>
			<div class="row row-header">
				<div class="col-xs-3 inventoryAgeHeaderstyle">
					{{::serialLabel}}
				</div>
				<div class="col-xs-3 inventoryAgeHeaderValue">
					{{::inventoryAgeLabel}}
				</div>
			</div>
			<div class="row stock-details" ng-repeat="inventoryAgeResponse in EDHData track by $index">
				<div class="col-xs-3">
					<div class="warehouse-name inventoryAgeSerialstyle">
						{{inventoryAgeResponse.serialNumber}}</div>
				</div>
				<div class="col-xs-3">
					<div class="stock-cont inventoryAgeValuestyle">
						<span ng-if="inventoryAgeResponse.age">{{inventoryAgeResponse.currentStageAge}} days</span>
						<span ng-if="!inventoryAgeResponse.age"> - </span>
						
					</div>
				</div>
			</div>
		
		</div>
		<div ng-show="EDHData.length == 0">
			<div class="row inventoryAgeMessage noBorderBottom">{{::errMsg}}</div>
		</div>
		
	</div>
	<div ng-if="errObj.oopsMsg&&!isloaderOn" class="oops-err-msg">   
			<span  class="oops-msg">
				{{errObj.oopsMsg}}
			</span>
			<p class="contact-details-msg" ng-if="errObj.mailId">
				{{errObj.contactMsgPreText}} <a ng-href="mailto:{{errObj.mailId}}">{{errObj.mailId}}</a> {{errObj.contactMsgPostText}}</p>
		</div>
</div>
