<div class="row product-compare-card cat-card-container">
    <div class="col-md-12 header-content">
            <div class="col-md-12 super-header">
                <div class="col-md-12">
                    <div class="header-text">{{headerCode}}</div>
                </div>
            </div>
            <div class="col-md-12 image-section">
                <div class="col-md-12 product-image-border-padding">
                    <div class="product-image">
                        <img ng-src="{{image}}">
                    </div>
                </div>
            </div>
    </div>

    <div class="col-md-12 product-card-body-content no-padding" ng-if="productName === 'UTILITY VEHICLE'">
            <div class="product-name col-md-12 product-desc-row utv">
                <span>{{productName | initcaps}}</span>
            </div>
            <div class="product-desc-row col-md-12 no-padding">
                <div class="product-desc-value utv-price-row">
                     {{price}}  
                </div>
            </div>
            <div class="product-desc-row col-md-12 utv-padding">
                <div class="product-desc-header">
                    FUEL TYPE
                </div>
                <div class="product-desc-value">
                      {{fuelType}}          
                </div>
            </div>
            <div class="product-desc-row col-md-7 utv-padding max-speed">
                <div class="product-desc-header">
                    MAX SPEED
                </div>
                <div class="product-desc-value">
                      {{maxSpeed}}              
                </div>
            </div>
            <div class="product-desc-row col-md-5 utv-padding seat-capacity">
                    <div class="product-desc-header">
                        SEAT CAPACITY
                    </div>
                    <div class="product-desc-value">
                          {{seatingCapacity}}              
                    </div>
                </div>
    </div>
    <div class="col-md-12 product-card-body-content" ng-if="productName !== 'UTILITY VEHICLE'">
        <div class="product-name col-md-12 product-desc-row">
            <span>{{productName | initcaps}}</span>
        </div>
        <div class="product-desc-row col-md-12">
            <div class="product-desc-header">
                ENGINE MODEL
            </div>
            <div class="product-desc-value">
                 {{engineModel}}   
            </div>
        </div>
        <div class="product-desc-row col-md-12">
            <div class="product-desc-header">
                NET POWER
            </div>
            <div class="product-desc-value">
                  {{netPower}}          
            </div>
        </div>
        <div class="product-desc-row col-md-12">
            <div class="product-desc-header">
                OPERATING WEIGHT
            </div>
            <div class="product-desc-value">
                  {{operatingWeight}}              
            </div>
        </div>
    </div>
    <div class="col-md-12 compare-checkbox-section no-padding">
        <button class="btn compare-products" ng-class="{'grey-border' : productName === 'UTILITY VEHICLE'}" ng-click="navigateToProductCompare(headerCode);">COMPARE MODELS</button>
    </div>
</div>