<div class="col-xs-12 product-compare-card cat-card-container">
    <div class="row">
        <div class="col-xs-4">
            <div class="product-image mobile">
                <img ng-src="{{image}}">
            </div>
        </div>
        <div class="col-xs-8">
            <div class="header-name col-xs-12">{{productName | initcaps}}</div>
            <div class="header-text col-xs-12">{{headerCode}}</div>
            <div ng-if="productName === 'UTILITY VEHICLE'" class="header-text col-xs-12">{{price}}</div>
        </div>
    </div>
    <div class="row product-card-row">
        <div class="col-xs-4">
            <div ng-if="productName !== 'UTILITY VEHICLE'" class="engine-specs-heading">ENGINE MODEL</div>
            <div ng-if="productName === 'UTILITY VEHICLE'" class="engine-specs-heading">FUEL TYPE</div>
        </div>
        <div class="col-xs-4">
            <div ng-if="productName !== 'UTILITY VEHICLE'" class="engine-specs-heading">NET POWER</div>
            <div ng-if="productName === 'UTILITY VEHICLE'" class="engine-specs-heading">MAX SPEED</div>
        </div>
        <div class="col-xs-4">
            <div ng-if="productName !== 'UTILITY VEHICLE'" class="engine-specs-heading">OPERATING WEIGHT</div>
            <div ng-if="productName === 'UTILITY VEHICLE'" class="engine-specs-heading">SEAT CAPACITY</div>
        </div>
    </div>
    <div class="row product-card-row">
        <div class="col-xs-4">
            <div ng-if="productName !== 'UTILITY VEHICLE'" class="engine-specs-value">{{engineModel}}</div>
            <div ng-if="productName === 'UTILITY VEHICLE'" class="engine-specs-value">{{fuelType}}</div>
        </div>
        <div class="col-xs-4">
            <div ng-if="productName !== 'UTILITY VEHICLE'" class="engine-specs-value">{{netPower}}</div>
            <div ng-if="productName === 'UTILITY VEHICLE'" class="engine-specs-value">{{maxSpeed}}</div>
        </div>
        <div class="col-xs-4">
            <div ng-if="productName !== 'UTILITY VEHICLE'" class="engine-specs-value">{{operatingWeight}}</div>
            <div ng-if="productName === 'UTILITY VEHICLE'" class="engine-specs-value">{{seatingCapacity}}</div>
        </div>
    </div>
    <div class="row product-card-row compare-button">
        <button class="col-xs-12 compare-products" ng-click="navigateToProductCompare(headerCode);">COMPARE MODELS</button>
    </div>
</div>