<div class="inventory-table">
	<div ng-show="isloaderOn">
		<div class="cat-loading-spinner loadingSymbol"></div>
	</div>
	<div ng-show="!isloaderOn&&!errObj.oopsMsg">
	<div class="row row-header">
		<div class="col-xs-4">
			{{::serialLabel}}
		</div>
		<div class="col-xs-4 quantity">
				{{::estimatedDeliveryDateLabel}}
			</div>
		</div>	
		<div class="row stock-details" ng-repeat="transitResponse in EDHData track by $index">
			<div class="col-xs-12">
				<div class="col-xs-4 warehouse-name">
					{{transitResponse.serialNumber}}</div>
				<div class="col-xs-4 ware-house-address">
					{{(transitResponse.estimatedDeliveryDate|date: "MM-dd-y") || '-'}}
				</div>
				<a class="col-xs-4" href="{{inTransitLink | replaceAll:'_serialNumVar':''+transitResponse.serialNumber}}">View Additional Details {{transitResponse.additionalDetailsLink | replaceAll:'$serialNumVar':''+transitResponse.serialNumber}}</a>
			</div>
					
		</div>
		</div>
		<div ng-if="errObj.oopsMsg&&!isloaderOn" class="oops-err-msg">   
				<span  class="oops-msg">
					{{errObj.oopsMsg}}
				</span>
				<p class="contact-details-msg" ng-if="errObj.mailId">
					{{errObj.contactMsgPreText}} <a ng-href="mailto:{{errObj.mailId}}">{{errObj.mailId}}</a> {{errObj.contactMsgPostText}}</p>
			</div>
	   </div>