<div class="tab-data" ng-cloak>
    <div class="inventory-table lane-2-implementation" ng-class="{'inventoryTableHeight' : stockData.length && !isloaderOn && !errObj.oopsMsg}">
        <div class="row row-header" ng-show="stockData.length && !isloaderOn && !errObj.oopsMsg">
            <div class="col-xs-12 col-md-5">
                <div class="col-md-12 dealer-details-header no-padding hidden-xs">
                    <span>DEALER DETAILS</span>
                </div>
                <div class="col-md-12 dealer-details-search-box no-padding">
                    <input type="text" placeholder="Search branch or address" ng-model="searchText" ng-minlength="3"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 location-row">
                <div class="col-md-12 location-header no-padding hidden-xs">
                    <span>LOCATION</span>
                </div>
                <div ng-dropdown-multiselect="" 
                     options="locationDropDownData" 
                     selected-model="locationDropDownModel" 
                     extra-settings="locationDropDownSettings"
                     events="dropdownEvents">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 stock-row">
                <div class="col-md-12 total-stock-header no-padding hidden-xs">
                    <span ng-click="sortData();">TOTAL STOCK</span><span class="sort-icon" ng-click="sortData();"></span>
                </div>
                <div class="col-md-12 total-stock-header no-padding visible-xs">
                    <button class="pull-right sort-btn-mobile" ng-click="sortData();">TOTAL STOCK<span class="sort-icon"></span></button>
                </div>
            </div>
        </div>
        <div ng-show="isloaderOn" class="cat-loading-spinner loadingSymbol"></div>
        <div ng-if="stockData.length && !isloaderOn && !errObj.oopsMsg">
                <div ng-repeat="stock in rowsToDisplay | limitTo : noOfRowsToDisplay | filter: dealerSearch as filtered_result" class="row-container" ng-class="{'last':$last}">
                        <div class="row stock-details mob-border hidden-xs">
                            <div class="col-xs-5 col-md-5">
                                <div ng-if="stock.address">
                                    <div class="ware-house-address">
                                        {{stock.partyId}} {{stock.name}}
                                    </div>
                                    <div class="ware-house-address">
                                        {{stock.address.streetAddress}}
                                    </div>
                                    <div class="ware-house-address">
                                        {{stock.address.city}}
                                        {{stock.address.state}}
                                    </div>
                                    <div class="ware-house-address">
                                        {{stock.address.country}} - {{stock.address.postalCode}}
                                    </div>
                                </div>  
                            </div>
                            <div class="col-xs-4 col-md-4 location-col">
                                <span ng-if="stock.type == 'DLR'">{{stock.address.city}} - {{stock.address.streetAddress}}(BRANCH)</span>
                                <span ng-if="stock.type == 'MFR'">Factory</span>
                                <span ng-if="stock.type == 'PDC'">PDC</span>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="stock-cont inventoryCount">
                                    <span class="out-of-stock" ng-if="stock.count === 0"> 
                                        {{OutOfStockMsg}}
                                    </span>
                                    <span ng-if="stock.count > 0">
                                        {{stock.count}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row stock-details mob-border visible-xs">
                            <div class="col-xs-12 no-padding mobile-card-row">
                                <div class="col-xs-7 no-padding">
                                    <label class="header-label">DEALER DETAILS</label>
                                    <label class="header-value">
                                        {{stock.partyId}}
                                        {{stock.name}}
                                    </label>
                                    <label class="header-value">
                                        {{stock.address.streetAddress}}
                                    </label>
                                    <label class="header-value">
                                        {{stock.address.city}}
                                    </label>
                                    <label class="header-value">
                                        {{stock.address.state}}
                                    </label>
                                    <label class="header-value">
                                        {{stock.address.country}} - {{stock.address.postalCode}}
                                    </label>
                                </div>
                                <div class="col-xs-5 no-padding">
                                    <div class="col-xs-12 no-padding">
                                        <label class="header-label">LOCATION</label>
                                        <label class="header-value" ng-if="stock.type == 'DLR'">{{stock.address.city}} - {{stock.address.streetAddress}} BRANCH</label>
                                        <label class="header-value" ng-if="stock.type == 'MFR'">Factory</label>
                                        <label class="header-value" ng-if="stock.type == 'PDC'">PDC</label>
                                    </div>
                                    <div class="col-xs-12 no-padding total-stock-col">
                                        <label class="header-label">TOTAL STOCK</label>
                                        <label class="header-value">{{stock.count}}</label>
                                    </div> 
                                </div>
                            </div>
                        </div>
                </div>
                <div ng-show="filtered_result.length == 0 && (searchText == undefined || searchText.length == 0)" class="no-results-found-row">
                   Please select at least one location from the dropdown.
                </div>
                <div ng-show="filtered_result.length == 0 && searchText.length >= 3" class="no-results-found-row">
                    No search results found.
                </div>
                <div class="col-xs-12 col-md-12 show-more-container no-padding" ng-if="rowsToDisplay.length > 3 && filtered_result.length > 0">
                    <label ng-show="noOfRowsToDisplay < totalDealerRows.length" ng-click="showMoreData();">See More</label>
                    <label ng-show="noOfRowsToDisplay == totalDealerRows.length" ng-click="showLessData();">See less</label>
                </div>
        </div>
    </div>
    <div ng-if="errObj.oopsMsg && !isloaderOn" class="oops-err-msg">
        <span  class="oops-msg">
            {{errObj.oopsMsg}}
        </span>
        <p class="contact-details-msg" ng-if="errObj.mailId">
            {{errObj.contactMsgPreText}} <a ng-href="mailto:{{errObj.mailId}}">{{errObj.mailId}}</a> {{errObj.contactMsgPostText}}
        </p>
    </div>
</div>
