<div class="modal-body col-md-12" align-vertical-center-modal-dialog id="quotation-remove-item-modal-body">
    <div class="col-md-12">
        <span class="close-modal pull-right" ng-click="close();"></span>
    </div>
     <div class="col-md-12 confirm-remove">
         <span>{{displayRemoveText}}</span>
     </div>
     <div class="col-md-12 remove-product-btn-container">
          <button class="btn update-product-list remove-product-btn" ng-click="deleteCartProducts(removeCartProductIndex);">CONTINUE</button>
     </div>
  </div>