<div class="modal-body popup-wrapper  col-xs-12 col-md-12" align-vertical-center-modal-dialog>
		<div class="col-md-12 col-xs-12 no-padding">
			<div class="submit-query-popup col-xs-12 col-md-12">
				<!-- <div class="col-md-12 col-xs-12">
					<span class="close-modal pull-right" ng-click="closePopup();"></span>
				</div> -->
				<div class="popup-header col-xs-12 col-md-12">
					quote has been submitted!
				</div>
				<div class="quote-details col-xs-12 col-md-12">
					<div class="quote-info col-xs-12 col-md-12">
						<div class="quote-label col-xs-6 col-md-7 no-padding">quote number</div>
						<div class="quote-val col-xs-6 col-md-5 no-padding">{{view.quoteCode}}</div>
					</div>
					<div class="quote-info col-xs-12 col-md-12">
						<div class="quote-label col-xs-6 col-md-7 no-padding">quote name</div>
						<div class="quote-val col-xs-6 col-md-5 no-padding">{{view.quoteName}}</div>
					</div>
					<div class="quote-info col-xs-12 col-md-12">
						<div class="quote-label col-xs-6 col-md-7 no-padding">customer name</div>
						<div class="quote-val col-xs-6 col-md-5 no-padding">{{view.quoteCustomer}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 approval">
						<label class="approval-checkbox">
						<div>Send to Dealer Sales Manager for approval</div>
						<input type="checkbox" ng-model="view.submitToDSU.value" ng-change="submitToDSUChnaged()" ng-disabled="view.submitToDSU.ajaxInprogress">
						<span class="checkmark"></span>
						</label>
					</div>
				</div>
				<div class="row" ng-if="view.submitToDSU.ajaxInprogress">
					<div class="spinner col-xs-12">
						<div class="cat-loading-spinner">
						</div>
					</div>
				</div>
				<div class="quote-button-wrapper col-xs-12 col-md-12">
					<button class="quote-btn quote-btn-desktop col-xs-12 col-md-8" ng-click="navigateToQuoteHistory();" ng-disabled="view.submitToDSU.ajaxInprogress" ng-class="{'disabled':view.submitToDSU.ajaxInprogress}">
						view quote history
					</button>
					<button class="quote-btn done-btn col-xs-4 col-md-3 col-md-push-1" ng-click="navigateToHome();" ng-disabled="view.submitToDSU.ajaxInprogress" ng-class="{'disabled':view.submitToDSU.ajaxInprogress}" >
						done
					</button>
					<button class="quote-btn quote-btn-mobile col-xs-12 col-md-6" ng-click="navigateToQuoteHistory();" ng-disabled="view.submitToDSU.ajaxInprogress" ng-class="{'disabled':view.submitToDSU.ajaxInprogress}">
						view quote history
					</button>
				</div>
				<div class="export-doc-link col-md-12 col-xs-12">
					<a href={{'/catSite/en/quote/'+view.quoteCode+'/export'}} target="_blank" ng-disabled="view.submitToDSU.ajaxInprogress" ng-class="{'disabled':view.submitToDSU.ajaxInprogress}">Export to word document</a>
				</div>
			</div>
		</div>
		</div>
		