<div class="modal-body text-center" align-vertical-center-modal-dialog>
	<div class="edit-quote-content">
		<p>Your changes are saved</p>

		<button class="btn update-product-list"
			ng-click="navigateToQuoteDetails()">DONE</button>
	</div>
</div>	