<div class="modal-body text-center" align-vertical-center-modal-dialog>
	<div>
		<p class="error-message">{{errorMessage}}</p>

		<button class="btn update-product-list"
			ng-click="retryNavigation()">RETRY</button>
	</div>
</div>	