<div class="modal-body col-md-12" id="quotation-epp-csa-modal-body">
    <div class="col-md-12">
        <span class="close-modal pull-right" ng-click="closeEppCsaPopup();"></span>
    </div>
     <div class="col-md-12 confirm-remove">
         <span>NEW {{option}} OPTION</span>
     </div>
     <div class="col-md-12 confirm-remove">
        <input type="text" class="cat-inputs type1" place-holder="Enter Details" ng-if="option === 'EPP'" ng-model="customEppCsaOptionArray[lineIndex].customEppOption"/>
        <input type="text" class="cat-inputs type1" place-holder="Enter Details" ng-if="option === 'CSA'" ng-model="customEppCsaOptionArray[lineIndex].customCsaOption"/>
    </div>
     <div class="col-md-12 remove-product-btn-container">
          <button class="btn update-product-list remove-product-btn" ng-click="addCustomEppCsaOption(lineIndex,option,item);">ADD</button>
     </div>
  </div>