<div class="modal-body col-md-12" align-vertical-center-modal-dialog id="remove-bcp-modal-body">
    <div class="col-md-12">
        <span class="pull-right close-bcp-remove-popup close-icon" ng-click="closeRemovebcpPopup();"></span>
    </div>
     <div class="col-md-12 popup-message">
         <span>{{reviewbcpRemovePopupText}}</span>
     </div>
     <div class="col-md-12 remove-product-btn-container">
          <button class="btn update-product-list remove-product-btn" ng-click="deletebcpProducts();">CONTINUE</button>
     </div>
  </div>