<div class="modalPopup">
  <div ng-class="{'truckload-submission-popup':productType == 'truckload','accessories':productType == 'accessories','truckload-validation-error-popup':productType == 'truckloadValidationError'}" class="review-order-popup" stop-event>

  <div ng-if="type == 'success'">
	<div class="row header">
  	<div class="col-md-12 content text-center" ng-class="{'truckload':productType == 'truckload'}">{{alertHeader}}</div>
  </div>
	<!-- For Truckload UTV products -->
	<div class="row order-info" ng-if="productType == 'truckload'">
		<div class="col-md-12 truckload-submission-popup-wrapper">
				<div class="col-md-12 orderInfoLabels">
						<div class="row">
							<div class="col-md-7 col-xs-6 padding-left-0">
								<div class="text truckload">Total Truckload</div>
							</div>
							<div class="col-md-5 col-xs-6 padding-left-0">
								<div class="value truckload">{{totalTruckload}}</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 orderInfoLabels">
						<div class="row">
							<div class="col-md-7 col-xs-6 padding-left-0">
								<div class="text truckload">Total Units</div>
							</div>
							<div class="col-md-5 col-xs-6 padding-left-0">
								<div class="value truckload">{{totalTruckloadUnits}} Units</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="row cuv-order-conf-msg">
							<img class="info-icon" src="/_ui/responsive/cat/images/info-icon.svg" /> Your current order has been split into {{splitOrderCount}} orders and will be reflected on the Order History page shortly.
						</div>
					</div>
		</div>
	</div>
	<!-- For UTV products -->
	<div class="row order-info" ng-if="productType === 'true'">
		<div class="col-md-12 orderInfoLabels">
			<div class="row">
				<div class="col-md-7 col-xs-6 padding-left-0">
					<div class="text" ng-bind="productInfoText"></div>
				</div>
				<div class="col-md-5 col-xs-6 padding-left-0">
					<div class="value" ng-bind-html="productInfoValue"></div>
				</div>
			</div>
		</div>
		<div class="col-md-12 orderInfoLabels">
			<div class="row">
				<div class="col-md-7 col-xs-6 padding-left-0">
					<div class="text">Quantity </div>
				</div>
				<div class="col-md-5 col-xs-6 padding-left-0">
					<div class="value" ng-bind-html="quantityUnits"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- For IM products -->
	<div class="row order-info" ng-if="productType === 'false'">
			<div class="col-md-12 orderInfoLabels">
				<div class="col-md-12 col-xs-12 padding-left-0 imProductReview">
					<div class="row">
						<div class="heading col-xs-6 col-md-6 text-left">
								Sales Model
						</div>
						<div class="heading col-xs-6 col-md-6 text-left">
								Quantity
						</div>
						
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding-left-0 imProductReview">
						<div class="row" ng-repeat="(key, value) in resultPo">
							<div class="col-xs-6 col-md-6">
								<div class="text text-left">{{key}}</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="text text-left">{{value}} 
									<span ng-if="value > 1">Units</span>
									<span ng-if="value === 1">Unit</span>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	
  <div class="row order-info">
   <!-- <div class="col-md-1 col-xs-1"> <span class="glyphicon glyphicon-info-sign"></span></div> -->
   <div class="col-md-11 col-xs-11 order-msg" ng-if="productType != 'truckload'">
		<span class="order-info-msg"></span>
    <div  ng-if="quantity == 1">Your current order will take few more moments to reflect on the Order History page.</div>
    <div  ng-if="quantity != 1">Your current order has been split into {{quantity}} orders and will be reflected on the Order History page shortly.</div>
    </div>
  </div>

  <div class="row footer hidden-xs" ng-class="{'truckload':productType == 'truckload'}">
		<div ng-class="productType == 'truckload'?'col-md-6':'col-md-7'">
			<button  class="view-order-history text-uppercase" ng-class="{'truckload':productType == 'truckload'}" ng-click="viewOrderHistory()">View order history</button>
		</div>
    <div ng-class="productType == 'truckload'?'col-md-6':'col-md-5'">
    	<button  class="ok" ng-class="{'truckload':productType == 'truckload'}" ng-click="popUpClose()">{{ok}}</button>
    </div>
	</div>
	<div class="row footer visible-xs mobile-btns" ng-if="productType != 'truckload'">
		<div class="col-xs-12">
			<button  class="view-order-history text-upper" ng-click="viewOrderHistory()">View order history</button>
		</div>
		<div class="col-xs-12">
			<button  class="ok" ng-click="popUpClose()">{{ok}}</button>
		</div>
	</div>
	<div class="row footer visible-xs mobile-btns truckload" ng-if="productType == 'truckload'">
		<div class="col-xs-12">
			<button  class="ok truckload" ng-click="popUpClose()">{{ok}}</button>
		</div>
		<div class="col-xs-12">
			<button  class="view-order-history text-upper truckload" ng-click="viewOrderHistory()">View order history</button>
		</div>
	</div>
  </div>

  <div ng-if="type == 'error'">
  		<div class="row">
	  		<div class="col-xs-12 close-icon">
				  <span class="reorderPopupClose pull-right" ng-click="closeCurrentPopUp();"></span>
	  		</div>
  		</div>
  		<div class="row header">
		  	<div class="col-md-12 content custom-error"><img class="warning-info" src="/_ui/responsive/cat/images/warning.png">{{alertHeader}}</div>
		  </div>
		  <div class="row" ng-if="!!errorPos && errorPos.length > 0">
			  <div class="col-xs-12 po-error-info" ng-repeat="po in errorPos track by $index|limitTo:3">
			  	 PO# {{po}}
			  </div>
		  </div>
		  <div class="row error-info-message" ng-if="!!errorPos && errorPos.length > 0">
			  <div class="col-xs-12 no-padding" ng-bind="errorInfo">
			  </div>
		  </div>

		  <div class="row error-info-message" ng-if="!(!!errorPos && errorPos.length > 0)">
			  <div class="col-xs-12 no-padding"> Sorry, we are not able to process your request. Please try again later </div>
			  </div>
		  </div>
		  
  </div>

</div>
</div>
