<div class="col-md-12 product-table cart-product-details-table no-padding">
    <div class="table-heading hidden-xs clearfix">
        <div class="col-sm-2 header">
            PRODUCTS
        </div>
        <div class="col-sm-10">
            <div class="col-sm-6 header">
                LIST PRICE PER PRODUCT
            </div>
            <div class="col-sm-2 header">
                QUANTITY*
            </div>
            <div class="col-sm-2 header">
                LIST PRICE
            </div>
            <div class="col-sm-2 header">
            </div>
        </div>
    </div>
    <div class="table-content cart-product-row row no-gutters" ng-repeat="(cartKey, cartRows) in reorderCartData">
        <div class="product-name col-sm-2">
            <div class="product-row col-md-12">
                <div class="row no-gutters">
                    <div class="image-section col-md-4 col-xs-4">
                        <div class="product-image-container pull-left">
                            <img ng-src="{{cartRows[0].product.images[0].url || defaultDownloadImage}}" />
                            <div class="hidden-xs lane-info-tag text-center col-xs-12 cat-buttons secondary-btn">{{laneType.name}} <span class="dot" ng-class="{'{{laneType.code}}-dot' : laneType.code}"></span></div>
                            <div class="hidden-xs col-xs-12 lane-error no-padding">{{laneErrors[cartKey]}}</div>
                        </div>
                    </div>
                    <div class="data-section visible-xs col-md-8 col-xs-8">
                        <div class="product-details-container">
                            <div class="product-family-heading">{{cartRows[0].product.categories[0].name}}</div>
                            <div class="product-family-value">{{cartRows[0].product.primaryOfferingName}} ({{cartRows[0].product.primaryOfferingId}})</div>
                        </div>
                    </div>
                    <div class="visible-xs text-center col-xs-12 cat-buttons secondary-btn">{{laneType.name}} <span class="dot" ng-class="{'{{laneType.code}}-dot' : laneType.code}"></span></div>
                    <div class="visible-xs col-xs-12 lane-error no-padding">{{laneErrors[cartKey]}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="hidden-xs">
                <div class="col-sm-12 no-padding">
                    <label class="product-family-heading">{{cartRows[0].product.categories[0].name}}</label>
                </div>
                <div class="col-sm-12 no-padding">
                    <label class="product-family-value">{{cartRows[0].product.primaryOfferingName}} ({{cartRows[0].product.primaryOfferingId}})</label>
                </div>
            </div>
            <div class="col-sm-11 col-xs-12 no-padding" ng-class="{'error-border': laneErrors[cartKey]}">
                <div class="col-sm-12 no-padding clearfix" ng-class="{ 'configlevel-product-mb' : cartRows.length > 1 && !$last, 'error-border': !laneErrors[cartKey] && configData.disContinuedError}" ng-repeat="(idx, configData) in cartRows track by $index">
                    <div class="configuration-id-heading hidden-xs">
                        Configuration ID
                    </div>
                    <div>
                        <div class="hidden-xs">
                            <div class="col-sm-6 header no-padding">
                                <span class="configuration-id-value hidden-xs">{{configData.product.name}}</span>
                                <span class="pull-right mask">
                                    {{configData.basePrice.formattedValue}}
                                </span>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1 mask quantityDetails">
                                <td data-title="QUANTITY" class="quantity hidden-xs">
                                    <div class="cart-quantity-section" ng-class="{'no-margin-top':$first}">
                                        <span class="decrement" ng-click="updateReorderCartData('decrement',$event,configData.entryNumber, configData.quantity);"></span>
                                        <input class="quantity-box" ng-blur="updateReorderCartData('',$event,configData.entryNumber);" restrict-to="[0-9]" ng-keyup="Prevent($event)" ng-model="configData.quantity" />
                                        <span class="increment" ng-click="updateReorderCartData('increment',$event,configData.entryNumber);"></span>
                                    </div>
                                </td>
                            </div>
                            <div class="col-sm-2 header mask">
                                {{configData.totalPrice.formattedValue}}
                            </div>
                            <div class="col-sm-1 header remove-row">
                                <span class="remove" ng-click="deleteReorderCartData(configData.entryNumber)";></span>
                            </div>
                        </div>
                        <div class="hidden-xs col-md-12 no-padding discontinued-error" ng-if="configData.disContinuedError">{{configData.disContinuedError}}</div>
                        <div class="col-md-12 config-id-section visible-xs">
                            <div class="col-md-12 no-padding config-id-mobile-section">
                                <div class="col-md-12 no-padding config-id-heading">
                                    CONFIGURATION ID
                                </div>
                                <div class="col-md-12 no-padding config-id-value clearfix">
                                    <span class="pull-left">{{configData.product.name}}</span>
                                    <span class="pull-right"><span class="remove" ng-click="deleteReorderCartData(configData.entryNumber)";></span></span>
                                </div>
                                <div class="col-md-12 no-padding discontinued-error" ng-if="configData.disContinuedError">{{configData.disContinuedError}}</div>
                                <div class="col-md-12 no-padding list-price-per-product clearfix mask">
                                    <div class="col-xs-6 no-padding heading">LIST PRICE/PRODUCT</div>
                                    <div class="col-xs-6 no-padding value"><span class="pull-right">{{configData.basePrice.formattedValue}}</span></div>
                                </div>
                                <div class="col-md-12 quantity no-padding clearfix mask">
                                    <div class="col-xs-6 no-padding heading">QUANTITY<span class="asterik">*</span></div>
                                    <div class="col-xs-6 no-padding value text-right">
                                        <span class="decrement" ng-click="updateReorderCartData('decrement',$event,configData.entryNumber, configData.quantity);"></span>
                                        <input class="quantity-box" ng-blur="updateReorderCartData('',$event,configData.entryNumber);" restrict-to="[0-9]" ng-keyup="Prevent($event)" ng-model="configData.quantity" />
                                        <span class="increment" ng-click="updateReorderCartData('increment',$event,configData.entryNumber);"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 list-price no-padding clearfix mask">
                                    <div class="col-xs-6 no-padding heading">LIST PRICE</div>
                                    <div class="col-xs-6 no-padding value"><span class="pull-right">{{configData.totalPrice.formattedValue}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 no-padding-desktop po-section mask" ng-class="{ 'po-boxes-section' : cartRows.length > 1 && !$last}">
                            <div class="col-md-12 po-no-heading no-padding">
                                <span>PURCHASE ORDER NUMBER</span>
                                <span class="asterik">*</span>
                            </div>
                            <div class="col-md-12 po-no-disclaimer no-padding">
                                <span>A PO# must be entered for each ordered unit.</span>
                                <span class="error-container hidden-xs">{{configData.poNumberValuesArray.purchaseOrderErrorSet.errorMsg}}</span>
                                <div class="col-xs-12 col-md-12 error-container visible-xs no-padding">{{configData.poNumberValuesArray.purchaseOrderErrorSet.errorMsg}}</div>
                            </div>
                            <div class="col-md-12 po-count-text no-padding" ng-if="showOutOfCount(configData)">
                                <span class="po-count-img" ng-class="getInfoIconClass(configData)"></span>
                                <span class="text-alignment">{{configData.poNumberValuesArray.filledPoCount}} out of {{configData.poNumberValuesArray.purchaseOrderNumberSet.length}} added</span>
                            </div>
                            <div class="col-md-12 po-nos-container no-padding">
                                <div class="po-no-box col-md-3 col-xs-6" ng-repeat="(key, obj) in configData.poNumberValuesArray.purchaseOrderNumberSet track by $index">
                                    <span class="serial-no">{{$index + 1}}.</span> <input cat-capitalize  type="text" class="cat-inputs type1 po-input" ng-trim="false" placeholder="Enter PO #" restrict-model-input="^[A-Za-z0-9]{0,12}$"
                                    not-allow-to="[]" maxlength='12' 
                                    ng-model="configData.poNumberValuesArray.purchaseOrderNumberSet[$index]" 
                                    ng-focus="broadcastTextBoxFocus();"
                                    ng-blur="duplicateErrorPONumbers(configData.poNumberValuesArray.purchaseOrderNumberSet[$index], configData.poNumberValuesArray);" 
                                    ng-class="{'has-error':calculateErrorPONumbers(configData.poNumberValuesArray.purchaseOrderNumberSet[$index])}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <table class="col-md-12 cart-product-details-table">
            <thead>
                <tr>
                    <th class="col-md-6">PRODUCTS</th>
                    <th class="col-md-2 list-price-per-product text-left">
                        <span>LIST PRICE</span>
                        <span>PER PRODUCT</span>
                    </th>
                    <th class="col-md-2 text-center">QUANTITY<span class="asterik">*</span></th>
                    <th class="col-md-2 text-right">LIST PRICE</th>
                </tr>
            </thead>
            <tbody>
            <tr class="cart-product-row" ng-repeat-start="cartRows in reorderCartData">
                <td data-title="" class="product-name">
                    <div class="product-row col-md-12 clearfix">
                        <div class="row no-gutters">
                        <div class="image-section col-md-4 col-xs-3">
                            <div class="product-image-container pull-left">
                                <img ng-src="{{cartRows[0].product.images[0].url || defaultDownloadImage}}" />
                            </div>
                        </div>
                        <div class="data-section col-md-8 col-xs-9">
                            <div class="product-details-container">
                                <label class="product-family-heading">{{cartRows[0].product.categories[0].name}}</label>
                                <label class="product-family-value">{{cartRows[0].product.primaryOfferingName}} ({{cartRows[0].product.primaryOfferingId}})</label>
                                <label class="configuration-id-heading hidden-xs">Configuration ID</label>
                                <label ng-repeat="configData in cartRows" class="configuration-id-value hidden-xs">{{configData.product.name}}</label>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 config-id-section visible-xs no-padding">
                        <div class="col-md-12 no-padding config-id-mobile-section" ng-repeat="configData in cartRows">
                            <div class="col-md-12 no-padding config-id-heading">
                                CONFIGURATION ID
                            </div>
                            <div class="col-md-12 no-padding config-id-value clearfix">
                                <span class="pull-left">{{configData.product.name}}</span>
                                <span class="pull-right"><span class="remove" ng-click="deleteReorderCartData(configData.entryNumber)";></span></span>
                            </div>
                            <div class="col-md-12 no-padding list-price-per-product clearfix">
                                <div class="col-xs-6 no-padding heading">LIST PRICE/PRODUCT</div>
                                <div class="col-xs-6 no-padding value"><span class="pull-right">{{configData.basePrice.formattedValue}}</span></div>
                            </div>
                            <div class="col-md-12 quantity no-padding clearfix">
                                <div class="col-xs-6 no-padding heading">QUANTITY<span class="asterik">*</span></div>
                                <div class="col-xs-6 no-padding value text-right">
                                    <span class="decrement" ng-click="updateReorderCartData('decrement',$event,configData.entryNumber);"></span>
                                    <input class="quantity-box" ng-blur="updateReorderCartData('',$event,configData.entryNumber);" restrict-to="[0-9]" ng-keyup="Prevent($event)" value="{{getFormattedText(configData.quantity)}}" />
                                    <span class="increment" ng-click="updateReorderCartData('increment',$event,configData.entryNumber);"></span>
                                </div>
                            </div>
                            <div class="col-md-12 list-price no-padding clearfix">
                                <div class="col-xs-6 no-padding heading">LIST PRICE</div>
                                <div class="col-xs-6 no-padding value"><span class="pull-right">{{configData.totalPrice.formattedValue}}</span></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td data-title="LIST PRICE/PRODUCT" class="list-price-per-product hidden-xs">
                    <label ng-repeat="configData in cartRows" class="list-price-per-product-value" ng-class="{'no-margin-top':$first}">{{configData.basePrice.formattedValue}}</label>
                </td>
                <td data-title="QUANTITY" class="quantity hidden-xs">
                    <div class="cart-quantity-section" ng-repeat="configData in cartRows" ng-class="{'no-margin-top':$first}">
                        <span class="decrement" ng-click="updateReorderCartData('decrement',$event,configData.entryNumber);"></span>
                        <input class="quantity-box" ng-blur="updateReorderCartData('',$event,configData.entryNumber);" restrict-to="[0-9]" ng-keyup="Prevent($event)" value="{{getFormattedText(configData.quantity)}}" />
                        <span class="increment" ng-click="updateReorderCartData('increment',$event,configData.entryNumber);"></span>
                    </div>
                </td>
                <td data-title="LIST PRICE" class="list-price hidden-xs">
                    <label class="list-price-per-product-value" ng-repeat="configData in cartRows" ng-class="{'no-margin-top':$first}">
                        <span>{{configData.totalPrice.formattedValue}}<span class="remove" ng-click="deleteReorderCartData(configData.entryNumber)";></span></span>
                    </label>
                </td>
            </tr>
            <tr ng-repeat-end class="po-number-row">
                <td colspan="5">
                    <div class="col-md-12 po-no-heading">
                        <span>PURCHASE ORDER NUMBER</span>
                        <span class="asterik">*</span>
                    </div>
                    <div class="col-md-12 po-no-disclaimer">
                        <span>A PO# must be entered for each ordered unit.</span>
                        <span class="error-container hidden-xs">{{poNumberValuesArray[$index]['purchaseOrderErrorSet'].errorMsg}}</span>
                        <div class="col-xs-12 col-md-12 error-container visible-xs no-padding">{{poNumberValuesArray[$index]['purchaseOrderErrorSet'].errorMsg}}</div>
                    </div>
                    <div class="col-md-12 po-nos-container clearfix">
                        <div class="po-no-box col-md-2 col-xs-6" ng-repeat="obj in getPONumberArray(poNumberCountArray[$index].poNumbersCount) track by $index">
                            <input cat-capitalize  type="text" class="cat-inputs type1" ng-trim="false" placeholder="Enter PO #" restrict-model-input="^[A-Za-z0-9]{0,12}$"
                            not-allow-to="[]" maxlength='12' 
                            ng-model="poNumberValuesArray[$parent.$index]['purchaseOrderNumberSet'][$index]" 
                            ng-focus="broadcastTextBoxFocus();"
                            ng-blur="duplicateErrorPONumbers(poNumberValuesArray[$parent.$index]['purchaseOrderNumberSet'][$index]);" 
                            ng-class="{'has-error':calculateErrorPONumbers($parent.$index,$index)}"/>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>     -->
</div>
