<div class="modal-body col-md-12" id="replicate-quote-non-empty-cart-modal-body">
    <div class="col-md-12">
        <span class="close-modal pull-right" ng-click="close();"></span>
    </div>
    <div class="col-md-12 attention-header">
            <h3>ATTENTION!</h3>
        </div>
     <div class="col-md-12 confirm-remove">
         <span>Your products in the cart would be lost. Do you want to proceed ?</span>
     </div>
     <div class="col-md-12 remove-product-btn-container">
          <button class="btn update-product-list yes-btn" ng-click="navigateToEditQuotePage();">YES</button>
     </div>
  </div>