<div class="modal-body col-md-12" id="reserve-machine-modal-body" align-vertical-center-modal-dialog="full-screen-xs">
    <div class="col-md-12">
        <span class="close-modal pull-right" ng-click="closeReservePopup(reservePopupResponse.lineIndex);"></span>
    </div>
    <div class="col-md-12 reserve-machine-popup-heading">
       <h3 class="text-center">RESERVE A MACHINE</h3>
    </div>
    <div class="col-md-12 reserve-row">
        <div class="col-md-12 no-padding margin-bottom-20">
            <div class="col-md-5 reserve-machine-header">Configuration ID</div>
            <div class="col-md-7 reserve-machine-value">{{reservePopupResponse.configurationID}}</div>
        </div>
        <div class="col-md-12 no-padding margin-bottom-20"  ng-repeat="serialNoArray in reservePopupResponse.serialNosList">
            <div class="col-md-5 reserve-machine-header">Serial Number {{$index+1}}</div>
            <div class="col-md-7 reserve-machine-value">
                    <span uib-dropdown class="product-family-btn pull-right">
                            <a class="pull-right product-family-dropdown" href uib-dropdown-toggle>
                                <label class="product-family-dropdown-label">{{reservePopupResponse.reservedSerialNos[$index]}}</label> 
                                <img class="pull-right product-family-dropdown-arrow" ng-src="/_ui/responsive/cat/images/dropdown-arrow.png"/>
                                <span class="clearfix"></span>
                            </a>
                            <ul class="pull-right dropdown-menu product-family-dropdown-menu" uib-dropdown-menu>
                                <li ng-if="reservePopupResponse.reservedSerialNos[$index] !== _selectText" class="product-family-dropdown-item dropdown1" ng-click="setDefaultValue($index)">
                                    <a class="dropdown-value" href="#">{{_selectText}}</a>
                                </li>
                                <li class="product-family-dropdown-item dropdown1"  ng-repeat="serialNumber in serialNoArray.SerialNumbers track by $index" ng-click="updateSerialNosSelection($parent.$index,serialNumber,reservePopupResponse.lineIndex);">
                                    <a class="dropdown-value" href="#">{{serialNumber}}</a>
                                </li>
                            </ul>
                    </span>
            </div>
        </div>
        <div class="col-md-12 no-padding margin-bottom-20 margin-top-20">
                <div class="col-md-5 reserve-machine-header">End Date</div>
                <div class="col-md-7 reserve-machine-value">
                    <input type="text" uib-datepicker-popup="{{reserveMachineDetails.dateFormat}}" ng-model="reservePopupResponse.endDate" name="reserveEndDate" popup-placement="top-left" datepicker-popup-template-url="/_ui/responsive/cat/templates/customDatepickerTemplate.html" on-open-focus="false" is-open="reserveMachineDetails.reserveEndDate.popupOpend" datepicker-options="reserveMachineDetails.reserveEndDateOptions" ng-required="true" close-text="Close" ng-click="reserveMachineDetails.reserveEndDate.popupOpend = !reserveMachineDetails.reserveEndDate.popupOpend"  class="cat-inputs type1 reserve-end-date-datepicker"  ng-class="{'has-error':!reserveMachineDetails.reserveEndDate.isValid}" ng-readonly="true" placeholder="MM-DD-YYYY" ng-change="onDateSelected()" />
                    <span class="calendar-icon" ng-click="reserveMachineDetails.reserveEndDate.popupOpend = !reserveMachineDetails.reserveEndDate.popupOpend"></span> 
                </div>
        </div>
        <div class="col-md-12 no-padding text-center">
                <button class="btn update-product-list reserve-popup-btn"  ng-disabled='reserveBtnEnable' ng-click="reserveMachine(reservePopupResponse.lineIndex);">RESERVE</button>
        </div>
    </div>
</div>
