<div class="modal-body col-md-12" align-vertical-center-modal-dialog id="remove-truckload-modal-body">
    <div class="col-md-12">
        <span class="pull-right close-truckload-remove-popup" ng-click="closeRemoveTruckloadPopup();"></span>
    </div>
     <div class="col-md-12 confirm-remove">
         <span>{{reviewTruckloadRemovePopupText}}</span>
     </div>
     <div class="col-md-12 remove-product-btn-container">
          <button class="btn update-product-list remove-product-btn" ng-click="deleteTruckload(currentTruckloadId,currentTruckIndex);">CONTINUE</button>
     </div>
  </div>