<div class="modal-body col-md-12 epp-csa-modal" id="reserve-machine-modal-body" align-vertical-center-modal-dialog="clearfix">
    <div class="col-md-12 clear-row">
        <div class="col-md-12 no-padding 
            clear-alert-popup-text 
            margin-bottom-20 text-center"
            ng-bind="ErrMsg"></div>
        <div class="col-md-12 no-padding text-center">
                <button class="btn update-product-list clear-alert-popup-btn" ng-click="closeClearEppCsaAlert()">CONTINUE</button>
        </div>
    </div>
</div>
