<div class="modal-body col-md-12 snop-orderable-limit-modal" id="snop-orderable-limit-modal-body" align-vertical-center-modal-dialog>
    <div ng-if="!snopConnectionError && !snopNullResponseError" class="col-xs-12 col-md-12 no-padding">
        <div class="col-xs-12 col-md-12 no-padding disclaimer-row">
            <span class="warning-symbol"></span>
            <p>You have exceeded the maximum committed order limit.</p>
            <p>Please reduce the order quantity of the following models and try again.</p>
        </div>
        <div class="col-xs-12 col-md-12 table-row no-padding hidden-xs">
            <div class="col-xs-12 col-md-12 table-heading no-padding">
                <div class="col-xs-4 col-md-4 no-padding heading-col">MODEL NO</div>
                <div class="col-xs-4 col-md-4 no-padding heading-col">ORDERS PLACED</div>
                <div class="col-xs-4 col-md-4 no-padding heading-col">COMMITTED ORDERS</div>
            </div>
            <div class="col-xs-12 col-md-12 table-body no-padding" ng-repeat="object in snopOrderablePopupData">
                <div class="col-xs-4 col-md-4 no-padding table-col">{{object.PRODUCT_CODE}}</div>
                <div class="col-xs-4 col-md-4 no-padding table-col">{{object.ORDER_LIMIT_USED}}</div>
                <div class="col-xs-4 col-md-4 no-padding table-col">{{object.ORDER_LIMIT}}</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 table-row no-padding visible-xs">
                <div class="col-xs-12 col-md-12 table-heading no-padding">
                    <div class="col-xs-5 col-md-4 no-padding heading-col">MODEL NO</div>
                    <div class="col-xs-7 col-md-4 no-padding heading-col">ORDERS PLACED/ COMMITTED ORDERS</div>
                </div>
                <div class="col-xs-12 col-md-12 table-body no-padding" ng-repeat="object in snopOrderablePopupData">
                    <div class="col-xs-5 col-md-4 no-padding table-col">{{object.PRODUCT_CODE}}</div>
                    <div class="col-xs-7 col-md-4 no-padding table-col">{{object.ORDER_LIMIT_USED}}/{{object.ORDER_LIMIT}}</div>
                </div>
        </div>
        <div class="col-xs-12 col-md-12 edit-order-btn-row no-padding text-center">
            <button class="btn update-product-list snop-edit-order-btn" ng-click="editOrder();">EDIT ORDER</button>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 no-padding" ng-if="snopConnectionError || snopNullResponseError">
            <div class="col-xs-12 col-md-12 no-padding disclaimer-row">
                <span class="warning-symbol"></span>
                <div class="failed-heading">ORDER FAILED</div>
            </div>
            <div class="col-xs-12 col-md-12 no-padding disclaimer-row">
                <p>Oops! Something went wrong.</p>
                <p>Please contact <a href="mailto:retail_digital_enablement@cat.com">retail_digital_enablement@cat.com</a> for additional details OR call our BCP Helpdesk at 919-550-3000</p>
            </div>
            <div class="col-xs-12 col-md-12 edit-order-btn-row no-padding text-center">
                <button class="btn update-product-list okay-btn" ng-click="editOrder();">OK</button>
            </div>
    </div>
    
</div>