<div class="modal-body clear-cart-popup-container">
    <div class="clear-cart-popup-content something-wrong">
        <div class="description">Oops, something went wrong! Please click on Edit Order to review your cart</div>
        <button class="continue-button upperCase" ng-click="editOrder()">Edit Order</button>
    </div>
</div>