<div class="typeahead-template col-md-12 col-sm-12 col-xs-12">
<div class="row radioButtonsNavigation">
		<div class="row">
			<div class="col-xs-12">
				<span class="searchForLabel">Search For</span>
				<span class="newRadiobtn"><input type="radio" id="radioNew" name="search-products" ng-class="{'checked': newProducts}" ng-click="toggleSearchOption(false)" /><label for="radioNew"><span></span> New Products</label></span>
				<span class="usedRadiobtn"><input type="radio" id="radioOld" name="search-products" ng-class="{'checked': usedProducts}" ng-click="toggleSearchOption(true)"/><label for="radioOld"><span></span> Used Products</label></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 body">
			<input type="text" id="{{id}}" class="form-control cat-autocomplete-input" ng-placeholder="(view.screenResizedService.metaInfo.isMobile)?placeholderForMobile:placeholder" ng-model="selectedSearchItem" uib-typeahead="result as result.displayValue for result in getCatResults($viewValue)" typeahead-template-url="typeahead-item.html" typeahead-on-select="onSelect($item, $model, $label)" typeahead-min-length="3" typeahead-is-open="typeaheadIsOpen" restrict-model-input="^[^%]*$" />
			<div class="image-icon">
				<img src="/_ui/responsive/cat/images/search-icon.svg" class="search-icon" alt="search-img" ng-if="view.inputBoxIsEmpty" ng-click=""/>
				<img src="/_ui/responsive/cat/images/close-icon.svg" class="search-icon" alt="search-close-img" ng-if="!view.inputBoxIsEmpty" ng-click="clearInput()"/>
			</div>
		</div>
	</div>
</div>