<div class="vet-lite-popup">
    <div class="modal-body vet-lite-popup-container"  align-vertical-center-modal-dialog="">
        <a href="javascript:void(0)" class="close-pop-up" ng-click="dismissVetLitePopup()"></a>
        <div class="vet-lite-popup-content">
            <div class="vet-title-section">
                <div class="vet-title upperCase">add value analysis</div>
                <div class="vet-sub-title">In 3 simple steps add this study to your quote.</div>
            </div>
            <div class="vet-item item1">VET Lite will open in a new tab, fill all the required details to create a value <span class="vet-sub-font">comparison between 2 machines.</span></div>
            <div class="vet-item item2">To generate a unique link for the comparision, <span class="vet-sub-font">click on the save button,</span> at the bottom of the page on VET Lite.</div>
            <div class="vet-item item3"><span class="vet-sub-font">Copy the link generated</span> on VET Lite and paste it back in the field seen on this page.</div>
            <button class="continue-button upperCase" ng-click="vetContinueLink()">open vet lite</button>
        </div>
    </div>
</div>