 .typeahead-template{
    // @keyframes shaky{
    //     from{
    //         transform: translate(-5px);
    //     }
    //     to{
    //         transform: translate(5px);
    //     }
    // }
    .disclimer-error-message {
        .font(@openSans, normal, 12px, @red02);
        font-style: italic;
    }
    // .shaky-effect{
    //     animation:shaky 0.2s;
    // }
    .no-address-found{
        .font(@HelveticaNeueThin, 300, 12px, @grey07);
        position:absolute;
        width: 100%;
        z-index: 9;
        padding: 20px 25px;
        box-shadow: 5px 5px 10px 5px rgba(234, 234, 234, 0.5);
        background-color:@white;
        }
    .drop-down-img{
        height: 20px;
        width: 20px;
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 9;
        cursor: pointer;
        background-image: url(/_ui/responsive/cat/images/dropdown-arrow.png);
        background-repeat: no-repeat;
        background-position: right 5px center;
    }
    .shipping-address-content{
        position: relative;
        .screen-mob({
            width: 100%;
        });
        .dropdown-menu{
            width:100%;
        }
        ul{
            width:100%;
            max-height:172px;
            overflow:auto;
        }
    }
    .dropdown-menu{
        width:100%;
    }
    .clear-form{
        position: absolute;
        right: 10px;
        top: 2px;
        cursor: pointer;
        display: inline-block;
        width: 30px;
        height: 30px;
        z-index: 9;
        background: url(/_ui/responsive/cat/images/clear-icon-grey.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    .review-shipping-address{
        min-height: 75px !important;
        position:relative;
        padding: 5px 18px;
        .screen-mob({
            padding-left:5px;
        });
        width:100%;
        background-color:@grey11 !important;
    }
 }
 