.cat-mesagesError{
    padding-top: 10px;
    padding-left: 10px;
    .font(@HelveticaNeueThin, 300, 16px, @red02);
}
.cat-reserveError{
    padding-top: 15px;
    .font(@HelveticaNeueThin, 300, 18px, @red02);
}