<div class="">
	<input type="text" class="form-control" placeholder="Users loaded from local database" ng-model="selectedUser" uib-typeahead="result as result.categoryName for result in getCatResults($viewValue)" typeahead-template-url="typeahead-item.html" />
	    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>