.pdp-new-product-mobile-view{
    .product-row{
        background-color: @white;
    }
    .below-level{
        color:@red02 !important;
    }
    .slider{
        border:1px solid @grey11;
    }
    .slick-dots{
        clear:both;
        width:45%;
        margin:auto;
        li{
            float:left;
            list-style-type: none;
            button{
                background: none;
                border: 0;
                text-indent:-9999px;
                background-image: url(/_ui/responsive/cat/images/carousel-dot-inactive.png);
                background-repeat:no-repeat;
            }
            &.slick-active{
                button{
                    background-image: url(/_ui/responsive/cat/images/carousel-dot-active.png);
                }
            }
        }
    }
    .slick-slide{
        img{
            width:100%;
            &.favorite-icon{
                position: relative;
                width:18px;
                height:18px;
                margin-top:10px;
                margin-right:10px;
                float: right;
            }
        }
    }
    .carousel-header{
        padding:10px;
        background-color:@grey11;
        margin-top:10px;
    }
    .stock-level-row{
        .font(@HelveticaNeue,normal,14px,@black-color01);
        margin-top:20px;
        &:last-child{
            margin-bottom:20px;
        }
    }
    .section-header{
        .font(@HelveticaNeue,normal,14px,@black-color01);
    }
    .product-description-container{
        padding:10px;
        .font(@HelveticaNeueThin,100,14px,@black-color01);
    }
    hr{
       border-color:@grey17;
       margin-top:0;
       margin-bottom:15px;
    }
    .decrement{
        background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
        display:inline-block;
        width:15px;
        height:15px;
        margin-right:10px;
        cursor: pointer;
        position: relative;
        top: 3px;
    }
    .increment{
        background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
        display:inline-block;
        width:15px;
        height:15px;
        margin-left:10px;
        cursor: pointer;
        position: relative;
        top: 3px;
    }
    .quantity-box{
        width:30px;
        height:25px;
        text-align: center;
        border:1px solid @grey10;
    }
    .product-compare-accordion{
        background-color: @white;
        .panel{
            border:0 !important;
            margin-bottom:1px;
            &.panel-open{
               .panel-body{
                 border-bottom:0;
               }
            }
            .panel-heading{
                background-color:@grey13;
                padding:20px;
                border:0;
            }
            .accordion-row{
                padding:20px;
            }
            .accordion-body{
                ul{
                    list-style-type: none;
                    padding:0;
                    margin:0 !important;
                }
            }
            .panel-body{
                border:0;
                padding:15px 0 30px 0;
                background-color: @grey11;
                .horizontal-padding{
                    padding:0 10px 0 20px;
                }
                .header{
                    .font(@openSans_Light,300,14px,@black-color01);
                    margin-bottom:15px;
                    &.no-margin-bottom{
                        margin-bottom:0;
                    }
                }
                .value{
                    .font(@HelveticaNeue,normal,14px,@black-color01);
                    margin-bottom:15px;
                    &.no-margin-bottom{
                        margin-bottom:0;
                    }
                }
            }
            .panel-title{
                a{
                    padding-left:0;
                }
            }
            .column-header{
                padding-left:0;
                margin-bottom:15px;
            }
            .column-padding{
                padding:2px 0 2px 0;
            }
        }
    }
    .cart-create-quote-section{
        padding:10px 10px 10px 20px !important;
        position: fixed;
        bottom: 0;
        background-color:@white;
        left: 0;
        width:100%;
        z-index:9999;
        box-shadow: 0 2px 11px 3px @grey20;
        .quote-price-mobile-view{
            display:block !important;
            float:left !important;
            .total-price-heading{
                .font(@openSans, normal, 12px, @black-color01);
            }
            .total-price-value{
                .font(@HelveticaNeue, normal, 18px, @black-color01);
                text-transform: none;
            }
        }
        .quote-btn{
            float:right !important;
            margin-bottom:0;
            .update-product-list{
                margin-bottom:0;
            }
        }
    }
}
