.pdp-used-product-mobile-view{
    .used-equipment-heading{
        .font(@openSans,bold,18px,@black-color01);
        letter-spacing:-0.5px;
    }
    .results-heading{
        .font(@HelveticaNeue,300,12px,@black-color01);
        font-style: italic;
        margin-bottom:20px;
    }
    .filters-button{
        background-color:@white;
        .font(@openSans,bold,12px,@black-color01);
        letter-spacing: -0.3px;
        border:1px solid @grey10;
        background-image:url(/_ui/responsive/cat/images/filter-icon.png);
        background-repeat: no-repeat;
        padding:10px 20px;
        background-position: 12px 10px;
        text-indent: 10px;
    }
    .pdp-used-product-card{
        background-color:@white;
        box-shadow: 0 4px 5px 0 rgba(215, 215, 215, 0.5);
        padding:15px;
        margin-bottom:15px;
        .product-image{
            width:100%;
            border:1px solid @grey05;
            margin-bottom:16px;
        }
        .header-code{
            .font(@openSans,bold,16px,@black-color01);
            margin-bottom:10px;
        }
        .sales-model{
            .font(@openSans,bold,14px,@black-color01);
            margin-bottom:15px;
        }
        .price{
            .font(@openSans_Light,normal,14px,@black-color01);
        }
        label{
            display:block;
        }
        .dealer-name-heading{
            .font(@openSans_Light,normal,10px,@black-color01);
        }
        .dealer-name-value{
            .font(@HelveticaNeueMedium,normal,12px,@black-color01);
            text-transform:none;
        }
        .product-desc-row{
            padding-right:0;
        }
        .used-badge{
            padding:5px 10px;
            border:1px solid @grey08;
            .font(@openSans,600,10px,@grey10);
            letter-spacing:normal;
        }
        .row-header{
            .font(@openSans_Light,normal,10px,@black-color01);
            text-align: left;
            margin-bottom:8px;
        }
        .row-value{
            .font(@HelveticaNeueMedium,normal,12px,@black-color01);
            text-align: left; 
        }
    }
    .show-more{
        .font(@HelveticaNeue_Light,300,16px,@grey08);
        cursor: pointer;
    }
    .close-modal{
        right:15px;
        top:7px;
    }
    .filters-heading{
        .font(@openSans,bold,18px,@black-color01);
    }
    .filter-divider {
        padding: 0 0 5px 0;
        border-bottom: 3px solid @sunflower-yellow;
        width: 100%;
        display: block;
    }
    .inventory-heading-row{
        margin-top:35px;
        .inventory-heading{
            .font(@openSans,bold,14px,@black-color01);
        }
    }
    .product-dropdown-row{
        margin-top:20px;
    }
    .product-compare-accordion{
        .panel-heading{
            border:0;
            padding:20px 20px 20px 10px;
        }
        .panel-group{
            .panel{
                border:0 !important;
                &.panel-open{
                   .panel-body{
                     border:0;
                     border-bottom:1px solid #E7E7E7;
                     padding:20px 10px 30px 10px;
                   }
                }
            }
        }
        .panel-title{
            a.collapsed {
                background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
            }
            a.expanded {
                background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
            }
        }
        .branch-location-search-box{
            border:0;
            width:100%;
            border-bottom:1px solid @black-color01;
        }
        .branch-list{
            padding-top:20px;
            li{
                list-style-type: none;
                label{
                    width:100%;
                    .font(@openSans_Light,normal,14px,@black-color01);
                    text-transform: none;
                }
            }
            .additional-service-checkbox-container input {
                position: absolute;
                opacity: 0;
            }
            
            /* Create a custom checkbox */
            .additional-service-checkbox-container .checkmark {
                position: absolute;
                left:90%;
                height: 13px;
                width: 13px;
                background-color:@white;
                border:1px solid @grey10;
            }
            
            /* When the checkbox is checked, add a blue background */
            .additional-service-checkbox-container input:checked ~ .checkmark {
                background-color:@sunflower-yellow;
                border:0;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .additional-service-checkbox-container:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .additional-service-checkbox-container input:checked ~ .checkmark:after {
                content: "";
                display: block;
                position: absolute;
            }
            
            /* Style the checkmark/indicator */
            .additional-service-checkbox-container .checkmark:after {
                left: 4px;
                top: 1px;
                width: 5px;
                height: 10px;
                border: solid #000000;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        .text-box{
            border:0;
            border-bottom:1px solid @black-color01;
            width:50px;
            margin-bottom:20px;
        }
        .divider{
            padding:0 10px;
        }
        .rzslider{
            .rz-pointer{
                width: 5px;
                height: 15px;
                background-color: @black-color01;
            }
        }
    }
}
#sidebar-wrapper {
    margin-right: -300px;
    right: 0;
    width: 300px;
    background: @white;
    padding:15px 0;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    top:43px;
    .pdp-sidebar-padding{
        padding:0 20px; 
    }
    .pdp-used-product-update{
        width:100%;
    }
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {
    line-height: 50px;
    text-indent: 20px;
  }

  .sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
  }

  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
  }

  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }

  .sidebar-nav > .sidebar-brand a {
    color: #999999;
  }

  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  #sidebar-wrapper.active {
    right: 300px;
    width: 300px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    top:43px;
  }

  .toggle {
    margin: 5px 5px 0 0;
  }