@color_1: #000000;
@color_2: #d0011b;
@color_3: #3f3f3f;
@color_4: #f0f0f0;

@font_family_1: "Open Sans", sans-serif;
@font_family_2: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
@font_family_3: OpenSans;

.pdpcols {
	padding-right: 65px;
}
.pdtDetailsContainerBox{
	padding-left:0px !important;
	.screen-mob({
		margin-bottom: 5px;
	});
}
#im-reorder-container{
	margin-top: -35px;
	.screen-mob({
		margin-top: 0;
	});
}

.reorder-btnPDP{
    margin-top: -5px;	
    border-radius: 0;
}
.product-attribs-box{
	 width:100%;
	 padding-left:10px;
	 .screen-mob({
		 padding-left:0;
	 })
 }
.decreaseQty{

    padding-right: 5px;
}
.increaseQty{

    padding-left: 5px;
}
.product-attribs {
	padding-top: 20px;
	.textPDPStock {
		.font(@openSans, 300, 12px, @black-color01);
		padding-bottom: 8px;
		text-transform: uppercase;
	}
	.valuePDP {
		.font(@HelveticaNeue, normal, 14px, @black-color01);
	}
	.currentPDPStock {
		.font(@HelveticaNeue, normal, 14px, @red01);
	}
}
.inputTextBox{
    width: 30px;
    height: 25px;
    border: solid 1px @grey10;
    text-align: center;
}
.recom {
	padding-left: 30px;
}
.config-vaient {
	padding-top: 65px;
}
.lineBreak {
	margin-top: 30px;
	margin-left: 0;
	width: 100%;
	height: 1px;
	border-radius: 100px;
	border: solid 1px #d1d1d1;
}
.reorder-btn{
  width: 116px;
  height: 34px;
  background-color: @color_3;
  border: solid 1px #979797;
}
.button[disabled]{
	color: @color_4;
}

.reorderContent {
	// padding-top: 45px;
	&.row{
		margin-left: -10px;
	}
	.label {
		// margin-right: 15px;
		height: 19px;
		.font(@openSans, 300, 14px, @black-color01);
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		text-transform: uppercase;
		white-space: normal;
	}
	.decrement{
		background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
        display:inline-block;
        width:15px;
        height:15px;
        margin-right:10px;
        cursor: pointer;
        position: relative;
        top: 6px;
	}
	.increment{
		background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
        display: inline-block;
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: relative;
        top: 5px;
	}
	.disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
	.cartAddInputBox{
	
		text-align: center;
		width: 38px;
		height: 25px;
		padding: 0;
		.screen-mob({
			width: 30px;
			height: 23px;
			border: solid 1px @grey17;
		})
    }
}
.graph-container {
	margin-top: 40px;
}
.cat-progress {
	position: relative;
	.progress {
		overflow: inherit;
		background-color: @grey12;
		height: 15px;
		margin-bottom: 10px;
		position: relative;
		left: 12px;
	}
	.zero-count {
		.font(@openSans, 300, 14px, @black-color01);
		position: absolute;
    left: -12px;
    top: -3px;
	}
	.max-count {
		.font(@openSans, 300, 14px, @black-color01);
		float: left;
		.screen-tab-desk({
			padding-left: 5px;
		});
		.screen-mob-max-portrait ({
			padding-left: 5px;
		});
	}
	.count-no-style {
		.font(@openSans, 300, 14px, @black-color01);
	}
	.container {
		width: 88%;
		display: inline-block;
		.screen-tab-intermediate ({
			width: 100%;
		});
		.screen-mob-max-portrait ({
			width: 92%;
		});
		.screen-tab-desk({
			margin-left: -10px;
			padding-left: 0px;
		});
	}
	.progress-bar {
		position: relative;
		background-color: @sunflower-yellow;
	}
	.arrow-up {
		position: absolute;
		right: -10px;
		bottom: -20px;
	}
	.recommended {
		.font(@openSans_Light,300,14px,@black-color01);
		font-style: italic;
		position: absolute;
		right: 28px;
	}
	.projected {
		position: absolute;
		right: -30px;
		bottom: 20px;
		.font(@openSans,normal,14px,@black-color01);
	}
	.left-corner {
		right: -30px;
		width: 70px;
	}
	.right-corner {
		right: 0;
	}
	.width-till-15 {
		width: 100px;
		text-align: left;
		right: inherit;
	}
	.info-pop {
		position: absolute;
		right: 15px;
		top: -4px;
		display: inline-block;
		text-align: right;
		.screen-mob({
			right: 0;
			width: 50px;
		});
		.screen-mob-xss-portrait({
			right: -10px;
			width: 45px;
		});
		img {
			vertical-align: baseline;
		}
	}
	.bar-graph-info {
		left: -230px !important;
		top: 20px !important;
		.arrow{
			display: none;
		}
		.popover-content {
			.row {
				padding: 0 10px;
			}
		}
	}
	.count-min {
		.font(@openSans_Light, 300, 12px, @black-color01);
		position: absolute;
    left: 0;
		top: 30px;
		text-transform: uppercase;
	}
	.bar-section-info {
		margin-top: 20px;
	}
	.count-max {
		.font(@openSans_Light, 300, 12px, @black-color01);
		position: absolute;
		bottom: -35px;
		right: 0;
		text-transform: uppercase;
	}
}
.lane-btn-container {
	margin: 0 10px;
	.screen-tab-desk ({
		margin-left: -10px;
		margin-right: -10px;
	});
	.lane-btns {
		display: inline-block;
		margin: 20px 15px 0 0;
		.cat-buttons {
			padding: 10px;
			outline: none;
			.font(@openSans, 300, 14px, @black-color01);
			background: @grey11;
		}
	}
	.select-lane {
		margin-top: 45px;
		margin-bottom: 0;
		.font(@openSans, normal, 14px, @black-color01);
	}
	.selectedBtn {
		border: 1px solid @grey19;
		.font(@openSans_Bold, 300, 14px, @black-color01) !important;
		background: @white !important;
	}
	.configuration-box {
		border: 1px solid @red02;
		padding: 15px 25px;
		.screen-tab-desk({
			margin: 30px 25px 0 0;
		});
		margin-top: 30px;
		.config-no {
			.font(@openSans_Semibold, 300, 20px, @black-color01)
		}
		.allocation-date {
			padding-top: 5px;
			.font(@openSans, 300, 14px, @black-color01);
		}
		.order-window-msg {
			.font(@openSans, 300, 14px, @red02);
			font-style: italic;
			padding-top: 10px;
		}
	}
}

//*********** Lane Tag Specific css ********
.dot {
	height: 11px;
	width: 11px;
	margin-left: 5px;
	border-radius: 50%;
	display: inline-block;
}
.lane-info-tag {
	margin-top: 20px;
}
.LANE1-dot {
	background-color: @lane1;
}
.LANE2-dot {
	background-color: @lane2;
}
.LANE3-dot {
	background-color: @lane3;
}
.lane-info-tag-review {
	padding: 10px !important; // to override application default button property
	margin: 10px 0;
	.screen-mob({
		margin-top: 0;
	});
	width: 95px;
	.screen-mob({
		width: 130px;
	});
}
.lane-info-tag-order-history {
	margin: 15px;
	.screen-tab-desk({
		margin-left: 0;
	});
}