#pdp-container {
    .right-content {
        .parts-attachments {
            .tabs-responsive {
                &.tabs {
                    .accessories-sub-headding {
                        .font(@openSans, bold, 14px, @black-color01);
                        padding-bottom: 10px;
                    }
                    .tab-details {
                    	.accessories-overview-link {
                    		.font(@openSans, normal, 14px, @black-color01);
						    font-style: italic;
    						text-decoration: underline;
    						padding-bottom: 30px;
    						cursor: pointer;
                    	}
                        .tab-data {
                            .accessories-sub-headding {
                                .font(@openSans, bold, 14px, @black-color01);
                                margin-bottom: 20px;
                                padding-top: 30px;
                            }
                            table {
                                margin: 0px;
                                tr {
                                    &:not(.table-header) {
                                        &:nth-of-type(odd) {
                                            background-color: @grey05;
                                        }
                                        &:nth-of-type(even) {
                                            background-color: @white;
                                        }
                                        &:nth-child(2) {
                                            td {
                                                padding-top:20px;
                                            }
                                        }
                                    }
                                    &.table-header {

                                        border: solid 1px @grey13;
                                    }
                                    th {
                                        .font(@openSans, bold, 14px, @grey01);
                                        background-color: @white;
                                        text-align: left;
                                        padding: 30px 10px 18px;
                                        &.padleft40 {
                                            padding-left: 40px;
                                            width: 40%;
                                        }
                                        &.width-30{
                                            width: 30%;
                                        }
                                    }
                                    td {
                                        border-top: none;
                                        .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        &.padleft40 {
                                            padding-left: 40px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}