.screen-mob({
    #pdp-container{
        .right-content{
            .product-details{
                .decsription{
                    padding-left: 10px !important;
                }
            }
            .product-img-desc{
                margin: 0px;
            }




            .cart-mobile{
                position: fixed;
bottom: 0px;
height: 62px;
width: 102%;
background-color: @white;
margin-left: -7%;
margin-right: 0px;
z-index: 100;
padding: 10px;
.quantity-info{
    .font(@HelveticaNeueBold, normal, 18px, @black-color01);
}
            }


            .AddToCart-AddToCartAction{

                .reorderCartSection{
                    padding-top: 0px;
                    padding: 15px 10px 20px;
                    margin-left: 0px;
                    .pdtName{
                        margin-right: 0px;
                        padding-left: 8px;
                        .font(@HelveticaNeue, normal, 14px, @black-color01);
                    }
                    .pdtName-mb{
                        .font(@openSans, 600, 14px, @black-color01);
                        padding-bottom: 20px;
                        .reodQtyText{
                        padding-left: 5px;
                        }
                        }
                    .opertions{
                        padding-right: 20px;
                        .input-params{
                            float: right;
                            .screen-mob({
                                padding-right:5px;
                            });
                        }
                    }
                }
                .cart-mobile{
                    position: fixed;
    bottom: 0px;
    height: 62px;
    width: 102%;
    background-color: @white;
    margin-left: -7%;
    margin-right: 0px;
    z-index: 100;
    padding: 10px;
    .quantity-info{
        .font(@HelveticaNeueBold, normal, 18px, @black-color01);
    }
                }
            }
        #im-reorder-container{
            border-top: 1px solid @grey17;
            .secondary-header{
                .font(@openSans, normal, 14px, @black-color01);
                text-transform: uppercase;
                padding-left: 20px !important;
                .screen-mob({
                    margin-top: 20px;
                });
            }
            .product-attribs{
                padding-top: 0px;
                .single-attribs{
                    margin-top: 20px;
                    padding-left:0;
                    .textPDPStock{
                        width: 50%;
                        float: left;
                        display: inline-block;
                        .font(@openSans, normal, 14px, @black-color01);
                        padding-left: 10px;
                    }
                    .valuePDP,.currentPDPStock{
                        width: 50%;
                        display: inline-block;
                        float: right;
                        text-align: right;
                    }
                    &.recom{
                        padding-left: 0px;
                    }
                }   
            }
            .lineBreak{
                margin-left: -30px;
                .calc(width, "100% + 60px");
            }
            .reorder-mobile{
                position: fixed;
                bottom: 0px;
                height: 62px;
                width: 102%;
                background-color: @white;
                left: 2%;
                margin-right: 0px;
                z-index: 100;
                padding: 10px;
                .quantity-info{
                    .font(@HelveticaNeueBold, normal, 18px, @black-color01);
                }
                button{
                    width: 166px;
                    height: 40px;
                    padding: 0px;
                }
            }
        }
        }
    }
    #pdp-container-info-tabs{
        .tabs{
            .tabhead{
                border:none;
                background-color: @grey13;
                outline: none;
                margin-bottom: 5px;
                height: inherit;
                padding: 20px;
                .font(@openSans, 600, 14px, @black-color01);
                &.active{
                }
            }
            .tabbody{
                background-color: #ffffff;
                .tab-container {
                    .product-classifications {
                        .main-heading {
                            .font(@openSans, bold, 14px, @black-color01);
                            padding-bottom: 10px;
                        }
                        .message {
                            .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
                            padding-bottom: 40px;
                        }
                        .toggle-buttons {
                            display: inline;
                            +div {
                                margin-top: 0px;
                            }
                            .btn-group {
                                label {
                                    &.text {
                                        border: none;
                                        .font(@openSans, bold, 14px, @black-color01);
                                        cursor: default;
                                    }
                                    background-color: @white;
                                    border: solid 1px @grey14;
                                    color: @black-color01;
                                    .font(@openSans, bold, 12px, @grey14);
                                    &.active {
                                        color: @black-color01;
                                    }
                                }
                            }
                        }
                        .headline {
                            .font(@openSans, bold, 14px, @black-color01);
                            padding-left: 0px;
                            margin-top: 40px;
                        }
                        .table {
                            tr {
                                &.header-row {
                                    border: solid 1px @grey13;
                                    td {
                                        .font(@openSans, bold, 14px, @grey01);
                                        padding-top: 30px;
                                        padding-bottom: 18px;
                                        &:first-child {
                                            padding-left: 40px;
                                        }
                                    }
                                }
                                td {
                                    border-top: none;
                                    padding-top: 14px;
                                    padding-bottom: 14px;
                                    &:first-child {
                                        padding-left: 40px;
                                    }
                                }
                                &.units_metrics_metric {
                                    display: none
                                }

                                .font(@HelveticaNeue_Light, 100, 16px, @black-color01);

                                .attrib {
                                    .font(@openSans, 600, 14px, @black-color01);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #mobile-support-material{
        margin: 0px 40px;
        text-align: center;
        .single-tool-mobile{
            margin:25px 0px;
        }
    }
    .reorderContent{
        padding-bottom: 30px;

        .pdtName{
            //padding-bottom: 15px;
        }
        .label{
            margin-right: 0px;
        }
        .opertions{
            float: right;
            .input-params{
                float: right;  
            }
        }
        .add-to-cart {
            padding-left: 15px !important;
        }
    }
});