#pdp-container {
    .tabs{
        .tabhead {
            &.active {
                .glyphicon {
                    &:before {
                        content: url(/_ui/responsive/cat/images/arrow-up.png);
                    }
                }
            }
            .glyphicon {
                &:before {
                    content: url(/_ui/responsive/cat/images/arrow-down.png);
                }
            }
        }
    }
    .page-headding{
        .back-to-reorder{
            margin-bottom:-20px;
            color:inherit;
            text-decoration: none;
            .font(@openSans, 600, 16px, @black-color01); 
            font-style:italic;
            padding-left:30px;
            background-image:url(/_ui/responsive/cat/images/reorder-back-arrow.png);
            background-repeat:no-repeat;
            background-position:left center;
            .screen-mob({
                padding-right:10px; 
            });
        }
    }
    >div.row {
        margin: 0px;
    }
    background-color: @white;
    .left-content {
        .screen-tab-desk( {
            border-right: solid 1px @grey12;
        }
        );
        padding: 0px;
    }
    .right-content {
        .tele-handler-message {
            font-style: italic;
            margin: 10px;
            .font(@openSans, 300, 12px, @red01);
        }
        /* style changes for CBH-5067 start */
        .tabs-responsive{
            &.tabs{
                cursor:pointer;
                .tabbody{
                    .tab-data{
                        .inventory-table{
                            &.lane-2-implementation{
                                &.inventoryTableHeight{
                                    min-height : 360px;
                                }
                                .row-header{
                                    padding : 25px 30px 25px 25px;
                                    .screen-mob({
                                        padding:0;
                                    });
                                    .dealer-details-header{
                                        span{
                                            .font(@openSans_Light, 300, 14px, @black-color01);
                                        }
                                        margin-bottom:16px;
                                    }
                                    .dealer-details-search-box{
                                        .screen-mob({
                                            margin-top: 30px;
                                            margin-bottom: 30px;
                                        });
                                        input{
                                            width:75%;
                                            border:0;
                                            outline:0;
                                            border-bottom:1px solid @black-color01;
                                            padding-bottom:3px;
                                            .screen-mob({
                                                width:100%;
                                                background:transparent;
                                            });
                                            &::placeholder {
                                                .font(@openSans_Light, 300, 14px, @grey10);
                                                font-style: italic;
                                            }

                                        }
                                    }
                                    .location-row{
                                        .screen-mob({
                                            padding:0;
                                        });
                                        .location-header{
                                            span{
                                                .font(@openSans_Light, 300, 14px, @black-color01);
                                            }
                                            margin-bottom:16px;
                                        }
                                        .dropdown-multiselect{
                                            width:100%;
                                            .dropdown-toggle{
                                                background: none;
                                                border:0;
                                                border-bottom:1px solid @black-color01;
                                                outline:0;
                                                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                                                padding:3px 5px 3px 0;
                                                text-align: left;
                                                clear:both;
                                                width:100%;
                                                .caret{
                                                    float: right;
                                                    top: 12px;
                                                    position: absolute;
                                                    right: 5px;
                                                    border: 0;
                                                    background-image: url(/_ui/responsive/cat/images/dropdown-arrow.png);
                                                    display: block;
                                                    width: 13px;
                                                    height: 13px;
                                                    background-repeat: no-repeat;
                                                }
                                            }
                                            .dropdown-menu{
                                                width:100%;
                                                max-height:270px;
                                                .dropdown-value{
                                                    font-style:normal;
                                                    text-decoration: none;
                                                    white-space: normal;
                                                    .font(@openSans_Light, 300, 14px, @black-color01) !important;
                                                    width:80%;
                                                    padding:0 !important;
                                                }
                                                .divider{
                                                    min-height:0;
                                                }
                                                #selectAll{
                                                    outline:0;
                                                    &:hover,&:focus{
                                                        background: none;
                                                    }  
                                                }
                                                .option{
                                                    outline:0;
                                                    &:hover,&:focus{
                                                        background: none;
                                                    }
                                                    .glyphicon{
                                                        display:none;
                                                    }
                                                }
                                                .billing-address-checkbox{
                                                    display:block;
                                                    text-indent: 15px;
                                                    .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                                                    text-transform: none;
                                                }
                                                .billing-address-checkbox input {
                                                    position: absolute;
                                                    opacity: 0;
                                                }
                                                
                                                .billing-address-checkbox .checkmark {
                                                    position: relative;
                                                    top: 0;
                                                    right: 0;
                                                    height: 13px;
                                                    width: 13px;
                                                    background-color:@white;
                                                    border:1px solid @grey10;
                                                    display:inline-block;
                                                }
                                                
                                                /* When the checkbox is checked, add a blue background */
                                                .billing-address-checkbox input:checked ~ .checkmark {
                                                    background-color:@sunflower-yellow;
                                                    border:0;
                                                }
                                                
                                                /* Create the checkmark/indicator (hidden when not checked) */
                                                .billing-address-checkbox:after {
                                                    content: "";
                                                    position: absolute;
                                                    display: none;
                                                }
                                                
                                                /* Show the checkmark when checked */
                                                .billing-address-checkbox input:checked ~ .checkmark:after {
                                                    content: "";
                                                    position: absolute;
                                                    display: block;
                                                }
                                                
                                                /* Style the checkmark/indicator */
                                                .billing-address-checkbox .checkmark:after {
                                                    left: 4px;
                                                    top: 1px;
                                                    width: 5px;
                                                    height: 10px;
                                                    border: solid #000000;
                                                    border-width: 0 2px 2px 0;
                                                    -webkit-transform: rotate(45deg);
                                                    -ms-transform: rotate(45deg);
                                                    transform: rotate(45deg);
                                                }
                                            }
                                        }
                                    }
                                    .product-family-dropdown-label{
                                        .font(@HelveticaNeueMedium, 500, 14px, @black-color01) !important;
                                        font-style: normal;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        &.mobile-dropdown-label{
                                            .font(@openSans_Light, 300, 12px, @black-color01) !important;
                                            font-style:italic;
                                        }
                                    }
                                    .product-family-dropdown-menu{
                                        .screen-mob({
                                            position: relative;
                                        })
                                    }
                                    .product-family-dropdown-item{
                                        .dropdown-value{
                                            font-style:normal;
                                            text-decoration: none;
                                            white-space: normal;
                                            .font(@openSans_Light, 300, 14px, @black-color01) !important;
                                            width:80%;
                                            padding:0 !important;
                                        }

                                        .billing-address-checkbox{
                                            display:block;
                                            text-indent: 15px;
                                            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                                            text-transform: none;
                                        }
                                        .billing-address-checkbox input {
                                            position: absolute;
                                            opacity: 0;
                                        }
                                        
                                        /* Create a custom checkbox */
                                        .billing-address-checkbox .checkmark {
                                            position: relative;
                                            top: 0;
                                            right: 0;
                                            height: 13px;
                                            width: 13px;
                                            background-color:@white;
                                            border:1px solid @grey10;
                                            display:inline-block;
                                        }
                                        
                                        /* When the checkbox is checked, add a blue background */
                                        .billing-address-checkbox input:checked ~ .checkmark {
                                            background-color:@sunflower-yellow;
                                            border:0;
                                        }
                                        
                                        /* Create the checkmark/indicator (hidden when not checked) */
                                        .billing-address-checkbox:after {
                                            content: "";
                                            position: absolute;
                                            display: none;
                                        }
                                        
                                        /* Show the checkmark when checked */
                                        .billing-address-checkbox input:checked ~ .checkmark:after {
                                            content: "";
                                            position: absolute;
                                            display: block;
                                        }
                                        
                                        /* Style the checkmark/indicator */
                                        .billing-address-checkbox .checkmark:after {
                                            left: 4px;
                                            top: 1px;
                                            width: 5px;
                                            height: 10px;
                                            border: solid #000000;
                                            border-width: 0 2px 2px 0;
                                            -webkit-transform: rotate(45deg);
                                            -ms-transform: rotate(45deg);
                                            transform: rotate(45deg);
                                        }
                                    }
                                    .stock-row{
                                        .screen-mob({
                                            padding:0 !important;
                                            margin-bottom:20px;
                                        });
                                        .total-stock-header{
                                            margin-top:37px;
                                            padding-left:31% !important;
                                            .screen-mob({
                                                padding-left:0 !important;
                                            });
                                            span{
                                                .font(@openSans_Light, 300, 14px, @black-color01);
                                            }
                                            .sort-icon{
                                                background-image:url(/_ui/responsive/cat/images/sort-icon.png);
                                                width: 20px;
                                                height: 20px;
                                                display: inline-block;
                                                background-repeat: no-repeat;
                                                position: relative;
                                                top: 9px;
                                                left: 10px;
                                                cursor: pointer;
                                            }
                                            .sort-btn-mobile{
                                                background-color: @white;
                                                border:1px solid @black-color01;
                                                .font(@openSans, normal, 14px, @black-color01);
                                                padding:6px 12px;
                                                outline:0;
                                            }
                                        }
                                    }
                                    
                                }
                                .row-container{
                                    &.last{
                                        .stock-details{
                                            .screen-mob({
                                                margin-bottom:0;
                                            });
                                        }
                                    }
                                    .stock-details{
                                        padding:24px 30px 24px 25px;
                                        border-bottom:1px solid @grey12;
                                        .screen-mob({
                                            background-color: @white;
                                            border-bottom:none;
                                            margin-bottom:15px;
                                            padding:15px;
                                        });
                                        .mobile-card-row{
                                            .screen-mob({
                                                margin-bottom:15px;
                                            });
                                            .total-stock-col{
                                                margin-top:20px;
                                            }
                                            label{
                                                .screen-mob({
                                                    display:block
                                                });
                                                &.header-label{
                                                    .screen-mob({
                                                        .font(@openSans_Light, 300, 10px, @black-color01);
                                                    });
                                                }
                                                &.header-value{
                                                    .screen-mob({
                                                        .font(@HelveticaNeue, normal, 12px, @black-color01);
                                                        margin-bottom:0;
                                                    });
                                                }
                                            }
                                        }
                                        .location-col{
                                            padding-left:10px;
                                            .font(@HelveticaNeueMedium, 500, 12px, @black-color01);
                                        }
                                        .stock-cont{
                                            padding-left:31% !important;
                                            .font(@HelveticaNeue, normal, 14px, @black-color01);
                                        }
                                        .ware-house-address{
                                            .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                                        }
                                    }
                                }
                                .no-results-found-row{
                                    padding:166px 275px;
                                    .font(@openSans, 600, 18px, @black-color01);
                                    text-align: center;
                                    .screen-mob({
                                        padding:60px 75px;
                                        .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                                    });
                                    
                                }
                            }
                        }
                        .show-more-container{
                            padding:20px 0 20px 29px !important;
                            border-bottom:1px solid @grey12;
                            .screen-mob({
                                border-bottom:none;
                                padding-left:0 !important;
                                padding-bottom:0 !important;
                            });
                            label{
                                .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                                cursor: pointer;
                                text-transform: uppercase;
                                .screen-mob({
                                    text-transform: none;
                                    font-size:16px;
                                    color:@grey08;
                                });
                            }
                        }
                    }
                }
            }
        }
        /* style changes for CBH-5067 end */
        >.row {
            .screen-tab-desk( {
                padding-left: 40px;
            }
            );
            .screen-mob( {
                margin: 0px;
            }
            );
            &.parts-attachments {
                .screen-tab-desk( {
                    padding-left: 0px;
                    padding-right: 0px;
                }
                );
                .screen-mob( {
                    margin-left: 0px;
                    margin-right: 0px;
                }
                );
            }
        }
        .borderTitle{

           padding-left:10px;
           padding-right:10px;
           background-color: @grey05;
        }
        .shoppingCartPageTitle{
            margin-bottom: 0 !important;
        }
        .screen-tab-desk( {
            padding: 30px 30px 0 0;
            border-left: solid 1px @grey12;
        }
        );
        .screen-mob( {
            padding-top: 10px;
        }
        );
        .product-img-desc {
            .screen-tab-desk( {}
            );
            .screen-mob( {}
            );
             .dicontinuedPdtName{
               padding-top: 61px;
            }
            .pdtName {
                 // padding-left: 8px;
                 .screen-tab-desk({
                    margin-bottom: 20px;
                    padding-left: 10px;
                 });
                .font(@openSans, normal, 14px, @black-color01); 
             }
             .qtyValue{
                 padding-left: 17px;
                 padding-top: 5px;
                 .screen-mob({
                    padding-left: 10px;
                });
             }
             .bold {
               font-weight: bold;
              }
           .discontinuedStatus{
                 padding-top:71px;
                .warn-iconPDP{
                    margin-top: 5px;
                    padding-left: 0;
                    width: 25px;
                    height: 25px;
                }
                 .discontinuedStatusText{
                     text-align: left;
                    .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
                    padding-top: 5px;
                 }
                
            }
            .discontinuedStatusIM{
                 padding-top:150px;
                 .screen-mob({
                    position: fixed;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    z-index: 100;
                    background-color:@white;
                    padding: 10px 10px 15px;
                    box-shadow: 0 2px 11px 3px rgba(190, 190, 190, 0.5); 
                 });
                 .warn-iconPDP{
                       margin-top: 5px;
                       padding-left: 0;
                       width: 25px;
                       height: 25px;
                 }
                 .discontinuedStatusText{
                     text-align: left;
                    .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
                    padding-top: 5px;
                    padding-bottom: 50px;
                    .screen-mob({
                        padding-bottom: 5px;
                    });
                    .screen({
                        font-size:16px;
                    });
                 }
            }
        }
        margin-left: -1px;
        .product-details {
            .screen-tab-desk( {
                padding-right: 20px;
            }
            );
            .utv-headding-row{
                padding-bottom: 6px;
                margin-top: -5px;
                .screen-mob({
                    border-bottom: solid 1px @grey17;
                    padding-bottom: 20px !important;
                });
	            .name {
                    .font(@openSans, bold, 18px, @black-color01);
                    .screen-mob({
                        font-size:16px;
                        text-transform: capitalize !important;
                    });
                    
                }
               
	            .utv-price {
                    .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
                    padding-top:2px;
	                >div {
	                    position: relative;
	                    .calc(top, "100% - 28px");
	                }
	                .formated-price {}
	                .price-desc {
	                    .font(@HelveticaNeueThin, 100, 12px, @black-color01);
	                }
                }
            }
            &.page-title {
                padding: 0px;
                margin-bottom: 10px;
                .name {
                    .font(@HelveticaNeue, 500, 20px, @black-color01);
                    text-transform: capitalize !important;
                }
            }
            .description {
                margin-top:-10px;
                padding-bottom: 0;
                border-bottom: none;
                text-align: justify;
                .font(@HelveticaNeue_Light, 300, 14px, @black-color01);

                -webkit-transition: max-height 1s; 
                -moz-transition: max-height 1s; 
                -ms-transition: max-height 1s; 
                -o-transition: max-height 1s; 
                transition: max-height 1s; 

                &.readMoreClass{
                    max-height: 130px;
                    overflow: hidden; 
                    .screen-mob({
                        padding-bottom: 20px;
                        max-height: 200px;
                    });
                    
                }
            }
            .remove-maring-right{
                padding-right:0px;
                margin-top: 20px;
                margin-bottom: 40px;
                .screen-mob({
                    margin-top: 0;
                    margin-bottom: 0;
                });
                
                #description-read-more{
                    cursor: pointer;
                    .font(@openSans, normal, 16px, @black-color01);
                    font-style: italic;
                    line-height: 1.13;
                    .screen-mob({
                        margin-bottom: 20px;
                    });
                }
            }
            .inventory-details {
                .inventory-table {

                    .row-header {
                        text-transform: uppercase;
                        .font(@openSans, bold, 12px, @black-color01);
                        padding: 15px 15px 6px 15px;
                        border-bottom: solid 1px @grey12;
                        margin: 0px;
                    }
                    background-color: @grey11;
                }
                .header {
                    .font(@openSans, bold, 16px, @black-color01);
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }
                .stock-details {
                    margin: 0px 10px;
                    &:not(:last-child) {
                       /* border-bottom: solid 1px @grey12;*/
                    }
                    padding: 15px 5px;
                    .warehouse-name {
                        .font(@HelveticaNeue_Light, 300, 14px);
                        word-wrap: break-word;
                    }
                    .ware-house-address {
                        .font(@HelveticaNeue_Light, 300, 14px);
                        text-transform: capitalize;
                        word-wrap: break-word;
                    }
                    .stock-cont {
                        .font(@HelveticaNeueMedium, 500, 14px);
                        .out-of-stock {
                            color: @red01;
                        }
                    }
                    .inventoryAgeValuestyle{
                        .font(@openSans, bold, 12px, @black-color01);
                    }
                }              
            }
        }
        .usedPDP {
            margin-top:-5px;
            .screen-desk({
                padding-right: 25px;
            });
            .usedPDPImage {
                background: url(/_ui/responsive/cat/images/tick.png) center right no-repeat;
                display: inline-block;
                width: 12px;
                height: 15px;
            }
        }

        
        .prodcut-metaData {
            .header {
                .font(@openSans, bold, 18px, @black-color01);
            }
            .price {
                .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
            }
            .dealer-section{
                .screen-mob({
                    margin-bottom: 20px;
                });
            }
            .dealer-name {
                .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
            }
            .price-info {
                .font(@HelveticaNeue_Light, 300, 10px, @black-color01);
            }
            .machine-details-text {
                .font(@openSans, 600, 14px, @black-color01);
                padding-top: 30px;
                padding-bottom: 12px !important;
                .screen-mob({
                    border-top: 1px solid #e7e7e7;
                    padding-top: 20px;
                });
            }
            .product-into-text {
                .font(@openSans, 300, 12px, @black-color01);
            }
            .manufacturingYearPDPTxt {
                //text-indent: 20px;
                padding-left:18px;
            }
            .pdtValuePDP {
                .screen-desk({
                    padding-left: 20px;
                });
            }
            .product-into-value {
                .font(@HelveticaNeue, 500, 14px, @black-color01);
                padding-bottom: 40px;
                .screen-mob({
                    padding-bottom: 10px;
                });
                .screen-desk({
                    margin-left: -10px;
                });
            }
            .pad-left-10 {
                .screen-desk({
                    padding-left: 10px;
                });
            }
        }
        .image-container {

            .main-image {
                width: 100%;
            }
            .favorite {
                img.favorite-icon {
                    position: absolute;
                    top: 10px;
                    width: 26px;
                    height: 17px;
                    right: 10px;
                    .screen-mob({
                        height: 35px;
                        right: 20px;
                    });
                    z-index: 1;
                    
                }
            }
            .prodcut-used-metaData {
                width: 46px;
                height: 19px;
                border: solid 1px @grey10;
                .font(@openSans, 600, 10px, @grey10); 
                text-align: center;
                float: right;
                padding-top: 2px;
                margin-bottom: 9px;
                margin-right: 9px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .tabs-responsive {
            &.tabs {
                margin-top: 20px;
                border-top: none;
                margin-left: 10px;
                .screen-mob( {
                    border-top: none;
                }
                );
                ul.tabs-list {
                   width:100%; 
                    .screen-tab-desk( {
                        padding-left: 40px;
                    }
                    );
                    .screen-mob( {
                        margin-left: 10px;
                        margin-right: 20px;
                    }
                    );

                    margin: 0px;
                    li {
                        margin-bottom: -3px;
                        width:25%;
                        text-align: center;
                        padding: 0 20px 0 0;
                        a {
                            .font(@openSans, 600, 16px, @black-color01);
                        }
                        &.active {
                            a {
                                padding-bottom: 0px;
                                border-bottom: solid 2px #000000;
                            }
                        }
                        +li {
                            &:before {
                                border-left: none;
                            }
                        }
                    }
                }
                .tabbody {
                    a {
                        .font(@openSans, 500, 14px, @black-color01);
                        line-height: 1.58;
                        font-style: italic;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    padding-left: 0px;
                    padding-right: 0px;
                    &.inventory-tab {
                        padding-top: 0px;
                        .screen-mob({
                            padding-left: 20px;
                            padding-right: 20px;
                        });
                    }
                    &.search-params-mobile{
                        .container-lg{
                            .facet-param{
                                margin-bottom: 15px;
                                .facet-label{
                                    .font(@openSans, 300, 14px, @black-color01);
                                }
                                .facet-value{
                                    .font(@HelveticaNeueMedium, 500, 14px, @HelveticaNeueMedium);
                                    text-transform: capitalize;
                                    text-align: right;
                                }
                            }
                        }
                        .screen-mob({
                            padding-left: 20px;
                            padding-right: 20px;
                        });
                    }
                    .container-lg {
                        .row {
                            margin: 0px;
                            >div:first-child {
                                padding: 0px;
                            }
                        }
                    }
                    .screen-tab-desk( {
                        margin-left: 40px;
                        margin-right: 0;
                    }
                    );
                    .screen-mob( {
                        margin-left: 10px;
                        margin-right: 20px;
                    }
                    );
                    background-color: @white;
                    border-top: solid 1px @grey12;
                    border-right: none;
                    border-bottom: none;
                    .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                    .tab-data {
	                    .loadingSymbol{
                                margin: 0 auto;
                                margin-top:10px;
	                    	}
		        &.feature-tab-details{
                Padding:30px 20px;
                
                    ul{
                        li{
                            .font(@HelveticaNeueThin,normal,12px,@black-color01);
                        }
                    }
                }
                .tab-data-section{
                    padding-left: 20px;
                    .section-title{
                        margin-bottom: 20px;
                        font-size: 14px;
                        font-family: @openSans;
                        .screen-tab-desk({
                            font-weight: 600;
                        });
                    }
                    &.configuration{
                        border-bottom: 1px solid @grey12;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                    }
                    &.features{
                        .screen-tab-desk({
                            padding-bottom: 20px; 
                        });
                    }
                    .readMore{
                        max-height: 102px;
                        overflow: hidden;
                        .screen-mob({
                            max-height: 110px;
                        });
                    }
                    .view-more{
                        text-decoration: none;
                        border:0;
                        outline: none;
                        background: none;
                        margin-top: 20px;
                        padding: 0 0 0 20px;
                        background: url('/_ui/responsive/cat/images/plus-icon.png') left no-repeat;
                        background-size: 25% 65%;
                        .screen-tab-desk({
                            margin-top: 10px;
                        });
                    }
                    .view-less{
                        text-decoration: none;
                        border:0;
                        outline: none;
                        background: none;
                        margin-top: 20px;
                        padding: 0 0 0 20px;
                        background: url('/_ui/responsive/cat/images/minus-icon.png') left no-repeat;
                        background-size: 25% 15%;
                        .screen-tab-desk({
                            margin-top: 10px; 
                        });
                    }
                    .features-link{
                        font-family: @openSans;
                        font-weight: normal;
                        font-size: 12px;
                        color: @grey19;
                    }
                }
                ul {
                    padding-left: 0px;
                    list-style: none;
                    li {
                        text-transform: capitalize;
                        padding-left: 0;
                        .screen-tab-desk({
                            min-height: 34px;
                            font-family: @HelveticaNeue_Light;
                            font-size: 12px;
                        });
                        i.bullet-dash {
                            margin-right: 10px;
                            width: 3px;
                            height: 1px;
                            vertical-align: middle;
                            display: inline-block;
                            background: @black-color01;
                        }
                        i.bullet {
                            font-size: 3px;
                            padding-right: 25px;
                            vertical-align: middle;
                        }
                        .screen-mob({
                            font-size: 14px;
                            font-family: @HelveticaNeueThin;
                            line-height: 1.64;
                        });
                    }
                }
                        .inventory-table {
                            .inventoryAgeMessage{
                                padding: 20px 0px 20px 20px;
                                .font(@HelveticaNeue_Light, 300, 14px);
                                border-bottom: solid 1px @grey13;
                            }
                            .noBorderBottom{
                                border-bottom: 0px;
                            }
                            .row-header {
                                text-transform: uppercase;
                                .font(@openSans, normal, 14px, @grey01);
                                border-left: solid 1px @grey13;
                                border-right: solid 1px @grey13;
                                border-bottom: solid 1px @grey13;
                                padding: 20px 20px 11px 20px;
                                .quantity {
                                    padding-left: 5px;
                                }
                                .inventoryAgeHeaderValue{
                                    padding-left: 5px;
                                    .font(@openSans, normal, 12px, @grey01)
                                }
                                .inventoryAgeHeaderstyle{
                                    .font(@openSans, normal, 12px, @grey01);
                                }
                            }
                            .stock-details {
                                padding: 20px 15px;
                                &:not(:last-child) {
                                    /*border-bottom: solid 1px @grey12;*/
                                }
                                .warehouse-name {
                                    .font(@HelveticaNeue_Light, 300, 14px);
                                    word-wrap: break-word;
                                }
                                .ware-house-address {
                                    .font(@HelveticaNeue_Light, 300, 14px);
                                    text-transform: capitalize;
                                    word-wrap: break-word;
                                }
                                .stock-cont {
                                    .font(@HelveticaNeueMedium, 500, 14px);
                                    .out-of-stock {
                                        color: @red01;
                                    }
                                }
                                .inventoryAgeValuestyle{
                                    .font(@HelveticaNeue_Light, 300, 12px)
                                }
                                .inventoryAgeSerialstyle{
                                    padding-left:5px;
                                    .font(@HelveticaNeue_Light, 300, 12px)
                                }
                            }
                        }
                        .oops-err-msg{
                            margin-top:20px;
                            .oops-msg{
                                margin-bottom:10px;
                                .font(@openSans,normal,12px,@red02);
                                font-style:italic;
                            }
                            .contact-details-msg{
                               a{
                                   font:inherit;
                               }
                            }
                        }
                        
                    }
                    .tab-container {
                        .product-classifications {
                            .main-heading {
                                .font(@openSans, bold, 14px, @black-color01);
                                padding-bottom: 10px;
                            }
                            .message {
                                .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
                                padding-bottom: 40px;
                            }
                            .toggle-buttons {
                                display: inline;
                                +div {
                                    margin-top: 0px;
                                }
                                .btn-group {
                                    label {
                                        &.text {
                                            border: none;
                                            .font(@openSans, bold, 14px, @black-color01);
                                            cursor: default;
                                        }
                                        background-color: @white;
                                        border: solid 1px @grey14;
                                        color: @black-color01;
                                        .font(@openSans, bold, 12px, @grey14);
                                        &.active {
                                            color: @black-color01;
                                        }
                                    }
                                }
                            }
                            .headline {
                                .font(@openSans, bold, 14px, @black-color01);
                                padding-left: 0px;
                                margin-top: 40px;
                                text-transform: uppercase;
                            }
                            .table {
                                tr {
                                    &.header-row {
                                        border: solid 1px @grey13;
                                        td {
                                            .font(@openSans, bold, 14px, @grey01);
                                            padding-top: 30px;
                                            padding-bottom: 18px;
                                            &:first-child {
                                                padding-left: 40px;
                                            }
                                        }
                                    }
                                    td {
                                        border-top: none;
                                        padding-top: 14px;
                                        padding-bottom: 14px;
                                        &:first-child {
                                            padding-left: 40px;
                                        }
                                    }
                                    &.units_metrics_metric {
                                        display: none
                                    }

                                    .font(@HelveticaNeue_Light, 100, 16px, @black-color01);

                                    .attrib {
                                        .font(@openSans, 600, 14px, @black-color01);
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                }
                .content {
                    .tabhead {
                        .screen-mob({
                            background-color: #d5d5d5;
                            &.active{
                                border-bottom: none;
                                outline: none;
                            }
                        });
                    }
                }
            }
        }
        div[dynamic-tab-height-control="true"]{
            .tabs-list{
                li{
                    &>a{
                        border-bottom:0 !important;
                        &:hover{
                            border-color: @white;
                        }
                    }
                    &:hover{
                        border-bottom:4px solid;
                        border-color: @grey23;
                    }
                    &.active{
                        border-bottom:2px solid @black-color01 !important;
                    }
                }
            }
            .tabamount1 {
                li {
                    &.active{
                        border-bottom:0 !important;
                    }
                }   
            }
        }
        .carousel {
            &.gallery-carousel {
                padding: 0px 35px;
                .owl-item {
                    img {}
                    a {
                        border: solid 1px @grey13;
                        margin-top: 10px;
                    }
                }
            }
            &.image-gallery__image {
                padding: 0px !important;
                margin: 0px !important;
                margin-bottom: 16px;
            }
        }

        .owl-item {}
    }
}

.pdpLeftRefinement {
    padding: 30px 30px 0 30px;
    .header {
        .font(@openSans, bold, 14px, @black-color01);
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    .facet-param {
        padding-bottom: 30px;
        .facet-label {
            .font(inherit, 300, 12px, @black-color01);
            padding-bottom: 10px;
        }
        .facet-value {
            .font(@HelveticaNeue, normal, 14px, @black-color01);
            text-transform: capitalize;
        }
    }
}

.pdpLeftRefinementMobile {
    .screen-tab-desk( {
        //display: none !important;
    }
    );
    padding-bottom: 10px;
    .facet-param {
        padding-bottom: 30px;
        .facet-label {
            .font(@openSans, 300, 12px, @black-color01);
            display: inline-block;
            padding-right: 10px;
            padding-bottom: 10px;
        }
        .facet-value {
            .font(@HelveticaNeue, 500, 12px, @black-color01);
            text-transform: capitalize;
            display: inline-block;
        }
    }
}

.page-productDetails {
    &.coaching-tools-modal{
        overflow-y: hidden;
        .modal-dialog {
            .screen-desk({
                width: 600px;
                max-width: none;
            });
            .coaching-tools-popup{
                padding-top: 0;
                .screen-mob({
                    padding-top: 40px; 
                });
                .coaching-tool-container{
                    padding: 20px 60px;
                    .cart-lost-content{
                        ul{
                            overflow-y: auto;
                            max-height: 80vh;
                            .screen-desk({
                                max-height: 390px;
                            });    
                        }
                        .close-pop-up {
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            background: url(/_ui/responsive/cat/images/close-icon-15px.png) center center no-repeat;
                            color: inherit;
                        }
                        .coaching-tool-title {
                            .font(@openSans, bold, 16px, @black-color01);
                            text-align: center;
                            margin-bottom: 40px;
                            margin-top: 35px;
                            .screen-desk({
                                font-size: 20px;
                            });
                        }
                        .coaching-tool-links-section {
                            .coaching-tool-link {
                                padding-bottom: 12px;
                                a{
                                    .font(@openSans, normal, 16px, @black-color01);
                                    font-style: italic;
                                    display: inline-block;
                                    width: 100%;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-decoration: none;
                                    .screen-desk({
                                        padding: 0 20px;
                                    });
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}


#catImageModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#catImageModal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


#catImageModal .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#catImageModal #close {
    position: absolute;
    top: 0px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#catImageModal #close:hover,
#catImageModal #close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    #catImageModal .modal-content {
        width: 100%;
    }
#pdp-container{
    .right-content{
        .tabs-responsive{
            &.tabs{
                .tabbody{
                    .tab-data{
                    	
                        .inventory-table{
                            .stock-details{
                                .inventoryCount{padding-left: 40px;}
                            }
                            .mob-border{
                                padding-left: 20px;
                                &:not(:last-child) {
                                    border-bottom: solid 1px @grey17;
                                }
                            }
                            .row-header{
                                border: none;
                                .quantity{
                                    padding-left: 45px;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}
}

.pdp-tools {
    border-bottom: solid 1px @grey12;
    .single-tool {
        padding: 29px;
        .font(inherit, normal, 12px, @black-color01);
        .screen-desk({
            border-top: solid 1px @grey12;
        });
    }
    .nav-multibuttons{
      	padding-bottom: 10px;
    }
    .nav-link {
        margin-top: 15px;
        background-color: @white;
        border: solid 1px @grey10;
        text-transform: uppercase;
        padding: 12px 30px;
        display: inline-block;
        .font(@openSans, bold, 12px, @black-color01);
        text-decoration: none;
        text-align: center;
        min-width: 120px;
        a {
            color: @black-color01;
            text-decoration: none;
            min-width:46px;
            display: inline-block;
            outline: none;
            &:focus{
                outline: none;
            }
        }
    }
}
.support-mob-tools{
    padding:0px;
    .pdp-tools{
        height: 90px;
        border-bottom: none;
        .single-tool{
            padding: 0px;
            padding: 25px 20px 15px 20px;
            .nav-link{
                margin-top: 0px;
                .font(@openSans_Bold, bold, 14px, @black-color01);
            }
        }
    }
}
.reorderContent {
    .pdtName {
        .font(@openSans, normal, 14px, @black-color01); 
    }
    .bold {
        font-weight: bold;
    }
    .reorder-btn {
        .font(@openSans, bold, 12px, @grey03); 
        border: solid 1px @grey10;
        text-align: center;
    }
    .max-quantity-error {
        .font(@openSans, normal, 14px, @red02);
        font-style: italic;
        padding-top: 5px;
    }
}

.modal-dialog.cart-lost-container {
    .lane-cart-lost {
        .clear-cart-title {
            text-align: center;
            margin-top: 40px;
            .font(@openSans_Bold, bold, 20px, @black-color01);
        }
        p.description {
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
        }
    }
}
