#pdp-container {
    .right-content {
        @media screen and (max-width: 900px){
            padding:0;
            padding-top:10px;
            background-color: @grey11;
            .borderTitle{
                margin-left: 10px;
                margin-right: 10px;
                background-color:@white;
                padding-top:10px;
                .page-title{
                    padding:0 0 0 10px;
                    background-color: @grey11;
                    .font(@HelveticaNeue,normal,14px,@black-color01)
                }
            }
            .product-img-desc{
                padding: 0 20px;
                background-color: @grey11;
                .image-container{
                   background-color: @white;
                   box-shadow: 0 4px 4px 0 rgba(215, 215, 215, 0.5);  
                }
                .mobile-no-padding{
                    margin-bottom: 40px;
                    padding-bottom: 50px;
                    background-color: @white;
                    box-shadow: 0 4px 4px 0 rgba(215, 215, 215, 0.5);  
                }
            }
        }
        .utvPlaceOrder {
            .font(@HelveticaNeue, normal, 14px, @black-color01);
            margin-right: 20px;
            @media (max-width: 767px) { 
                margin-right: 0;
            }
            border-top: solid 1px @grey12;
            padding-top: 15px;
            @media screen and (max-width: 900px){
                padding:20px 10px 0 10px;
                margin-right:0;
                margin-left:0;
                background-color: @white;
            }
            .utv-order-container {
                .header {
                    @media screen and (max-width: 900px){
                        padding:0 10px 10px;
                    }
                    
                    .font(@openSans, 600, 14px, @black-color01);
                    padding-bottom: 10px;
                    .info-icon {
                        width: 15px;
                        height: 15px;
                        cursor: pointer;
                        position: relative;
                        top: -2px;
                        left: 5px;
                    }
                    .arrow {
                        display: none;
                    }
                    .popover-content {
                        padding: 20px;
                    }
                    .popover.bottom {
                        margin-top: 0px;
                        .informaton {
                            .title {
                                .font(@openSans, bold, 16px, @black-color01);
                                letter-spacing: -0.4px
                            }
                            .message {
                                .font(@HelveticaNeue_Light, 100, 16px, @black-color01);
                                padding-top: 20px;
                            }
                        }

                        .order-window {
                            padding-top: 20px;
                            .title {
                                .font(@openSans, bold, 14px, @black-color01);
                            }
                            .message {
                                padding-top: 12px;
                                .font(@HelveticaNeue_Light, 100, 16px, @black-color01);
                            }
                        }
                    }
                }
                .more-link {
                    .font(@openSans, normal, 14px, @black-color01);
                    font-style: italic;
                    text-decoration: underline;
                    span{
                        cursor: pointer;
                        &:hover{
                          text-decoration: underline;
                        }
                    }
                    padding-bottom: 30px;
                    
                }
                .message {
                    @media screen and (max-width: 900px) {
                        padding:0 10px;
                    }
                
                    .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
                    padding-bottom: 5px;
                    a{
                        .font(@openSans, normal, 14px, @black-color01);
                        font-style: italic;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .place-order {
                    border: 2px solid @grey03;
                    @media screen and (max-width: 900px) {
                        border: 0;
                    }
                   
                    @media (max-width: 767px) { 
                        border-top: 2px solid @grey03;  
                    }
                    .place-order-header {
                        padding: 20px 10px;
                        border-bottom: 1px solid @grey03;
                        > div{
                            .font(@openSans, normal, 14px, @black-color01);
                            .screen-mob({
                                font-family: @openSans_Light;
                            });
                            text-transform: uppercase;
                        }
                        .month{
                            text-align: left;
                        }
                        .units{
                            text-align: center;
                        }
                        .date{
                            text-align: right;
                        }
                    }
                }
                .order-line {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .reorder-months {
                    padding: 0 10px;
                    .months {
                        .font(@openSans, normal, 14px, @black-color01);
                    }
                    .date {
                        text-align: right;
                    }
                    .units {
                       @media screen and (max-width: 330px) {
                           padding: 0;
                       }
                    }
                    .input-params {
                        text-align: center;
                        img {
                            width: 11px;
                            cursor: pointer;
                            &.decrement {
                                padding: 7px 0px;
                                margin-right: 4px;
                            }
                            &.increment {
                                margin-left: 4px;
                            }
                            &.disabled {
                                cursor: not-allowed;
                            }
                        }
                        input {
                            text-align: center;
                            width: 30px;
                        }
                    }
                }
                .reorder-months:last-child {
                    margin-bottom: 20px;
                }
                .order-button {
                    width: 57%;
                    border-top: 1px solid @grey03;
                    .screen-tab-desk({
                        width: 100%;
                        padding: 15px 10px;
                    });
                    > div{
                        .font(@HelveticaNeue, 300, 14px, @black-color01);
                    }
                }
                .reorder-button {
                    outline: 0;
                    margin: -10px 0px 10px 0;
                    background-color: @grey07;
                    border: solid 1px @grey10;
                    .font(@openSans, bold, 12px, @grey03);
                    width: 100%;
                    min-width: 60px;
                    float: right;
                    height: 34px;
                    max-width: 181px;
                    position: relative;
                    .calc(top, "50% - 30px");
                    &.disabled {
                        cursor: not-allowed;
                        background-color: @grey10;
                    }
                    .screen-mob({
                        font-size: 14px;
                        height: 40px;
                        max-width: inherit;
                        margin-top: 10px !important;
                    })
                }
                .modal-dialog {
                    .modal-content {
                        box-shadow: none;
                        border: solid 3px @grey10;
                        background-color: @white;
                        .screen-mob({
                            border:none;
                        })
                    }
                }
                .utv-more-information {
                    padding: 50px;
                    padding-top: 75px;
                    .close-icon {
                        position: relative;
                        top: -30px;
                        right: -20px;
                        img{
                            height: 17px;
                            cursor:pointer;
                        }
                    }
                    .header {
                        text-align: center;
                        .font(@openSans, bold, 20px, @black-color01);
                        letter-spacing: -0.6px;
                        padding-bottom: 30px;
                    }

                    .message {
                        .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                        line-height: 1.13;
                        padding-bottom: 50px;
                    }
                    .window-dates {
                        .sub-header {
                            .font(@openSans, bold, 12px, @black-color01);
                            letter-spacing: -0.3px;
                            border-bottom: solid 1px @grey12;
                            margin-bottom: 10px;
                            margin: 0px;
                            margin-bottom: 10px;
                            .first-cell {
                                padding-left: 0px;
                            }
                        }
                        .sub-data {
                            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                            line-height: 1.13;
                        }
                    }
                }
                .config-truckLoad{
                    border-top: solid 1px @grey17;
                    .screen-tab-desk({
                        border: solid 1px @grey17;
                    });
                    padding: 20px;
                    margin-top: 10px;
                    margin-bottom: 0;
                    .info{
                        .font(@HelveticaNeue, 300 , 16px, @black-color01);
                        padding-bottom: 15px;
                    }
                    .config-button{
                        .font(@openSans,bold,14px,@black-color01);
                        .screen-mob({
                            display:block;
                            width:100%;
                            margin:auto;
                        })
                    }

                }
            }
            .reorder-bottom-mobile {
                position: fixed;
                width: 100%;
                height: 62px;
                background: @white;
                left: 0;
                bottom: 0;
                z-index: 1;
                margin: 0;
                box-shadow: 0px -0.1px 1px 0px @grey08;
                // > div {
                //     .screen-mob({
                //         padding-left: 20px;
                //         padding-right: 20px;
                //     })
                // }
                .quantity-units {
                    width: 43%;
                }
                .quantity {
                    .font(@HelveticaNeue, 100, 12px, @black-color01);
                    margin: 10px 0 0 10px;
                }
                .units {
                    .font(@HelveticaNeue, 400, 18px, @black-color01);
                    margin: 0 0 10px 10px;
                }
                button {
                    margin: 15px 0 !important;
                }
            }
        }
        .image-gallery__image {
            @media screen and (max-width: 900px) {
                background-color: @white;
            }
            .owl-wrapper-outer {
                border: 1px solid @grey12;
                @media screen and (max-width: 900px) {
                    border: 1px solid @grey11;
                    margin-bottom:40px;
                }
                
                .item {
                    margin: 0px;
                }
            }
            .owl-pagination{
                .owl-page {
                    display: inline-block;
                    span {
                        display: block;
                        width: 8px;
                        height: 8px;
                        margin: 5px 7px;
                        filter: Alpha(Opacity=50);
                        opacity: 0.5;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        border-radius: 20px;
                        background: @grey22;
                        cursor: pointer;
                    }
                    &.active{
                        span{
                            background: @black-color01;
                        }
                    }
                }
            }
            .owl-buttons{
                @media screen and (max-width: 900px) {
                   display:none;
                }
            }
        }
        .product-details{
            .utv-headding-row{
                .name{
                    text-transform: uppercase;
                }
                @media screen and (max-width: 900px) {
                     border-bottom:1px solid @grey17;
                    padding: 20px 10px 20px 10px;
                    background-color : @white;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            .description{
                @media screen and (max-width: 900px) {
                   margin-top:0;
                    padding:20px;
                    .font(@HelveticaNeueThin,100,14px,@black-color01);
                    background-color : @white;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            @media screen and (max-width: 900px) {
                margin-bottom: 0;
            }
           
        }
        .tabs-responsive{
            &.tabs{
                @media screen and (max-width: 900px) {
                    margin-left:0;
                }
                .tabhead{
                    @media screen and (max-width: 900px) {
                         a{
                            .font(@openSans_Semibold,600,14px,@black-color01);
                         }
                     }
                   
                }
                .tabbody{
                    @media screen and (max-width: 900px) {
                        border-top:0;
                        margin:0;
                        background-color:@grey11;
                     }
                    
                    .product-classifications{
                        @media screen and (max-width: 900px) {
                            div{
                                padding:15px 20px 30px 20px !important;
                                z-index: 0;
                            }
                          table{
                             padding:15px 20px 30px 20px !important;
                             tr{
                                 &.header-row{
                                     border:0 !important;
                                     background-color:@grey17;
                                     td{
                                         padding:16px 0 17px 19px !important; 
                                         .font(@openSans,normal,14px,@black-color01) !important;
                                     }
                                }
                                td{
                                    .font(@HelveticaNeue_Light,100,14px,@black-color01) !important;
                                    padding-left: 20px !important;
                                    &.attrib{
                                       .font(@HelveticaNeueThin,100,14px,@black-color01) !important;
                                    }
                                }
                             }
                          }
                          .toggle-buttons{
                            .btn-group{
                                label{
                                    background-color:@grey11 !important;
                                    &.active{
                                        background-color:@white !important;
                                    }
                                }
                            }
                          }
                          .main-heading{
                            .font(@openSans,normal,14px,@black-color01) !important;
                          }
                          .message{
                            .font(@HelveticaNeueThin,100,14px,@black-color01) !important; 
                          }
                          .headline{
                              font-weight: 600 !important;
                              margin-top:0 !important;
                              margin-bottom:0 !important;
                          }
                         }
                       
                    }
                    .accessories-content{
                        @media screen and (max-width: 900px) {
                            P{
                                padding:10px 0 0 20px;
                                .font(@HelveticaNeueThin,100,14px,@black-color01);
                            }
                            table{
                                padding:15px 20px 30px 20px !important;
                                tr{
                                    &.table-header{
                                        border:0 !important;
                                        th{
                                            background-color:@grey17 !important;
                                            padding:16px 0 17px 19px !important; 
                                            .font(@openSans,normal,14px,@black-color01) !important;
                                        }
                                   }
                                   td{
                                       .font(@HelveticaNeue_Light,100,14px,@black-color01) !important;
                                       padding-left: 20px !important;
                                       background-color:@grey11 !important;
                                       &:first-child{
                                          .font(@HelveticaNeueThin,100,14px,@black-color01) !important;
                                       }
                                   }
                                }
                             }
                            .accessories-sub-headding{
                                padding:10px 0 10px 20px;
                                font-weight: 600 !important;
                            }
                         }
                    }
                }
            }
        }
    }

    .owl-prev {
        width: 50px;
        text-align: left;
        &:before {
            content: ""
        }
        font-family: none;
        i {
            color: @black-color01;
            font-size: 45px;
            text-shadow: 0 0 black;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: auto;
            height: auto;
            font-size: 25px;
            line-height: 125px;
            font-size: 40px;
        }
        &.disabled {
            i {
                color: @grey14;
                cursor: not-allowed;
            }
        }
        i{
            img{
                width: 12px;
                height: 24px;
            }
        }
    }
    .owl-next {
        width: 50px;
        text-align: right;
        &:before {
            content: ""
        }
        font-family: none;
        i {
            color: @black-color01;
            font-size: 45px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: auto;
            height: auto;
            font-size: 25px;
            line-height: 125px;
            font-size: 40px;
        }
        &.disabled {
            i {
                color: @grey14;
                cursor: not-allowed;
            }
        }
        i{
            img{
                width: 12px;
                height: 24px;
            }
        }
    }
}
