.speckcheck-loading-plp-spinner{
    position: absolute;
    margin-left: 50%;
    margin-top: 10%;
    z-index: 99;
}
.compare-page-container{
    position:relative;
}
.compare-page-loader{
    position:absolute;
    height:100%;
    width:100%;
    background:@white;
    z-index:9999;
    
        .cat-loading-spinner{
           position:relative;
           top:50%;
           margin:auto;
           margin-top:-40px;
        }
    
}
.speckcheck-product-list{
   background-color:@white;
   .product-list-container {
       .right-products-section {
           .message {
                text-align: center;
                .font(@openSans, 300, 20px, @black-color01);
           }
       }
   }
}
.product-list-header{
   background-color:none !important;
   margin-bottom:20px;
   .font(@openSans, bold, 18px, @black-color01);
}
.filter-header{
   .font(@openSans, bold, 14px, @black-color01);
}
.filter-divider{
   padding:2px 0 2px 0;
   border-bottom:3px solid @sunflower-yellow;
   width:53px;
}
.product-family-dropdown-header{
   .font(@openSans, 300, 12px, @black-color01);
   margin-bottom:10px;
}
.product-family-dropdown-container{
   margin:35px 0 35px 0;
}

.product-family-dropdown {
   background: none;
   border: none;
   text-transform: none !important;
   text-decoration:none !important;
   border-bottom: 1px solid @grey10;
   padding: 0 20px 3px 0 !important;
   display:inline-block;
   &.disabled-dropdown{
       border-bottom:1px solid @grey06 !important;
   }
   &:hover {
       background: none;
       border: none;
       text-transform: none !important;
       border-bottom: 1px solid @black-color01;
   }
   &:focus {
       background: none;
       border: none;
       text-transform: none !important;
       border-bottom: 1px solid @black-color01;
   }
   &:active {
       background: none;
       border: none;
       text-transform: none !important;
   }
   .product-family-dropdown-label{
       display: block;
       text-align: left;
       .font(@HelveticaNeue, 300, 14px, @black-color01) !important;
       text-decoration:none;
       text-transform: capitalize;
       margin:0;
       &.disabled-dropdown{
           color:@grey06 !important;
       }
   }
}
.product-family-btn {
   padding:0 !important;
}
.product-family-dropdown-item {
   label {
       display: block;
       text-align: left;
   }
   a{
       padding:0 50px 0 0 !important;
   }
   &:last-child {
       border-bottom: 0;
   }
   &:first-child{
        .dropdown-group-header{
            padding-top:0 !important;
        }
    }
}
.product-family-dropdown-menu {
   max-height: 200px;
   overflow: auto;
   margin:2px 0 0 0;
   padding: 10px!important;
   .dropdown-group-header{
       .font(@HelveticaNeue_Light, 300, 14px, @black-color01); 
         padding-top:10px !important;
         padding-bottom:10px !important;
   }
   li{
       .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
       a{
            background-color:@white !important;
            &.dropdown-value{
                margin-left:5px;
                &:hover{
                    border-bottom:1px solid @sunflower-yellow;
                    background-color:@white !important;
                    .font(@HelveticaNeue, 300, 12px, @black-color01);
                }
            }
            &.disable-option {
                background: @grey08 !important;
                cursor: not-allowed;
                opacity: 0.65;
                margin-left: -11px;
                padding-left: 15px !important;
                &:hover {
                    background: @grey08 !important;
                }
            }
        }
   }
}
.product-family-dropdown-arrow {
   position: relative;
   left: 20px;
   margin-top: -10px;
   background-image:url(/_ui/responsive/cat/images/drop-down-arrow.png) center no-repeat;
} 

.update-product-list {
   background-color: @grey07;
    border: solid 1px @grey10;
    margin-bottom:5px;
    .font(inherit, 600, 12px, @white);
    text-transform: uppercase;
    &.reset-selection{
        background-color: @white;
        border: solid 1px @grey10;
        color:@black-color01;
        margin-right:20px;
    }
}

.left-filter-section{
   border-bottom:1px solid @grey12;
   border-right:1px solid @grey12;
   padding:25px 0 25px 25px;
}

.right-products-section{
   border-left:1px solid @grey12;
   padding:20px 0 15px 15px;
   margin-left: -1px;
}

.product-image {
    img {
        width:100%;
        border:2px solid @grey05;
    }
}

.product-compare-card{
   margin-bottom:40px !important;
   padding-bottom:0;
   border:0;
}

.product-compare-card .header-content{
   border-top:2px solid @grey05;
   border-left:2px solid @grey05;
   border-right:2px solid @grey05;
   cursor: default;
   .super-header{
       padding-top:10px;
       .header-text{
           padding:0 5px;
       }
   }
}

.product-card-body-content{
   border-left:2px solid @grey05;
   border-right:2px solid @grey05;
}

.favorite-product{
  position:absolute;
  top:2px;
  right:2px;
}


.compare-products {
   width: 100%;
   border: 1px solid @grey10;
   background-color:@white;
   .font(@openSans_Bold,bold,12px,@black-color01);
   &:hover {
       width: 100%;
       border: 1px solid @grey10;
       .font(@openSans_Bold,bold,12px,@black-color01);
   }
   &:focus {
       width: 100%;
       border: 1px solid @grey10;
       .font(@openSans_Bold,bold,12px,@black-color01);
   }
}


.product-desc-header{
   .font(@openSans_Light, 300, 10px, @black-color01);
}
.product-desc-value{
   .font(@HelveticaNeue_Light, 600, 14px, @black-color01);
   padding-top:5px;
   &.utv-price-row{
        padding:0 30px 15px 30px;
    }
}
.product-name{
   .font(@openSans_Bold, 600, 14px, @black-color01);
   &.utv{
        background-color: @grey05;
        padding:12px 30px;
    }
}

.product-desc-row{
   margin-bottom:10px;
   &.utv-padding{
        padding:0 30px 15px 30px;
        &.max-speed{
            padding-right:0;
        }
        &.seat-capacity{
            padding-left:0;
        }
    }
}


.productlist-pagination-container-top {
   .pagination-first {
       display: none;
   }
   .pagination-last {
       display: none;
   }
   li {
       a {
           background: none !important;
           .font(@HelveticaNeueThin, 100, 16px, @black-color01); 
           width: 25px;
           line-height: 25px;
       }
   }
   li.pagination-prev {
       a {
           margin-right: 0;
           font-size: 25px;
       }
   }
   li.pagination-next {
       a {
           margin-left: 0;
           font-size: 25px;
       }
   }
}
.productlist-pagination-container-bottom {
   .pagination-first {
       display: none;
   }
   .pagination-last {
       display: none;
   }
   li {
       a {
           background: none !important;
           .font(@HelveticaNeueThin, 100, 16px, @black-color01); width: 25px;
           line-height: 25px;
       }
   }
   li.pagination-prev {
       a {
           margin-right: 0;
           font-size: 25px;
       }
   }
   li.pagination-next {
       a {
           margin-left: 0;
           font-size: 25px;
       }
   }
}


.productlist-pagination-container-top
{
   padding-bottom:5px;
}
.productlist-pagination-container-bottom{
   padding-top:5px;
}

.product-image-border-padding{
   padding:5px;
}



#compare-plp-container{
   .params-sec {
       margin-bottom: 39px;
       padding: 30px 30px 0px 0px;
       .params-sec-heading {
           .font(@openSans_Light, 300, 12px, @black-color01);
           padding-bottom: 5px;
       }
       .params-sec-row {
           margin-left: 0px;
           margin-right: 0px;
           .params-sec-dropdown {
               padding: 0px;
               .drop-down-button {
                   padding: 0px;
                   background-color: #fff;
                   border-bottom: solid 1px #4a4a4a;
                   box-shadow: none;
                   &.disabled {
                       border-bottom: solid 1px #cccccc;
                       .text {
                           color: #cccccc;
                           text-transform: capitalize;
                       }
                       .arrow {
                           color: #cccccc;
                       }
                   }
                   .text {
                       display: inline-block;
                       text-transform: capitalize;
                       width: 94%;
                       text-align: left;
                       .font(@HelveticaNeue, normal, 14px, @black-color01);
                       text-align: left;
                       text-overflow: ellipsis;
                       overflow: hidden;
                   }
                   .arrow {
                       width: 6%;
                       color: #000;
                       .img {
                           height: 6px;
                       }
                       i {
                           vertical-align: bottom;
                       }
                   }
               }
               ul.dropdown-menu {
                   padding: 10px 0px 15px 10px;
                   max-height: 200px;
                   overflow-y: auto;
                   li {
                       padding: 4px 6px 4px 0px;
                       margin-left: 4px;
                       text-transform: capitalize;
                       .font(@HelveticaNeue, normal, 14px, @black-color01);
                       &:hover {
                           padding-bottom: 4px;
                           font-weight: bold;
                           border-bottom: solid 1px #ffcc00;
                           cursor: pointer;
                       }
                   }
               }
           }
       }
   }
}
