.compare-plp-mobile-view{
    .filters-button{
        background-color:@white;
        border:1px solid @grey10;
        .font(@openSans,bold,12px,@black-color01);
        padding:7px 14px;
    }
    .update-button{
        .update-product-list{
            margin-bottom: 15px;
            width: auto;
            position: fixed;
            bottom: 0;
            padding: 12px 110px;
            height: auto;
        }
    }
    .show-more{
        .font(@HelveticaNeue_Light,300,16px,@grey08);
        cursor: pointer;
    }
    .close-modal{
        right:0;
        top:7px;
    }
    .filters-heading{
        .font(@openSans,bold,18px,@black-color01);
    }
    .filter-divider {
        padding: 0 0 5px 0;
        border-bottom: 3px solid @sunflower-yellow;
        width: 100%;
        display: block;
    }
    .inventory-heading-row{
        margin-top:35px;
        .inventory-heading{
            .font(@openSans,bold,14px,@black-color01);
        }
    }
    .product-dropdown-row{
        margin-top:20px;
    }
    .product-compare-card{
        padding:15px 10px 10px 10px;
        box-shadow:0 1px 5px 1px @grey12;
        .product-image{
            &.mobile{
                img{
                    width:103px;
                    height:72px;
                    border:1px solid @grey12;
                }
            }
        }
        .header-name{
            .font(@openSans,600,14px,@black-color01);
        }
        .header-text{
            .font(@openSans,normal,12px,@black-color01);
        }
        .compare-button{
            padding:0 10px;
        }
        .compare-products{
            padding:10px;
            outline:0;
        }
        .product-card-row{
            margin-top:15px;
        }
        .engine-specs-heading{
            .font(@openSans_Light,300,10px,@black-color01);
        }
        .engine-specs-value{
            .font(@HelveticaNeueMedium,500,12px,@black-color01);
        }
    }
    #sidebar-wrapper {
        margin-right: -300px;
        right: 0;
        width: 300px;
        background: @white;
        padding:15px;
        position: absolute;
        overflow-y: auto;
        height: auto;
        z-index: 1000;
        transition: all 0.5s ease-in 0s;
        -webkit-transition: all 0.5s ease-in 0s;
        -moz-transition: all 0.5s ease-in 0s;
        -ms-transition: all 0.5s ease-in 0s;
        -o-transition: all 0.5s ease-in 0s;
        top:43px;
        bottom:0;
      }
    
      .sidebar-nav {
        position: absolute;
        top: 0;
        width: 300px;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    
      .sidebar-nav li {
        line-height: 50px;
        text-indent: 20px;
      }
    
      .sidebar-nav li a:hover {
        color:@white;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
      }
    
      .sidebar-nav li a:active, .sidebar-nav li a:focus {
        text-decoration: none;
      }
    
      .sidebar-nav > .sidebar-brand {
        height: 55px;
        line-height: 55px;
        font-size: 18px;
      }
    
      #sidebar-wrapper.active {
        right: 300px;
        width: 300px;
        transition: all 0.5s ease-out 0s;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        top:43px;
        bottom:0;
      }
    
      .toggle {
        margin: 5px 5px 0 0;
      }
}
