.guided-sales-container {
	.product-radio-btn{
		display: none;
	}
	.radio-not-selected{
		display: inline-block;
		width: 14px;
		height: 14px;
		border: solid 1px @grey10;
		cursor: pointer;
		border-radius: 50%;
		background:@white;
	}
	.radio-selected{
		display:inline-block;
		width:14px;
		height: 14px;
		background-image: url(/_ui/responsive/cat/images/selected-radio-button.png);
		background-size: 100%;
		background-repeat: no-repeat;
		border: 0px;
	}
	.shadow-effect{
		box-shadow: 0 0 4px 2px rgba(234, 234, 234, 0.5);
	}
	.shadow-hover-effect{
		cursor: pointer;
		.shadow-effect;
		&:hover{
			border: 1px solid @sunflower-yellow;
		}
	}
	.header {
		margin-top: 20px;
		.font(@openSans, bold, 18px, @black-color01);
	}
	.main-container {
		background-color: @white;
		padding: 40px;
		margin-top: 30px;
	}
	.question-container {
		.disable{
			opacity:0.5;
		}
		padding: 40px;
		margin: 0 0 40px;
		border: 1px solid @grey14;
		.question {
			.font(@openSans, 600, 18px, @black-color01);
			padding:0 20px;
			.guided-sale-btn{
				margin-right: 15px;
				outline:none;
				border: none;
				background-color: @white;
				padding-right: 18px;
				.font(@openSans,normal,18px,@black-color01);
				font-style: italic;
				cursor: pointer;
				background-image: url('/_ui/responsive/cat/images/right-arrow.png');
				background-repeat: no-repeat;
				background-size: 7px;
				background-position: right;
			}
			.select-option{
				text-transform:initial;
				font-style: italic;
				.font(@openSans_Light,normal,14px,@black-color01);
				span{
					.font(@openSans,normal,14px,@black-color01);
				}
			}
		}
		.options {
			.option {
				margin: 50px 3% 10px;
				width:27%;
				display: inline-block;
				.cat-card-container {
					img{
						min-height: 160px;
						max-height: 160px;
					}
					border: 1px solid @grey17;
					.shadow-hover-effect;
					.body-content {
						background-color: @grey05;
						padding: 21px 0 15px 0;
						.main-header-row {
							padding-left: 10px;
							.main-header {
								font-size: 12px;
							}
							.display_answer_label {
								display: inline-block;
								width: 85%;
								vertical-align: middle;
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
	}
	.yourSelectionSection{
		background-color: @white;
		padding:40px 22px 40px 40px;
		margin-top:30px;
		.product-family-container{
			border: 1px solid @grey14;
		}
		.row{
			margin-left: 0px;
			margin-right: 0px;
		}
		.mainHeading{
			padding-left:10px;
			.font(@openSans, bold, 14px, @black-color01);
		}
		.questionTileSection{
			.tile{
				margin: 20px;
				padding:20px;
				border: 1px solid @grey17;
				min-height: 135px;
				.shadow-hover-effect;
				.showQuestion{
					.font(@openSans_Light, 300, 14px, @black-color01);
					padding-bottom: 10px;
				}
				.showAnswer{
					.font(@HelveticaNeue, normal, 14px, @black-color01);
				}
				&:first-child{
					margin-left: 0px;
				}
			}
			
		}
		.recomendationSection{
			margin-top: 50px;
			.heading{
				.font(@openSans_Bold, bold, 18px, @black-color01);
			}
			.text{
				.font(@openSans, normal, 14px, @black-color01);
				padding-top: 10px;
			}
			.family-nav-bar{
				display: inline-block;
				.font(@openSans, normal, 18px, @black-color01);
				font-style: italic;
				outline: none;
				margin: 20px 30px 40px 0;
				&:hover,&:focus{
					color:@sunflower-yellow;
				}
			}
		}
	}
	.productFamilySection{
		.row{
			margin-left: 0px;
			margin-right: 0px;
		}
		//background-image: url('/_ui/responsive/cat/images/guidedSalesImages/product-family-background.png');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 69px 60px 75px 60px;
		.productFmaliyHeading{
			.font(@openSans_Bold, bold, 24px, @white);
			margin-bottom: 18px;
		}
		.productFamilyDesc{
			.font(@openSans, normal, 20px, @white);
		}
	}
	.salesModelDisplay{
		background-color: @white;
		padding: 30px 20px 40px 40px;
		.salesModelHeading{
			.font(@openSans, normal, 18px, @black-color01);
		}
		.cardSection{
			.card-container{
				margin-top: 10px;
				margin-left: -20px;
			}
			.card{
				.shadow-hover-effect;
				border: solid 1px @grey17;
				margin: 20px;
				.salesModelval{
					.font(@openSans, normal, 18px, @black-color01);
					border-bottom: solid 1px @grey12;
					padding: 20px 20px 10px 20px;
				}
				.salesModelDetails{
					padding: 17px 18px 20px 20px;
					.netPower{
						.netPowerLabel{
							.font(@openSans_Light, 300, 10px, @black-color01);
						}
						.netPowerValue{
							.font(@HelveticaNeue, normal, 14px, @black-color01);
						}
					}
					.operatingWeight{
						.operatingWeightLabel{
							.font(@openSans_Light, 300, 10px, @black-color01);
						}
						.operatingWeightValue{
							.font(@HelveticaNeue, normal, 14px, @black-color01);
						}
					}
				}
			}
		}
	}
	.contactUSSection{
		background-color: @white;
		margin-top: 40px;
		padding: 40px;
		.heading{
			.font(@openSans_Bold, bold, 18px, @black-color01);
		}
		.mailbox{
			margin-top: 30px;
			input{
				width: 100%;
				background-color: @grey11;
				border: none;
				border-bottom: solid 1px @grey10;
				.font(@HelveticaNeue_Light, 300, 14px, @black-color01);
				font-style: italic;
			}
		}
		.emailSection{
			margin-top: 40px;
			.emailval{
				.font(@openSans_Medium, 600, 14px, @black-color01);
			}
			.contactUsButton{
				button{
					background-color: @grey07;
					border: solid 1px @grey10;
					padding: 16px 46px 14px 46px;
					.font(@openSans_Bold, bold, 14px, @white);
				}
			}
		}
	}
}