.low-stock {
    .low-stock-content {
        padding-left: 87px;
        .screen-mob({
			padding-left: 10px;
		});

        .reorder-text-section{
            .font(@openSans, normal, 24px, @grey19);
            .screen-mob({
                font-size: 18px;
            });
            span{
                font-weight: bold;
            }
        }

        .reorder-days-message{
            .font(@openSans, normal, 18px, @grey19);
            .screen-mob({
                font-size: 14px;
            });
        }

        .reorder-condition-message{
            .font(@openSans, 300, 14px, @grey19);
            .screen-mob({
                font-size: 12px;
            });
            font-style: italic;
            padding-bottom: 30px;
        }
    }
} 
