#ord-container {
  .orderinfo, .dealerinfo {
    width:100%;
    background-color:white;
    padding:10px 20px;
    margin:20px 0px;
  }
  .title {
    font-family:OpenSans;
    font-size:14px;
    font-weight:bold;
    text-align:left;
    color:#000000;
    color:var(--black);
    padding-bottom:18px;
    border-bottom:solid 1px #d1d1d1;
  }
  .div-seperator {
    border:solid 1px #d1d1d1;
    margin:15px 0px;
  }
  .heading-text {
    font-family:OpenSans;
    font-size:14px;
    font-weight:300;
    text-align:left;
    color:#000000;
    color:var(--black);
  }
  .desc-text {
    font-family:HelveticaNeue;
    font-size:14px;
    font-weight:500;
    text-align:left;
    color:#000000;
  }
  .dealer-details {
    margin-bottom:20px;
  }
}
.cat-typeahead {
  input::placeholder, input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder {
    font-family:"HelveticaNeue_Light", Helvetica, Arial, sans-serif;
    font-weight:100;
    font-size:16px;
    color:#979797;
    font-style:italic;
  }
  input {
    padding:30px;
    border:none;
  }
  .dropdown-menu {
    padding-top:0px;
    margin-top:-1px;
    border:none;
    .uib-typeahead-match {
      a, a:hover, a:focus {
        background-color:transparent;
      }
      .typeahead-group-header {
        padding-left:40px;
        font-family:"Open Sans", sans-serif;
        font-weight:bold;
        font-size:16px;
        color:#000000;
        padding-top:30px;
        border-top:solid 1px #d1d1d1;
      }
      .result {
        padding-left:40px;
        margin-top:5px;
        cursor:pointer;
        span {
          font-family:"HelveticaNeue_Light", Helvetica, Arial, sans-serif;
          font-weight:300;
          font-size:16px;
          color:#979797;
          strong {
            color:#000000;
          }
        }
      }
      .typeahead-group-footer {
        padding-left:40px;
        padding-bottom:30px;
      }
    }
    .uib-typeahead-match.active {
      a, a:hover, a:focus {
        background-color:transparent;
      }
      a span, a:hover span, a:focus span {
        border-bottom:solid 1px #ffcc00;
      }
    }
  }
  .search-icon {
    display:inline-block;
    background-color:#ffcc00;
    padding:14px;
    position:relative;
    top:-59px;
    left:100%;
    margin-left:-55px;
  }
}