#im-reorder-container {
    .header {
        background-color: #f7f7f7;
        padding: 40px 0px;
    }
    .search-text-header {
        .font(@openSans, bold, 14px, @black-color01);
        letter-spacing: -0.5px;
    }
    
        .search-results{
            .show-more-mobile{
                padding-left: 5px;
                .font(@HelveticaNeue_Light, 300, 16px, @grey08);
              }
        }
    .search-results {
        .screen-mob({
            border-left:0;
            background-color:@grey09;
        });
        border-left: solid 1px #d1d1d1;
        position: relative;
        left: -1px;
    }
    .page-loader {
        height: 100vh;
        .cat-loading-spinner {
            position: relative;
            top: 40%;
            margin: 0px auto;
        }
    }
    background-color: #fff;
    #rpc-facet-container,#manageOrdersMobileMenu{
        border-right: solid 1px #d1d1d1;
        padding: 0px;
        .cat-search-parameters {
            .params {
                padding: 30px 20px 35px 30px;
                .param-head {
                    margin-bottom: 30px;
                    .font(@openSans, bold, 14px, @black-color01);
                    text-align: left;
                    span {
                        border-bottom: solid 3px #ffcc00;
                        display: inline-block;
                        padding-bottom: 6px;
                    }
                }
                .params-sec {
                    margin-bottom: 30px;
                    .params-sec-heading {
                        .font(@openSans, 300, 12px, @black-color01);
                        padding-bottom: 5px;
                    }
                    .params-sec-row {
                        margin-left: 0px;
                        margin-right: 0px;
                        .params-sec-dropdown {
                            padding: 0px;
                            .drop-down-button {
                                padding: 0px;
                                background-color: #fff;
                                border-bottom: solid 1px #4a4a4a;
                                box-shadow: none;
                                &.disabled {
                                    border-bottom: solid 1px #cccccc;
                                    .text {
                                        color: #cccccc;
                                        text-transform: capitalize;
                                        .screen-mob({
                                            font-size:12px;
                                        });
                                    }
                                    .arrow {
                                        color: #cccccc;
                                    }
                                }
                               
                                .text {
                                    display: inline-block;
                                    text-transform: capitalize;
                                    width: 94%;
                                    text-align: left;
                                    .font(@openSans, bold, 12px, @black-color01);
                                    .screen-mob({
                                        font-size:10px;
                                    });
                                    text-align: left;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                                .m-text{
                                    .screen-mob({
                                        font-size:14px;
                                    });
                                }
                                .arrow {
                                    width: 6%;
                                    color: #000;
                                    .img {
                                        height: 6px;
                                    }
                                    i {
                                        vertical-align: bottom;
                                        font-size: 24px;
                                        line-height: 22px;
                                    }
                                }
                            }
                            ul.dropdown-menu {
                                padding: 10px 0px 15px 10px;
                                max-height: 200px;
                                overflow-y: auto;
                                li {
                                    padding: 4px 6px 4px 0px;
                                    margin-left: 4px;
                                    text-transform: capitalize;
                                    a{
                                        outline:none;
                                        background:inherit;
                                        &:focus,&:hover{
                                            padding-bottom: 4px;
                                            font-weight: bold;
                                            border-bottom: solid 1px #ffcc00;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .update-btn-container{
                    padding-top: 10px; 
                }
                .update-btn {
                    .font("Open Sans", bold, 12px, @white);
                    text-align: center;
                    display: inline-block;
                    padding: 8px 22px;
                    &.disabled {
                        background-color: @grey04;
                    }
                    background-color: @grey07;
                }
            }
        }
    }
    .reorder-card-container {
        margin: 20px;
        .screen-mob({
            margin:0 10px 0;
        });
        .reorder-card {
            box-shadow: 0 0 7px 3px rgba(234, 234, 234, 0.5);
            .screen-mob({
                background-color:@white;
                padding-right:0px;
                padding-left:0px;
                overflow-x:hidden;
            });
            margin-bottom: 20px;
            border: 1px solid rgba(242, 242, 242, 1);
            padding: 20px 0 0;
            .main-header {
                .font(@openSans, bold, 14px, @black-color01);
                padding-bottom: 10px;
                padding-left:0;
                .screen-mob({
                    padding:3px 0 0 5px;
                    background-color:@grey05;
                    font-size:16px;
                    height:27px;
                });
            }
            .card-upper-section {
                margin: 0;
                padding: 0px 0px 20px;
            }
            .img-section {
                .screen-tab-desk({
                    border-bottom: 1px solid @grey12;
                    padding-bottom: 20px;
                    padding-left: 20px;
                });
            }
            .sub-header {
                .font(@openSans, normal, 14px, @black-color01);
            }
            .graph-container-plp {
                position: relative;
                .screen-mob({
                    padding: 0;
                });
            }
            .graph-align {
                .screen-tab-desk({
                    position: absolute;
                    right: 0;
                    bottom: -35px;
                });
                .screen-mob({
                    padding: 0;
                    margin-top: 40px;
                });
                .container {
                    .screen-mob({
                        padding-left: 0;
                    });
                }
            }
            .secondary-header {
                .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                padding-left: 0px;
                .screen-mob({
                    font-weight:bold;
                    font-size:12px;
                    padding-top:12px;
                });
            }
            .product-attribs {
                padding: 20px 0px 15px 0px;
                .single-attribs {
                    padding-left: 0px;
                    .text {
                        text-transform: uppercase;
                        .font(@openSans, 300, 12px, @black-color01);
                        padding-bottom: 6px;
                    }
                    .value {
                        .font(@HelveticaNeue, 300, 14px, @black-color01);
                        .screen-mob({
                            font-size:12px;
                            text-transform:capitalize;
                        });
                    }
                }
            }
            .product-attribsBottom{
                .screen-mob({
                    border-bottom:0;
                });
                &:after{
                    .screen-mob({
                        content:" ";
                        display:block;
                        width:calc(100% + 60px);
                        position:relative;
                        left:-30px;
                        border-bottom:1px solid @grey12;
                    });
                }
                border-bottom: solid 1px @grey12;
                .single-attribs {
                    .arrow{display:none;}
                     padding-left: 0px;
                    .popover{
                        box-shadow: none;
                        padding: 5px;
                    }
                    .text {
                        text-transform: uppercase;
                        .font(@openSans, 300, 12px, @black-color01);
                        padding-bottom: 6px;
                        span{border-bottom: 1px dashed @grey10;
                            
                        }

                        .popover-content{
                            .font(@HelveticaNeue,300, 12px, @black-color01);
                        }
                    }
                    .value {
                        .font(@HelveticaNeue, 300, 14px, @black-color01);
                        .screen-mob({
                            font-size:12px;
                            text-transform:capitalize;
                        });
                        padding-bottom: 20px;
                    }
                }
            }
            .show-config {
                cursor: pointer;
                padding-top: 20px;
                .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                .screen-mob({
                    font-size:14px;
                    padding-top:18px;
                });
                .show-config-cont{
                    .screen-tab-desk({
                        height: 20px;
                    });
                    .screen-mob({
                        padding:0;
                    });
                }
                .show-configurations, .hide-configurations{
                    .pull-right{
                        position: relative;
                        top: -10px;
                        i{
                            position: relative;
                            top: 5px;
                            margin-right: 30px;
                        }
                        span {
                            .font(@HelveticaNeue, 300, 16px, @black-color01);
                            margin-right: 35px;
                            text-transform: capitalize;
                            .screen-mob({
                                text-transform:uppercase;
                                position:absolute;
                                top:20px;
                                left:0;
                            });
                        }
                    }
                    .d-inline-block {
                        span:last-child {
                            .font(@HelveticaNeue, 300, 14px, @black-color01);
                            .screen-mob({
                                text-transform:uppercase;
                                margin-top:5px;
                            });
                        }
                    }
                }
            }
            .show-config-pannel {
                .lane-btn-plp {
                    margin-right: 25px;
                    .screen-mob({
                        margin: 0;
                    });
                    .lane-btns {
                        margin-right: 0px;
                        padding-right: 0px;
                        .screen-mob({
                            padding-left: 0;
                            margin-top: 0;
                        });
                        &:not(:first-child) {
                            padding-left: 0px;
                        }
                    }
                    .cat-buttons {
                        width: 100%;
                        height: 50px;
                        .screen-mob({
                            background-color: @white;
                            text-align: left;
                            padding-left: 20px;
                            text-transform: uppercase;
                            .fa {
                                font-size: 19px;
                            }
                        });
                    }
                }
                .config-varient-spinner {
                    height: 100vh;
                    .cat-loading-spinner {
                        margin: 0px auto;
                        top: 40%;
                        position: relative;
                    }
                }
                .total-added-unit {
                    padding-right: 0;
                    .screen-mob({
                        margin-bottom: 20px;
                    });
                }
                .total-unit-count {
                    text-align: right;
                    .screen-mob({
                        text-transform: uppercase;
                    });
                    .span {
                        .font(@openSans_Semibold, 300, 16px, @black-color01);
                    }
                }
                .config-vaient {
                    padding-top: 10px;
                    .discontinuedReorder{
                         padding-left: 0;
                         .screen-mob({
                            padding-left: 20px;
                         });
                    }
                    .addBtn{
                        margin-left: 25px;
                    }
                    .reorderDiscontinueWarnImage{
                         margin-top: 5px;
                         .warn-iconReorder{
                            margin-top: 0px;
                            padding-left: 0;
                            width: 25px;
                            height: 25px;
                         }
                    }
                    .config-label-1 {
                        .font(@openSans_Light, 300, 16px, @black-color01);
                        padding-left: 0;
                        margin-bottom: 10px;
                        .screen-mob({
                            margin-top: 20px;
                            padding: 0 10px;
                        });
                    }
                    .config-label-2 {
                        .font(@openSans_Light, 300, 16px, @black-color01);
                        text-align: center;
                        .screen-mob({
                            margin-top: 20px;
                        });
                    }
                    .laneBase-info {
                        border-bottom: 1px solid @grey12;
                        padding-bottom: 20px;
                        .screen-tab-desk({
                            margin-left: 10px;
                            margin-bottom: 30px;
                        });
                        .screen-mob({
                            padding-left: 8px;
                        });
                    }
                    .lane-info-section-2 {
                        text-align: right;
                    }
                    .section-2-msg-1 {
                        .font(@openSans, 300, 14px, @black-color01);
                        margin-bottom: 0;
                        text-transform: capitalize;
                        .screen-mob({
                            margin-top: 10px;
                        });
                    }
                    .section-2-msg-2 {
                        .font(@openSans, 300, 14px, @red02);
                        font-style: italic;
                    }
                    .lane-count {
                        display: inline-block;
                        .font(@openSans_Light, 300, 36px, @black-color01);
                        padding-right: 5px;
                        .screen-mob({
                            vertical-align: top;
                            margin-top: 10px;
                        });
                    }
                    .lane-count-msg {
                        display: inline-block;
                        .screen-mob({
                            margin-top: 18px;
                        });
                        .font(@openSans, normal, 14px, @black-color01);
                        p {
                            margin-bottom: 0px;
                            .screen-mob({
                                text-align: left;
                            });
                        }
                        .msg-2 {
                            .font(@openSans_Light, 300, 14px, @black-color01);
                        }
                        .arrow {
                            display: none;
                        }
                    }
                    .label{
                       .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
                       padding-top: 10px;
                       text-align: left;
                    }
                    .warningmsg{
                        padding-left: 33px;
                        padding-top: 13px;
                        .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
                        .screen-mob({
                            padding-left:20px;
                        })
                    }
                }
                .config-row {
                    padding-top: 20px;
                    padding-right: 35px;
                    .screen-mob({
                        padding-right: 0;
                        padding-top: 0;
                    });
                }
                .configVariant-row {
                    margin-bottom: 20px;
                    .screen-mob({
                        padding: 0 10px;
                    });
                    .max-quantity-error {
                        .font(@openSans, normal, 14px, @red02);
                        font-style: italic;
                        padding-top: 5px;
                    }
                }
                .config-name {
                    .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                    padding-top: 10px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .opertions {
                    .font(@HelveticaNeueThin, 500, 14px, @black-color01);
                    text-align: center;
                    padding-top: 10px;
                    .screen-mob({
                        padding-top:5px;
                    });
                    .input-params {
                        img, span {
                            cursor: pointer;
                            &.disabled {
                                opacity: 0.4;
                                cursor: not-allowed;
                            }
                            &.decrement {
                                width: 15px;
                            }
                            &.increment {
                                width: 15px;
                            }
                        }
                        input {
                            border: solid 1px @grey10;
                            margin: 0px 10px;
                            text-align: center;
                            padding: 0 5px;
                            min-height: 24px;
                            width: 35px;
                            .screen-mob({
                                font-size:16px;
                            });
                        }
                    }
                    .user-info {
                        color: red;
                    }
                    &.disable {
                        opacity: 0.4;
                        cursor: not-allowed !important;
                    }
                }
                .reorder-btn {
                    min-width: 140px;
                    width: auto;
                    height:auto;
                    padding:12px 21px;
                    .screen-mob({
                        width:100%;
                        margin-top:20px;
                        margin-bottom:20px;
                    });
                    background-color: #fff;
                    border: solid 1px #979797;
                    .font(@openSans, bold, 12px, @black-color01);
                    &.disabled {
                        opacity: 0.4;
                        cursor: not-allowed;
                    }
                }
                .fixedWidthbtn{
                    min-width: 140px;
                    width: auto;
                    .screen-mob({
                        width:100%;
                    });
                }
                .error-message {
                    .font(@HelveticaNeueThin, 500, 14px, red);
                    text-align: center;
                }
            }

            .image {
                padding: 0px;
                background-color: @grey05;
                border: solid 1px @grey05;
                img {
                    width: 100%;
                }
            }
        }
    }

    .pagination-container {
        &.top {
            padding-bottom: 20px;
        }
        .search-text-header {
            .font(@openSans, bold, 18px, @black-color01);
            letter-spacing: -0.5px;
            padding-left: 10px;
            .screen-desk({
                padding-left: 0;
            });
            .screen-tab-desk({
                margin-top: 40px;
            });
        }
        .configMessage{
            display:inline-block;
            padding-left: 40px;
            .screen-mob({
                padding-left:0;
            });
            position: relative;
            top: 8px;
            .font(@openSans, 300, 12px, @black-color01);
        }
        .search-info {
            .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
            font-style: italic;
        }
        .pagination {
            li {
                a {
                    color: #000;
                    background-color: #f7f7f7;
                }
                &.active {
                    a {
                        font-weight: bolder;
                    }
                }
            }
        }
        background-color: @grey09;
        padding-top: 12px;
        >div {
            padding-right: 10px;
        }
        .pagination-first {
            display: none;
        }
        .pagination-last {
            display: none;
        }
        .pagination-prev,
        .pagination-next {
            a {
                background-color: #f7f7f7;
                font-size: 21px;
                color: #000;
            }
        }
        .pagination-first,
        .pagination-last {
            a {
                background-color: @grey09;
            }
        }
        .pagination-page {
            a {
                .font(@HelveticaNeueThin, 100, 16px);
            }
        }
    }

    .cat-show-hide {
        transition: all linear 0.5s;
        // height: 100px;
        &.ng-hide {
            height: 0;
        }
    }
    .content {
        padding-left: 30px;
        .screen-mob({
            padding-left:10px;
            margin-top: 30px;
        });
        .col-* {
            padding-left: 0px;
        }
    }
}
#manageOrderMobileNavOverlay {
    &[data-sidebar-overlay] {
        .screen-tab-desk( {
            display: none !important;
        }
        );
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 40px;
        z-index: @zindexMobilePlpOverLay;
    }
}

.view-cart-section{
    padding-top: 30px;
    .screen-mob({
        padding:10px;
        position:fixed;
        bottom:0;
        right: 0;
        width:100%;
        z-index:100;
        background-color:@white;
        box-shadow: 0 2px 11px 3px rgba(190, 190, 190, 0.5);
    });
    span {
        .font(@openSans, normal, 16px, @black-color01);
        text-transform: uppercase;
        letter-spacing: normal;
        margin-right: 40px;
    }
    .mb-units-added{
        display:block;
        .font(@openSans_Light, 300, 12px, @black-color01);
    }
    .mb-units{
        text-transform:inherit;
        .font(@HelveticaNeue, normal, 18px, @black-color01);   
    }
    .mb-PDP-units{
        text-transform:inherit;
        .font(@HelveticaNeue, normal, 18px, @black-color01);
        margin-left:10px;
    }
    .view-cart-btn {
      height: 40px;
      background-color: @grey07;
      border: solid 1px @grey10;
      border: solid 1px var(--warm-grey);
      .font(@openSans, bold, 14px, @white);
      letter-spacing: normal;
      text-align: center;
      .screen-mob({
        position: absolute;
        bottom: 10px;
        right: 10px;
        margin-top: 10px;
      });
    }
}
.modal-snop-orderable-popup{
    max-width:550px !important;
    .screen-mob({
        max-width:340px !important;
    });
    .screen-tab-intermediate({
        max-width:550px !important;
    });
    #snop-orderable-limit-modal-body{
        background-color:@white;
        border:3px solid @grey10;
        padding:47px 55px 40px 95px;
        .screen-mob({
            padding:30px 42px 30px 60px;
            height:430px;
        });
        .screen-tab-intermediate({
            padding:47px 55px 40px 95px;
            height:380px;
        });
        .disclaimer-row{
            .failed-heading{
                .font(@openSans_Semibold, 600, 18px, @black-color01);
                margin-bottom:10px;
            }
            .warning-symbol{
                display: inline-block;
                width: 30px;
                height: 30px;
                background: url(/_ui/responsive/cat/images/warning.png) center right no-repeat;
                position: absolute;
                left: -45px;
                background-size: 30px 30px;
                top: 0;
            }
            p{
                .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                margin-bottom:30px;
            }
        }
        .table-row{
            margin-bottom:40px;
            max-height: 200px;
            overflow: auto;
            .table-heading{
                border-bottom:1px solid @grey12;
                margin-bottom:13px;
                .heading-col{
                    .font(@openSans_Bold, normal, 12px, @black-color01);
                    margin-bottom:4px;
                }
            }
            .table-body{
                margin-bottom:5px;
                .table-col{
                    .font(@HelveticaNeueThin, 100, 14px, @black-color01);
                }
            }
        }
        .edit-order-btn-row{
            .snop-edit-order-btn{
                margin:0;
                padding:14px 48px;
                .font(@openSans_Bold, normal, 14px, @white);
                .screen-mob({
                    padding:11px 26px;
                })
            }
            .okay-btn{
                margin:0;
                padding:14px 70px;
                .font(@openSans_Bold, normal, 14px, @white);
            }
        }
    }
}

