.reorder-cart-page{
    .add-products-cart-btn{
        min-width:169px;
        min-height:40px;
        .font(@openSans,bold,14px,@grey03);
    }
    .empty-cart{
        text-align: center;
        padding:200px 0;
        .screen-mob({
            padding:42% 0;
        })
    }
    .empty-cart-text{
        .font(@HelveticaNeue_Light, 300, 20px, @black-color01);
        margin-bottom:30px;
    }
    .page-header-section{
       .font(@openSans_Bold,bold,18px,@black-color01);
    }
    .back-to-reorder{
        .font(@openSans,600,16px,@black-color01);
        font-style:italic;
        span{
            cursor: pointer;
            .back-to-reorder-arrow{
                background: url(/_ui/responsive/cat/images/reorder-back-arrow.png) center right no-repeat;
                display:inline-block;
                width:18px;
                height:15px;
                margin-right:10px;
                position: relative;
                top: 2px;
            }
        }
    }
    .cart-header-section{
        padding:30px!important;
        background-color:@white;
        margin-top:20px;
        .font(@openSans_Bold,bold,14px,@black-color01);
    }
    .cart-product-details-table-section{
        .cart-product-details-table{
            thead{
                .headerCart{
                   text-align: right;
                }
                .quantityTabHeader{
                  width: 10%;
                }
                tr{
                    th{
                        padding:20px 0;
                        background-color:@white;
                        border-top:1px solid #D5D5D5;
                        border-bottom:1px solid #D5D5D5;
                        .font(@openSans, bold, 14px, @black-color01);
                        &.list-price-per-product{
                            span{
                                display:block;
                            }
                        }
                        &:first-child{
                            padding-left:30px;
                        }
                        &:last-child{
                            padding-right:55px;
                        }
                    }
                }
            }
            tbody{
                tr{
                    &.po-number-row{
                        border-bottom:1px solid @grey13;
                        .po-no-heading{
                            .font(@openSans_Light, 300, 14px, @black-color01);
                            .asterik{
                                .font(@openSans_Light, 300, 14px, @black-color01);
                                position: absolute;
                                top: 0;
                            }
                        }
                        .po-no-disclaimer{
                            .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                            margin-bottom:40px;
                            .error-container{
                                margin-left:25px;
                                .font(@openSans, normal, 12px, @red02);
                                font-style: italic;
                            }
                        }
                        .po-nos-container{
                            padding-left:0;
                            .po-no-box{
                                input[type='text']{
                                    width:100%;
                                    margin-bottom:10px;
                                    min-height: 20px; //Added as part of CBH-3138
                                    padding-bottom: 0;
                                    &::placeholder{
                                        .font(@HelveticaNeue_Light, 300, 14px,@grey22);
                                    }
                                    &.cat-inputs{
                                        &.type1{
                                            &.has-error{
                                                border-color:@red02;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    td{
                        padding:30px 0;
                        background-color:@white;
                        &:first-child{
                            padding-left:20px;
                            //position:relative; commented as part of CBH-3138
                        }
                        &.product-name{
                            .product-row{
                                .image-section{
                                    .product-image-container{
                                        width:140px;
                                        img{
                                            width:100%;
                                            border:1px solid @grey12;
                                        }
                                    }
                                }
                                .data-section{
                                    .product-details-container{
                                        padding-left:20px;
                                        .product-family-heading{
                                            .font(@openSans, bold, 16px, @black-color01);
                                            text-transform:uppercase !important;
                                        }
                                        .product-family-value{
                                            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                                            margin-bottom:20px;
                                            margin-top:15px;
                                        }
                                        .configuration-id-heading{
                                            .font(@openSans_Light, 300, 16px, @black-color01);
                                        }
                                        .configuration-id-value{
                                            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                                            margin-top:20px;
                                        }
                                        label{
                                            display:block;
                                            text-transform: none !important;
                                            margin-bottom:0;
                                        }
                                    }
                                }

                            }
                        }
                        .product-container{
                            position:relative;
                            .remove{
                                display:none;
                            }
                            .serial-number{
                                position: absolute;
                                width: 50px;
                                text-align: center;
                                left: -50px;
                                top: -5px;
                            }
                        }
                        &.list-price-per-product{
                            text-align: left;
                            padding-top:148px;
                            label{
                                .font(@HelveticaNeue_Light, 300, 18px, @black-color01); 
                                display:block;
                                margin-top:13px;
                                &.no-margin-top{
                                    margin-top:0;
                                }
                            }
                            &.force-text-left{
                                text-align: left !important;
                            }
                        }
                        &.quantity{
                            text-align:center;
                            padding-top:145px;
                            padding-left:9px;
                            .decrement{
                                background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
                                display:inline-block;
                                width:15px;
                                height:15px;
                                margin-right:10px;
                                cursor: pointer;
                                position: relative;
                                top: 3px;
                            }
                            .increment{
                                background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
                                display:inline-block;
                                width:15px;
                                height:15px;
                                margin-left:10px;
                                cursor: pointer;
                                position: relative;
                                top: 3px;
                            }
                            .quantity-box{
                                width:30px;
                                height:25px;
                                text-align: center;
                                border:1px solid @grey10;
                                &.has-error{
                                    border:1px solid @red02;
                                }
                            }
                            .cart-quantity-section{
                                margin-top:15px;
                                &.no-margin-top{
                                    margin-top:0;
                                }
                            }
                        }
                        &.list-price{
                            text-align: right;
                            padding-right:55px;
                            padding-top:148px;
                            label{
                                .font(@HelveticaNeue_Light, 300, 18px, @black-color01); 
                                display:block;
                                margin-top:13px;
                                &.no-margin-top{
                                    margin-top:0;
                                }
                                .screen-mob({
                                    float: right;
                                    position: absolute;
                                    top: 3px;
                                    right: 34px;
                                })
                            }
                            .remove{
                                background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
                                display:inline-block;
                                width:12px;
                                height:12px;
                                margin-left:20px;
                                cursor: pointer;
                                position:absolute;
                                margin-top:7px;
                            }
                        }
                    }
                }
            }
            .table-content {
                .error-border {
                    border: 1px solid @red02;
                    margin-bottom: 10px;
                    padding-left: 10px !important;
                    .mask {
                        opacity: 0.2;
                    }
                }
                .lane-error {
                    font-style: italic;
                    .font(@openSans,normal,12px,@red02);
                    margin-top: 20px;
                    /*text-align: justify;*/
                }
                .discontinued-error {
                    font-style: italic;
                    .font(@openSans,normal,12px,@red02);
                }
            }
        }
    }
    .total-qty-section{
        padding:22px 55px 41px 0;
        background-color: @white;
        .total-qty-label{
            top: 5px;
            position: relative;
            .font(@openSans_Bold, 300, 18px, @black-color01); 
        }
        .total-qty-value{
            .font(@HelveticaNeue_Light, 300, 24px, @black-color01); 
        }
    }
    .total-list-price-section{
        padding:44px 55px 21px 0;
        background-color: @white;
        border-bottom:1px solid @grey13;
        .total-list-price-label{
            top: 5px;
            position: relative;
            .font(@openSans_Bold, 300, 16px, @black-color01); 
        }
        .total-list-price-value{
            .font(@HelveticaNeue_Light, 300, 20px, @black-color01); 
         }
    }
    .reorder-btn-section{
        padding:0 55px 40px 0;
        background-color:@white;
        .reorder-cart-button{
            padding:0;
            margin-left:20px;
            width:150px;
            height:40px;
        }
        .save-cart-button{
            padding:0;
            width:150px;
            height:40px;
        }
    }

}
.screen-mob({
    .reorder-cart-page{
        .cart-header-section{
            padding:15px 0 10px 15px !important;
            border-bottom:1px solid @grey12;
        }
        .cart-product-details-table-section {
            table {
                display: block;
                padding:20px 10px;
                background-color: @white;
            }
            thead {
                display: block;
                tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
            }
            tbody {
                display: block;
            }
            th {
                display: block;
            }
            tr {
                display: block;
            }
            td{
                &.hidden-xs{
                    display:none !important;
                }
            }
            .cart-product-details-table{
                tbody{
                   tr{
                       border:1px solid @grey17;
                       td{
                          &.product-name{
                            padding:0 !important;
                            .product-row{
                                padding:30px 0 20px 15px !important;
                                border-bottom:1px solid @grey17;
                                .image-section{
                                    .product-image-container{
                                        width:79px;
                                    }
                                }
                                .data-section{
                                    .product-details-container{
                                        .product-family-heading{
                                            .font(@openSans_Bold, normal, 14px, @black-color01);
                                            text-transform: none !important;
                                        }
                                        .product-family-value{
                                            margin-bottom:0;
                                            .font(@HelveticaNeue, normal, 12px, @black-color01);
                                        }
                                    }
                                }
                            }
                            .config-id-section{
                                .config-id-mobile-section{
                                    &:last-child{
                                        border-bottom:0;
                                    }
                                    padding:20px 25px 20px 15px !important;
                                    border-bottom:1px solid @grey17;
                                    .config-id-heading{
                                        .font(@openSans, normal, 10px, @black-color01);
                                        margin-bottom:8px;
                                    }
                                    .config-id-value{
                                        .font(@HelveticaNeue, normal, 12px, @black-color01);
                                        margin-bottom:20px;
                                        .remove{
                                            background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
                                            display:inline-block;
                                            width:12px;
                                            height:12px;
                                            cursor: pointer;
                                            position:absolute;
                                            top: -20px;
                                            right: -15px;
                                        }
                                    }
                                    .list-price-per-product{
                                        .heading{
                                            .font(@openSans_Light, 300, 10px, @black-color01);
                                            margin-bottom:20px;
                                        }
                                        .value{
                                            .font(@HelveticaNeue, normal, 12px, @black-color01);
                                            margin-bottom:20px;
                                        }
                                    }
                                    .list-price{
                                        .heading{
                                            .font(@openSans_Light, 300, 10px, @black-color01);
                                        }
                                        .value{
                                            .font(@HelveticaNeue, 300, 12px, @black-color01);
                                        }
                                    }
                                    .quantity{
                                        .heading{
                                            .font(@openSans_Light, 300, 10px, @black-color01);
                                            margin-bottom:20px;
                                        }
                                        .value{
                                            .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                                            margin-bottom:20px;
                                        }
                                        .decrement{
                                            background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
                                            display:inline-block;
                                            width:15px;
                                            height:15px;
                                            margin-right:10px;
                                            cursor: pointer;
                                            position: relative;
                                            top: 3px;
                                        }
                                        .increment{
                                            background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
                                            display:inline-block;
                                            width:15px;
                                            height:15px;
                                            margin-left:10px;
                                            cursor: pointer;
                                            position: relative;
                                            top: 3px;
                                        }
                                        .quantity-box{
                                            width:30px;
                                            height:20px;
                                            text-align: center;
                                            border:1px solid @grey10;
                                            &.has-error{
                                                border:1px solid @red02;
                                            }
                                        }
                                    }
                                }
                            }
                          }

                       }
                       &.po-number-row{
                           border-top:0;
                           margin-bottom:20px;
                           &:last-child{
                               margin-bottom:0;
                           }
                         td{
                             padding:20px 12px 30px 12px !important;
                             .po-no-heading{
                                 margin-bottom:5px;
                             }
                             .po-no-disclaimer{
                                 margin-bottom:20px;
                                 .error-container{
                                    margin-left:0;
                                    margin-top:15px;
                                    margin-bottom:30px;
                                }
                             }
                             .po-nos-container{
                                 .po-no-box{
                                     input[type="text"]{
                                         margin-bottom:25px;
                                     }
                                 }
                             }
                         }
                       }
                   }
                }
            }
        }

        .total-quantity-section{
            background-color: @white;
            padding: 15px 10px;
            margin-bottom: 20px;
            line-height: 22px;

            .total-quantity-label{
                .font(@openSans, 300, 12px, @black-color01);
            }
            
            .total-quantity-value{
                text-align: right;
                .font(@HelveticaNeue, 500, 16px, @black-color01);
            }

            .total-list-price-label{
                .font(@openSans, 300, 12px, @black-color01);
            }
            
            .total-list-price-value{
                text-align: right;
                .font(@HelveticaNeue, 500, 16px, @black-color01);
            }
        }

        .reorder-btn-section{
            padding: 0;
            .save-cart-button{
                width:100%;
                .font(@openSans_Bold, 300, 14px, @black-color01);
                margin-bottom:15px;
            }

            .reorder-cart-button{
                width: 100%;
                .font(@openSans_Bold, 300, 14px, @white);
            }

            .reorder-button-container{
                .floating-container{
                    padding:10px 10px 10px 20px;
                    position:fixed;
                    width:100%;
                    bottom:0;
                    left:0;
                    background-color: @white;
                    z-index:999;
                    label{
                        display:block;
                        &.total-heading{
                            .font(@HelveticaNeue, normal, 12px, @black-color01);
                        }
                        &.total-cost{
                            .font(@HelveticaNeue, normal, 18px, @black-color01);
                        }
                        &.total-units{
                            .font(@HelveticaNeue, normal, 18px, @black-color01);
                        }
                    }
                }
            }
        }
    }
});
