.mini-cart-icon{
	padding-bottom: 20px;
	text-align: center;
	margin-top: 20px;
	.shoppingCart{
	
		background: url(/_ui/responsive/cat/images/fill-298.png) center right no-repeat;
    	display: inline-block;
    	width: 20px;
    	height: 20px;
    	margin-bottom: -1px;
   }
    .shoppingCartText{
		text-transform: uppercase;
		.font(inherit, bold, 16px, @white);
		text-align: left;
		padding-left: 7px;
   }
    .shoppingCartValue{
	
		border-radius: 50%;
		//background: url(/_ui/responsive/cat/images/oval-copy-3.png) center right no-repeat;
		background-color: @sunflower-yellow;
		width: 23px;
		height: 23px;
		position: absolute;
		top: 25%;
		right: 53%;
    	.shoppingCartValueLabel{
   		    .font(inherit, normal, 12px, @black-color01);
			text-align: center;
			.cartIconPlus {
				font-size: 10px;
			}
		}

   }
}

#desktop-mini-cart{
	display: inline-block;
	min-width: 110px;
    padding-top: 10px;
	margin-bottom: -10px;
	
}

.cartAddSection{
	padding-top: 25px;
	.decrement{
			background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
    		display: inline-block;
    		width: 15px;
    		height: 15px;
    		margin-right: 5px;
    		cursor: pointer;
    		position: relative;
    		top: 5px;
    }
    .increment{
			background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
    		display: inline-block;
    		width: 15px;
    		height: 15px;
    		cursor: pointer;
    		position: relative;
    		top: 5px;
    }
    .cartAddInputBox{
	
		text-align: center;
		width: 38px;
		height: 25px;
        padding: 0;
    }
    .addToCartPageBtn{
		background-color: @grey07;
    	border: solid 1px @grey10;
    	padding: 12px 30px;
	}
	.selectOptions{
		background-color: #3f3f3f;
		border: solid 1px #979797;
		.font(@openSans_Bold, bold, 14px, @white); 
		margin-top: 20px;
	}

	#cartAdd{
    	.font(inherit, 600, 12px, @white);
		border-radius: 0;
		margin-top: -10px;
		margin-left: -8px;
		.screen-mob({
			margin-bottom:0;
		})
	}
}


.lineBreakAddToCartIM{
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 30px;
	.screen-mob({
		margin-top:0;
	});
    height: 1px;
    border-radius: 100px;
    border: solid 1px @grey17;
}
.lineBreakAddToCartSP{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;
	.screen-mob({
		margin-top:0;
	});
    height: 1px;
    border-radius: 100px;
    border: solid 1px @grey17;
}