.modal-body{
    .update-product-list{
        .screen-tab-intermediate({
            width:50%;
        });
    }
}
.modal-quotation-remove-item{
    margin:0 auto;
    max-width:442px;
    top:15%;
    .modal-content {
        border: 0px !important;
    }
    #quotation-remove-item-modal-body,#quotation-epp-csa-modal-body{
        padding:0;
        background-color:@white;
        border: solid 3px @grey10;
        margin-top: -15%;
        .close-modal{
            background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
            display:inline-block;
            width:12px;
            height:12px;
            cursor: pointer;
            right:10px;
            top:10px;
            position: absolute;
        }
        .confirm-remove{
            text-align: center;
            margin-top: 40px;
            .font(@HelveticaNeue, 300, 16px, @black-color01);
        }
        .remove-product-btn{
            margin-top:30px;
            margin-bottom:40px;
        }
        .remove-product-btn-container{
            text-align: center;
        }
    }
    #quotation-epp-csa-modal-body{
        margin-top: 40%;
        .confirm-remove{
            text-align: center;
        }
    }
}
.quotation-cart-container{
    margin-top:0 !important;
    .empty-cart{
        text-align: center;
        padding:200px 0;
        .screen-mob({
            padding:42% 0;
        });
        .update-product-list{
            .screen-tab-intermediate({
                width:30%;
            });
        }
        .add-products-cart-btn{
            min-width:169px;
            min-height:40px;
            .font(@openSans,bold,14px,@grey03);
        }
    }
    .empty-cart-text{
        .font(@HelveticaNeue_Light, 300, 20px, @black-color01);
        margin-bottom:30px;
    }
    .quotation-cart-loading-spinner{
        position: absolute;
        left:48%;
        top:450px;
    }
    .quotation-cart-page-header{
        margin-bottom: 40px;
    }
    .cart-header-section{
        padding:30px;
        span{
            .font(@openSans, bold, 14px, @black-color01);
        }
    }
    .cart-product-details-table-section{
        .cart-product-details-table{
            thead{
                .headerCart{
                   text-align: right;
                   span{
                       display:block;
                   }
                }
                .list-price-header{
                    text-align: right;
                }
                .quantityTabHeader{
                  text-align: right;
                }
                tr{
                    th{
                        padding:22px 0;
                        background-color:@white;
                        border-top:1px solid #D5D5D5;
                        border-bottom:1px solid #D5D5D5;
                        width:13%;
                        text-align: center;
                        .font(@openSans, bold, 14px, @black-color01);
                        &:first-child{
                            padding-left:30px;
                            width:35%;
                            text-align: left;
                        }
                        &:last-child{
                            padding-right:105px;
                            text-align: right;
                        }
                    }
                }
            }
            tbody{
                tr{
                //    border-bottom:1px solid @grey13;
                   &:first-child{
                        td{
                            padding:51px 0 40px 0;
                        }
                   }
                   &:last-child{
                    border-bottom:0;
                   }
                   &.reserve-data-row{
                        td{
                            padding:0 0 20px 205px;
                            .reserve-machines-heading {
                                .font(@openSans_Light, 100, 14px, @black-color01)
                            }
                            .reserve-machines-col{
                               .serial-numbers-column{
                                   .serial-number {
                                        .font(@HelveticaNeueThin, 300, 14px, @black-color01)
                                   }
                                   margin-left: -10px;
                                    .badge{
                                        padding:6px;
                                        border-radius:0;
                                        margin-right:20px;
                                        margin-top:10px;
                                        background-color:@grey11;
                                        border:1px solid @grey13;
                                        .font(@HelveticaNeueThin, normal, 16px, @black-color01)
                                    }
                               } 
                            }
                        }
                    }
                    td{
                        padding:41px 0;
                        &:first-child{
                            padding-left:30px;
                            position:relative;
                        }
                        &.remove-btn-col{
                            text-align: center;
                            .remove-text{
                                .font(@openSans, normal, 18px, @black-color01);
                                font-style: italic;
                                cursor: pointer;
                            }
                            .remove{
                                background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
                                display:inline-block;
                                width:12px;
                                height:12px;
                                margin-left:10px;
                                cursor: pointer;
                            }
                        }
                        .product-container{
                            .srNo{
                                display: inline-block;
                                float: left;
                                margin-right: 5px;
                                position: relative;
                                top: -6px;
                            }
                            position:relative;
                            width: 100%;
                            padding-left: 60px;
                            .remove{
                                display:none;
                            }
                            .product-family-heading{
                                .font(@openSans, bold, 16px, @black-color01);
                                text-transform:uppercase !important;
                                padding-bottom: 10px;
                                margin-bottom:0;
                            }
                            .serial-number{
                                position: absolute;
                                width: 50px;
                                text-align: center;
                                left: -20px;
                                .font(@openSans, bold, 14px, @black-color01);
                                margin-top: 40px;
                            }
                            .product-image-container{
                                width:128px;
                                img{
                                    width:100%;
                                    border:1px solid @grey12;
                                    height:96px;
                                }
                            }
                            .product-details-container{
                                display: inline-block;
                                width:50%;
                                width: calc(~"100% - 160px");
                                margin-left:20px;
                                .product-family-value{
                                    .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                                    margin-bottom:15px;
                                }
                                .configuration-id-heading{
                                    .font(@openSans_Light, 300, 16px, @black-color01);
                                }
                                .configuration-id-value{
                                    .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                                }
                                label{
                                    display:block;
                                    text-transform: none !important;
                                    margin-bottom:0;
                                }
                            }
                        }
                        &.list-price-per-product{
                            text-align: right;
                            position: relative;
                            label{
                                .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
                            }
                        &.force-text-left{
                                text-align: left !important;
                            }
                        }
                        &.quantity{
                            label {
                                .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                            }
                            text-align:right;
                            .decrement{
                                background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
                                display:inline-block;
                                width:15px;
                                height:15px;
                                margin-right:10px;
                                cursor: pointer;
                                position: relative;
                                top: 3px;
                            }
                            .increment{
                                background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
                                display:inline-block;
                                width:15px;
                                height:15px;
                                margin-left:10px;
                                cursor: pointer;
                                position: relative;
                                top: 3px;
                            }
                            .quantity-box{
                                width:30px;
                                height:25px;
                                text-align: center;
                                border:1px solid @grey10;
                                &.has-error{
                                    border:1px solid @red02;
                                }
                            }
                        }
                        &.list-price{
                            text-align: right;
                            label{
                                .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
                            }
                        }
                    }
                    }
            }
        }
    }
    .quote-details-vet-section{
        padding: 0;
        .epp-csa-table-col{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            .screen-mob({
                padding-left: 0 !important;
            });
        }
        .qd-value-analysis-section{
            padding-top: 15px;
            .screen-desk({
                margin-left: 11.5%;
                margin-right: 1%;
            });
            .screen-tab({
                margin-left: 14.2%;
                margin-right: 1%;
            }); 
            &:first-child{
                border-top: 1px solid @grey13;
            }
            .screen-mob({
                border-top: 1px solid @grey17 !important;
            });
            .qd-value-label{
                .font(@openSans, 300, 14px, @black-color01);
                padding-right: 0;
                .screen-tab({
                    width: 80px;
                });
                .screen-mob({
                    padding-left: 20px;
                    font-size: 12px;
                    text-transform: uppercase;
                });
            }
            .qd-value-details{
                padding-left: 7%;
                .screen-mob({
                    padding-left: 20px;
                    margin-top: 15px;
                });
                .product-label{
                    .font(@openSans, 300, 14px, @black-color01);
                    .screen-mob({
                        font-size: 12px;
                    });
                }
                .product-value{
                    .font(@HelveticaNeue, 300, 14px, @black-color01);
                    margin-bottom: 20px;
                    word-wrap: break-word;
                    .screen-mob({
                        font-family: @HelveticaNeueMedium;
                        font-weight: 500;
                        font-size: 10px;
                    });
                }
            }
        }
    }
    .cart-create-quote-section{
        
        .quote-price-desktop-view{
            display:block !important;
            &.total-qty-section{
                padding:30px 178px 26px 0;
                border-top:1px solid @grey13;
                border-bottom:1px solid @grey13;
            }
            &.total-list-price-section{
                padding:35px 178px 0 0;
                .total-price-heading{
                    .font(@openSans, bold, 18px, @black-color01);
                }
                .total-price-value{
                    .font(@HelveticaNeue_Light, 300, 24px, @black-color01);
                }
            }
            &.cart-disclaimer-section{
                padding:0 178px 15px 0;
                .disclaimer-text{
                    .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                    font-style: italic;
                }
            }
        }
        .quote-price-mobile-view{
            display:none !important;
        }
        .total-price-heading{
            .font(@openSans, bold, 16px, @black-color01);
        }
        .quote-btn{
            padding:0 178px 40px 0;
        }
        .price-below-text {
            clear: both;
            float: right;
            .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
            font-style:italic;
        }
        .total-price-value{
            .font(@HelveticaNeue_Light, 300, 20px, @black-color01);
            line-height: 20px;
        }
        .create-quote-btn{
            margin-bottom:0;
            border:1px solid @grey10;
            height:auto;
            width:auto;
        }
    }
}
.screen-mob({
    .modal-quotation-remove-item{
        max-width: 280px;
        top:20%;
    }
    .cart-product-details-table-section {
        table {
            display: block !important;
        }
        thead {
            display: block !important;
            tr {
                position: absolute !important;
                top: -9999px !important;
                left: -9999px !important;
            }
        }
        tbody {
            display: block !important;
        }
        th {
            display: block !important;
        }
        td {
            display: block !important;
            border: none !important;
            position: relative !important;
            padding-left: 50% !important;
            .screen-mob({
                padding-left: 20px !important;
            });
            white-space: normal !important;
            text-align: left !important;
            &.product-name{
                border-bottom: 1px solid @grey17 !important;
                padding:10px 0 16px 25px !important;
                .product-container{
                    margin-top:26px;
                }
                &:before{
                    .font(@openSans, bold, 14px, @black-color01);
                    top:10px;
                }
            }
            &.list-price-per-product{
                padding:22px 34px 30px 20px !important;
                label{
                    .font(@HelveticaNeue, normal, 12px, @black-color01) !important;
                    position: absolute;
                    right: 34px;
                }
                &:before{
                    top:22px !important;
                    left:20px;
                    .font(@openSans, 300, 10px, @black-color01);
                }
            }
            &.quantity{
                padding:30px 0 20px 15px !important;
                &:before{
                    .font(@openSans, 300, 10px, @black-color01);
                    left:20px;
                    top:15px !important
                }
                label{
                    position: absolute;
                    top: 5px;
                    right: 20px;
                }
                div{
                    float:right;
                    right:34px;
                    top:10px;
                    position:absolute;
                    .quantity-box{
                        // height:20px !important;
                        padding: 0px;
                    }
                    .decrement{
                        width:11px !important;
                        height:12px !important;
                        top:2px !important;
                        margin-right:5px !important;
                    }
                    .increment{
                        width:17px !important;
                        height:12px !important;
                        top:2px !important;
                        margin-left:0 !important;
                    }
                }
            }
            &.list-price{
                background-color:@grey05;
                padding:13px 34px 13px 20px !important;
                margin-bottom:15px;
                .remove{
                    display:none !important;
                }
                label{
                    .font(@HelveticaNeue, normal, 12px, @black-color01) !important;
                }
                div{
                    float:right;
                    position: absolute;
                    top:3px;
                    right:34px;
                    @media screen and (max-width: 900px) {
                        right: 14px;
                    }
                }
                &:before{
                    .font(@HelveticaNeue, 500, 10px, @black-color01);
                    left:20px;
                }
            }
            &.remove-btn-col{
                display:none !important;
            }
            &:before {
                position: absolute !important;
                top: 6px !important;
                left: 15px !important;
                width: 45% !important;
                padding-right: 10px !important;
                white-space: nowrap !important;
                text-align: left !important;
                font-weight: bold !important;
                content: attr(data-title) !important;
            }
        }
        tr {
            display: block;
        }
    }
    

    .quotation-cart-container{
        .cart-header-section{
            padding:15px 0 10px 15px;
            border-bottom:1px solid @grey12;
        }
        .cart-product-details-table-section{
            padding:20px 10px 15px 10px !important;
            .cart-product-details-table{
                padding:0;
                .screen-mob({
                    border: 1px solid @grey17;
                });
                tbody{
                    tr{
                        border:1px solid @grey17;
                        .screen-mob({
                            border:none;
                        });
                        margin-bottom:15px;
                        padding-top:10px;
                        td{
                            .product-container{
                                .remove{
                                    background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
                                    display: inline-block;
                                    width: 12px;
                                    height: 12px;
                                    right:10px;
                                    top:10px;
                                    position: absolute;
                                    cursor: pointer;
                                }
                                .product-image-container{
                                    width:87px;
                                    img{
                                        width:100%;
                                        height:62px;
                                    }
                                }
                                .product-details-container{
                                    padding-left:10px;
                                    .product-family-heading{
                                        display:none;
                                    }
                                    .product-family-value{
                                        .font(@openSans, 600, 12px, @black-color01);
                                        margin-bottom:10px;
                                    }
                                    .configuration-id-heading{
                                        .font(@openSans, 300, 10px, @black-color01);
                                    }
                                    .configuration-id-value{
                                        .font(@HelveticaNeue, normal, 12px, @black-color01);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-create-quote-section{
            padding:20px 10px 20px 20px !important;
            position: fixed;
            bottom: 0;
            background-color:@white;
            left: 0;
            width:100%;
            z-index:9999;
            box-shadow: 0 2px 11px 3px @grey19;
            .quote-price-desktop-view{
                display:none !important;
            }
            .quote-price-mobile-view{
                display:block !important;
                float:left !important;
                .total-price-heading{
                    .font(@openSans, normal, 12px, @black-color01);
                }
            }
            .quote-btn{
                float:right !important;
                padding:0;
                .create-quote-btn{
                   margin-top:3px; 
                }
            }
        }
    }
});

