@screenXs:480px;
@screenSm:901px;
@screenMd: 901px;
@screenLg:1200px;
  
@screenXsMin:480px;
@screenSmMin:901px;
@screenMdMin:901px;
@screenLgMin:1200px;

@screenXsMax:900px;
@screenSmMax:900px;
@screenMdMax:1599px;