.landingPage{
	.low-stock{
		padding: 80px 0 60px;
		background-color: @grey17;
		width: 100%;
		.screen-mob({
			padding: 60px 0 30px;
		});
	}
	.recently-viewed{
		padding-top:40px;
	}
	.favorite-products{
		padding-top:60px;
	}
	.cat-card-container{
			
			.body-content{
				.main-header-row{
					.warning-icon-div{
						padding: 20px 0px;
						.screen-mob({
							padding: 0; 
							position: relative;
							top: 3px;
						});
						img{
							float: right;
						}
					}
					margin: 0px;
					.main-header{
						padding: 20px;
						.screen-mob({
							padding: 10px;
						});
						@media (max-width:400px) {
							margin-top: 10px;
						}
					}
				} 
				background-color: @grey05;
				.used-product-tag{
					    border: solid 1px @grey08;
					    // border-top: none;
						margin-right: 10px;
						border-top: none;
						top: -2px;
						right: 10px;
				}
			}
		} 
}
