.landingPage {
      min-height: 100vh;
    .user-information{
        text-transform: uppercase;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -0.6px;
        margin-top: 25px;
        margin-bottom: 35px;
         .screen-tab-desk( {
            margin-top: 25px;
            margin-bottom: 50px;
            font-size: 24px;
            letter-spacing: -0.7px;
            margin-bottom: 58px;
        });
    }
    .landing-dropdown {
        padding-bottom: 52px;
        .header {
            padding-bottom: 20px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 300;
            text-align: left;
            color: #000000;
            padding-left: 10px;
        }
        .cat-dropdown {
            padding: 0px;

            .drop-down-button {
                text-transform: capitalize;
              &.disabled{
                > .arrow{
                  background-color:  #cccccc;
                }
              }
                border: none;
                margin-top: 0px;
                padding: 0px;
                box-shadow: none;
                .text {
                    text-align: left;
                    height: 60px;
                    width: 90%;
                     .screen-tab-desk( {
                        width: 94%;
                    });
                    padding: 22px 40px;
                    font-family: "Helvetica Neue", sans-serif;
                    font-size: 16px;
                    font-weight: 100;
                    text-align: left;
                    color: #000000;
                    float: left;
                    background-color: #fff;
                }
                .arrow {
                    height: 60px;
                    width: 10%;
                     .screen-tab-desk( {
                        width: 6%;
                    });
                    background-color: #ffcc00;
                    img {
                        top: 18px;
                        position: relative;
                    }
                }
            }
            ul.dropdown-menu {
                border: none;
                padding-top: 0px;
                box-shadow: 0 15px 18px 0 rgba(231, 231, 231, 0.5);
                max-height: 200px;
                overflow-x: hidden;
                overflow-y: auto;
                li {
                    text-transform: capitalize;
                    padding: 8px 40px;
                    &:hover {
                        cursor: pointer;
                        -webkit-transition: background-color 100ms linear;
                        -ms-transition: background-color 100ms linear;
                        transition: background-color 100ms linear;
                        background-color: #dfdfdf;
                    }
                }
            }
        }
    }

    .landing-search-button {
      padding-top: 15px;
      .btn-container{
        width: 132px;
        margin:0px auto;
        button {
            font-family: 'Open Sans', sans-serif;
            background-color: #3f3f3f;
            border: solid 1px #979797;
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
            padding: 12px 28px;
            &[disabled=disabled]{
              background-color: #cccccc;
               border: none;
              cursor: not-allowed;
            }
        }
      }
    }
}