#fbc-must-select-container{
    .screen-mob({
        width:85%;
    });
    .main-container{
        .breadcrumb-section{
            .breadcrumb{
                padding-bottom:60px;
            }
        }
        .cat-loading-spinner{
            margin-left:45%;
        }
        .products-container{
            padding:40px 40px 13px 40px;
            background-color:@white;
            .screen-mob({
                padding:25px 0 0 0;
            });
            .header-row{
                padding:0 0 20px 0;
                border-bottom:1px solid @grey12;
                .product-image{
                    .screen-mob({
                        padding-left:20px;
                        padding-right:20px;
                    });
                    img{
                        width:146px;
                        height:109px;
                        .screen-mob({
                            width:100%;
                            height:225px;
                            margin-bottom:20px;
                        });
                        .screen-tab-intermediate({
                            height:auto;
                        });
                    }
                }
                .product-details{
                    margin-left:20px;
                    .screen-mob({
                        margin-left:0;
                        padding-left:20px;
                        padding-right:20px;
                        margin-bottom:0;
                    });
                    .screen-tab-intermediate({
                        float: none !important;
                        text-align: center;
                    });
                    .product-header{
                        margin-bottom:10px;
                        .font(@openSans,600,20px,@black-color01);
                        text-transform: uppercase;
                        .screen-mob({
                            .font(@openSans,600,14px,@black-color01);
                        });
                        .product-model{
                            .font(@openSans_Bold,600,20px,@black-color01);
                            text-transform: uppercase;
                            display:block;
                            .screen-mob({
                                .font(@openSans_Bold,600,14px,@black-color01);
                                display:inline;
                            });
                        }
                    }
                    .product-desc{
                       margin-bottom:10px;
                       label{
                            display:inline-block;
                            text-align: center;
                            .font(@HelveticaNeue_Light,300,14px,@black-color01);
                            border-right:1px solid @black-color01;
                            text-transform: none;
                            padding:0 5px;
                            .screen-mob({
                                .font(@HelveticaNeue_Light,300,12px,@black-color01);
                            });
                            &:first-child{
                                padding-left:0;
                            }
                            &:last-child{
                                border-right:none;
                                padding-right:0;
                                .screen-mob({
                                    padding-left:0;
                                });
                            }
                       }
                    }
                    .standard-eqp-modal-link{
                        .font(@HelveticaNeue_Light,300,14px,@black-color01);
                        span{
                            .screen-mob({
                                display:block;
                            });
                        }
                        .view-eqp-modal{
                            .font(@openSans,normal,14px,@black-color01);
                            font-style:italic;
                            text-decoration: underline;
                            cursor:pointer;
                        }
                    }
                }
            }
            .product-type-row{
                padding:20px 14px 20px 0;
                border-bottom:1px solid @grey12;
                .screen-mob({
                    padding:12px 26px 15px 20px;
                });
                .product-type-name{
                    label{
                        margin-bottom:0;
                        margin-top:12px;
                        .font(@openSans,600,16px,@black-color01);
                        .screen-mob({
                           .font(@openSans,600,12px,@black-color01);
                           margin-top:0;
                        })
                    }
                }
                .next-btn-container{
                    .next-btn{
                        margin-bottom:0;
                        padding:15px 70px;
                    }
                }
            }
            .product-card-section{
                padding-top:50px;
                .screen-mob({
                    padding:20px 10px 10px 10px;
                });
                .fbc-product-card{
                    box-shadow: 0 0 7px 3px rgba(234, 234, 234, 0.5);
                    background-color: @white;
                    border: 1px solid @grey17;
                    margin-bottom:42px;
                    .screen-mob({
                        margin-bottom:15px;
                    });
                    .card-details{
                        padding:15px; 
                        .radio-section{
                            width:10%;
                            .radio-container{
                                input{
                                    visibility: hidden;
                                }
                                .checkmark {
                                    position: absolute;
                                    height: 14px;
                                    width: 14px;
                                    background-color:@white;
                                    border-radius: 50%;
                                    left: 14px;
                                    display: inline-block;
                                    top: 20px;
                                    border:1px solid @grey10;
                                    .screen-mob({
                                        top: 18px;
                                    });
                                    .screen-tab-intermediate({
                                        left:15px;
                                    });
                                }
                            
                                input:checked ~ .checkmark {
                                    background-color:@sunflower-yellow;
                                    border:0;
                                }
                            
                                .checkmark:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }
                            
                                input:checked ~ .checkmark:after {
                                    display: block;
                                }
                            
                                .checkmark:after {
                                    top: 4px;
                                    left: 4px;
                                    width: 6px;
                                    height: 6px;
                                    border-radius: 50%;
                                    background:@grey07;
                                }
                            }
                        }
                        .data-section{
                            width:90%;
                            .heading{
                                .font(@openSans,600,14px,@black-color01);
                                width:90%;
                                .screen-mob({
                                    display:block;
                                });
                            }
                            .price{
                                .font(@HelveticaNeue_Light,300,14px,@black-color01);
                                text-transform: none;
                                margin-bottom:0;
                                .screen-mob({
                                    display:block;
                                });
                            }
                            .quantity{
                                .font(@HelveticaNeue_Light,300,14px,@black-color01);
                                text-transform: none;
                                margin-bottom:0;
                                .screen-mob({
                                    display:block;
                                });
                            }
                        }
                    }
                    .accordion-section{
                        .view-info-popover-btn{
                            border:0;
                            background-color:@white;
                            color:@black-color01;
                            width:100%;
                            margin-bottom:0;
                            text-align: left;
                            border-top:1px solid @grey17;
                            padding:15px;
                        }
                        .popover{
                            min-width:300px;
                            top:-120px !important;
                            .arrow{
                                top:20%;
                            }
                            &.right{
                                margin-left:20px;
                            }
                            &.left{
                                margin-left:-20px;
                            }
                            /* width */
                            ::-webkit-scrollbar {
                                width: 6px;
                            }

                            /* Track */
                            ::-webkit-scrollbar-track {
                                background:@grey22; 
                            }

                            /* Handle */
                            ::-webkit-scrollbar-thumb {
                                background:@sunflower-yellow;
                            }
                        }
                        .popover-content{
                            padding:30px 38px;
                            max-height:300px;
                            overflow-y:auto;
                            .font(@HelveticaNeueThin,100,14px,@black-color01);
                            text-transform:lowercase;
                            .close-modal {
                                right: -25px;
                                top: -20px;
                            }
                        }
                    }
                }
            }
        }
        .next-button-bottom-row{
            padding:29px 55px 0 0;
            .screen-mob({
                padding:10px 10px 10px 20px;
                background-color:@white;
                position: fixed;
                bottom: 0;
                left:0;
            });
            .qty-section-mobile{
                .qty-heading{
                    .font(@HelveticaNeue,normal,12px,@black-color01);
                    display:block;
                }
                .qty-value{
                    .font(@HelveticaNeue,normal,18px,@black-color01);
                    display:block;
                }
            }
            .next-btn{
                margin-bottom:0;
                padding:15px 70px;
            }
        }
        .review-parts-container{
            .review-parts-header{
                background-color: @white;
                padding:21px 0 22px 29px;
                .screen-mob({
                    padding:15px 0 10px 15px;
                });
                label{
                    .font(@openSans_Bold,normal,16px,@black-color01);
                    .screen-mob({
                        .font(@openSans_Bold,normal,12px,@black-color01);
                    });
                }
            }
            .review-parts-table-container{
                .screen-mob({
                    padding:20px 10px 25px 10px;
                    background-color:@white;
                    border-top:1px solid @grey12;
                });
                .review-parts-table{
                    border-bottom:1px solid @grey12;
                    thead{
                        tr{
                            border-top:1px solid @grey12;
                            border-bottom:1px solid @grey12;
                            th{
                                padding:28px 0;
                                background-color: @white;
                                .font(@openSans_Bold,normal,16px,@black-color01);
                                &:first-child{
                                    padding-left:30px;
                                }
                                &:last-child{
                                    padding-right:30px;
                                }
                                &.quantity{
                                    padding-right:75px;
                                }
                                &.fixed-width-col{
                                    width:80px;
                                }
                            }
                        }
                    }
                    tbody{
                        tr{
                            &:last-child{
                                td{
                                    padding-bottom:61px;
                                }
                            }
                            td{
                               padding:43px 0 18px 0;
                                background-color: @white;
                                .font(@HelveticaNeue,normal,16px,@black-color01);
                                &:first-child{
                                    padding-left:30px;
                                }
                                &:last-child{
                                    padding-right:30px;
                                }
                                &.quantity{
                                    padding-right:75px;
                                }
                                &.fixed-width-col{
                                    width:80px;
                                }
                            }
                        }
                    }
                }
                .review-parts-mobile-card{
                    padding:0 0 20px 0;
                    border:1px solid @grey17;
                    margin-bottom:20px;
                    &:last-child{
                        margin-bottom:0;
                    }
                    .mobile-card-row{
                        label{
                            display: block;
                        }
                        .header{
                            .font(@openSans_Light,300,10px,@black-color01);
                            margin-bottom:5px;
                        }
                        .value{
                            .font(@HelveticaNeue,normal,12px,@black-color01);
                            margin-bottom:0;
                            &.part-desc{
                                .font(@openSans_Bold,normal,14px,@black-color01);
                                margin-bottom:10px;
                            }
                        }
                    }
                    .row-1{
                        border-bottom:1px solid @grey17;
                        padding:15px;
                    }
                    .row-2{
                        padding:15px 15px 0 15px;
                        .mobile-card-row{
                            .value{
                                margin-bottom:20px;
                            }
                        }
                    }
                    .row-3{
                        background-color: @grey05;
                        padding:15px 13px;
                        .list-price-header{
                            label{
                                .font(@HelveticaNeueMedium,500,10px,@black-color01);
                            }
                        }
                        .list-price-value{
                            label{
                                .font(@HelveticaNeue,normal,12px,@black-color01);
                            }
                        }
                    }
                }
            }
            .total-parts-row{
                background-color: @white;
                padding:32px 30px;
                .header-col{
                    width:88%;
                    label{
                        .font(@openSans_Bold,normal,16px,@black-color01);
                    } 
                }
                .value-col{
                    width:12%;
                    label{
                        .font(@HelveticaNeue_Light,300,18px,@black-color01);
                    }
                }
            }
            .total-price-row{
                background-color: @white;
                padding:32px 30px;
                border-top:1px solid @grey12;
                .header-col{
                    width:88%;
                    label{
                        .font(@openSans_Bold,normal,16px,@black-color01);
                    } 
                }
                .value-col{
                    width:12%;
                    label{
                        .font(@HelveticaNeue_Light,300,18px,@black-color01);
                    }
                }
            }
            .total-row{
                padding:25px 11px;
                background-color:@white;
                border-top:1px solid @grey17;
                .parts-row{
                    padding:20px 15px;
                    border-top:1px solid @grey17;
                    .header{
                        .font(@openSans_Light,300,10px,@black-color01);
                    }
                    .value{
                        .font(@HelveticaNeue_Light,300,12px,@black-color01);
                    }
                }
                .price-row{
                    padding:20px 13px;
                    background-color:@grey05;
                    .header{
                        .font(@HelveticaNeueMedium,500,10px,@black-color01);
                    }
                    .value{
                        .font(@HelveticaNeue,normal,12px,@black-color01);                   
                    }
                }
            }
            .add-to-cart-btn-row{
                padding : 35px 0 0 0;
                background-color: transparent;
                .add-to-cart-btn{
                    padding:15px 50px;
                    margin:0;
                    .screen-mob({
                        width:100%;
                    });
                }
            }
        }
        .fbc-error-container{
            height:100vh;
            .error-msg-container{
                text-align: center;
                top:40%;
                .oops-msg{
                    .font(@openSans_Bold,normal,24px,@black-color01);
                    text-transform:uppercase;
                    margin-bottom:20px;
                }
                .try-again-msg{
                    .font(@HelveticaNeueThin,100,18px,@black-color01);
                    text-transform:none;
                    max-width:720px;
                    a{
                        .font(@openSans, bolder, 18px, @black-color01);
                        font-style:italic;
                        text-decoration: none !important;
                        cursor: pointer;
                        &:hover{
                            text-decoration:none !important;
                        }
                        &:focus{
                            text-decoration:none !important;
                        }
                    }
                }
                .cat-logo{
                    background: url(/_ui/responsive/cat/images/cat-logo.png) center right no-repeat;
                    width: 250px;
                    height: 170px;
                    margin: 0 auto;
                    background-size: contain;
                    margin-bottom:20px;
                }
            }
        }
    }
}
.modal-fbc-popover-mobile-modal{
    max-width:100%;
    #fbc-popover-modal-body{
        padding:50px 40px;
        background-color:@white;
        border:3px solid @grey10;
        .screen-mob({
            height:100vh;
            border:1px solid @grey10;;
        });
        /* width */
        ::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background:@grey22; 
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background:@sunflower-yellow;
        }

        .heading-section{
            text-align: center;
            margin-bottom:30px;
            span{
                .font(@openSans_Bold,normal,18px,@black-color01);
            }
            .close-modal{
                position:absolute;
                right:-15px;
                .screen-mob({
                    top: 0;
                });
            }
        }
        .data-section{
            width:100%;
            margin-bottom:25px;
            .heading{
                .font(@openSans,600,14px,@black-color01);
                width:90%;
                .screen-mob({
                    display:block;
                });
            }
            .price{
                .font(@HelveticaNeue_Light,300,14px,@black-color01);
                text-transform: none;
                margin-bottom:0;
                .screen-mob({
                    display:block;
                });
            }
            .quantity{
                .font(@HelveticaNeue_Light,300,14px,@black-color01);
                text-transform: none;
                margin-bottom:0;
                .screen-mob({
                    display:block;
                });
            }
        }
        .accordion-section{
            max-height:450px;
            overflow: auto;
            .screen-mob({
                max-height:530px;
            });
            .desc{
                .font(@HelveticaNeueThin,100,14px,@black-color01);
                text-transform: lowercase;
            }
        }
        
    }
}
