slider {
    display: block;
    .owl-prev {
        img {
            color: #000;
            font-size: 45px;
        }
        &.disabled{
            img{
                color: #cccccc;
                cursor: not-allowed;
            }
        }
    }
    .owl-next {
        img {
            color: #000;
            font-size: 45px;
        }
        &.disabled{
            img{
                color: #cccccc;
                cursor: not-allowed;
            }
        }
    }

    &.owl-carousel {
        .owl-controls {
            .owl-buttons {
                .owl-prev,
                .owl-next {
                    width: 65px;
                    &:before {
                        content: none;
                    }
                }
                .owl-prev {
                    text-align: left;
                }
                .owl-next {
                    text-align: right;
                }
            }
        }
        .owl-wrapper-outer {
            //margin-left: 10px;
            .owl-wrapper {
                .owl-item {
                    .single-card {
                        width: 100%;
                    }
                }
            }
        }
    }
}