.low-stock {
    .low-stock-content {
        margin: 0px;
        border: solid 1px #d0011b;
        padding: 20px;
        .manage-order {
            background-color: #3f3f3f;
            border: solid 1px #979797;
            padding: 10px 15px;
            .font(@openSans, bold, 14px, @white);
            color: #ffffff;
            text-transform: uppercase;
        }
        .warning {
            width: 25px;
        }
        .alert-text {
            .font(@openSans, bold, 18px, @black-color01);
            vertical-align: middle;
            margin-left: 20px;
        }
        .warning-message {
        	.font(@openSans, 300, 18px, @black-color01);
            text-align: left;
        }
    }
}