<div class="row cat-card-container">
		<div class="col-xs-12 header-content" ng-click="navigateToPDP()">
			<div class="row super-header" ng-if="imCard">
				<div class="col-xs-12">
					<div class="super-header-text" ng-bind="superHeader"></div>
				</div>
				<img src="/_ui/responsive/cat/images/rectangle-4.svg" ng-if="canReorder">
			</div>
			<div class="row image">
				<div class="col-xs-12">
					<div class="product-image">
						<img ng-src="{{image}}">
					</div>
					<div class="favorite">
						<img ng-if="bookMarked" class="book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-265.svg" ng-click="removeFromBookMark()" stop-event alt="Book Mark">
						<img ng-if="!bookMarked" class="not-book-marked favorite-icon" src="/_ui/responsive/cat/images/fill-264.svg" ng-click="addFromBookMark()" stop-event alt="Book Mark">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 body-content" ng-click="navigateToPDP()">
			<div class="row"  ng-class="(!imCard)?'sp-card-header':''">
				<div class="col-xs-12 main-header" ng-bind="primaryHeader">
				</div>
			</div>
			<div class="row" ng-if="imCard">
				<div class="col-xs-12 sub-header" ng-bind="secondryHeader">
				</div>
			</div>
			<div class="row" ng-if="imCard">
				<div class="col-xs-12 info">
					<div class="row">
						<div class="col-xs-6">
							<div class="text" ng-bind="minQtyText"> </div>
							<div class="value">{{minQty}} {{qtyMeasurement}}</div>
						</div>
						<div class="col-xs-6">
							<div class="text" ng-bind="maxQtyText"> </div>
							<div class="value">{{maxQty}} {{qtyMeasurement}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="text" ng-bind="recommendedQtyText"> </div>
							<div class="value">{{recommendedQty}} {{recommendedMeasurement}}</div>
						</div>
						<div class="col-xs-6">
							<div class="text" ng-bind="currentQtyText"> </div>
							<div class="value">{{currentQty}} {{Measurement}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 footer-content" ng-if="imCard">
			<div class="in-stock" ng-if="!canReorder">
				Stock levels above recommended
			</div>
			<div class="out-of-stock" ng-if="canReorder">
				<div class="quantity">
					<i class="fa fa-minus" aria-hidden="true" ng-click="decreaseQuantity()" ng-class="!!(reorderQty<=0)?'disabled':''"></i> <input type="text" size=1 ng-model="reorderqty" restrict-to="[0-9]"/> <i class="fa fa-plus" aria-hidden="true" ng-click="increaseQuantity()" ng-blur="resetInputValue()"></i>
				</div>
				<div class="reorder"> 
					<button>reorder</button>
				</div>
			</div>
		</div>
</div>