<div>
	<input type="text" class="form-control" placeholder="Users loaded from local database" ng-model="selectedUser" uib-typeahead="result as result.displayValue for result in getCatResults($viewValue)" typeahead-min-length="3" typeahead-template-url="typeahead-item.html" placeholder="${searchPlaceholder}"
					data-options='{"minCharactersBeforeRequest" : "${component.minCharactersBeforeRequest}","waitTimeBeforeRequest" : "${component.waitTimeBeforeRequest}"}' typeahead-is-open="typeaheadIsOpen" class="form-control" typeahead-on-select='onSelect($item, $model, $label)'/>
	    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
    <div class="search-icon">
    	<img src="/_ui/responsive/cat/images/fill-169.svg"/>
    </div>
</div>