.breadcrumb-section {
    background-color: transparent;
    padding-left: 10px;
    font-family: "HelveticaNeue_Light";
    .breadcrumb {
        background-color: transparent;
        >li {
				  text-transform: capitalize;
				  font-family: "HelveticaNeueThin";
          font-size: 16px;
          font-weight: 100;
          &.active{
            font-weight: bold;
          }
            a {
                color: #000000;
            }
            &+li:before {
                content: "\f101";
                font-family: FontAwesome;
                padding: 0 10px;
                color: #000;
                font-size: 16px;
                font-weight: initial !important;
            }
        }
    }
}