.favorite-products {
    .header {
        .font(@openSans, bold, 18px, @black-color01);
        text-align: left;
        color: #000000;
    }
    .empty {
        padding-top: 20px;
        .font(@openSans, 300, 16px, @black-color01);
        font-style: italic;
        text-align: left;
    }
    .products {
        padding-top: 40px;
        .single-card {
        	    padding: 30px 50px;
        }
    }
}