header {
    background: none;
    margin-bottom: 0px;
    .user-contact {
        .font(@openSans, 300, 14px, @black-color01);
        position: relative;
        height: 30px;
        text-transform: uppercase;
        text-align: left;
    }
    .plus-icon {
        width: 18px;
        height: 20px;
    }
    .minus-icon {
        width: 18px;
        height: 3px;
        display: none;
    }
    .navigation {
        &.navigation--top {
            background-color: @black-color01;
            padding-left: 0px;
            padding-right: 0px;
            .header-row {
                height: 68px;
                .nav__left {
                    display: inline-block;
                    float: left;
                    padding-right: 35px;
                    margin-left: -5px;
                }
                .analytics {
                    display: inline-block;
                    cursor: pointer;
                    padding: 22px 20px;
                    border-left: 1px solid #5f5f5f;
                    color: #fff;
                    text-transform: uppercase;
                    border-right: 1px solid #5f5f5f;
                    font-weight: bold;
                    font-size: 16px;
                    float: left;
                    a {
                        color: #fff;
                    }
                }
                .gns-link {
                    display: inline-block;
                    cursor: pointer;
                    float: left;
                    padding: 22px 20px;
                    color: #fff;
                    text-transform: uppercase;
                    border-right: 1px solid #5f5f5f;
                    font-weight: bold;
                    font-size: 16px;
                    a {
                        color: #fff;
                    }
                    &:empty {
                        display: none;
                    }
                }
                .ci-retail-label{
                    display: inline-block;
                    cursor:text;
                    float:left;
                    padding: 22px 20px;
                    border-left:1px solid @grey21;
                    .font(@openSans,normal,16px,@white);
                }
                .nav__right {
                .nav-cart{
                   padding: 0 !important;
                   border-left:1px solid #5f5f5f;
                   width: 110px
                }
                    .nav__links {
                        padding:0;
                        border-right: 1px solid #5f5f5f;
                        li {
                            .userAccountName{
                                width:110px;
                                padding-left: 17px;
                                text-transform: capitalize;
                                .font(@HelveticaNeue,300, 14px,@white);
                            }
                            &.order-history{
                                padding: 33px 12px 13px;
                            }
                            .font(@openSans,bold, 16px,@white);
                            cursor: pointer;
                            padding: 12px 20px;
                            border-left: 1px solid #5f5f5f;
                            color: #fff;
                            text-transform: uppercase;
                            
                            a {
                                padding: 0px;
                                color: #fff;
                                font-weight: bold;
                            }
                            img.userProfile-icon {
                                top: -3px;
                                position: relative;
                                padding-right: 5px;
                                width: 17px;
                            }
                            i{
                                padding-left: 5px;
                            }
                            img.lock-icon {
                                top: -3px;
                                position: relative;
                                padding-right: 5px;
                                width: 17px;
                            }
                            .dropdown-content {
                                display: none;
                                position: absolute;
                                background-color: #000000;
                                overflow: auto;
                                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                z-index: 1;
                                margin: 12px -19px;
                                a {
                                    .font(@openSans, normal, 12px, @white);
                                    text-align: left;
                                    text-decoration: none;
                                    display: block;
                                    padding: 15px;
                                    &:hover {
                                        background: #5f5f5f;
                                    }
                                }
                            }
                            .show {
                                display: block;
                            }
                            .NamenIcon{
                                #myDropdown{
                                     width:154px !important;
                                }
                            }
                        }

                    }
                }
            }
            .banner__component {
                width: 70px;
                height: 40px;
                overflow: hidden;
                position: relative;
                top: 9px;
                img {
                    height: 70px;
                }
            }
        }
        &.navigation--middle {
            min-height: 15px;
            background-color: @sun-yellow;
        }
    }
    .navigation--bottom {
        position: inherit;
        .nav__links--products{
            padding-left: 0px;
            //margin-left: -10px;
            padding-right:0;
        }
        background-color: @sunflower-yellow;
        .screen-tab-desk( {
            .navigation__overflow {
                ul.desktop-nav-menu {
                    li:first-child {
                        padding-left: 0px;
                        a {
                            padding-left: 0px;
                        }
                    }
                    .eVizMenu{
                        a{
                            text-transform: none;
                        }
                    }
                    li:nth-last-child(2) {
                        padding-right: 0px;
                        a {
                            padding-right: 0px;
                        }
                    }

                }
                .right-menu-items{
                    float:right;
                }
            }
        }
        );
        .screen-mob( {
            .navigation__overflow {
                &.cat-container {
                    margin: inherit;
                }
                // .right-menu-items{
                //     float:left;
                // }
            }
            .nav__link {
                padding: 20px 15px 20px 27px;
                .parentLink {
                    float: left;
                    width: 100%;
                    padding: 0px;
                    cursor: pointer;
                }
            }
            .nav__links--products {

                li a {
                    padding: 0px;
                }
            }

            .nav__links--primary-has__sub {
                .nav__link {
                    width: 100%;
                }
            }
        }
        );
        border-bottom: none;
        color: @black-color01;
    }

    .cat-menu-naivation {
        .mobile-navigation {
            .screen-mob( {
                top: -1px;
            }
            );
        }
        .main-navigation-container {

            .screen-mob( {
                width: 80%;
                margin-top: 73px !important;
                .liUserSign {
                    padding: 18px 20px;
                    background-color: #000000;
                    img {
                        padding-right: 11px;
                        height: 24.3px;
                        top: -3px;
                    }
                    .userSign {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: bold;
                        text-align: left;
                        color: #ffffff;
                    }
                    &:hover {
                        background-color: #292929;
                    }
                }
                .js-myAccountLinksContainer {
                    display: none;
                }
            }
            );
            .screen-tab-desk( {
                ul.nav__links {
                    li:nth-child(2) {
                        // padding-left: 0px !important;
                        a {
                            padding-left: 0px !important;
                        }
                    }
                }
            }
            );

            .primary-link {
                .screen-tab-desk( {
                    padding: 0px 20px 0px 20px;
                }
                );

                .nav__link {
                    .parentLink {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        font-weight: 300;
                        text-align: left;
                        color: #000000;
                        padding-top: 8px;

                        .screen-tab-desk( {
                            font-weight: bold;
                            padding-bottom: 9px;
                            padding-right: 0px;
                            &:hover {
                                border-bottom: solid 3px #000000;
                                padding-bottom: 6px;
                                cursor: pointer;
                            }
                        }
                        );
                    }
                    &.childLink{
                        .yComponentWrapper{
                            display:none;
                        }
                        a{
                            .font(@openSans, bold, 16px, @black-color01);
                            text-align: left;
                            padding: 8px 0 0 0;
                            cursor: pointer;
                        }
                    }
                    .outerLinks{
                        .font(@openSans, bold, 16px, @black-color01);
                        text-align: left;
                        padding: 8px 0 0 0;
                        cursor: pointer;
                    }
                }
            }
        }
        .sunYellowBorder {
            min-height: 5px;
            background-color: #ffd426;
        }
        .lightYellowBorder {
            min-height: 5px;
            background-color: #ffde59;
        }
    }
    .cookie-statement{
        display:none;
        padding:30px 0 30px 0;
        background-color: @white;
        .screen-mob({
            border-bottom:0;
        });
        .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
        p{
            padding:0;
            margin:0 20px 20px 0;
        }
        a{
            color:inherit;
            text-decoration:underline;
            font-style:italic;
        }
        button{
         height:35px;
         background-color:@grey07;
         border:1px solid @grey10;
         .font(@openSans_Bold, bold, 12px, @white);
        }
      }
}

.branding-mobile {
    background-color: @black-color01;
    height: 44px;
    .arrow{
        right: 4px;
        top: -9px;
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 8px solid #d0021b;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    &:after{
        top: 2px;
        right: -7px;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 18px solid #FFF;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        z-index: 100;
    }
    }
    
    .low-stock-order-container{
        position:absolute;
        right:24px;
        top:60px;
        background-color:@white;
        z-index:9999;
       width:132px;
       min-height:157px;
       border:solid 1px @red02;
       transition:linear all 0.3s;
       h4{
           padding:0 10px;
           .font(@openSans, bold, 16px, @red02);
           img{
               width:17px;
               margin-right:2px;
               vertical-align: middle;
           }
           font-size:10px;
           
       }
       .warning-message{
           padding:0 10px;
           margin-bottom:10px;
           font-size:16px;
           font-weight:300;
           .font(@HelveticaNeue_Light, 300, 16px, @black-color01); 
       }
       .manage-m-order {
            background-color: #3f3f3f;
            border: solid 1px #979797;
            min-width:124px;
            height:30px;
            padding-top:5px;
            display:block;
            .font(@openSans, bold, 14px, @white);
            color: @white;
            text-transform: uppercase;
            margin: 3px;
            font-size:12px;
       }
       //display:none;
    }
    .fade-move-up{
        opacity:0;
        top:50px;
        z-index:-100;
    }
    .bell-counter{
        width:25px;
        height:25px;
        position:relative;
        &:active{
            .transform-scale(0.9);
        }
        .order-count{
            min-width:12px;
            height:12px;
            background-color:@sunflower-yellow;
            .border-radius(150%);
            position: absolute;
            top:0;
            right:1px;
            text-align: center;
            font-size:8px;

        }
    }
    .js-mobile-logo {
        width: 60px;
        overflow: hidden;
        height: 29px;
        display: inline-block;
        img {
            width: 150px;
        }
    }
    .mobile-hamburger {
        vertical-align: top;
        padding: 0px;
        background: transparent;
        display: inline;
        .cat-hamburger-menu {
            padding: 0px;
            top: -14px;
            position: relative;
            margin-right: 20px;
            >.divider {
                width: 30px;
                height: 2px;
                background-color: #ffffff;
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

footer {
    margin-top: 30px;
}

#cat-navigation-menu {
    background-color: @black-color01;
    visibility: hidden;
    position: absolute;
    z-index: @desktopMenu;
    .screen-mob( {
        display: none !important;
        visibility: hidden;
    }
    );
    &.active,
    &:hover {
        visibility: visible !important;
    }
    .subHeader {
    	padding: 15px 32px;
		.font(@openSans, bold, 16px, rgba(255, 255, 255, 0.75));
        letter-spacing: 1px;
        text-decoration: none;
        .equipment-header {
            padding-right: 60px;
            &.active{
                color: @white;
            }
        }
        .attachment-header {
            &.active{
                color: @white;
            }
        }
     }
    .subCat-box {
        padding-top: 15px;
        margin: 0px;
        display: none;
        div.desk-menu {
            padding: 0px;
            visibility: hidden;
            div.border-right:not(:last-child) {
                border-right: solid 1px @white01;
            }
            &.active {
                visibility: visible;
            }
        }
        .border-right {
            padding-right: 0px;
            padding-left: 0px;
            padding-bottom: 15px;
        }
        a.nav-link-desktop {
            padding: 10px 22px;
            .font(@openSans, normal, 16px, rgba(255, 255, 255, 0.75));
            text-transform: capitalize;
            letter-spacing: 1px;
            text-decoration: none;
            &:hover {
                background-color: @grey01;
                color: @white;
            }
        }
        &:hover {
            visibility: visible !important;
            display: inline-block !important;
        }
    }
    .active {
        display: inline-block !important;
    }
}

.offcanvas {
    .sticky-nav-top {
        .userGroup {
            .screen-mob( {
                background-color: #000;
                height: 72px;
                font-size: 14px;
                font-weight: bold;
                text-align: left;
                color: #ffffff;
                padding-top: 10px;
                .userName {
                    a {
                        color: #ffffff;
                        padding-left: 10px;
                    }
                    img.userProfile-icon {
                        width: 19px;
                        position: relative;
                        top: -2px;
                    }
                }
            }
            );
        }
        .close-nav {
            display: none;
        }
        .js-myAccountLinksContainer {
            display: none;
        }
    }
}

.subCat-box-mob {
    .screen-tab-desk( {
        display: none !important;
    }
    );
    display: none;
    padding-left:0px;
    li {
        border-bottom: transparent !important;
        padding: 10px 40px;
        a {
            font-family: "Helvetica Neue", sans-serif;
            font-size: 16px;
            font-weight: 100;
            text-align: left;
            color: #000000;
        }
    }

    &.active {
        display: block;
    }
}


.js-mobile-logo {
    display: inline-block;
}
