.product-compare-dropdown-container {
    margin-top: 80px;
    .product-compare-next {
        background-color: @grey07;
        border: solid 1px @grey10;
        padding: 7px 35px;
        .font(@openSans_Bold, 600, 14px, @white);
        color: @white;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .header {
        .font(@openSans, 600, 18px, @black-color01);
        text-align: left;
    }
    .sub-header {
        .font(@HelveticaNeueThin, 100, 16px, @black-color01);
        margin-bottom: 35px;
    }

    .product-compare-dropdown {
        background-color: @white;
        color: @black-color01;
        text-align: left;
        font-size: 14px;
        text-indent: 10px;
        padding: 15px 0 15px 15px;
        .dropdown {
            box-shadow: 5px 5px 10px 5px rgba(234, 234, 234, 0.5);
        }
        &:hover {
            background-color: @white;
            color: @black-color01;
            text-align: left;
            font-size: 14px;
            text-indent: 10px;
            .dropdown {
                box-shadow: 5px 5px 10px 5px rgba(234, 234, 234, 0.5);
            }
        }
        &:focus {
            background-color: @white;
            color: @black-color01;
            text-align: left;
            font-size: 14px;
            text-indent: 10px;
            .dropdown {
                box-shadow: 5px 5px 10px 5px rgba(234, 234, 234, 0.5);
            }
        }
    }
    .drop-down-button {
        background-color: @white;
        height: 60px;
        padding: 0px;
        .no-box-shadow();
        .text {
            .calc(width, "100% - 60px");
            height: 60px;
            display: inline-block;
            .font(@HelveticaNeueMedium, normal, 16px, @black-color01);
            text-align: left;
            padding: 20px 40px;
            text-transform: none !important;
        }
        .arrow {
            width: 60px;
            height: 60px;
            background-color: @sunflower-yellow;
            display: inline-block;
            position: relative;
            top: -1px;
            right: -1px;
            img {
                position: relative;
                .calc(top, "50% - 12px");
            }
        }
    }

    .product-compare-dropdown {
        height: 60px;
        ul.dropdown-menu {
            padding: 20px 15px;
        }
    }
    .dropdown-menu {
        border: none;
        padding: 20px 10px 20px;
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        top: 60px;
        >li {
            >a {
                margin-bottom: 10px;
            }
            >a:hover,
            >a:focus {
                background-color: transparent;
                margin-bottom: 9px;
                >span {
                    border-bottom: solid 1px @sunflower-yellow;
                    display: inline-block;
                }
            }
        }
    }
}

.no-padding {
    padding: 0 !important;
}
@media only screen and (max-width: 700px) {
    .product-compare-dropdown-container{
        .drop-down-button{
            .text{
                padding-left: 10px;
                padding-right: 10px;
            }
        }

    }
}
