<script type="text/ng-template" id="typeahead-result.html">

    <li ng-repeat="match in matches">
        abc
    </li>

</script>

<script type="text/ng-template" id="typeahead.html">
	<div class="cat-search">
		<input type="text" 
		        ng-model="asyncSelected" 
		        placeholder="Locations loaded via $http" 
		        ng-model-options='{debounce: 500}'
		        uib-typeahead="address for address in getCatResults($viewValue)" 
		        uib-typeahead-loading="loadingLocations" 
		        uib-typeahead-no-results="noResults" 
		        typeahead-template-url="typeahead-result.html"
		        class="form-control" uib-typeahead-show-hint="true" uib-typeahead-min-length="0">
	</div>
</script>

<div class="cat-search cat-container">
    <cat-search place-holder-text="Search for a Product family, Sales model or Primary offering" search-endpoint="" results-size="" user-click=""></cat-search>
</div>