<div class="low-stock cat-container">
    <div class="row low-stock-content">
        <div class="col-xs-9">
        	<div class="row">
        		<div class="col-xs-3">
        			<img class="warning" src="/_ui/responsive/cat/images/warning.svg" />
        			<span class="alert-text"> Alert! </span>
        		</div>
        		<div class="col-xs-9">
        			<div class="warning-message">
        				There are 50 products that are low on stock.
        			</div>
        		</div>
        	</div>
        </div>
        <div class="col-xs-3">
        	<button class="manage-order pull-right">manage orders</button>
        </div>
    </div>
</div>