<div class="recently-viewed cat-container">
    <div class="header">
        Recently Viewed
    </div>
    <div class="products">
        <div class="row">
            <slider cards-visible="3" circular id="owl-demo">
                <!--loop from -->
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card super-header="one" image="/_ui/responsive/cat/images/download.png" primary-header="259D" secondry-header="Stock Levels" min-qty="5" min-qty-text="Minimum" max-qty="15" max-qty-text="Maximum" recommended-qty="15" recommended-qty-text="Recommended" current-qty="4" current-qty-text="Current" qty-measurement="units" reorder-btn-text="reorder" favorate-card="true" pdp-link="/pages/plp.html" card-type="IM" can-reorder="true" book-marked="true" product-id-for-communication="123" reorder-default-value="10"></cat-card>
                </div>

                <!--loop -->
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card 
                        super-header="test 123" 
                        image="/_ui/responsive/cat/images/download.png" 
                        primary-header="259D" 
                        secondry-header="Stock Levels" 
                        min-qty="5" 
                        min-qty-text="Minimum" 
                        max-qty="15" 
                        max-qty-text="Maximum" 
                        recommended-qty="15" 
                        recommended-qty-text="Recommended" 
                        current-qty="4" 
                        current-qty-text="Current" 
                        qty-measurement="units" 
                        reorder-btn-text="reorder" 
                        favorate-card="true" 
                        pdp-link="/pages/plp.html" 
                        card-type="IM" 
                        can-reorder="true" 
                        book-marked="true" 
                        product-id-for-communication="123" 
                        reorder-default-value="10"></cat-card>
                </div>
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card super-header="one" image="/_ui/responsive/cat/images/download.png" primary-header="259D" secondry-header="Stock Levels" min-qty="5" min-qty-text="Minimum" max-qty="15" max-qty-text="Maximum" recommended-qty="15" recommended-qty-text="Recommended" current-qty="4" current-qty-text="Current" qty-measurement="units" reorder-btn-text="reorder" favorate-card="true" pdp-link="/pages/plp.html" card-type="IM" can-reorder="true" book-marked="true" product-id-for-communication="123" reorder-default-value="10"></cat-card>
                </div>
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card super-header="one" image="/_ui/responsive/cat/images/download.png" primary-header="259D" secondry-header="Stock Levels" min-qty="5" min-qty-text="Minimum" max-qty="15" max-qty-text="Maximum" recommended-qty="15" recommended-qty-text="Recommended" current-qty="4" current-qty-text="Current" qty-measurement="units" reorder-btn-text="reorder" favorate-card="true" pdp-link="/pages/plp.html" card-type="IM" can-reorder="true" book-marked="true" product-id-for-communication="123" reorder-default-value="10"></cat-card>
                </div>
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card super-header="one" image="/_ui/responsive/cat/images/download.png" primary-header="259D" secondry-header="Stock Levels" min-qty="5" min-qty-text="Minimum" max-qty="15" max-qty-text="Maximum" recommended-qty="15" recommended-qty-text="Recommended" current-qty="4" current-qty-text="Current" qty-measurement="units" reorder-btn-text="reorder" favorate-card="true" pdp-link="/pages/plp.html" card-type="IM" can-reorder="true" book-marked="true" product-id-for-communication="123" reorder-default-value="10"></cat-card>
                </div>
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card super-header="one" image="/_ui/responsive/cat/images/download.png" primary-header="259D" secondry-header="Stock Levels" min-qty="5" min-qty-text="Minimum" max-qty="15" max-qty-text="Maximum" recommended-qty="15" recommended-qty-text="Recommended" current-qty="4" current-qty-text="Current" qty-measurement="units" reorder-btn-text="reorder" favorate-card="true" pdp-link="/pages/plp.html" card-type="IM" can-reorder="true" book-marked="true" product-id-for-communication="123" reorder-default-value="10"></cat-card>
                </div>
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card super-header="one" image="/_ui/responsive/cat/images/download.png" primary-header="259D" secondry-header="Stock Levels" min-qty="5" min-qty-text="Minimum" max-qty="15" max-qty-text="Maximum" recommended-qty="15" recommended-qty-text="Recommended" current-qty="4" current-qty-text="Current" qty-measurement="units" reorder-btn-text="reorder" favorate-card="true" pdp-link="/pages/plp.html" card-type="IM" can-reorder="true" book-marked="true" product-id-for-communication="123" reorder-default-value="10"></cat-card>
                </div>
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card super-header="one" image="/_ui/responsive/cat/images/download.png" primary-header="259D" secondry-header="Stock Levels" min-qty="5" min-qty-text="Minimum" max-qty="15" max-qty-text="Maximum" recommended-qty="15" recommended-qty-text="Recommended" current-qty="4" current-qty-text="Current" qty-measurement="units" reorder-btn-text="reorder" favorate-card="true" pdp-link="/pages/plp.html" card-type="IM" can-reorder="true" book-marked="true" product-id-for-communication="123" reorder-default-value="10"></cat-card>
                </div>
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card super-header="one" image="/_ui/responsive/cat/images/download.png" primary-header="259D" secondry-header="Stock Levels" min-qty="5" min-qty-text="Minimum" max-qty="15" max-qty-text="Maximum" recommended-qty="15" recommended-qty-text="Recommended" current-qty="4" current-qty-text="Current" qty-measurement="units" reorder-btn-text="reorder" favorate-card="true" pdp-link="/pages/plp.html" card-type="IM" can-reorder="true" book-marked="true" product-id-for-communication="123" reorder-default-value="10"></cat-card>
                </div>
                <div class="single-card col-xs-6 col-sm-3 item">
                    <cat-card super-header="one" image="/_ui/responsive/cat/images/download.png" primary-header="259D" secondry-header="Stock Levels" min-qty="5" min-qty-text="Minimum" max-qty="15" max-qty-text="Maximum" recommended-qty="15" recommended-qty-text="Recommended" current-qty="4" current-qty-text="Current" qty-measurement="units" reorder-btn-text="reorder" favorate-card="true" pdp-link="/pages/plp.html" card-type="IM" can-reorder="true" book-marked="true" product-id-for-communication="123" reorder-default-value="10"></cat-card>
                </div>
                <!-- loop -->
            </slider>
        </div>
    </div>
    <div class="empty">
        You have not viewed any products recently!
    </div>
</div>