@font_family_1: HelveticaNeue;
@font_family_2: OpenSans;
@background_color_3: transparent;

.order-cat-container {
    .toLower {
        text-transform: lowercase;
    }
    .toCapitalize {
        text-transform: capitalize;
    }
    .responsive-table-item a.responsive-table-link {
        color: @black-color01;
    }
    .orderHistoryTable {
        border: solid 1px #d5d5d5;
    }
    width:100%;
    table {
        .responsive-table-head{
           th{
            position: relative;
              &:first-child{
                  position: relative;
              }
              .adj-fa{
                position:absolute;
                top:20px;
            }
           }
        }
        border-collapse: collapse;
        thead {
            border: solid 1px @grey13;
            .only-for-IE({
                border-width: 2px; 
            });
            tr {
                .msoHead {
                    .message {
                        border-bottom: 1px dashed @grey10;
                        cursor: pointer;
                        display: inline-block;
                    }
                    .popover {
                        top: 39px !important    ; 
                        left: 10px !important;
                        .arrow {
                            display: none;
                        }
                    }
                }
                .laneHead{
                    padding-left: 0 !important;
                }
            }
        }
       
        th {
            background-color: @white;
            color: @black-color01;
            padding: 18px 13px;
            cursor: default;
            span {
                cursor: pointer;
                padding-left: 5px;
            }
            &:last-child {
                text-align: left;
                padding-right: 10px;
            }
        }
        tr {
            &:nth-child(even) {
                background-color: @grey05;
            }
            &:nth-child(odd) {
                background-color: @white;
            }
            font-family: @font_family_1;
            font-size: 16px;
            font-weight: 100;
            color: @black-color01;
            height: 41px;
        }
        .laneData{
            padding-left: 0 !important;
        }
        td {
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
            padding-bottom: 14px;
            padding-top: 10px;
            padding-left: 20px;
            a {
                color: @black-color01;
                &:hover {
                    text-decoration: underline;
                    font-weight:bold;
                }
            }
            &.order-number {
                span {
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
            &:last-child {
                text-align: left;
            }
            &.status {
                div {
                    display: inline-block;
                    .message {
                        border-bottom: 1px dashed @grey10;
                        cursor: pointer;
                    }
                    .failed {
                        color: @red02;
                    }
                }
                div {
                    &.popover {
                        .arrow {
                            display: none;
                        }
                    }
                }
            }
        }
        th {
            .font(@openSans, 600, 14px, @black-color01);
            height: 60px;
            padding-left: 20px;
            padding-right: 10px;
            position: relative;
            .fa {
                color: #979797;
                position: absolute;
                top: 20px;
            }
        }
    }

    .cust-approval {
        div {
            &.popover {
                .arrow {
                    display: none;
                }
            }
            &.failed {
                color: @red02;
            }
        }
    }

    .pagination-container {
        .search-text-header {
            .font(@openSans, bold, 18px, @black-color01);
            letter-spacing: -0.5px;
        }
        .search-info {
            .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
            font-style: italic;
        }
        // .screen-mob( {
        //     margin-bottom: 20px;
        // }
        // );
    }

    .account-section-content {
        .content-empty {
            padding: 0;
            background-color: #fff;
            height: 520px;
            .content {
                .font(@openSans, bold, 20px, @black-color01);
                text-align: center;
                position: relative;
                top: 50%;
            }
        }
        .order-history-card {
			.screen-mob({
					padding: 0px;
			})
		}
        .pagination-bar {
            margin: 0px;
            .pagination-toolbar {
                padding: 0px;
                padding-bottom: 15px;
                border: 0px;
            }
        }
        .pagination-bar.bottom {
            margin-top: 10px;
        }
        .pagination {
            margin-top: 0px;
            li.pagination-page {
                .pagenating-text {
                    .font(@HelveticaNeueThin, normal, 16px, @black-color01);
                    position: relative;
                    float: left;
                    margin-left: -1px;
                    padding: 5px 0px;
                    line-height: 1.42857143;
                    background-color: rgba(0, 0, 0, 0);
                    text-decoration: none;
                }
                &.active {
                    .pagenating-text {
                        .font(@HelveticaNeueThin, bold, 16px, @black-color01);
                    }
                    a {
                        font-weight: 700;
                    }
                }
                a {
                    background: transparent;
                }
            }
            li.pagination-next.disabled,
            li.pagination-prev.disabled {
                span.fa {
                    background-color: transparent;
                    font-size: 21px;
                }
            }
        }
        background-color: @grey09;
        >div {
            padding-right: 10px;
            @media only screen and (max-width : 768px) {
                padding-right: 0px;
            }
        }
        .pagination-first,
        .pagination-last {
            display: none;
        }
        .pagination-prev,
        .pagination-next {
            a {
                background-color: #f7f7f7;
                font-size: 21px;
                color: #000;
            }
        }
        .pagination-first,
        .pagination-last {
            a {
                background-color: @grey09;
            }
        }
        .pagination-page {
            a {
                .font(@HelveticaNeueThin, 100, 16px);
            }
        }
    }

    .sort-dropdown {
        .btn {
            .font(@openSans_Bold, bold, 12px, @black-color01);
            background: @white;
            border: 1px solid @grey10;
        }

        .dropdown-menu {
            .font(@openSans, normal, 12px, @black-color01);
            text-transform: uppercase;
            display: block;
            margin: -5px -1px 0px 0px;
            &.active {
                background: @grey12;
            }
            
            li {
                padding: 12px 0px;
                cursor: pointer;
                &.selected {
                    background-color: @grey12;
                }
                > span {
                    padding: 20px;
                }
            }
        }

        &.open > .dropdown-menu {
            padding: 0;
            margin: 0;
        }
    }
    
    .mob-label {
        background: @white;
        margin: 15px 0px;
        padding: 15px 10px 10px;

        a {
            color: @black-color01;
        }

        .msoHead {
            .message {
                border-bottom: 1px dashed @grey10;
                cursor: pointer;
                display: inline-block;
            }
            .popover {
                .arrow {
                    display: none;
                }
                .screen-mob({
                    top: 8px !important;
                    left: 8px !important;
                    width: 330px;
                });
            }
        }

        .label-head {
            text-transform: uppercase;
            .font(@HelveticaNeue, normal, 14px, @black-color01);
            span {
                .font(@openSans, 300, 12px, @black-color01);
            }
        }

        .quote-id-name {
            .font(@HelveticaNeue_Light, normal, 14px, @black-color01);
            padding-top: 15px;
        }

        .quote-date {
            .font(@HelveticaNeue, normal, 14px, @black-color01);
            padding-top: 15px;

            .head {
                .font(@openSans_Light, normal, 10px, @black-color01);
                font-weight: 300;
                text-transform: uppercase;
            }
        }

        hr {
            margin: 15px 0 10px;
        }

        .cust-approval::first-letter {
            text-transform: capitalize;   
        }

        .cust-approval {
            .font(@HelveticaNeue, normal, 12px, @black-color01);        
        }
    }
}
.history-show-more {
    .font(@HelveticaNeue_Light, 300, 16px, @grey08)
}
.quote-sjow-more {
    padding: 10px;
}
/*.account-orderhistory {*/
    .account-orderhistory-pagination {
        padding: 20px 0 10px;
        &.pagination-bottom {
            padding: 0 !important;
            margin-right: 10px;
            margin-top: 20px;
        }
        .mobile-search {
            @media only screen and (max-width : 768px) {
                width: 100%;
            }
            .search-div {
                margin: 0px;
                padding: 0;
                @media only screen and (max-width : 768px) {
                    // margin: 0px 10px;
                }
                // padding-bottom: 20px;
                .search-box{
                    .font(@HelveticaNeue, 300, 14px, @black-color01);
                    border: 0px;
                    border-bottom: solid 1px @black-color01;
                    background: none;
                    padding: 0px;
                    padding-right: 20px;
                    font-style: italic;
                    outline: none;
                    text-transform: uppercase;
                    height:28px;
                    margin-right:20px;
                    margin-bottom:20px;
                    border-radius:0;
                    &::placeholder {
                        .font(@HelveticaNeueThin, 100, 14px, @grey10);
                        font-style: italic;
                    }
                    &::-webkit-input-placeholder {
                        .font(@HelveticaNeueThin, 100, 14px, @grey10);
                        font-style: italic;
                    }
                    &:-moz-placeholder {
                        .font(@HelveticaNeueThin, 100, 14px, @grey10);
                        font-style: italic;
                    }
                    &:-ms-input-placeholder {
                        .font(@HelveticaNeueThin, 100, 14px, @grey10);
                        font-style: italic;
                    }
                    &:-moz-placeholder {
                        .font(@HelveticaNeueThin, 100, 14px, @grey10);
                        font-style: italic;
                    }
                    &::-ms-clear {
                        display: none;
                        width: 0;
                        height: 0;
                    }
                }
                .quote-search{
                    text-transform: none;
                }
                img {
                    right: 15px;
                    cursor: pointer;
                    position: absolute;
                    @media only screen and (max-width : 768px) {
                        right: 20px;
                    }
                }
            }
            .action-icons-class{
                float:left;
                text-align: center;
                padding-top:3px;
                width: 36px;
                height: 30px;
                background-color: @white;
                border: solid 0.8px @grey10;
                cursor: pointer;
                .screen-mob({
                    width: 66px;
                })
            }
            .searchIconsBox {
                .screen-mob({
                    float: right;
                    width: 210px;
                });
                .searchBoxIcon {
                    .action-icons-class;
                    border-right:0px;
                    .screen-mob({
                        position: relative;
                        right: -66px;
                    })
                }
                .searchCancelIcon {
                    .action-icons-class;
                    .screen-mob({
                        position: relative;
                        right: -66px;
                    })
                }
            }
            .productFamilyHeaderText {
                padding-left: 0 !important;
                .font(@openSans, 300, 14px, @black-color01);
                padding-bottom: 10px; 
                .productFamilyHeader{
                    padding-left: 3px;
                }
                .searchHeader{
                    .screen-mob({
                        margin-bottom: 20px;
                    });
                }
            }
            .productFamilyBox {
                .laneTypeBox{
                   padding-left: 5px;
                   .screen-mob({
                       padding-left: 0;
                   });
                }
                .productFamilyHeaderMob{
                    .font( @openSans, 300, 14px, @black-color01);
                    padding-bottom: 20px;
                }
                padding: 0 10px 0 0;
                margin-top: 10px;
                .dropDownSelection {
                    border-bottom: 1px solid;
                    padding: 0;
                    font-size: 14px;
                    padding-right: 15px;
                }
                .vehiclesDropDownBox {
                    padding: 0;
                    .order-history-dropdown-arrow {
                        position: relative;
                        top: -15px;
                    }
                    .shipping-address-dropdown-menu {
                        width: 100%;
                        margin: 0;
                        border: 0;
                        top: 0;
                        li {
                            a {
                                padding: 0 !important;
                                label {
                                    .font(@HelveticaNeue_Light, 300, 12px, @black-color01)
                                }
                            }
                        }
                    }
                }
                .screen-mob({
                    margin-top: 10px;
                    .dropDownSelection {
                        padding-left: 0px;
                        padding-bottom: 5px;
                        border-bottom: 1px solid @black-color01;
                        padding-right: 0px;
                        .font( @openSans, normal, 14px, @black-color01);
                    }
                    .shipping-address-dropdown-arrow {
                        right: 0px;
                        top: -15px;
                    }
                    .shipping-address-dropdown-menu {
                        width: 100%;
                    }
                });
            }

        }
    }
    .trackingInfo {
        position: relative;
        .font( @HelveticaNeueThin, 100, 14px, @black-color01);

        a {
            color: @black-color01;
            .font( @openSans, normal, 14px, @black-color01);
            text-decoration: underline;
        }
    }
    .poInfo{
    	padding: 10px 0 20px 0;
        .font( @HelveticaNeue, normal, 14px, @black-color01);
        .screen-mob({
            padding: 30px 0 20px 0;
        });
    }
/*}*/

@media only screen and (max-width : 768px) {
    footer{
        .links {
            display: none;
        }
        .copy-rights {
            width: 100%;
            text-align: center;
        }
    }
}

