.cat-buttons {
    &.primary-btn {
        outline: 0;
        background-color: @grey07;
        border: solid 1px @grey10;
        .font(@openSans_Bold, bold, 14px, @grey03);
        text-transform: uppercase;
        padding: 12px 30px;
        line-height: 14px;
        &.disabled {
            cursor: not-allowed;
            background-color: @grey14;
            color: @grey03;
            border: 0px;
        }
    }
    &.secondary-btn {
        background-color: @white;
        border: solid 1px @grey10;
        .font(@openSans_Bold, bold, 14px, @black-color01);
        text-transform: uppercase;
        padding: 12px 30px;
        line-height: 14px;
        &.disabled {
            cursor: not-allowed;
            color: @grey10;
        }
    }
    &.drop-down-button {
        padding: 0px;
        .drop-down-button {
            padding: 0px;
            background-color: #fff;
            border-bottom: solid 1px #4a4a4a;
            box-shadow: none;
            &.disabled {
                border-bottom: solid 1px #cccccc;
                .text {
                    color: #cccccc;
                    text-transform: capitalize;
                }
                .arrow {
                    color: #cccccc;
                }
            }
            &[disabled]{
                background-color: @grey24;
                opacity: 1;
            }
            .text {
                display: inline-block;
                text-transform: capitalize;
                width: 94%;
                text-align: left;
                .font(@HelveticaNeueMedium, normal, 14px, @black-color01);
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .arrow {
                width: 6%;
                color: #000;
                .img {
                    height: 6px;
                }
                i {
                    vertical-align: bottom;
                }
            }
        }
        ul.dropdown-menu {
            padding: 10px 0px 15px 10px;
            max-height: 200px;
            overflow-y: auto;
            li {
                padding: 4px 6px 4px 0px;
                margin-left: 4px;
                text-transform: capitalize;
                font-family: @HelveticaNeue;
                &:hover {
                    padding-bottom: 4px;
                    font-weight: bold;
                    border-bottom: solid 1px #ffcc00;
                    cursor: pointer;
                }
            }
        }
    }
}