.cat-inputs {
    &.type1 {
        border: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid @grey10;
        min-height: 25px;
        -webkit-transition: border 100ms ease-in;
        -moz-transition: border 100ms ease-in;
        -o-transition: border 100ms ease-in;
        .font(@HelveticaNeueMedium, 300, 14px, @black-color01);
        &:focus {
            outline: none;
            border-bottom-color: @sunflower-yellow;
        }
        &::placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &::-webkit-input-placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &:-moz-placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &:-ms-input-placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &:-moz-placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }

        &.has-error {
            border-color: red;
        }
        &[disabled]{
            background-color: @grey24;
        }
    }
    &.type2 {
        background-color: @grey11;
        border: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid @grey10;
        .font(@HelveticaNeueMedium, 100, 14px, @black-color01);
        &:focus {
            outline: none;
            border-bottom-color: @sunflower-yellow;
        }
        &::placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &::-webkit-input-placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &:-moz-placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &:-ms-input-placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &:-moz-placeholder {
            .font(@HelveticaNeueThin, 100, 14px, @grey10);
            font-style: italic;
        }
        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }
        &.has-error {
            border-color: red;
        }
    }
}

.cat-error {
    &.type1 {
        .font(@openSans, 100, 12px, @red02);
        font-style: italic;
    }
}