.breadcrumb-section {
    background-color: transparent;
    padding-left:0px;
   .font(@HelveticaNeueThin, 100, 16px, @black-color01);
    .breadcrumb {
        .screen-mob({
            padding-left: 10px;
            padding-right: 10px;
        });
        padding-top: 20px;
        padding-bottom: 20px;
       
        background-color: transparent;
        .screen-mob({
            >li::before{
                content: "\f100";
                font-family: FontAwesome;
                padding-right: 10px;
                color: @black-color01;
                font-size: 16px;
                font-weight: initial !important;
                padding-left: 0px;
                }
            });
        >li {
            &:not(:nth-last-child(2)){
                .screen-mob({
                    display: none;
                });
            }
            text-transform: capitalize;
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
            display: initial;
            &.active {
                .font(@HelveticaNeue, 100, 16px, @black-color01);
            }
            a {
                color: @black-color01;
                .screen-mob({
                    font-family: @HelveticaNeue;
                });
                &:hover{
                    text-decoration: underline;
                }
            }
            .screen-tab-desk({
                &+li:before {
                    content: "";
                   background: url(/_ui/responsive/cat/images/breadCrum.png) center right no-repeat;
                   background-size: 10px 10px;
                   margin-right: 10px;
                   font-family: FontAwesome;
                   margin:0 21px 0 17px;
                   color: @black-color01;
                   font-size: 18px;
                   font-weight: initial !important;
                   .screen-mob({
                        content: "\f100";
                        background:none;
                        margin-left : 0;
                    });
               }
            })
        }
    }
}
