/*!
 * CAT Site Version 0.0.1
 * Copyright reserved @Deloitte and CAT
 */
@font-face {
  font-family: 'HelveticaNeue_Light';
  src: url("../fonts/HelveticaNeueLight.eot");
  src: url("../fonts/HelveticaNeueLight.eot?#iefix") format("opentype"), url('../fonts/HelveticaNeueLight.woff2') format('woff2'), url('../fonts/HelveticaNeueLight.woff') format('woff'), url('../fonts/HelveticaNeueLight.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("opentype"), url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/Helvetica-Neue-Bold.eot");
  src: url("../fonts/Helvetica-Neue-Bold.eot?#iefix") format("opentype"), url('../fonts/Helvetica-Neue-Bold.woff2') format('woff2'), url('../fonts/Helvetica-Neue-Bold.woff') format('woff'), url('../fonts/Helvetica-Neue-Bold.ttf') format('truetype');
  font-style: bold;
}
@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url("../fonts/HelveticaNeue Medium.eot");
  src: url("../fonts/HelveticaNeue Medium.eot?#iefix") format("opentype"), url('../fonts/HelveticaNeue Medium.woff2') format('woff2'), url('../fonts/HelveticaNeue Medium.woff') format('woff'), url('../fonts/HelveticaNeue Medium.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueThin';
  src: url("../fonts/HelveticaNeue-Thin.eot");
  src: url("../fonts/HelveticaNeue-Thin.eot?#iefix") format("opentype"), url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'), url('../fonts/HelveticaNeue-Thin.woff') format('woff'), url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
  font-style: normal;
}
* {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.cat-container {
  margin: 0px auto;
  width: 95%;
}
@media (min-width: 1240px) {
  .cat-container {
    width: 1080px;
  }
}
body {
  background-color: #f7f7f7;
}
html,
body {
  min-height: 100%;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.cat-loading-spinner {
  border: 5px solid #f4f4f4;
  border-radius: 50%;
  border-top: 5px solid #ffd426;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
header {
  background: none;
  margin-bottom: 0px;
}
header .navigation.navigation--top {
  background-color: #000000;
  padding-left: 0px;
  padding-right: 0px;
}
header .navigation.navigation--top .header-row {
  height: 68px;
}
header .navigation.navigation--top .header-row .nav__left {
  display: inline-block;
  float: left;
  padding-right: 45px;
}
header .navigation.navigation--top .header-row .analytics {
  display: inline-block;
  cursor: pointer;
  padding: 22px 20px;
  border-left: 1px solid #5f5f5f;
  color: #fff;
  text-transform: uppercase;
  border-right: 1px solid #5f5f5f;
  font-weight: bold;
  font-size: 16px;
}
header .navigation.navigation--top .header-row .analytics a {
  color: #fff;
}
header .navigation.navigation--top .header-row .nav__right .nav__links {
  border-right: 1px solid #5f5f5f;
}
header .navigation.navigation--top .header-row .nav__right .nav__links li {
  cursor: pointer;
  padding: 24px 18px;
  border-left: 1px solid #5f5f5f;
  color: #fff;
  text-transform: uppercase;
}
header .navigation.navigation--top .header-row .nav__right .nav__links li a {
  padding: 0px;
  color: #fff;
  font-weight: bold;
}
header .navigation.navigation--top .header-row .nav__right .nav__links li img.userProfile-icon {
  top: -3px;
  position: relative;
  padding-right: 5px;
  width: 17px;
}
header .navigation.navigation--top .header-row .nav__right .nav__links li img.lock-icon {
  top: -3px;
  position: relative;
  padding-right: 5px;
  width: 17px;
}
header .navigation.navigation--top .banner__component {
  width: 70px;
  height: 40px;
  overflow: hidden;
  position: relative;
  top: 9px;
}
header .navigation.navigation--top .banner__component img {
  height: 70px;
}
header .navigation.navigation--middle {
  min-height: 15px;
  background-color: #ffd426;
}
header .navigation--bottom {
  position: inherit;
  border-bottom: none;
  color: #000000;
}
@media (min-width: 768px) {
  header .navigation--bottom {
    background-color: #ffcc00;
  }
  header .navigation--bottom .navigation__overflow ul.desktop-nav-menu li:first-child {
    padding-left: 0px;
  }
  header .navigation--bottom .navigation__overflow ul.desktop-nav-menu li:first-child a {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  header .navigation--bottom .navigation__overflow.cat-container {
    margin: inherit;
  }
  header .navigation--bottom .nav__link {
    padding: 20px 15px 20px 27px;
  }
  header .navigation--bottom .nav__link .parentLink {
    float: left;
    width: 100%;
    padding: 0px;
    cursor: pointer;
  }
  header .navigation--bottom .nav__links--products li a {
    padding: 0px;
  }
  header .navigation--bottom .nav__links--primary-has__sub .nav__link {
    width: 100%;
  }
}
@media (max-width: 767px) {
  header .cat-menu-naivation .mobile-navigation {
    top: -1px;
  }
}
@media (max-width: 767px) {
  header .cat-menu-naivation .main-navigation-container {
    width: 80%;
    margin-top: 73px !important;
  }
  header .cat-menu-naivation .main-navigation-container .liUserSign {
    padding: 18px 20px;
    background-color: #000000;
  }
  header .cat-menu-naivation .main-navigation-container .liUserSign img {
    padding-right: 11px;
    height: 24.3px;
    top: -3px;
  }
  header .cat-menu-naivation .main-navigation-container .liUserSign .userSign {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
  }
  header .cat-menu-naivation .main-navigation-container .liUserSign:hover {
    background-color: #292929;
  }
  header .cat-menu-naivation .main-navigation-container .js-myAccountLinksContainer {
    display: none;
  }
}
@media (min-width: 768px) {
  header .cat-menu-naivation .main-navigation-container ul.nav__links li:nth-child(2) {
    padding-left: 0px !important;
  }
  header .cat-menu-naivation .main-navigation-container ul.nav__links li:nth-child(2) a {
    padding-left: 0px !important;
  }
}
@media (min-width: 768px) {
  header .cat-menu-naivation .main-navigation-container .primary-link {
    padding: 0px 20px 0px 20px;
  }
}
header .cat-menu-naivation .main-navigation-container .primary-link .nav__link .parentLink {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #000000;
  padding-top: 8px;
}
@media (min-width: 768px) {
  header .cat-menu-naivation .main-navigation-container .primary-link .nav__link .parentLink {
    font-weight: bold;
    padding-bottom: 9px;
    padding-right: 0px;
  }
  header .cat-menu-naivation .main-navigation-container .primary-link .nav__link .parentLink.active {
    border-bottom: solid 3px #000000;
    padding-bottom: 6px;
  }
  header .cat-menu-naivation .main-navigation-container .primary-link .nav__link .parentLink:hover {
    border-bottom: solid 3px #000000;
    padding-bottom: 6px;
    cursor: pointer;
  }
}
header .cat-menu-naivation .sunYellowBorder {
  min-height: 5px;
  background-color: #ffd426;
}
header .cat-menu-naivation .lightYellowBorder {
  min-height: 5px;
  background-color: #ffde59;
}
.branding-mobile {
  background-color: #000000;
  height: 44px;
}
.branding-mobile .js-mobile-logo {
  width: 60px;
  overflow: hidden;
  height: 29px;
  display: inline-block;
}
.branding-mobile .js-mobile-logo img {
  width: 150px;
}
.branding-mobile .mobile-hamburger {
  vertical-align: top;
  padding: 0px;
  background: transparent;
  display: inline;
}
.branding-mobile .mobile-hamburger .cat-hamburger-menu {
  padding: 0px;
  top: -14px;
  position: relative;
  margin-right: 20px;
}
.branding-mobile .mobile-hamburger .cat-hamburger-menu > .divider {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}
.branding-mobile .mobile-hamburger .cat-hamburger-menu > .divider:not(:last-child) {
  margin-bottom: 8px;
}
footer {
  margin-top: 30px;
}
#cat-navigation-menu {
  background-color: #000000;
  visibility: hidden;
  position: absolute;
  z-index: 9998;
}
@media (max-width: 767px) {
  #cat-navigation-menu {
    display: none !important;
    visibility: hidden;
  }
}
#cat-navigation-menu.active,
#cat-navigation-menu:hover {
  visibility: visible !important;
}
#cat-navigation-menu .subCat-box {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
}
#cat-navigation-menu .subCat-box div.desk-menu {
  padding: 0px;
}
#cat-navigation-menu .subCat-box div.desk-menu div.border-right:not(:last-child) {
  border-right: solid 1px #414141;
}
#cat-navigation-menu .subCat-box .border-right {
  padding-right: 0px;
  padding-left: 0px;
}
#cat-navigation-menu .subCat-box a.nav-link-desktop {
  padding: 10px 22px;
  font-family: HelveticaNeueThin;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
}
#cat-navigation-menu .subCat-box a.nav-link-desktop:hover {
  background-color: #292929;
}
#cat-navigation-menu .subCat-box:hover {
  visibility: visible !important;
}
#cat-navigation-menu .active {
  display: inline-block !important;
}
@media (max-width: 767px) {
  .offcanvas .sticky-nav-top .userGroup {
    background-color: #000;
    height: 72px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding-top: 10px;
  }
  .offcanvas .sticky-nav-top .userGroup .userName a {
    color: #ffffff;
    padding-left: 10px;
  }
  .offcanvas .sticky-nav-top .userGroup .userName img.userProfile-icon {
    width: 19px;
    position: relative;
    top: -2px;
  }
}
.offcanvas .sticky-nav-top .close-nav {
  display: none;
}
.offcanvas .sticky-nav-top .js-myAccountLinksContainer {
  display: none;
}
.subCat-box-mob {
  display: none;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .subCat-box-mob {
    display: none !important;
  }
}
.subCat-box-mob li {
  border-bottom: transparent !important;
  padding: 10px 40px;
}
.subCat-box-mob li a {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  color: #000000;
}
.subCat-box-mob.active {
  display: block;
}
.js-mobile-logo {
  display: inline-block;
}
.login-section .login-page__headline {
  padding-top: 59px;
  padding-bottom: 64px;
  font-family: OpenSans;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.8px;
  text-align: center;
  text-transform: uppercase;
}
.login-section .login-form {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 4px rgba(186, 186, 186, 0.33);
  padding-top: 70px;
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .login-section .login-form {
    width: 640px;
    margin-bottom: 100px;
  }
}
.login-section .login-form input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
  padding-right: 30px;
  height: 55px;
  padding-left: 0px;
}
.login-section .login-form button {
  width: 120px;
  margin: 0px auto;
  background-color: #3f3f3f;
  border: solid 1px #979797;
  margin-top: 40px;
}
.login-section .login-form button:hover {
  background-color: #ffd426;
}
.login-section .login-form #loginForm {
  width: 90%;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .login-section .login-form #loginForm {
    width: 420px;
  }
}
.login-section .login-form #loginForm .forgotten-password {
  color: #000000;
  margin-top: 25px;
}
.login-section .login-form #loginForm .forgotten-password a {
  color: #000000;
}
.login-section .login-form #loginForm .forgotten-password a:hover {
  color: #000000;
}
.login-section .login-form #loginForm .form-group .input-icon {
  position: relative;
  top: -37px;
  left: 95%;
}
.my-profile .profile-container {
  margin: 0px;
}
@media (min-width: 768px) {
  .my-profile .profile-container {
    background-color: #000000;
    border: solid 1px #cdcdcd;
  }
}
.my-profile .left-content {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  padding: 33px 39px;
}
@media (max-width: 767px) {
  .my-profile .left-content {
    padding: 10px;
  }
}
.my-profile .left-content .heading {
  font-size: 20px;
  margin-bottom: 28px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 767px) {
  .my-profile .left-content .heading {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
.my-profile .left-content .user-name {
  margin-bottom: 15px;
  font-size: 24px;
  text-align: left;
  color: #ffffff;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 767px) {
  .my-profile .left-content .user-name {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.my-profile .left-content .user-email {
  margin-bottom: 8px;
  font-family: "HelveticaNeue_Light";
}
@media (max-width: 767px) {
  .my-profile .left-content .user-email {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }
}
.my-profile .left-content .user-contact {
  margin-bottom: 24px;
  font-family: "HelveticaNeue_Light";
  font-size: 14px;
}
@media (max-width: 767px) {
  .my-profile .left-content .user-contact {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }
}
@media (max-width: 767px) {
  .my-profile .left-content .user-password {
    text-align: center;
  }
}
.my-profile .left-content .update-password {
  min-height: 35px;
  background-color: #3f3f3f;
  text-transform: uppercase;
  border: solid 1px #979797;
  color: #ffffff;
}
@media (max-width: 767px) {
  .my-profile .left-content .update-password {
    text-align: center;
  }
}
.my-profile .right-content {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .my-profile .right-content {
    background-color: #ffffff;
    padding-top: 33px;
  }
}
.my-profile .right-content .heading {
  margin-bottom: 30px;
  height: 24px;
  font-size: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
@media (max-width: 767px) {
  .my-profile .right-content .heading {
    font-size: 12px;
    margin-bottom: 15px;
  }
}
.my-profile .right-content .border-top {
  border-top: solid 1px #d1d1d1;
}
.my-profile .right-content .dealer-info {
  padding-bottom: 40px;
  padding-left: 35px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .my-profile .right-content .dealer-info {
    background-color: #ffffff;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 22px;
  }
}
.my-profile .right-content .shipping-info {
  padding-top: 33px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .my-profile .right-content .shipping-info {
    background-color: #ffffff;
    border-top: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 14px;
  }
}
.my-profile .right-content .billing-info {
  padding-top: 33px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .my-profile .right-content .billing-info {
    background-color: #ffffff;
    border-top: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 14px;
  }
}
.my-profile .right-content .user-profile-cell {
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  color: #000000;
}
@media (max-width: 767px) {
  .my-profile .right-content .user-profile-cell {
    padding-bottom: 10px;
  }
}
.my-profile .right-content .user-profile-cell label {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "HelveticaNeue_Light";
}
@media (max-width: 767px) {
  .my-profile .right-content .user-profile-cell label {
    margin-bottom: 0px;
  }
}
.my-profile .right-content .user-profile-cell div {
  display: block;
  font-family: "HelveticaNeueMedium";
}
@media (min-width: 768px) {
  .my-profile .right-content .user-profile-cell div {
    display: inline-block;
  }
}
.breadcrumb-section {
  background-color: transparent;
  padding-left: 10px;
  font-family: "HelveticaNeue_Light";
}
.breadcrumb-section .breadcrumb {
  background-color: transparent;
}
.breadcrumb-section .breadcrumb > li {
  text-transform: capitalize;
  font-family: "HelveticaNeueThin";
  font-size: 16px;
  font-weight: 100;
}
.breadcrumb-section .breadcrumb > li.active {
  font-weight: bold;
}
.breadcrumb-section .breadcrumb > li a {
  color: #000000;
}
.breadcrumb-section .breadcrumb > li + li:before {
  content: "\f101";
  font-family: FontAwesome;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  font-weight: initial !important;
}
.cat-card-container {
  width: 100%;
  background-color: #ffffff;
  border: solid 2px #f4f4f4;
}
.cat-card-container .header-content {
  cursor: pointer;
  padding: 0px;
}
.cat-card-container .header-content .super-header {
  margin: 0px;
  font-family: "HelveticaNeue_Light";
  font-size: 14px;
  text-align: left;
  color: #9b9b9b;
}
.cat-card-container .header-content .super-header > div {
  padding: 0px;
}
.cat-card-container .header-content .super-header .super-header-text {
  padding: 10px 30px 0px;
}
.cat-card-container .header-content .super-header img {
  position: absolute;
  right: 0px;
  background-color: #f7f7f7;
}
.cat-card-container .header-content .image {
  margin: 10px 10px 0px;
}
.cat-card-container .header-content .image > div {
  background-color: #f4f4f4;
  padding: 0px;
}
.cat-card-container .header-content .image .product-image img {
  width: 100%;
  display: inline-block;
  float: left;
}
.cat-card-container .header-content .image .favorite .book-marked {
  cursor: pointer;
}
.cat-card-container .header-content .image .favorite img.book-marked {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cat-card-container .header-content .image .favorite img.not-book-marked {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cat-card-container .body-content {
  cursor: pointer;
}
.cat-card-container .body-content .main-header {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.cat-card-container .body-content .sp-card-header {
  margin: 0px;
  border: solid 1px #f4f4f4;
  margin-bottom: 10px;
}
.cat-card-container .body-content .sp-card-header .main-header {
  padding: 20px;
}
.cat-card-container .body-content .sub-header {
  font-family: "HelveticaNeueThin";
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.cat-card-container .body-content .info {
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}
.cat-card-container .body-content .info > div.row {
  padding-top: 10px;
}
.cat-card-container .body-content .info .text {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-align: left;
  color: #000000;
}
.cat-card-container .body-content .info .value {
  font-family: "HelveticaNeueThin";
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  color: #000000;
}
.cat-card-container .footer-content {
  border-top: solid 2px #f4f4f4;
  padding: 15px;
}
.cat-card-container .footer-content .in-stock {
  font-family: "HelveticaNeueThin";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #979797;
}
.cat-card-container .footer-content .out-of-stock .quantity {
  margin: 0px auto;
  width: 145px;
  text-align: center;
  padding-bottom: 15px;
}
.cat-card-container .footer-content .out-of-stock .quantity input {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
.cat-card-container .footer-content .out-of-stock .quantity i.fa {
  font-size: 17px;
  cursor: pointer;
}
.cat-card-container .footer-content .out-of-stock .reorder {
  margin: 0px auto;
  width: 145px;
}
.cat-card-container .footer-content .out-of-stock .reorder button {
  background-color: #ffffff;
  border: solid 1px #4a4a4a;
  text-transform: uppercase;
  padding: 10px 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.single-card {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
slider {
  display: block;
}
slider .owl-prev i {
  color: #000;
  font-size: 45px;
}
slider .owl-next i {
  color: #000;
  font-size: 45px;
}
slider.owl-carousel .owl-controls .owl-buttons .owl-prev,
slider.owl-carousel .owl-controls .owl-buttons .owl-next {
  width: 65px;
}
slider.owl-carousel .owl-controls .owl-buttons .owl-prev:before,
slider.owl-carousel .owl-controls .owl-buttons .owl-next:before {
  content: none;
}
slider.owl-carousel .owl-controls .owl-buttons .owl-prev {
  text-align: left;
}
slider.owl-carousel .owl-controls .owl-buttons .owl-next {
  text-align: right;
}
slider.owl-carousel .owl-wrapper-outer {
  margin-left: 10px;
}
slider.owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item .single-card {
  width: 100%;
}
.recently-viewed .header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  color: #000000;
}
.recently-viewed .empty {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  font-style: italic;
  text-align: left;
}
.recently-viewed .products {
  padding-top: 40px;
}
.favorite-products .header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  color: #000000;
}
.favorite-products .empty {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  font-style: italic;
  text-align: left;
}
.favorite-products .products {
  padding-top: 40px;
}
.favorite-products .products .single-card {
  padding: 30px;
}
.low-stock .low-stock-content {
  margin: 0px;
  border: solid 1px #d0011b;
  padding: 20px;
}
.low-stock .low-stock-content .manage-order {
  background-color: #3f3f3f;
  border: solid 1px #979797;
  padding: 10px 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.low-stock .low-stock-content .warning {
  width: 25px;
}
.low-stock .low-stock-content .alert-text {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  vertical-align: middle;
  margin-left: 20px;
}
.low-stock .low-stock-content .warning-message {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  text-align: left;
}
.landingPage {
  min-height: 100vh;
}
.landingPage .user-information {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.6px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .landingPage .user-information {
    font-size: 24px;
    letter-spacing: -0.7px;
    margin-bottom: 58px;
  }
}
.landingPage .landing-dropdown {
  padding-bottom: 52px;
}
.landingPage .landing-dropdown .header {
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: #000000;
  padding-left: 10px;
}
.landingPage .landing-dropdown .cat-dropdown {
  padding: 0px;
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button {
  text-transform: capitalize;
  border: none;
  margin-top: 0px;
  padding: 0px;
  box-shadow: none;
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button.disabled > .arrow {
  background-color: #cccccc;
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button .text {
  height: 60px;
  width: 90%;
  padding: 22px 40px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  color: #000000;
  float: left;
  background-color: #fff;
}
@media (min-width: 768px) {
  .landingPage .landing-dropdown .cat-dropdown .drop-down-button .text {
    width: 94%;
  }
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button .arrow {
  height: 60px;
  width: 10%;
  background-color: #ffcc00;
}
@media (min-width: 768px) {
  .landingPage .landing-dropdown .cat-dropdown .drop-down-button .arrow {
    width: 6%;
  }
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button .arrow img {
  top: 18px;
  position: relative;
}
.landingPage .landing-dropdown .cat-dropdown ul.dropdown-menu {
  border: none;
  padding-top: 0px;
  box-shadow: 0 15px 18px 0 rgba(231, 231, 231, 0.5);
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.landingPage .landing-dropdown .cat-dropdown ul.dropdown-menu li {
  text-transform: capitalize;
  padding: 8px 40px;
}
.landingPage .landing-dropdown .cat-dropdown ul.dropdown-menu li:hover {
  cursor: pointer;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  background-color: #dfdfdf;
}
.landingPage .landing-search-button {
  padding-top: 15px;
}
.landingPage .landing-search-button .btn-container {
  width: 132px;
  margin: 0px auto;
}
.landingPage .landing-search-button .btn-container button {
  font-family: 'Open Sans', sans-serif;
  background-color: #3f3f3f;
  border: solid 1px #979797;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding: 12px 28px;
}
.landingPage .landing-search-button .btn-container button[disabled=disabled] {
  background-color: #cccccc;
  border: none;
  cursor: not-allowed;
}
.landingPage .low-stock {
  margin-top: 50px;
}
.landingPage .recently-viewed {
  margin-top: 60px;
}
.landingPage .favorite-products {
  margin-top: 60px;
}
footer {
  background-color: #000;
  padding-top: 0px;
  padding-top: 16px;
  padding-bottom: 19px;
  font-family: ;
}
footer .links {
  text-align: left;
  padding: 0px;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
}
footer .links a {
  font-family: "HelveticaNeue_Light";
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
}
footer .links.verticalDivider {
  padding-left: 2px;
}
footer .copy-rights {
  text-align: right;
  padding: 0px;
  font-size: 12px;
  font-weight: 300;
}
#catMobileNavMenu[data-sidebar] {
  display: none;
  position: absolute;
  height: 100vh;
  width: 260px;
  overflow-y: auto;
  z-index: 10000;
}
@media (min-width: 768px) {
  #catMobileNavMenu[data-sidebar] {
    display: none !important;
  }
}
#catMobileNavMenu #catNavMenuContainer #catNavMenuprofile {
  position: fixed;
  width: 260px;
  height: 72px;
  background-color: #000000;
  padding: 25px 20px;
}
#catMobileNavMenu #catNavMenuContainer #catNavMenuprofile .userProfile-icon {
  height: 25px;
}
#catMobileNavMenu #catNavMenuContainer #catNavMenuprofile a {
  font-family: "open sans";
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  padding-left: 10px;
  vertical-align: bottom;
}
#catMobileNavMenu #catNavMenuContainer #navigationLinks {
  position: relative;
  top: 71px;
}
#catMobileNavMenu #catNavMenuContainer #navigationLinks ul#mobileNavMenu {
  list-style: none;
  padding-left: 0px;
}
#catMobileNavMenu #catNavMenuContainer #navigationLinks ul#mobileNavMenu > li {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}
#catMobileNavMenu #catNavMenuContainer #navigationLinks ul#mobileNavMenu > li:not(:last-child) {
  border-bottom: solid 1px #f0f0f0;
}
#catMobileNavMenu #catNavMenuContainer #navigationLinks ul#mobileNavMenu > li a {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}
#catMobileNavMenu #catNavMenuContainer #navigationLinks ul#mobileNavMenu li {
  min-height: 40px;
  padding: 10px 20px;
  cursor: pointer;
}
#catMobileNavMenu #catNavMenuContainer #navigationLinks ul#mobileNavMenu li ul {
  list-style: none;
}
#catMobileNavMenu #catNavMenuContainer #navigationLinks ul#mobileNavMenu li ul li {
  cursor: pointer;
}
#catMobileNavMenu #catNavMenuContainer #logout {
  height: 53px;
  background-color: #000000;
  padding: 15px 20px;
  position: fixed;
  top: 90vh;
  width: 260px;
}
#catMobileNavMenu #catNavMenuContainer #logout a {
  font-family: "open sans";
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  vertical-align: bottom;
}
#catMobileNavMenu #catNavMenuContainer #logout img {
  width: 19px;
  margin-right: 11px;
}
#catMobileNavOverlay[data-sidebar-overlay] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  z-index: 9999;
}
@media (min-width: 768px) {
  #catMobileNavOverlay[data-sidebar-overlay] {
    display: none !important;
  }
}
#catMobileNavMenu[data-sidebar] {
  background-color: #ffffff;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.5);
}
#catMobileNavMenu[data-sidebar] a {
  color: #aaa;
  text-decoration: none;
}
.overlay {
  background-color: #444;
}
#plp-container {
  background-color: #ffffff;
  min-height: 30vh;
}
#plp-container .page-loader {
  min-height: 80vh;
}
#plp-container .page-loader .cat-loading-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
}
#plp-container #plp-facet-container {
  border-right: solid 1px #d1d1d1;
  padding: 0px;
}
@media (max-width: 767px) {
  #plp-container #plp-facet-container {
    display: none !important;
  }
}
#plp-container #plp-facet-container .cat-search-parameters .params {
  border-bottom: solid 1px #cdcdcd;
  padding: 30px 20px 35px 30px;
}
#plp-container #plp-facet-container .cat-search-parameters .params .param-head {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-align: left;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec {
  margin-bottom: 16px;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  padding-bottom: 5px;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row {
  margin-left: 0px;
  margin-right: 0px;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown {
  padding: 0px;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown .drop-down-button {
  padding: 0px;
  background-color: #fff;
  border-bottom: solid 1px #4a4a4a;
  box-shadow: none;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown .drop-down-button.disabled {
  border-bottom: solid 1px #cccccc;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown .drop-down-button.disabled .text {
  color: #cccccc;
  text-transform: capitalize;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown .drop-down-button.disabled .arrow {
  color: #cccccc;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown .drop-down-button .text {
  display: inline-block;
  text-transform: capitalize;
  width: 94%;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown .drop-down-button .arrow {
  width: 6%;
  color: #000;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown .drop-down-button .arrow .img {
  height: 6px;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown .drop-down-button .arrow i {
  vertical-align: bottom;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown ul.dropdown-menu {
  padding: 0px;
  max-height: 200px;
  overflow-y: auto;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown ul.dropdown-menu li {
  padding: 4px 6px;
  text-transform: capitalize;
}
#plp-container #plp-facet-container .cat-search-parameters .params .params-sec .params-sec-row .params-sec-dropdown ul.dropdown-menu li:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}
#plp-container #plp-facet-container .cat-search-parameters .params .update-btn {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 8px 22px;
  background-color: #3f3f3f;
}
#plp-container #plp-facet-container .cat-search-parameters .params .update-btn.disabled {
  background-color: #404040;
}
#plp-container #plp-facet-container .cat-location-types .filters,
#plp-container #plp-facet-container #nav-mobile-locations .filters {
  padding: 30px;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-copy,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-copy {
  width: 53px;
  height: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  display: inline;
  padding-bottom: 2px;
  border-bottom: 3px solid #ffd426;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-desc,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-desc {
  padding-top: 17px;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-desc .location-Type,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-desc .location-Type {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  text-align: left;
  padding-bottom: 20px;
  text-transform: uppercase;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-desc .filter-checkgrp,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-desc .filter-checkgrp {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 6px;
  margin-left: 0px;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-desc .filter-checkgrp .flit-text,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-desc .filter-checkgrp .flit-text {
  display: inline-block;
  width: 90%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-desc .filter-checkgrp .flit-text.disabled,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-desc .filter-checkgrp .flit-text.disabled {
  color: #cccccc;
  cursor: not-allowed;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-desc .filter-checkgrp .box-rect,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-desc .filter-checkgrp .box-rect {
  position: absolute;
  top: 3px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 1.5px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: solid 1px #979797;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-desc .filter-checkgrp .filter-check,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-desc .filter-checkgrp .filter-check {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-desc .filter-checkgrp .filter-check[disabled=disabled] + .box-rect,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-desc .filter-checkgrp .filter-check[disabled=disabled] + .box-rect {
  border: solid 1px #cccccc;
  cursor: not-allowed;
}
#plp-container #plp-facet-container .cat-location-types .filters .filter-desc .filter-checkgrp .filter-check:checked + .box-rect,
#plp-container #plp-facet-container #nav-mobile-locations .filters .filter-desc .filter-checkgrp .filter-check:checked + .box-rect {
  background-color: #ffd426;
}
@media (min-width: 768px) {
  #plp-container #plp-results-container {
    border-left: solid 1px #d1d1d1;
    margin-left: -1px;
    padding-bottom: 45px;
    padding-right: 20px;
    padding-left: 10px;
  }
}
#plp-container #plp-results-container .plp-results .item {
  padding-top: 45px;
  padding-left: 20px;
}
@media (max-width: 767px) {
  #plp-container #plp-results-container .plp-results .item {
    position: relative !important;
    left: inherit !important;
    top: inherit !important;
  }
}
#plp-container #plp-results-container .plp-results .item .item-header {
  font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #9b9b9b;
  text-align: left;
  padding-bottom: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#plp-container #plp-results-container .plp-results .item .item-detail {
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#plp-container #plp-results-container .plp-results .item .item-detail:hover {
  box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px) translateX(2px);
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-image {
  background-color: #f4f4f4;
}
@media (min-width: 768px) {
  #plp-container #plp-results-container .plp-results .item .item-detail .item-image {
    height: 133px;
    padding: 10px;
  }
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-image img {
  width: 100%;
  height: 113px;
}
@media (max-width: 767px) {
  #plp-container #plp-results-container .plp-results .item .item-detail .item-image img {
    height: 220px;
  }
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-desc {
  border: solid 1px #f4f4f4;
  color: #000000;
  text-align: left;
  padding: 14px 11px 10px 11px;
}
@media (max-width: 767px) {
  #plp-container #plp-results-container .plp-results .item .item-detail .item-desc .view-more {
    font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #9b9b9b;
    padding-right: 15px;
  }
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-main {
  font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  padding-bottom: 16px;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  #plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-details {
    display: block !important;
  }
}
@media (max-width: 767px) {
  #plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-details {
    display: none;
  }
  #plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-details .view-less {
    font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #9b9b9b;
    padding-right: 15px;
  }
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-details .item-engine-head {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000000;
  padding-bottom: 5px;
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-details .item-engine-desc {
  font-family: "HelveticaNeueMedium", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  padding-bottom: 12px;
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-details .item-power-head {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000000;
  padding-bottom: 5px;
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-details .item-power-desc {
  font-family: "HelveticaNeueMedium", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  text-align: left;
  padding-bottom: 12px;
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-details .item-optwt-head {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000000;
  text-align: left;
  padding-bottom: 5px;
}
#plp-container #plp-results-container .plp-results .item .item-detail .item-desc .item-details .item-opt-desc {
  font-family: "HelveticaNeueMedium", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}
#plp-container #plp-results-container .searching-failed,
#plp-container #plp-results-container .empty-results {
  height: 60vh;
}
#plp-container #plp-results-container .searching-failed .error,
#plp-container #plp-results-container .empty-results .error,
#plp-container #plp-results-container .searching-failed .empty,
#plp-container #plp-results-container .empty-results .empty {
  height: 100%;
  position: relative;
  top: 20%;
  margin: 0px auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
#plp-container #plp-results-container .searching-failed .error .header,
#plp-container #plp-results-container .empty-results .error .header,
#plp-container #plp-results-container .searching-failed .empty .header,
#plp-container #plp-results-container .empty-results .empty .header {
  border-bottom: 1px solid #ffd426;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: bold;
}
#plp-container .nav-mobile {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 9997;
}
@media (min-width: 768px) {
  #plp-container .nav-mobile {
    display: none;
  }
}
#plp-container .nav-mobile .nav-mobile-contnet > div {
  display: none;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection {
  background-color: #f7f7f7;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-locations {
  background-color: #f7f7f7;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-locations .filter-checkgrp {
  display: block;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-locations .filter-checkgrp .flit-text {
  display: inline-block;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-locations .filter-checkgrp .filter-check {
  float: right;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-locations .filter-checkgrp .box-rect {
  position: inherit;
  float: right;
  top: 3px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 1.5px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: solid 1px #979797;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-locations .filter-checkgrp .filter-check {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-locations .filter-checkgrp .filter-check[disabled=disabled] + .box-rect {
  border: solid 1px #cccccc;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-locations .filter-checkgrp .filter-check:checked + .box-rect {
  background-color: #ffd426;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection {
  padding: 10px;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection .params-sec {
  padding-bottom: 30px;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection .params-sec .params-sec-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  padding-bottom: 10px;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection .params-sec .params-sec-dropdown .drop-down-button {
  padding: 0px;
  background-color: #ffffff;
  box-shadow: none;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection .params-sec .params-sec-dropdown .drop-down-button .text {
  display: inline-block;
  height: 50px;
  width: 88%;
  padding: 15px 15px;
  font-family: "HelveticaNeueThin", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #000000;
  text-align: left;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection .params-sec .params-sec-dropdown .drop-down-button .arrow {
  width: 12%;
  background-color: #ffcc00;
  height: 50px;
  margin: 0px auto;
  padding: 21px 14px;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection .update-btn-container {
  width: 132px;
  margin: 0px auto;
  padding-bottom: 20px;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection .update-btn-container button {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #f0f0f0;
  background-color: #3f3f3f;
}
#plp-container .nav-mobile .nav-mobile-contnet #nav-mobile-selection .update-btn-container button.disabled {
  background-color: #404040;
}
#plp-container .nav-mobile .nav-mobile-tabs .tabs-container {
  display: flex;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  clear: both;
  color: white;
  text-transform: uppercase;
}
#plp-container .nav-mobile .nav-mobile-tabs .tabs-container .select-tab {
  background-color: #000;
  width: 50%;
  float: left;
}
#plp-container .nav-mobile .nav-mobile-tabs .tabs-container .select-tab .selection {
  padding: 11px 0;
}
#plp-container .nav-mobile .nav-mobile-tabs .tabs-container .loacate-tab {
  background-color: #000;
  width: 50%;
  float: right;
  border-left: solid 2px #f0f0f0;
}
#plp-container .nav-mobile .nav-mobile-tabs .tabs-container .loacate-tab .location {
  padding: 11px 0;
}
#plp-container .pagination-container {
  background-color: #f7f7f7;
  padding-top: 12px;
}
#plp-container .pagination-container .pagination li a {
  color: #000;
  background-color: #f7f7f7;
}
#plp-container .pagination-container .pagination li.active a {
  font-weight: bolder;
}
#plp-container .pagination-container > div {
  padding-right: 10px;
}
#plp-container .pagination-container .pagination-first {
  display: none;
}
#plp-container .pagination-container .pagination-last {
  display: none;
}
#plp-container .pagination-container .pagination-prev a,
#plp-container .pagination-container .pagination-next a {
  background-color: #f7f7f7;
  font-size: 21px;
  color: #000;
}
#plp-container .pagination-container .pagination-first a,
#plp-container .pagination-container .pagination-last a {
  background-color: #f7f7f7;
}
#plp-container .pagination-container .pagination-page a {
  font-family: "HelveticaNeueThin", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #000000;
}
#plp-container #catSearchMobileNavOverlay[data-sidebar-overlay] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  z-index: 9996;
}
@media (min-width: 768px) {
  #plp-container #catSearchMobileNavOverlay[data-sidebar-overlay] {
    display: none !important;
  }
}
#pdp-container {
  background-color: #ffffff;
}
#pdp-container > div.row {
  margin: 0px;
}
#pdp-container .left-content {
  padding: 0px;
}
@media (min-width: 768px) {
  #pdp-container .left-content {
    border-right: solid 1px #d1d1d1;
  }
}
#pdp-container .right-content {
  margin-left: -1px;
}
@media (min-width: 768px) {
  #pdp-container .right-content > .row {
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  #pdp-container .right-content > .row {
    margin-left: 10px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  #pdp-container .right-content > .row.parts-attachments {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  #pdp-container .right-content > .row.parts-attachments {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 768px) {
  #pdp-container .right-content {
    padding-top: 30px;
    border-left: solid 1px #d1d1d1;
  }
}
@media (max-width: 767px) {
  #pdp-container .right-content {
    padding-top: 10px;
  }
}
#pdp-container .right-content .product-details {
  padding-left: 15px;
  padding-right: 25px;
}
#pdp-container .right-content .product-details.page-title {
  padding: 0px;
  margin-bottom: 10px;
}
#pdp-container .right-content .product-details.page-title .name {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}
#pdp-container .right-content .product-details .description {
  padding-bottom: 30px;
  border-bottom: none;
  font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
}
#pdp-container .right-content .product-details .inventory-details .inventory-table {
  background-color: #f6f6f6;
}
#pdp-container .right-content .product-details .inventory-details .inventory-table .row-header {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  padding: 15px 15px 6px 15px;
  border-bottom: solid 1px #d1d1d1;
  margin: 0px;
}
#pdp-container .right-content .product-details .inventory-details .header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 6px;
}
#pdp-container .right-content .product-details .inventory-details .stock-details {
  margin: 0px 10px;
  padding: 15px 5px;
}
#pdp-container .right-content .product-details .inventory-details .stock-details:not(:last-child) {
  border-bottom: solid 1px #d1d1d1;
}
#pdp-container .right-content .product-details .inventory-details .stock-details .warehouse-name {
  font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  word-wrap: break-word;
}
#pdp-container .right-content .product-details .inventory-details .stock-details .ware-house-address {
  font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  text-transform: capitalize;
  word-wrap: break-word;
}
#pdp-container .right-content .product-details .inventory-details .stock-details .stock-cont {
  font-family: "HelveticaNeueMedium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
#pdp-container .right-content .image-container .main-image {
  width: 100%;
}
#pdp-container .right-content .tabs-responsive.tabs {
  margin-top: 20px;
}
@media (max-width: 767px) {
  #pdp-container .right-content .tabs-responsive.tabs {
    border-top: none;
  }
}
#pdp-container .right-content .tabs-responsive.tabs ul.tabs-list {
  margin: 0px;
}
@media (min-width: 768px) {
  #pdp-container .right-content .tabs-responsive.tabs ul.tabs-list {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  #pdp-container .right-content .tabs-responsive.tabs ul.tabs-list {
    margin-left: 10px;
    margin-right: 20px;
    display: block !important;
  }
}
#pdp-container .right-content .tabs-responsive.tabs ul.tabs-list li {
  padding: 0px 40px 0px 0px;
}
#pdp-container .right-content .tabs-responsive.tabs ul.tabs-list li a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}
#pdp-container .right-content .tabs-responsive.tabs ul.tabs-list li.active a {
  border-bottom: solid 3px #000000;
}
#pdp-container .right-content .tabs-responsive.tabs ul.tabs-list li + li:before {
  border-left: none;
}
#pdp-container .right-content .tabs-responsive.tabs .tabbody {
  background-color: #f6f6f6;
  border-top: solid 1px #d1d1d1;
  border-right: solid 1px #d1d1d1;
  border-bottom: solid 1px #d1d1d1;
  font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
}
#pdp-container .right-content .tabs-responsive.tabs .tabbody .container-lg .row {
  margin: 0px;
}
#pdp-container .right-content .tabs-responsive.tabs .tabbody .container-lg .row > div:first-child {
  padding: 0px;
}
@media (min-width: 768px) {
  #pdp-container .right-content .tabs-responsive.tabs .tabbody {
    padding: 20px 40px;
  }
}
@media (max-width: 767px) {
  #pdp-container .right-content .tabs-responsive.tabs .tabbody {
    margin-left: 10px;
    margin-right: 20px;
    display: block !important;
    padding: 20px 0px;
  }
}
#pdp-container .right-content .tabs-responsive.tabs .tabbody .tab-data ul {
  padding-left: 0px;
  list-style: none;
}
#pdp-container .right-content .tabs-responsive.tabs .tabbody .tab-data ul li {
  text-transform: capitalize;
}
#pdp-container .right-content .tabs-responsive.tabs .tabbody .tab-data ul li i.bullet {
  font-size: 5px;
  color: #000;
  padding-right: 25px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  #pdp-container .right-content .tabs-responsive.tabs .content .tabhead {
    display: none !important;
  }
}
#pdp-container .right-content .carousel.gallery-carousel {
  padding: 0px;
}
#pdp-container .right-content .carousel.gallery-carousel .owl-item {
  width: 133px !important;
  background-color: #f7f7f7;
}
#pdp-container .right-content .carousel.image-gallery__image {
  padding: 20px !important;
  background-color: #f7f7f7;
  margin-bottom: 16px;
}
.pdpLeftRefinement {
  padding: 30px;
}
.pdpLeftRefinement .header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.pdpLeftRefinement .facet-param {
  padding-bottom: 20px;
}
.pdpLeftRefinement .facet-param .facet-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}
.pdpLeftRefinement .facet-param .facet-value {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  text-transform: capitalize;
}
#catImageModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
}
#catImageModal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#catImageModal .modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#catImageModal #close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
#catImageModal #close:hover,
#catImageModal #close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  #catImageModal .modal-content {
    width: 100%;
  }
}
.cat-typeahead input {
  padding: 30px;
  border: none;
}
.cat-typeahead input::placeholder,
.cat-typeahead input::-webkit-input-placeholder,
.cat-typeahead input::-moz-placeholder,
.cat-typeahead input:-ms-input-placeholder,
.cat-typeahead input:-moz-placeholder {
  font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #979797;
  font-style: italic;
}
.cat-typeahead .dropdown-menu {
  padding-top: 0px;
  margin-top: -1px;
  border: none;
}
.cat-typeahead .dropdown-menu .uib-typeahead-match a,
.cat-typeahead .dropdown-menu .uib-typeahead-match a:hover,
.cat-typeahead .dropdown-menu .uib-typeahead-match a:focus {
  background-color: transparent;
}
.cat-typeahead .dropdown-menu .uib-typeahead-match.active a,
.cat-typeahead .dropdown-menu .uib-typeahead-match.active a:hover,
.cat-typeahead .dropdown-menu .uib-typeahead-match.active a:focus {
  background-color: transparent;
}
.cat-typeahead .dropdown-menu .uib-typeahead-match.active a span,
.cat-typeahead .dropdown-menu .uib-typeahead-match.active a:hover span,
.cat-typeahead .dropdown-menu .uib-typeahead-match.active a:focus span {
  border-bottom: solid 1px #ffcc00;
}
.cat-typeahead .dropdown-menu .uib-typeahead-match .typeahead-group-header {
  padding-left: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  border-top: solid 1px #d1d1d1;
}
.cat-typeahead .dropdown-menu .uib-typeahead-match .result {
  padding-left: 40px;
  margin-top: 5px;
  cursor: pointer;
}
.cat-typeahead .dropdown-menu .uib-typeahead-match .result span {
  font-family: "HelveticaNeue_Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #979797;
}
.cat-typeahead .dropdown-menu .uib-typeahead-match .result span strong {
  color: #000000;
}
.cat-typeahead .dropdown-menu .uib-typeahead-match .typeahead-group-footer {
  padding-left: 40px;
  padding-bottom: 30px;
}
.cat-typeahead .search-icon {
  display: inline-block;
  background-color: #ffcc00;
  padding: 14px;
  position: relative;
  top: -59px;
  left: 100%;
  margin-left: -55px;
}
