<footer>
    <div class="cat-container row">
        <div class="col-xs-6 links">
            <div class="footer__nav--container col-xs-12">
                <div class="yCmsComponent links">
                    <a href="" title="Legal" target="_blank" rel="noopener noreferrer">Legal</a></div>
                <div class="links  verticalDivider">|</div>
                <div class="yCmsComponent links">
                    <a href="" target="_blank" rel="noopener noreferrer">Privacy</a></div>
            </div>
        </div>
        <div class="col-xs-6 copy-rights">
            <p class="copyright">© 2017 Copyright</p>
        </div>
    </div>
</footer>