
<div class="row dealerinfo">
    <div class="title"> Dealer Details </div>
    <div class="row dealer-details">
        <div class="col-xs-2">Dealer Name</div>
        <div class="col-xs-2">HOLT Texas</div>
    </div>
    <div class="row dealer-details">
        <div class="col-xs-2">Shipping Address</div>
        <div class="col-xs-2">ateasfsdgv aefs dgr adfssdg a fgfsg </div>
    </div>
    <div class="row dealer-details">
        <div class="col-xs-2">Billing Address</div>
        <div class="col-xs-2">ateasfsdgv aefs dgr adfssdg a fgfsg </div>
    </div>
    <div class="row dealer-details">
        <div class="col-xs-2">COMMENTS</div>
        <div class="col-xs-5">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
        <div class="col-xs-2">
            <img src="img/shape.svg" class="Shape">
        </div>
    </div>
</div>
</div>