<div class="row orderinfo">
    <div class="title"> Order Summary </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">
            <div class="row">
                <div class="row">
                    <div class="col-xs-2 heading-text">STATUS</div>
                    <div class="col-xs-2 heading-text">ORDER DATE</div>
                    <div class="col-xs-2 heading-text">Estimated Delivery</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 desc-text">Submitted</div>
                    <div class="col-xs-2 desc-text">1/1/2017</div>
                    <div class="col-xs-2 desc-text">1/1/2017</div>
                </div>
            </div>
            <div class="div-seperator"></div>
            <div class="row">
                <div class="row">
                    <div class="col-xs-2 heading-text">STATUS</div>
                    <div class="col-xs-2 heading-text">ORDER DATE</div>
                    <div class="col-xs-2 heading-text">Estimated Delivery</div>
                    <div class="col-xs-2 heading-text">Estimated Delivery</div>
                    <div class="col-xs-2 heading-text">Estimated Delivery</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 desc-text">Submitted</div>
                    <div class="col-xs-2 desc-text">1/1/2017</div>
                    <div class="col-xs-2 desc-text">1/1/2017</div>
                    <div class="col-xs-2 desc-text">1/1/2017</div>
                    <div class="col-xs-2 desc-text">1/1/2017</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-xs-2 heading-text">STATUS</div>
        </div>
        <div class="row">
            <div class="col-xs-2 desc-text">1/1/2017</div>
        </div>
    </div>
</div>