#pdp-container {
    >div.row {
        margin: 0px;
    }
    background-color: @white;
    .left-content {
        .screen-tab-desk( {
            border-right: solid 1px #d1d1d1;
        }
        );
        padding: 0px;
    }
    .right-content {
        >.row {
            .screen-tab-desk( {
                padding-left: 40px;
            }
            );
            .screen-mob( {
                margin-left: 10px;
                margin-right: 20px;
            }
            );
            &.parts-attachments {
                .screen-tab-desk( {
                    padding-left: 0px;
                    padding-right: 0px;
                }
                );
                .screen-mob( {
                    margin-left: 0px;
                    margin-right: 0px;
                }
                );
            }
        }
        .screen-tab-desk( {
            padding-top: 30px;
            border-left: solid 1px #d1d1d1;
        }
        );
        .screen-mob( {
            padding-top: 10px;
        }
        );
        .product-img-desc {
            .screen-tab-desk( {}
            );
            .screen-mob( {}
            );
        }
        margin-left: -1px;
        .product-details {
            padding-left: 15px;
            padding-right: 25px;
            &.page-title {
                padding: 0px;
                margin-bottom: 10px;
                .name {
                    .font(@openSans, normal, 20px, @black-color01);
                }
            }
            .description {
                padding-bottom: 30px;
                border-bottom: none;
                .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
            }
            .inventory-details {
                .inventory-table {

                    .row-header {
                        text-transform: uppercase;
                        .font(@openSans, bold, 12px, @black-color01);
                        padding: 15px 15px 6px 15px;
                        border-bottom: solid 1px #d1d1d1;
                        margin: 0px;
                    }
                    background-color: @grey11;
                }
                .header {
                    .font(@openSans, bold, 16px, @black-color01);
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }
                .stock-details {
                    margin: 0px 10px;
                    &:not(:last-child) {
                        border-bottom: solid 1px #d1d1d1;
                    }
                    padding: 15px 5px;
                    .warehouse-name {
                        .font(@HelveticaNeue_Light, 300, 12px);
                        word-wrap: break-word;
                    }
                    .ware-house-address {
                        .font(@HelveticaNeue_Light, 300, 12px);
                        text-transform: capitalize;
                        word-wrap: break-word;
                    }
                    .stock-cont {
                        .font(@HelveticaNeueMedium, 500, 12px);
                    }
                }
            }
        }
        .image-container {

            .main-image {
                width: 100%;
            }
        }
        .tabs-responsive {
            &.tabs {
                margin-top: 20px;
                .screen-mob( {
                    border-top: none;
                }
                );
                ul.tabs-list {
                    .screen-tab-desk( {
                        padding-left: 40px;
                        padding-right: 40px;
                    }
                    );
                    .screen-mob( {
                        margin-left: 10px;
                        margin-right: 20px;
                        display: block !important;
                    }
                    );

                    margin: 0px;
                    li {
                        padding: 0px 40px 0px 0px;
                        a {
                            .font(@openSans, bold, 16px, @black-color01);
                        }
                        &.active {
                            a {
                                border-bottom: solid 3px #000000;
                            }
                        }
                        +li {
                            &:before {
                                border-left: none;
                            }
                        }
                    }
                }
                .tabbody {
                    .container-lg {
                        .row {
                            margin: 0px;
                            >div:first-child {
                                padding: 0px;
                            }
                        }
                    }
                    .screen-tab-desk( {
                        padding: 20px 40px;
                    }
                    );
                    .screen-mob( {
                        margin-left: 10px;
                        margin-right: 20px;
                        display: block !important;
                        padding: 20px 0px;
                    }
                    );
                    background-color: @grey11;
                    border-top: solid 1px @grey12;
                    border-right: solid 1px @grey12;
                    border-bottom: solid 1px @grey12;
                    .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
                    .tab-data {
                        ul {
                            padding-left: 0px;
                            list-style: none;
                            li {
                                /*text-transform: capitalize;*/
                                i.bullet {
                                    font-size: 5px;
                                    color: @black-color01;
                                    padding-right: 25px;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
                .content {
                    .tabhead {
                        .screen-mob( {
                            display: none !important;
                        }
                        );
                    }
                }
            }
        }

        .carousel {
            &.gallery-carousel {
                padding: 0px;
                .owl-item {
                    width: 133px !important;
                    background-color: @grey09;
                }
            }
            &.image-gallery__image {
                padding: 20px !important;
                background-color: @grey09;
                margin-bottom: 16px;
            }
        }

        .owl-item {}
    }
}

.pdpLeftRefinement {
    padding: 30px;
    .header {
        .font(@openSans, bold, 14px, @black-color01);
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    .facet-param {
        padding-bottom: 20px;
        .facet-label {
            .font(@openSans, 300, 14px, @black-color01);
        }
        .facet-value {
            .font(@openSans, normal, 14px, @black-color01);
            text-transform: capitalize;
        }
    }
}



#catImageModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#catImageModal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


#catImageModal .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#catImageModal #close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#catImageModal #close:hover,
#catImageModal #close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    #catImageModal .modal-content {
        width: 100%;
    }
}