.recently-viewed {
    .owl-wrapper-outer{
            .screen-mob({
                overflow: visible;
             });
    }
    .header {
        .font(@HelveticaNeue, 300, 16px, @black-color01);
        text-align: left;
        color: #000000;
        .screen-mob({
            .font(@openSans, bold, 18px, @black-color01);
        });
    }
    .empty {
        padding-top: 20px;
        .font(@HelveticaNeue, 300, 16px, @black-color01);
        font-style: italic;
        text-align: left;
    }
    .products {
        padding-top: 30px;
        .owl-carousel{
            @media (max-width: 900px) {
                overflow: hidden;
            } 
        }
    }
    .custom-slider{
        .owl-buttons{
            .owl-prev,.owl-next{
                top: 40% !important;
                .screen-mob({
                    display: none;
                });
            }
            img{
                width: 15px;
            }
        }
    }
}