<div id="product-facet" class="hidden-xs">
    <div class="cat-search-parameters">
        <div class="params">
            <div class="param-head hidden-xs">
                <div class="">SEARCH</div>
                <div class="">PARAMETERS</div>
            </div>
            <div class="params-sec">
                <div class="params-sec-heading">
                    <spring:theme code="product.refinment.component.product.family" />
                </div>
                <div class="row params-sec-row">
                    <div class="btn-group col-xs-12 params-sec-dropdown" uib-dropdown>
                        <button type="button" class="btn col-xs-12 drop-down-button" uib-dropdown-toggle ng-disabled="disabled">
                            <div class="text">{{(plp.view.productFamily.selectedProductName | titleCase) || '-- Select --'}}</div>
                            <div class="arrow pull-right">
                                <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i>
                                <img class="drop-down visible-xs" src="/_ui/responsive/cat/images/drop-down.png">
                            </div>
                        </button>
                        <ul class="dropdown-menu col-xs-12" uib-dropdown-menu="" role="menu">
                            <li role="menuitem" data-productfamily-code="ctl" data-productfamily-name="COMPACT TRACK LOADERS" ng-click="plp.productFamilySelected('ctl','COMPACT TRACK LOADERS')">compact track loaders</li>
                            <li role="menuitem" data-productfamily-code="hexmi" data-productfamily-name="MINI HYDRAULIC EXCAVATORS" ng-click="plp.productFamilySelected('hexmi','MINI HYDRAULIC EXCAVATORS')">mini hydraulic excavators</li>
                            <li role="menuitem" data-productfamily-code="mtl" data-productfamily-name="MULTI TERRAIN LOADERS" ng-click="plp.productFamilySelected('mtl','MULTI TERRAIN LOADERS')">multi terrain loaders</li>
                            <li role="menuitem" data-productfamily-code="ssl" data-productfamily-name="SKID STEER LOADERS" ng-click="plp.productFamilySelected('ssl','SKID STEER LOADERS')">skid steer loaders</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="params-sec">
                <div class="params-sec-heading">
                    <spring:theme code="product.refinment.component.sales.model" />
                </div>
                <div class="row params-sec-row">
                    <div class="btn-group col-xs-12 params-sec-dropdown" uib-dropdown>
                        <button id="sales-model" type="button" class="btn col-xs-12 drop-down-button" uib-dropdown-toggle ng-disabled="disabled" ng-class=" plp.view.salesModel.isDisabled?'disabled':''">
                            <div class="text">{{(plp.view.salesModel.selectedModelName) || '- Select -'}}</div>
                            <div class="arrow pull-right">
                                <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i>
                                <img class="drop-down visible-xs" src="/_ui/responsive/cat/images/drop-down.png">
                            </div>
                        </button>
                        <ul class="dropdown-menu col-xs-12" uib-dropdown-menu role="menu" aria-labelledby="sales-model">
                            <li role="menuitem" ng-repeat="salesModel in plp.view.salesModel.listOfSalesModel track by $index" ng-click="plp.salesModelSelected(salesModel.code,salesModel.name)">{{salesModel.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="params-sec">
                <div class="params-sec-heading">
                    <spring:theme code="product.refinment.component.primary.offering" />
                </div>
                <div class="row params-sec-row">
                    <div class="btn-group col-xs-12 params-sec-dropdown" uib-dropdown>
                        <button id="primary-offering" type="button" class="btn col-xs-12 drop-down-button" uib-dropdown-toggle ng-disabled="disabled" ng-class=" plp.view.primaryOffering.isDisabled?'disabled':''">
                            <div class="text">{{(plp.view.primaryOffering.selectedPrimaryOffering) || '-- Select --'}}</div>
                            <div class="arrow pull-right">
                                <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i>
                                <img class="drop-down visible-xs" src="/_ui/responsive/cat/images/drop-down.png">
                            </div>
                        </button>
                        <ul class="dropdown-menu col-xs-12" uib-dropdown-menu role="menu" aria-labelledby="primary-offering">
                            <li role="menuitem" ng-repeat="primaryOffering in plp.view.primaryOffering.listOfPrimaryOffering track by $index" ng-click="plp.primaryOfferingSelected(primaryOffering.code,primaryOffering.name)">{{primaryOffering.name}} ({{primaryOffering.code}})</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="update-btn-container">
                <button class="update-btn btn" ng-disabled="!plp.view.hasValidSearchParams?'disabled':''" ng-click="plp.updateSearchData()"> Update </button>
            </div>
        </div>
    </div>
    <div class="cat-location-types">
        <div class="filters" data-num="2">
            <div class="filter-copy hidden-xs">filters</div>
            <section class="filter-desc">
                <div class="location-Type hidden-xs">LOCATION TYPE</div>
                <label class="filter-checkgrp row">
                    <div class="flit-text" ng-class="!plp.view.location.hasWareHouseUnit?'disabled':''">
                        DEALER WAREHOUSE
                    </div>
                    <input type="checkbox" class="filter-check" readonly="" ng-model="plp.view.location.isWareHouseChecked" id="wareHouseCheckBox" ng-click="plp.locationTypesModified()" ng-disabled="!plp.view.location.hasWareHouseUnit" ng-class="!plp.view.location.hasWareHouseUnit?'disabled':''">
                    <div class="box-rect"></div>
                </label>
                <label class="filter-checkgrp row">
                    <div class="flit-text" ng-class="!plp.view.location.hascatPDCUnit?'disabled':''">
                        CAT PDC
                    </div>
                    <input type="checkbox" class="filter-check" readonly="" ng-model="plp.view.location.iscatPDCChecked" id="catPDCCheckBox" ng-click="plp.locationTypesModified()" ng-disabled="!plp.view.location.hascatPDCUnit">
                    <div class="box-rect"></div>
                </label>
                <label class="filter-checkgrp row">
                    <div class="flit-text" ng-class="!plp.view.location.hasManufacturing?'disabled':''">
                        CAT MANUFACTURING FACILITY
                    </div>
                    <input type="checkbox" class="filter-check" readonly="" ng-model="plp.view.location.isManufacturingChecked" ng-click="plp.locationTypesModified()" id="mancufacturingCheckBox" ng-disabled="!plp.view.location.hasManufacturing">
                    <div class="box-rect"></div>
                </label>
            </section>
        </div>
    </div>
</div>