<div class="product__listing product__list">
	<div ng-show="plp.view.pageLoadingParams.ajaxCallSuccess" ng-if="plp.view.searchResults.length>0" id="grid1">
	
		<div class="col-xs-12 col-sm-4 col-md-3 item grid-item" ng-repeat="searchObj in plp.view.searchResults track by $index" ng-click="plp.redirect(searchObj.url);">
<!-- 			<div class="item-header">Configuration {{( plp.view.pagination.elementsForCurrentPage * (plp.view.pagination.currentPage -1))  + ($index+1) }}</div>  -->
		<div class="item-header">{{searchObj.name}}</div>
			<div class="item-detail">
				<div class="item-image">
					<img ng-src="{{searchObj.primaryImageUrl || '/_ui/responsive/cat/productImages/226d skid steer loader studio shot@431x341.png'}}">
				</div>
				<div class="item-desc">
					<div class="row">
						<div class="item-main col-xs-8 col-sm-12">{{searchObj.primaryOfferingForCards | titleCase}}</div>
						<div class="item-main col-xs-4 visible-xs"><div class="pull-right view-more" ng-click="plp.viewMore($event)" stop-event> View more</div></div>
					</div>
					<div class="item-details">
					<div class="row">
						<div class="col-xs-6 col-sm-12">
							<div class="item-engine-head">ENGINE MODEL</div>
							<div class="item-engine-desc">{{searchObj.featureEngineModel}}</div>
						</div>
						<div class="col-xs-6 col-sm-12">
							<div class="item-power-head">ENGINE MODEL</div>
							<div class="item-power-desc">{{searchObj.featureNetPower}}</div>
						</div>
						<div class="col-xs-6 col-sm-12">
							<div class="item-optwt-head">ENGINE MODEL</div>
							<div class="item-opt-desc">{{searchObj.featureOperatingWeight}}</div>
						</div>
						<div class="col-xs-6 visible-xs">
							<div class="pull-right view-less" ng-click="plp.viewLess($event)" stop-event> View less</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="empty-results" ng-if="plp.view.searchResults.length == 0 && plp.view.pageLoadingParams.ajaxCallSuccess">
		<div class="empty">
			<div class="message"> {{plp.constantService.noSearchResultsFound}} </div>
		</div>
	</div>
	<div ng-show="!plp.view.pageLoadingParams.ajaxCallSuccess" class="searching-failed">
		<div class="error">
			<div class="message"> {{plp.constantService.searchResultsErrorMessage}} </div>
		</div>
	</div>

</div>