.error-page{
.calc(min-height, "100vh - 180px"); 
    margin: 0px auto;
	margin-left:5px;
.errorMsg{
	margin-top:15%;
	letter-spacing: -0.7px;
	text-align: center;
	.font(@openSans_Bold, bold, 24px, @black-color01);
}
.errorImage{
	margin-top:20px;
	img {
		max-width:20%;
	} 
}
.errorLinks{
	div{
		margin-top:20px;
		.font(@HelveticaNeueThin, 100, 18px, @black-color01);
		}
		margin-bottom:-10%;
}
a{
.font(@openSans, bolder, 18px, @black-color01);
		font-style:italic;
	text-decoration: none !important;

&:hover{
		text-decoration:none !important;
}
&:focus{
		text-decoration:none !important;
}
}
}