 #catMobileNavMenu{
	 &[data-sidebar] {
	 	.screen-tab-desk({
	 		display: none !important;
	 		});
		 display: none;
		 position: absolute;
		 height: 94vh;
		 width: 260px;
		 overflow-y: auto;
		 z-index: @zIndexMobileMenu;
	}
	#catNavMenuContainer{
		#catNavMenuprofile{
			.mobile-ci-label{
				.font(@openSans, bold, 18px, @black-color01);
				padding-bottom: 15px;
			}
		  padding: 25px 20px;
		  .userAccountName{	
			.font(@openSans, bold, 14px, @black-color01);
			text-transform: uppercase;
		  }
		  .NamenIcon{
			  display: none;
		  }
		  .edit-profile-mobile{
			  a{
				.font(@openSans, 300, 12px, @black-color01);
				padding-top: 15px;
				padding-bottom: 30px;
				padding-left: 0px;
				.fa-pencil{
					padding-left: 5px;
				}
			  }
		  }
  		.userProfile-icon{
  			  height: 25px;
  		}
  		a{
	  		.font("open sans", bold, 14px, @white);
	  		 padding-left:10px;
	  		 vertical-align: bottom;
  		}
		}
		#navigationLinks{
			ul#mobileNavMenu{
				list-style: none;
				padding-left:0px;
				> li{
					border-top: solid 1px #f0f0f0;
					.font("Open Sans", 300, 16px,@black-color01);
					a, p{
						.font(@HelveticaNeueThin, 100, 16px,@black-color01);
					}
					p {
						margin: 0;
						.font(@openSans, normal, 16px,@black-color01);
					}
					 &.mobile-cart-info{
						a{
							text-transform: capitalize;
							min-width:62px;
							background-image: url(../images/cart-menu-icon.png);
    						background-repeat: no-repeat;
    						background-position: right 13px;
    						padding-right: 30px;
						}
					}
				}
				li{
					min-height: 40px;
					padding: 10px 21px;
					cursor: pointer;
					&.order-history {
						padding: 0;
						min-height: 0;
					}

					ul{
						text-transform: capitalize;
						list-style: none;
						li{
							cursor: pointer;
						}
					}
					
				}
			}

		}
		#logout{
		 height: 53px;
		   padding: 15px 20px;
		   border-top: solid 1px @grey03;
  		 a{
	  		 .font(@openSans, normal, 16px, @black-color01);
	  		 vertical-align: bottom;
	  		}
	  		img{
	  			width: 19px;
	  			margin-right: 11px;
	  		}
		}
	}
}
 #catMobileNavOverlay{
	 	&[data-sidebar-overlay] {
	 	.screen-tab-desk({
	 		display: none !important;
	 		});
		 display: none;
		 position: fixed;
		 top: 0;
		 left: 0;
		 opacity: 0;
		 width: 100%;
		 height: 100vh;
		 position: absolute;
		 top: 40px;
		 z-index: @zIndexMobileOverLay;
	}
}

#catMobileNavMenu{
	 &[data-sidebar] {
	 		 background-color: #ffffff;box-shadow: 0 6px 0 0 rgba(0,0,0,0.5); 
	 		 a{
	 		 	color:#aaa; text-decoration:none;
	 		 }
	 }
}
.overlay { background-color: #444; }