@font-face {
    font-family: 'HelveticaNeue_Light';
    src: url("../fonts/HelveticaNeueLight.eot");
    src: url("../fonts/HelveticaNeueLight.eot?#iefix") format("opentype"),
    url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLight.woff') format('woff'),
    url('../fonts/HelveticaNeueLight.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue.eot");
    src: url("../fonts/HelveticaNeue.eot?#iefix") format("opentype"),
    url('../fonts/HelveticaNeue.woff2') format('woff2'),
    url('../fonts/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url("../fonts/Helvetica-Neue-Bold.eot");
    src: url("../fonts/Helvetica-Neue-Bold.eot?#iefix") format("opentype"),
    url('../fonts/Helvetica-Neue-Bold.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue-Bold.woff') format('woff'),
    url('../fonts/Helvetica-Neue-Bold.ttf') format('truetype');
    font-style: bold;
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url("../fonts/HelveticaNeue Medium.eot");
    src: url("../fonts/HelveticaNeue Medium.eot?#iefix") format("opentype"),
    url('../fonts/HelveticaNeue Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeue Medium.woff') format('woff'),
    url('../fonts/HelveticaNeue Medium.ttf') format('truetype');
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueThin';
    src: url("../fonts/HelveticaNeue-Thin.eot");
    src: url("../fonts/HelveticaNeue-Thin.eot?#iefix") format("opentype"),
    url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
    font-style: normal;
}

.font(@family: @openSans, @weight: normal, @size: 1em, @color: @black-color01) {
    font-family: @family;
    font-weight: @weight;
    font-size: @size;
    color: @color;
}


@openSans: "Open Sans", sans-serif;
@HelveticaNeue_Light: "HelveticaNeue_Light",Helvetica, Arial, sans-serif;
@HelveticaNeue: "HelveticaNeue",Helvetica, Arial, sans-serif;
@HelveticaNeueBold: "HelveticaNeueBold",Helvetica, Arial, sans-serif;
@HelveticaNeueMedium: "HelveticaNeueMedium",Helvetica, Arial, sans-serif;
@HelveticaNeueThin: "HelveticaNeueThin",Helvetica, Arial, sans-serif;