@screen-md:                        768px;
@screen-md-min:                    @screen-md;
@screen-lg:                        1024px;
@screen-lg-min:                    @screen-lg;

@screen-sm-max:                    ( @screen-md-min - 1 );
@screen-md-max:                    ( @screen-lg-min - 1 );


// mobile only
.screen-mob(@rules) {
    @media (max-width:@screen-sm-max) { @rules(); }
}

// tablet only
.screen-tab(@rules) {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { @rules(); }
}

// desktop version
.screen-desk(@rules) {
    @media (min-width: @screen-lg-min) { @rules(); }
}


// mobile and tablet
.screen-mob-tab(@rules) {
    @media (max-width: @screen-md-max){ @rules(); }
}


// tablet and desk top
.screen-tab-desk(@rules) {
    @media (min-width: @screen-md-min){ @rules(); }
}


// 1. Mobile
.screen(@rules-mob){
	.screen-mob(@rules-mob);
}
// 1: Mobile only , 2: tablet Only
.screen(@rules-mob, @rules-tab) {
    .screen-mob(@rules-mob);
    .screen-tab(@screen-tab);
}

// 1: Mobile only , 2: tablet Only, 3: Desktop only
.screen(@rules-mob, @rules-tab, @rules-desk) {
    .screen-mob(@rules-mob);
    .screen-tab(@screen-tab);
    .screen-desk(@rules-desk);
}

// 1: Mobile only , 2: tablet Only, 3: Desktop only ,  4: Mobile + Tab
.screen(@rules-mob, @rules-tab, @rules-desk, @rule-mob-tab) {
    .screen-mob(@rules-mob);
    .screen-tab(@screen-tab);
    .screen-desk(@rules-desk);
    .screen-mob-tab(@rule-mob-tab);
}

// 1: Mobile only , 2: tablet Only, 3: Desktop only ,  4: Mobile + Tablet, 5: Tablet+Desktop
.screen(@rules-mob, @rules-tab, @rules-desk,  @rule-mob-tab, @rule-tab-desk) {
    .screen-mob(@rules-mob);
    .screen-tab(@screen-tab);
    .screen-desk(@rules-desk);
    .screen-mob-tab(@rule-mob-tab);
    .screen-tab-desk(@rule-tab-desk);
}
