.cat-typeahead {
    padding-top: 60px;
    input {
        height: 60px;
        padding: 0px 80px 0px 20px;
        border: none;
        box-shadow: 5px 5px 10px 5px rgba(234, 234, 234, 0.5);
        display: block;
        width: 100%;
        border-radius: 0;
        outline: none;
        .screen-tab-desk({
            padding: 0px 80px 0px 40px;
        });
        &::placeholder {
            .font(@HelveticaNeue_Light, 100, 16px, #979797);
            font-style: italic;
        }
        &::-webkit-input-placeholder {
            .font(@HelveticaNeue_Light, 100, 16px, #979797);
            font-style: italic;
        }
        &:-moz-placeholder {
            .font(@HelveticaNeue_Light, 100, 16px, #979797);
            font-style: italic;
        }
        &:-ms-input-placeholder {
            .font(@HelveticaNeue_Light, 100, 16px, #979797);
            font-style: italic;
        }
        &:-moz-placeholder {
            .font(@HelveticaNeue_Light, 100, 16px, #979797);
            font-style: italic;
        }
        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }
    }
    /***********************************************/
    .radioButtonsNavigation {
        padding-bottom: 20px;
        .searchForLabel {
            .font(@openSans, bold, 18px, @black-color01);
            text-transform: uppercase;
            .screen-mob({
                display: block;
                padding-bottom: 20px;
            });
        }
        .usedRadiobtn {
            float: right;
            .screen-tab-desk({
                float: none;
                margin-left: 10px;
            });
            .screen-tab-intermediate({
                float: none;
                margin-left: 40px;
            });
        }
        .newRadiobtn {
            .screen-tab-desk({
                 margin-left: 20px;
            });
        }
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }

        input[type="radio"] {
            display: none;
            &+label {
                text-align: left;
                .font(@openSans, normal, 18px, @black-color01);
                .screen-mob({ 
                    font-size: 14px;
                });
                span {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    border: solid 1px @black-color01;
                    margin: -1px 4px 0 0;
                    vertical-align: middle;
                    cursor: pointer;
                    border-radius: 50%;
                    position: relative;
                    top: -1px;
                }
            }
            &.checked {
                &+label {
                    span {
                        background-image: url("/_ui/responsive/cat/images/selected-radio-button.png");
                        background-size: 100%;
                        background-repeat: no-repeat;
                        border: 0px;
                    }
                }
            }
        }
    }
    /*************************************************/
    .dropdown-menu {
        li {
            &:first-child {
                .typeahead-group-header {
                    border-top: none;
                }
            }
        }
        padding-top: 0px;
        margin-top: -1px;
        border: none;
        -webkit-box-shadow: inset 0 6px 13px 0 rgba(231,
        231,
        231,
        0.5);
        ;
        -moz-box-shadow: inset 0 6px 13px 0 rgba(231,
        231,
        231,
        0.5);
        ;
        box-shadow: inset 0 6px 13px 0 rgba(231,
        231,
        231,
        0.5);
        ;
        .uib-typeahead-match {
            a,
            a:hover,
            a:focus {
                background-color: transparent;
            }
            &.active {
                a,
                a:hover,
                a:focus {
                    background-color: transparent;
                    span {
                        border-bottom: solid 2px #e6b800;
                        padding-bottom: 3px;
                        ;
                    }
                }
            }

            .typeahead-group-header {
                padding-left: 40px;
                .font(@openSans,
                bold,
                16px,
                @black-color01);
                padding-top: 30px;
                border-top: solid 1px #d1d1d1;
                text-transform: uppercase;
                &.no-results-found {
                    .font(@HelveticaNeue_Light,
                    300,
                    16px,
                    @black-color01);
                    padding: 40px;
                }
            }
            .result {
                padding-left: 40px;
                margin-top: 5px;
                cursor: pointer;
                span {
                    .font(@HelveticaNeue_Light,
                    300,
                    16px,
                    #979797);
                    strong {
                        color: @black-color01;
                    }
                }
            }
            .typeahead-group-footer {
                padding-left: 40px;
                padding-bottom: 30px;
            }
        }
    }

    .search-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        background-color: #ffcc00;
        padding: 14px;
        position: relative;
        top: -60px;
        left: 100%;
        margin-left: -60px;
    }

    .typeahead-template {
        .header {
            .font(@openSans,
            bold,
            18px,
            @black-color01);
            padding-bottom: 40px;
        }
        .body {
            height: 62px;
            padding: 0;
            margin-left: 5px;
        }
        .footer {
            .font(@openSans,
            normal,
            16px,
            @black-color01);
            font-style: italic;
            padding-top: 30px;
            .toggleButton {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}