#plp-container {
    background-color: @white;
    min-height: 30vh;
    .page-loader {
        min-height: 80vh;
        .cat-loading-spinner {
            position: absolute;
            top: 40%;
            left: 50%;
        }
    }
    #plp-facet-container {
        border-right: solid 1px #d1d1d1;
        padding: 0px;
        .screen-mob( {
            display: none !important;
        }
        );
        .cat-search-parameters {
            .params {
                border-bottom: solid 1px @grey06;
                padding: 30px 20px 35px 30px;

                .param-head {
                    margin-bottom: 20px;
                    .font(@openSans, bold, 14px, @black-color01);
                    text-align: left;
                }
                .params-sec {
                    margin-bottom: 16px;
                    .params-sec-heading {
                        .font(@openSans, 300, 12px, @black-color01);
                        padding-bottom: 5px;
                    }
                    .params-sec-row {
                        margin-left: 0px;
                        margin-right: 0px;
                        .params-sec-dropdown {
                            padding: 0px;
                            .drop-down-button {
                                padding: 0px;
                                background-color: #fff;
                                border-bottom: solid 1px #4a4a4a;
                                box-shadow: none;
                                &.disabled {
                                    border-bottom: solid 1px #cccccc;
                                    .text {
                                        color: #cccccc;
                                        text-transform: capitalize;
                                    }
                                    .arrow {
                                        color: #cccccc;
                                    }
                                }
                                .text {
                                    display: inline-block;
                                    text-transform: capitalize;
                                    width: 94%;
                                    text-align: left;
                                    .font(@openSans, normal, 12px, @black-color01);
                                    text-align: left;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                                .arrow {
                                    width: 6%;
                                    color: #000;
                                    .img {
                                        height: 6px;
                                    }
                                    i {
                                        vertical-align: bottom;
                                    }
                                }
                            }
                            ul.dropdown-menu {
                                padding: 0px;
                                max-height: 200px;
                                    overflow-y: auto;
                                li {
                                    padding: 4px 6px;
                                   text-transform: capitalize;
                                    &:hover {
                                        background-color: #dfdfdf;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
                .update-btn {
                    .font("Open Sans", bold, 12px, @white);
                    text-align: center;
                    display: inline-block;
                    padding: 8px 22px;
                    &.disabled {
                        background-color: @grey04;
                    }
                    background-color: @grey07;
                }
            }
        }
        .cat-location-types,
        #nav-mobile-locations {
            .filters {
                padding: 30px;
                .filter-copy {
                    width: 53px;
                    height: 19px;
                    .font(@openSans, bold, 14px, @black-color01);
                    text-align: left;
                    text-transform: uppercase;
                    display: inline;
                    padding-bottom: 2px;
                    border-bottom: 3px solid @sun-yellow;
                }
                .filter-desc {
                    padding-top: 17px;
                    .location-Type {
                        .font(@openSans, bold, 16px, @black-color01);
                        text-align: left;
                        padding-bottom: 20px;
                        text-transform: uppercase;
                    }
                    .filter-checkgrp {
                        position: relative;
                        width: 100%;
                        margin-bottom: 0;
                        padding-bottom: 6px;
                        margin-left: 0px;
                        .flit-text {
                            display: inline-block;
                            width: 90%;
                            font-family: @openSans;
                            font-size: 12px;
                            font-weight: 300;
                            &.disabled{
                                color: #cccccc;
                                cursor: not-allowed;
                            }
                        }

                        .box-rect {
                            position: absolute;
                            top: 3px;
                            right: 0;
                            width: 10px;
                            height: 10px;
                            border-radius: 1.5px;
                            box-sizing: border-box;
                            display: inline-block;
                            vertical-align: middle;
                            cursor: pointer;
                            border: solid 1px @grey10;
                        }
                        .filter-check {
                            visibility: hidden;
                            position: absolute;
                            top: 0;
                            right: 0;
                            &[disabled=disabled]+.box-rect{
                                border: solid 1px #cccccc;
                                cursor:not-allowed;
                            }
                            &:checked+.box-rect {
                                background-color: @sun-yellow;
                            }
                        }
                    }
                }
            }
        }
    }
    #plp-results-container {
        .screen-tab-desk( {
            border-left: solid 1px #d1d1d1;
            margin-left: -1px;
            padding-bottom: 45px;
            padding-right: 20px;
            padding-left: 10px;
        }
        );

        .plp-results {
            .item {
                .screen-mob( {
                    position: relative !important;
                    left: inherit !important;
                    top: inherit !important;
                }
                );
                padding-top: 45px;
                padding-left: 20px;
                .item-header {
                    .font(@HelveticaNeue_Light, normal, 14px, @grey08);
                    text-align: left;
                    padding-bottom: 11px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .item-detail {
                    cursor: pointer;
                    -webkit-transition: all 0.15s ease-in-out;
                    -moz-transition: all 0.15s ease-in-out;
                    -o-transition: all 0.15s ease-in-out;
                    transition: all 0.15s ease-in-out;
                    &:hover {
                        box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.075);
                        transform: translateY(-2px) translateX(2px);
                    }
                    .item-image {
                        .screen-tab-desk( {
                            height: 133px;
                            padding: 10px
                        }
                        );
                        background-color: @grey05;
                        img {
                            width: 100%;
                            height: 113px;
                            .screen-mob( {
                                height: 220px;
                            }
                            );
                        }
                    }
                    .item-desc {
                        border: solid 1px @grey05;
                        color: @black-color01;
                        text-align: left;
                        padding: 14px 11px 10px 11px;
                        .screen-mob( {
                            .view-more {
                                .font(@HelveticaNeue_Light, 300, 16px, @grey08);
                                padding-right: 15px;
                            }
                        }
                        );
                        .item-main {
                            .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                            padding-bottom: 16px;
                            word-wrap: break-word;
                        }
                        .item-details {
                            .screen-tab-desk( {
                                display: block !important;
                            }
                            );

                            .screen-mob( {
                                display: none;
                                .view-less {
                                    .font(@HelveticaNeue_Light, 300, 16px, @grey08);
                                    padding-right: 15px;
                                }
                            }
                            );
                            .item-engine-head {
                                .font(@openSans , normal, 10px, @black-color01);
                                padding-bottom: 5px;
                            }
                            .item-engine-desc {
                                .font(@HelveticaNeueMedium, bold, 12px, @black-color01);
                                padding-bottom: 12px;
                            }
                            .item-power-head {
                                .font(@openSans , normal, 10px, @black-color01);
                                padding-bottom: 5px;
                            }
                            .item-power-desc {
                                .font(@HelveticaNeueMedium, bold, 12px, @black-color01);
                                text-align: left;
                                padding-bottom: 12px;
                            }
                            .item-optwt-head {
                                .font(@openSans , normal, 10px, @black-color01);
                                text-align: left;
                                padding-bottom: 5px;
                            }
                            .item-opt-desc {
                                .font(@HelveticaNeueMedium, bold, 12px, @black-color01);
                            }
                        }
                    }
                }
                > div {
                    width: 100%;
                }
            }
        }
        .searching-failed,
        .empty-results {
            height: 60vh;
            .error,
            .empty {
                height: 100%;
                position: relative;
                top: 20%;
                margin: 0px auto;
                text-align: center;
                .font(@openSans, 300, 20px);
                .header {
                    border-bottom: 1px solid #ffd426;
                    margin-bottom: 20px;
                    display: inline-block;
                    font-weight: bold;
                }
            }
        }
    }
    .nav-mobile {
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: @zindexMobilePlpButtons;
        .screen-tab-desk( {
            display: none;
        }
        );
        .nav-mobile-contnet {
            >div {
                display: none;
            }
            #nav-mobile-selection {
                background-color: @grey09;
            }
            #nav-mobile-locations {
                background-color: @grey09;
                padding: 20px;
                .font(@openSans, 300, 14px);
                .filter-checkgrp {
                    display: block;
                    .flit-text {
                        display: inline-block;
                    }
                    .filter-check {
                        float: right;
                    }
                    .box-rect {
                        position: inherit;
                        float: right;
                        top: 3px;
                        right: 0;
                        width: 10px;
                        height: 10px;
                        border-radius: 1.5px;
                        box-sizing: border-box;
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                        border: solid 1px @grey10;
                    }
                    .filter-check {
                        visibility: hidden;
                        position: absolute;
                        top: 0;
                        right: 0;

                        &[disabled=disabled]+.box-rect{
                            border: solid 1px #cccccc;
                        }

                        &:checked+.box-rect {
                            background-color: @sun-yellow;
                        }
                    }
                }
            }
            #nav-mobile-selection {
                padding: 10px;
                .params-sec {
                    padding-bottom: 30px;
                    .params-sec-heading {
                        .font(@openSans, 300, 18px, @black-color01);
                        padding-bottom: 10px;
                    }
                    .params-sec-dropdown {
                        .drop-down-button {
                            padding: 0px;
                            background-color: @white;
                            box-shadow: none;
                            .text {
                                display: inline-block;
                                height: 50px;
                                width: 88%;
                                padding: 15px 15px;
                                .font(@HelveticaNeueThin, 100, 14px);
                                text-align: left;
                            }
                            .arrow {
                                width: 12%;
                                background-color: #ffcc00;
                                height: 50px;
                                margin: 0px auto;
                                padding: 21px 14px;
                            }
                        }
                    }
                }
                .update-btn-container {
                    width: 132px;
                    margin: 0px auto;
                    padding-bottom: 20px;
                    button {
                        .font(@openSans, bold, 20px, @grey03);
                        &.disabled {
                            background-color: @grey04;
                        }
                        background-color: @grey07;
                    }
                }
            }
        }
        .nav-mobile-tabs {
            .tabs-container {
                display: flex;
                font-family: OpenSans;
                font-size: 16px;
                font-weight: 300;
                text-align: center;
                clear: both;
                color: white;
                text-transform: uppercase;
                .select-tab {
                    background-color: #000;
                    width: 50%;
                    float: left;

                    .selection {
                        padding: 11px 0;
                    }
                }
                .loacate-tab {
                    background-color: #000;
                    width: 50%;
                    float: right;
                    border-left: solid 2px #f0f0f0;
                    .location {
                        padding: 11px 0;
                    }
                }
            }
        }
    }
    .pagination-container {
        .pagination {
            li {
                a {
                    color: #000;
                    background-color: #f7f7f7;
                }
                &.active {
                    a {
                        font-weight: bolder;
                    }
                }
            }
        }
        background-color: @grey09;
        padding-top: 12px;
        >div {
            padding-right: 10px;
        }
        .pagination-first {
            display: none;
        }
        .pagination-last {
            display: none;
        }
        .pagination-prev,
        .pagination-next {
            a {
                background-color: #f7f7f7;
                font-size: 21px;
                color: #000;
            }
        }
        .pagination-first,
        .pagination-last {
            a {
                background-color: @grey09;
            }
        }
        .pagination-page {
            a {
                .font(@HelveticaNeueThin, 100, 16px);
            }
        }
    }

    #catSearchMobileNavOverlay {
        &[data-sidebar-overlay] {
            .screen-tab-desk( {
                display: none !important;
            }
            );
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 40px;
            z-index: @zindexMobilePlpOverLay;
        }
    }
}