.my-profile {
    .profile-container {

        @media (min-width: 768px) {
            background-color: #000000;
            border: solid 1px #cdcdcd;
        }
        margin: 0px;
    }
    .left-content {
        background-color: #000000;
        color: #ffffff;
        text-align: left;
        padding: 33px 39px;
        @media (max-width: 767px) {
            padding: 10px;
        }
        .heading {
            font-size: 20px;
            margin-bottom: 28px;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            @media (max-width: 767px) {
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 10px;
            }
        }
        .user-name {
            margin-bottom: 15px;
            font-size: 24px;
            text-align: left;
            color: #ffffff;
            word-wrap: break-word;
            font-family: 'Open Sans', sans-serif;
            @media (max-width: 767px) {
                text-align: center;
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        .user-email {
            margin-bottom: 8px;
            font-family: "HelveticaNeue_Light";
            @media (max-width: 767px) {
                text-align: center;
                font-size: 12px;
                font-weight: 300;
            }
        }
        .user-contact {
            margin-bottom: 24px;
            font-family: "HelveticaNeue_Light";
            font-size: 14px;
            @media (max-width: 767px) {
                text-align: center;
                font-size: 12px;
                font-weight: 300;
            }
        }
        .user-password {
            @media (max-width: 767px) {
                text-align: center;
            }
        }
        .update-password {
            min-height: 35px;
            background-color: #3f3f3f;
            border: solid 1px #979797;
            text-transform: uppercase;
            border: solid 1px #979797;
            color: #ffffff;
            @media (max-width: 767px) {
                text-align: center;
            }
        }
    }
    .right-content {
        padding-top: 15px;
        @media (min-width: 768px) {
            background-color:#ffffff;
            padding-top: 33px;
        }
        .heading {
            margin-bottom: 30px;
            height: 24px;
            font-size: 18px;
            text-align: left;
            color: #000000;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            @media (max-width: 767px) {
                font-size: 12px;
                margin-bottom: 15px;
            }
        }
        .border-top {
            border-top: solid 1px #d1d1d1;
        }
        .dealer-info {
            padding-bottom: 40px;
            padding-left: 35px;
            padding-bottom: 15px;
            @media (max-width: 767px) {
                background-color:#ffffff;
                margin-top: 10px;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 22px;
            }
        }

        .shipping-info {
            padding-top: 33px;
            padding-bottom: 40px;
            padding-left: 35px;
            padding-bottom: 15px;
            @media (max-width: 767px) {
                background-color:#ffffff;
                border-top: none;
                margin-top: 10px;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 14px;
            }
        }

        .billing-info {
            padding-top: 33px;
            padding-bottom: 40px;
            padding-left: 35px;
            padding-bottom: 15px;
            @media (max-width: 767px) {
                background-color:#ffffff;
                border-top: none;
                margin-top: 10px;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 14px;
            }
        }
        .user-profile-cell {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 100;
            text-align: left;
            color: #000000;
            @media (max-width: 767px) {
                padding-bottom: 10px;
            }
            label {
                text-transform: uppercase;
                font-weight: 100;
                font-family: "HelveticaNeue_Light";
                @media (max-width: 767px) {
                    margin-bottom: 0px;
                }
            }
            div {
                display: block;
                font-family: "HelveticaNeueMedium";
                @media (min-width: 768px) {
                    display: inline-block;
                }
            }
        }
    }
}