/*!
 * CAT Site Version 0.0.1
 * Copyright reserved @Deloitte and CAT
 */
* {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.cat-container {
  margin: 0px auto;
  width: 90%;
}
@media (min-width: 1240px) {
  .cat-container {
    width: 1080px;
  }
}
body {
  background-color: #f7f7f7;
}
header {
  background: none;
  margin-bottom: 0px;
}
header .navigation.navigation--top {
  background-color: #000000;
}
header .navigation.navigation--top .header-row {
  height: 68px;
}
header .navigation.navigation--top .header-row .nav__right .nav__links--account li {
  cursor: pointer;
  padding: 24px 18px;
  border-left: 1px solid #5f5f5f;
  color: #fff;
  text-transform: uppercase;
}
header .navigation.navigation--top .header-row .nav__right .nav__links--account li a {
  padding: 0px;
}
header .navigation.navigation--top .banner__component {
  width: 70px;
  height: 40px;
  overflow: hidden;
  position: relative;
  top: 9px;
}
header .navigation.navigation--top .banner__component img {
  height: 70px;
}
header .navigation.navigation--middle {
  min-height: 15px;
  background-color: #ffd426;
}
header .navigation--bottom {
  background-color: #ffd426;
  border-bottom: none;
  color: #000000;
}
.branding-mobile {
  background-color: #000000;
}
.branding-mobile .js-mobile-logo {
  width: 60px;
  overflow: hidden;
  height: 29px;
}
.branding-mobile .js-mobile-logo img {
  width: 150px;
}
footer {
  margin-top: 30px;
}
.login-section .login-page__headline {
  padding-top: 59px;
  padding-bottom: 64px;
  font-family: OpenSans;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.8px;
  text-align: center;
  text-transform: uppercase;
}
.login-section .login-form {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 4px rgba(186, 186, 186, 0.33);
  padding-top: 70px;
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .login-section .login-form {
    width: 640px;
    margin-bottom: 100px;
  }
}
.login-section .login-form input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
  padding-right: 30px;
  height: 55px;
  padding-left: 0px;
}
.login-section .login-form button {
  width: 120px;
  margin: 0px auto;
  background-color: #3f3f3f;
  border: solid 1px #979797;
  margin-top: 40px;
}
.login-section .login-form button:hover {
  background-color: #ffd426;
}
.login-section .login-form #loginForm {
  width: 90%;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .login-section .login-form #loginForm {
    width: 420px;
  }
}
.login-section .login-form #loginForm .forgotten-password {
  color: #000000;
  margin-top: 25px;
}
.login-section .login-form #loginForm .forgotten-password a {
  color: #000000;
}
.login-section .login-form #loginForm .forgotten-password a:hover {
  color: #000000;
}
.login-section .login-form #loginForm .form-group .input-icon {
  position: relative;
  top: -37px;
  left: 95%;
}
.my-profile .profile-container {
  margin: 0px;
}
@media (min-width: 768px) {
  .my-profile .profile-container {
    background-color: #000000;
    border: solid 1px #cdcdcd;
  }
}
.my-profile .left-content {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  padding: 33px 39px;
}
@media (max-width: 767px) {
  .my-profile .left-content {
    padding: 10px;
  }
}
.my-profile .left-content .heading {
  font-size: 20px;
  margin-bottom: 28px;
  text-transform: uppercase;
}
.my-profile .left-content .user-name {
  margin-bottom: 15px;
  font-size: 24px;
  text-align: left;
  color: #ffffff;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .my-profile .left-content .user-name {
    text-align: center;
    font-size: 20px;
  }
}
.my-profile .left-content .user-email {
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .my-profile .left-content .user-email {
    text-align: center;
  }
}
.my-profile .left-content .user-contact {
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .my-profile .left-content .user-contact {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .my-profile .left-content .user-password {
    text-align: center;
  }
}
.my-profile .left-content .update-password {
  min-height: 35px;
  background-color: #3f3f3f;
  text-transform: uppercase;
  border: solid 1px #979797;
  color: #ffffff;
}
@media (max-width: 767px) {
  .my-profile .left-content .update-password {
    text-align: center;
  }
}
.my-profile .right-content {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .my-profile .right-content {
    background-color: #ffffff;
    padding-top: 33px;
  }
}
.my-profile .right-content .heading {
  margin-bottom: 30px;
  height: 24px;
  font-size: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}
.my-profile .right-content .border-top {
  border-top: solid 1px #d1d1d1;
}
.my-profile .right-content .dealer-info {
  padding-bottom: 40px;
  padding-left: 35px;
  padding-bottom: 35px;
}
@media (max-width: 767px) {
  .my-profile .right-content .dealer-info {
    background-color: #ffffff;
    margin-top: 10px;
    padding-top: 10px;
  }
}
.my-profile .right-content .shipping-info {
  padding-top: 33px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-bottom: 35px;
}
@media (max-width: 767px) {
  .my-profile .right-content .shipping-info {
    background-color: #ffffff;
    border-top: none;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
  }
}
.my-profile .right-content .billing-info {
  padding-top: 33px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-bottom: 35px;
}
@media (max-width: 767px) {
  .my-profile .right-content .billing-info {
    background-color: #ffffff;
    border-top: none;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
  }
}
.my-profile .right-content .user-profile-cell {
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  color: #000000;
}
.my-profile .right-content .user-profile-cell label {
  text-transform: uppercase;
  font-family: HelveticaNeue;
}
.my-profile .right-content .user-profile-cell div {
  display: block;
}
@media (min-width: 768px) {
  .my-profile .right-content .user-profile-cell div {
    display: inline-block;
  }
}
.breadcrumb-section {
  background-color: transparent;
}
.breadcrumb-section .breadcrumb {
  background-color: transparent;
}
