
//CAT Base color definition
@black-color01: #000000;
@sun-yellow: #ffd426;
@white: #ffffff;
@white01: #414141;
@grey01: #292929;
@grey02: #303030;
@grey03: #f0f0f0;
@grey04:#404040;
@grey05: #f4f4f4;
@grey06: #cdcdcd;
@grey07: #3f3f3f;
@grey08: #9b9b9b;
@grey09: #f7f7f7;
@grey10: #979797;
@grey11: #f6f6f6;
@grey12: #d1d1d1;
@grey13: #d5d5d5;
@grey14: #cccccc;
@grey15:#F9F9F9;
@grey16:#B0B0B0;
@grey17:#E7E7E7;
@grey18:#D9D9D9;
@grey19: #000105;
@grey20:#BEBEBE;
@grey21 : #5F5F5F;
@grey22:#D8D8D8;
@grey23: #DDDDDD;
@grey24: #EBEBE4;
@sunflower-yellow: #ffcc00;
@red01: #d0011b;
@red02: #d0021b;
@lane1: #e96979;
@lane2: #f5a623;
@lane3: #8b572a;

