* {
    box-sizing: border-box;
}

.text-center{
	text-align: center;
}
.page-loader{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    opacity: 0.5;
    background-color: @black-color01;
    &:before{
        content:'';
        display: block;
        position:relative;
        top: 50%;
        margin: -40px auto auto;
        .cat-loading-spinner;
      
    }
    .page-loader-status{
      position: relative;
      top: 50%;
      display: block;
      color: @white;
      text-align: center;
      margin-top: 10px;
  }
    
}
.cat-container{
  margin: 0px auto;
  width: 95%;
  .screen-desk({
    width: 1180px;
  });
}

.cat-row {
  margin-left: -10px;
  .screen-mob({
    margin-left: 0px;
    margin-bottom: 80px;
  })
}

body{
  font-size: 16px;
	background-color: #f7f7f7;
}

html,body{
    min-height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.cat-loading-spinner {
  border: 5px solid @grey05;
  border-radius: 50%;
  border-top: 5px solid @sun-yellow;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.camelCase{
    text-transform: capitalize;
}

.upperCase{
  text-transform: uppercase;
}


.nopad-mobile{
  .screen-mob({
    padding: 0px;
    });
}

input[type=text]::-ms-clear , input::-ms-clear{
    display: none;
}

.page-headding{
  background-color:@grey09;
  padding-bottom: 40px;
  .headding{
    .font(@openSans, bold, 18px, @black-color01);
    letter-spacing: -0.5px
  }
  .screen-mob({
    padding-left:20px;
  });
}

[uib-dropdown]{
  .dropdown-menu{
    li{
      a{
        padding:0;
      }
    }
  }
}

.cat-main-content{
  .calc(min-height, "100vh - 210px");
}

.no-pad-left{
  padding-left: 0px;
}

.no-pad-right{
  padding-right: 0px;
}

input:focus {
    outline-offset: -2px;
}

.button[disabled] {
  background-color: @grey13 !important;
  color: @white !important;
  cursor: not-allowed !important;
  border: none !important;
}


.account-section{
  margin: inherit;
    width: auto;
}

.hide-important{
  display: none !important;
}

.hide_overflow {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  .screen-mob({
    white-space: pre;
  });
}

.pop-up-blur{
  .blur(5px);
}

.dash-border {
  border-bottom: dashed 1px;
}  

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.text-align-right{
  text-align: right;
}
a, button{
  color: @black-color01;
}

.d-inline-block {
    display: inline-block;
}