#reserve-machine-modal-body{
    max-height: 100vh;
    overflow: auto;
    .screen-mob({
        .calc(height,'100vh');
        //margin-top: -10px;
    });
    &.epp-csa-modal{
        .screen-mob({
            height:auto;
        });
    }
    padding:0;
    background-color:@white;
    border: solid 3px @grey10;
    .close-modal{
        background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
        display:inline-block;
        width:15px;
        height:15px;
        background-size: contain; 
        cursor: pointer;
        right:15px;
        top:15px;
        position: absolute;
    }
    .clear-alert-popup-text {
        .font(@HelveticaNeue, 300, 16px, @black-color01);
    }
    .clear-alert-popup-btn {
        .font(@openSans, bold, 14px, @white);
    }
    .confirm-remove{
        text-align: center;
        margin-top: 40px;
        .font(@HelveticaNeue, 300, 16px, @black-color01);
    }
    .update-product-list{
        margin-top:30px;
        margin-bottom:0;
        //height: initial;
        padding:12px 30px;
    }
    .remove-product-btn-container{
        text-align: center;
        padding:15px 125px;
        .no-btn{
            background-color: @white;
            color:@black-color01;
        }
    }
    .reserve-machine-popup-heading{
        h3, .h3 {
            font-size: 20px;
        }
        .font(@openSans_Bold, normal, 20px, @black-color01);
        letter-spacing: -0.6px;
        margin-top:45px;
    }
    .reserve-row{
        padding:40px 55px;
    }
    .clear-row{
        padding:40px 45px;
    }
    .margin-bottom-20{
        margin-bottom:20px;
    }
    .margin-top-20{
        margin-top:20px;
    }
    .reserve-machine-header{
        .font(@HelveticaNeueThin, normal, 16px, @black-color01);
        margin-bottom: 10px;
    }
    .reserve-machine-value{
        .font(@HelveticaNeueMedium, normal, 16px, @black-color01);
        .text-box{
           border:0;
           border-bottom:1px solid @grey10;
           width:50px;
           .font(@HelveticaNeueThin, normal, 14px, @black-color01);
           font-style:italic;
        }
        .calendar-icon{
            cursor: pointer;
            background: url(/_ui/responsive/cat/images/calendar.png) top right no-repeat;
            height:20px;
            width:20px;
            position: relative;
            float: right;
            clear: right;
            margin-left: 230px;
            margin-top: -20px;
        }
    }
    .product-family-btn{
        width:100%;
    }
    .product-family-dropdown{
        margin-bottom: 10px;
        width:100%;
    }
    .product-family-dropdown-menu{
        width:100%;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-style: normal;
        .font(@HelveticaNeueMedium, normal, 14px, @black-color01);

      }
      ::-moz-placeholder { /* Firefox 19+ */
        font-style: normal;
        .font(@HelveticaNeueMedium, normal, 14px, @black-color01);

      }
      :-ms-input-placeholder { /* IE 10+ */
        font-style: normal;
        .font(@HelveticaNeueMedium, normal, 14px, @black-color01);

      }
      :-moz-placeholder { /* Firefox 18- */
        font-style: normal;
        .font(@HelveticaNeueMedium, normal, 14px, @black-color01);

      }
    .reserve-end-date-datepicker{
        width:100%;
    }

    .dropdown-menu{
        padding:0;
        box-shadow: none;
        .uib-button-bar {
             padding: 10px 20px 10px 20px;
             margin-top: 0 !important;
             background-color:@grey11;
             border-left:1px solid @grey10;
             border-right:1px solid @grey10;
             border-bottom:1px solid @grey10;
             .btn{
                 display:none;
             }
             .date-heading{
                 .font(@openSans_Light, 300, 12px, @black-color01);
             }  
             .date-value{
                 .font(@openSans, normal, 12px, @black-color01);
             }   
        }
        table{
            width:240px;
            thead{
                border:1px solid @grey10;
                 tr{
                     th{
                         background-color:@white;
                         padding:8px 5px;
                         .font(@openSans_Light, 300, 10px, @black-color01);
                         &:last-child{
                             text-align: center;
                         }
                         .btn{
                             padding:0;
                             border-color:@white;
                             background-color:@white;
                             .font(@openSans, bold, 14px, @black-color01);
                             text-transform: capitalize;
                             .glyphicon-chevron-left{
                                 background: url(/_ui/responsive/cat/images/datepicker-prev.png) center right no-repeat;
                                 background-position: 7px 2px;
                                 width: 25px;
                                 height: 25px;
                                 &::before{
                                     content: " ";
                                     white-space: pre;
                                 }
                             }
                             .glyphicon-chevron-right{
                                 background: url(/_ui/responsive/cat/images/datepicker-next.png) center right no-repeat;
                                 background-position: 7px 2px;
                                 width: 25px;
                                 height: 25px;
                                 &::before{
                                     content: " ";
                                     white-space: pre;
                                 }
                             }
                         }
                     }
                 }
            }
            tbody{
             background-color:@grey11; 
             border:1px solid @grey10;  
             tr{
                 td{
                     padding:0;
                     .btn{
                         background-color:@grey11;
                         padding:5px;
                         border:0;
                         .font(@openSans, normal, 12px, @black-color01);
                         &.active{
                             span{
                                 background-color:@sunflower-yellow;
                                 padding:3px;
                             }
                         }
                     }
                 }
             }
            }
        }
     }
}
    .quotation-cart-container{
        margin-top:40px;
        margin-bottom:40px;
        .cart-header-section{
            background-color: @white;
        }
        .cart-product-details-table-section{
            .cart-product-details-table{
                thead{
                    tr{
                        th:last-child{
                            // padding-right:30px;
                            width:15%;
                        }
                    }
                }
                tbody{
                    tr{
                        background-color:@white;
                        td{
                            &.discount{
                                text-align: center;
                                position: relative;
                                .discount-box{
                                    width:50px;
                                    height:25px;
                                    text-align: center;
                                    border:1px solid @grey10;
                                }
                                label{
                                    @media(max-width: 900px){
                                        position: absolute;
                                        top: 0px;
                                        right: 17px;
                                    }
                                }
                            }
                            &.list-price{
                                text-align: right;
                                /*padding-right:0 !important;*/
                            }
                            &.discount-radio-col{
                                    //padding-left:45px;
                                    .discount-radio-container{
                                        text-indent:5px;
                                        input {
                                            position: absolute;
                                            opacity: 0;
                                        }
                                    } 

                                    .checkmark {
                                        position: relative;
                                        height: 13px;
                                        width: 13px;
                                        background-color:@white;
                                        border-radius: 50%;
                                        right: 58px;
                                        display: inline-block;
                                        top: 2px;
                                        border:1px solid @black-color01;
                                    }

                                    .discount-radio-container:hover input ~ .checkmark {
                                        background-color: @white;
                                    }

                                    .discount-radio-container input:checked ~ .checkmark {
                                        background-color:@sunflower-yellow;
                                        border:0;
                                    }

                                    .checkmark:after {
                                        content: "";
                                        position: absolute;
                                        display: none;
                                    }

                                    .discount-radio-container input:checked ~ .checkmark:after {
                                        display: block;
                                    }

                                    .discount-radio-container .checkmark:after {
                                        top: 4px;
                                        left: 4px;
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 50%;
                                        background:@grey07;
                                    }
                            }
                        }
                        &.discount-radio-row{
                            border-bottom:0;
                            td{
                                padding-bottom:0 !important;
                            }
                        }
                    }
                }
		&.replicate-quote-table{
                    thead{
                        tr{
                            th{
                                &.replicate-quote-transaction-price{
                                    span{
                                        display:block;
                                    }
                                }
                            }
                        }
                    }
                    .list-price{
                        padding-right:0;
                    }
                    .discount-radio-col{
                        padding-left:70px;
                    }
                    .list-price-per-product{
                        padding-right:0;
                    }
                    .product-family-heading{
                        .font(@openSans_Bold, bold, 16px, @black-color01);
                    }
                    .discount{
                        .discount-box{
                            width:85px;
                        }
                    }
                    .reserve-col{
                        padding:30px 0 0 3%;
                        .popup-btn{
                            position: relative;
                            margin-bottom: 0;
                            background-color: @white;
                            color:@black-color01;
                            padding: 0;
                            border: 0;
                            text-transform: none;
                            .font(@openSans, normal, 18px, @black-color01);
                            font-style:italic;
			                &.remove-btn{
                                margin-top:30px;
                            }
                        }
                        .icon-btn{
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            &.reserve-icon{
								&.disabled{
									background: url(/_ui/responsive/cat/images/group-29.png) center right no-repeat;
								}
                                background: url(/_ui/responsive/cat/images/reserve-icon.png) center right no-repeat;
                                margin: -5px 0 0 10px;
                            }
                            &.remove-icon{
                                background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
                                margin: 30px 0 0 10px;
                            }
                        }
                    }
                    .product-container{
                        .product-details-container{
                            .product-family-value{
                                margin-bottom:15px;
                                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                            }
                            .configuration-id-heading{
                                .font(@openSans_Light, 300, 16px, @black-color01); 
                            }
                            .configuration-id-value{
                                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                            }
                        }
                    }
                    .checkmark{
                       &.right-61{
                           right:61px;
                       }
                    }
                    .product-image-container{
                        width:127px;
                        img{
                            border:1px solid @grey10;
                        }
                    }
                    .reserved-machine-row{
                        border-bottom:0;
                    }
                    .reserve-data-row{
                        td{
                            padding:0 0 20px 205px;
                            .reserve-machines-heading {
                                .font(@openSans_Light, 100, 14px, @black-color01)
                            }
                            .reserve-machines-col{
                               .serial-numbers-column{
                                   .serial-number {
                                        .font(@HelveticaNeueThin, 300, 14px, @black-color01)
                                   }
                                   margin-left: -10px;
                                    .badge{
                                        padding:6px;
                                        border-radius:0;
                                        margin-right:20px;
                                        margin-top:10px;
                                        background-color:@grey11;
                                        border:1px solid @grey13;
                                        .font(@HelveticaNeueThin, normal, 16px, @black-color01)
                                    }
                               } 
                            }
                        }
                    }
		    .cart-product-row{
                        border-bottom:0;
                    }
                    .epp-csa-row{
                        td{
                            padding-top:0;
                            padding-bottom:0;
                            padding-right:45px;
                        }
                        .panel-group{
                            margin-bottom: 0;
                        }
                        .panel{
                            box-shadow: none;
                            border:0 !important;
                            .panel-heading{
                                background-color:@white;
                                padding:15px 0;
                                border-top:1px solid @grey13;
                            }
                            .panel-title{
                                padding-left:170px;
                                a{
                                    .font(@openSans_Light,normal,14px,@black-color01);
                                    text-decoration: none;
                                    &.expanded{
                                        .accordion-icon{
                                            display:inline-block;
                                            width:15px;
                                            height:15px;
                                            margin-right:10px;
                                            background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
                                        }
                                    }
                                    &.collapsed{
                                        .accordion-icon{
                                            display:inline-block;
                                            width:15px;
                                            height:15px;
                                            margin-right:10px;
                                            background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat; 
                                        }
                                    }
                                }
                            }
                            .panel-body{
                                border:0 !important;
                                padding:0 !important;
                                margin-bottom:20px;
                                hr{
                                    box-sizing: border-box;
                                }
                                .dropdown-menu{
                                    width:100%;
                                }
                                .product-family-dropdown{
                                    width:100%;
                                }
                                .product-family-btn{
                                    width:100%;
                                }
                                .calc-row{
                                    padding:40px 0 0 0;
                                    .hours-box{
                                        width:60px;
                                        height:25px;
                                    }
                                    .years-box{
                                        width:60px;
                                        height:25px;
                                    }
                                    .years-label{
                                        .font(@HelveticaNeueThin,normal,16px,@black-color01);
                                    }
                                    .hours-label{
                                        .font(@HelveticaNeueThin,normal,16px,@black-color01);
                                    }
                                }
                                .epp-label{
                                    .font(@HelveticaNeue,bold,14px,@black-color01);
                                    padding-right:70px;
                                    &.csa{
                                        padding-right: 55px;
                                    }
                                }
                                .button-col{
                                    padding-top:40px;
                                    .epp-apply{
                                       margin-left:35px;
                                       background-color:@white;
                                       .font(@openSans_Bold,normal,14px,@black-color01);
                                       border:1px solid @grey10;
                                       padding:6px 20px;
                                    }
                                    .epp-clear{
                                        background-color:@white;
                                        .font(@openSans_Bold,normal,14px,@black-color01);
                                        border:1px solid @grey10;
                                        padding:6px 20px;
                                    }
                                }
                                .epp-csa-table{
                                    thead{
                                        tr{
                                            border:0 !important;
                                            th{
                                                width:33%;
                                                border:0 !important;
                                                padding:0;
                                            }
                                        }
                                    }
                                    tbody{
                                        tr{
                                            border:0 !important;
                                            td{
                                                padding:30px 0 0 0;
                                                .discount-box{
                                                    width:86px;
                                                    height:25px;
                                                }
                                                .quantity-box{
                                                    width:28px;
                                                    height:25px;
                                                }
                                                .increment{
                                                    background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
                                                    display: inline-block;
                                                    height: 15px;
                                                    width: 15px;
                                                    position:relative;
                                                    margin-left:6px;
                                                }
                                                .decrement{
                                                    background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
                                                    display: inline-block;
                                                    height: 15px;
                                                    width: 15px;
                                                    position:relative;
                                                    margin-right:6px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                           
                        }
                    }
                    .discontinued-product-row{
                        border:2px solid @red02;
                        .product-image-container{
                            img{
                                opacity:0.25;
                            }
                        }
                        .product-container{
                            label{
                                color:@grey14 !important;
                            }
                        }
                        .popup-btn{
                            color: @grey14;
                        }
                        .list-price-per-product{
                            label{
                                color:@grey14;
                            }
                        }
                        .list-price{
                            label{
                                color:@grey14;
                            }
                        }
                        .quantity{
                            .quantity-box{
                                color:@grey14;
                                border:1px solid @grey14;
                            }
                            .increment{
                                background: url(/_ui/responsive/cat/images/greyed-increment.png) center right no-repeat;
                            }
                            .decrement{
                                background: url(/_ui/responsive/cat/images/greyed-decrement.png) center right no-repeat;
                            }
                        }
                        .discount{
                            .discount-box{
                                color:@grey14;
                                border:1px solid @grey14;
                            }
                            span{
                                color:@grey14;
                            }
                        }
                        .discontinued-product-copy{
                            .font(@HelveticaNeue, 300, 18px, @red02);
                            position:absolute;
                            margin-top:90px;
                            left:22%;
                        }
                    }
                }
            }
        } 
        .total-price-section{
            background-color: @white;
            padding:40px 210px 35px 30px;
            .price-value{
                .font(@HelveticaNeue_Light, 300, 20px, @black-color01);
                line-height:20px;
            }
            .price-header{
                .font(@openSans, bold, 16px, @black-color01);
            }
			.total-discount{
                .price-header{
                }
            }
        }
        .transaction-price-section{
            background-color: @white;
            padding:40px 210px 40px 30px;
            border-bottom:1px solid @grey13;
            .price-value{
                .font(@HelveticaNeue_Light, 300, 24px, @black-color01);
                line-height:24px;
            }
            .price-header{
                .font(@openSans, bold, 18px, @black-color01);
            }
        }
        .additional-services-section{
            background-color: @white;
            padding:40px 30px 30px 30px;
            .additional-services-header{
                margin-bottom:30px;
                label{
                    .font(@openSans, bold, 14px, @black-color01);
                }
            }
            .additional-services-checkbox-section{
                &.CSA{
                    margin-bottom:30px;
                }
                .additional-service-checkbox-container{
                    .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                    text-transform: none;
                }
            }
            .description-box{
                background-color: @grey11;
                border:0;
                border-bottom:1px solid @grey10;
                margin-top:40px;
                &::placeholder{
                    .font(@HelveticaNeueThin, 100, 14px, @grey10);
                    font-style: italic;
                }
            }
            .additional-service-checkbox-container{
                display:block;
                text-indent: 15px;
            }
            .additional-service-checkbox-container input {
                position: absolute;
                opacity: 0;
            }
            
            /* Create a custom checkbox */
            .additional-service-checkbox-container .checkmark {
                position: absolute;
                top: 5px;
                left:-4px;
                height: 13px;
                width: 13px;
                background-color:@white;
                border:1px solid @grey10;
            }
            
            /* When the checkbox is checked, add a blue background */
            .additional-service-checkbox-container input:checked ~ .checkmark {
                background-color:@sunflower-yellow;
                border:0;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .additional-service-checkbox-container:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .additional-service-checkbox-container input:checked ~ .checkmark:after {
                content: "";
                display: block;
                position: absolute;
            }
            
            /* Style the checkmark/indicator */
            .additional-service-checkbox-container .checkmark:after {
                left: 4px;
                top: 1px;
                width: 5px;
                height: 10px;
                border: solid #000000;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            
        }
.new-additional-services-section{
            border-bottom:1px solid @grey13;
            padding-top:0;
            padding-bottom:0;
            .additional-service-checkbox-container{
                margin-right:35px;
                text-indent: 20px;
                text-transform: none;
                .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
                .checkmark{
                    left:inherit;
                }
            }
            .discount-box{
                margin-top:15px;
                width:84px;
                margin-bottom:30px;
            }
            .currency-symbol{
                margin-top:20px;
            }
            .add-new-btn{
                margin-bottom:0;
            }
            .product-family-btn{
                width:165px;
                .product-family-dropdown{
                    width:100%;
                }
                .product-family-dropdown-menu{
                    width:100%;
                }
            }
        }
    }
    
@media only screen and (max-width: 768px){
        .quotation-cart-container{
            .cart-product-details-table-section{
                background-color:@white;
                margin-bottom:0;
                .cart-product-details-table{
                    tbody{
                        tr{
                            td{
				&.product-name{
                                    .remove{
                                       top:-25px;
                                    }
                                }
                                &.discount{
                                    &:before{
                                        .font(@openSans_Light, normal, 10px, @black-color01);
                                        left:20px;
                                    }
                                    .discount-box{
                                        height:20px;
                                    }
                                }
				 &.list-price-per-product{
                                    text-align:right;
                                }
                            }
                        }
                    }
                    &.replicate-quote-table{
                        tbody{
                            tr{
                                td{
                                    &.reserve-col{
                                        padding:30px 10px 0 30px;
                                        .popup-btn{
                                            border:1px solid @grey10;
                                            .font(@openSans_Bold, normal, 14px, @black-color01);
                                            font-style:normal;
                                            margin-bottom:15px;
                                            padding:14px 90px;
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .total-price-section{
                padding:15px 20px 25px 10px;
                border:0;
                .price-header{
                    .font(@openSans_Light, normal, 12px, @black-color01);
                }
                .price-value{
                    .font(@HelveticaNeueMedium, normal, 16px, @black-color01);
                }
            }
            .transaction-price-section{
                background:none;
                border:0;
                padding:15px 20px 25px 10px;
                .price-header{
                    .font(@openSans_Light, normal, 14px, @black-color01);
                }
                .price-value{
                    .font(@HelveticaNeueMedium, normal, 18px, @black-color01);
                }
            }
            .additional-services-section{
                padding:30px 20px 40px 10px;
                .additional-services-header{
                    label{
                        color:@black-color01;
                        font-weight:normal;
                    }
                }
                .description-box{
                    width:100%;
                    margin-top:15px;
                }
                .additional-service-checkbox-container{
                    text-indent:20px;
                    .checkmark{
                        left:0;
                    }
                }
            }
            .mobile-discount-box{
               position:relative;
               top:-10px;
               right:30px;
               .discount-box{
                    font-weight: 300;
                    font-size: 12px;
                    color: #000000;
                    border: 1px solid #979797;
                    width: 28px;
                    height: 25px;
                    text-align: center;
                }
               .discount-radio-container{
                   span{
                       position: absolute;
                       background-color: @white;
                       padding: 0 8px;
                       font-size: 15px;
                       top: 4px;
                       left: 4px;
                       &.active-discount{
                           color: @grey10;
                       }
                       &.price-discount{
                        left: -5px;
                       }
                   }
                   .price-discount{
                       span{
                        &:first-child{
                            left: -80px;
                        }
                       }
                   }
               }
            }
        }
    }

.product-table {
    background: @white;
    border-top: 1px solid @grey17;
    .table-heading {
        border-bottom: 1px solid @grey17;
        & div:not(:first-child) {
            >div {
                text-align: right;
            }
        }
        >div {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .header {
            .font(@openSans, bold, 14px, @black-color01);
            &:first-child {
                padding-left: 30px;
            }
        }
    }  
    .table-content {
        .screen-tab-desk ({
            border-bottom: 1px solid @grey17;
            padding-top: 40px;
        });
        .screen-mob ({
            border: 1px solid @grey17;
            margin: 20px 10px;
        });
        .header:not(:first-child) {
            text-align: right;
        }
        .quantityDetails{
            text-align: center;
        }
        .product-name {
            padding-left: 20px;
            .screen-mob({
                padding-left: 0px;
                padding-top: 30px;
                border-bottom: 1px solid @grey17;
                .product-row {
                    padding-left: 15px;
                }
            });
        }
        .product-image-container {
            width: 140px;
            .screen-mob({
                width: 79px;
            });
            img {
                width: 100%;
                border: 1px solid @grey12;
                .screen-mob({
                    margin-bottom: 20px;
                })
            }
        }
        .product-family-heading {
            .font(@openSans_Bold, bold, 16px, @black-color01);
            margin-bottom: 0px;
            .screen-mob({
                .font(@openSans_Bold, normal, 14px, @black-color01);
                text-transform: uppercase;
            });
        }
        .product-family-value {
            margin-bottom:15px;
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
            .screen-mob ({
                .font(@HelveticaNeue, normal, 12px, @black-color01);
                margin-top: 15px;
            });
        }
        .serial-no {
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
        }
        .decrement {
            background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 10px;
            cursor: pointer;
            position: relative;
            top: 3px;
        }
        .increment {
            background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-left: 10px;
            cursor: pointer;
            position: relative;
            top: 3px;
        }
        .quantity-box {
            width: 30px;
            height: 25px;
            text-align: center;
            border: 1px solid #979797;
        }
        .configuration-id-heading {
            .font(@openSans_Light, 300, 16px, @black-color01); 
        } 
        .configuration-id-value {
            .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
        }
        .po-section {
            margin-bottom: 40px;
            .screen-tab-desk({
                margin-top: 20px;
            });
        }
        .po-boxes-section {
            .screen-tab-desk ({
                border-bottom: 1px solid @grey12;
                padding-bottom: 40px !important;
            });
        }
        .po-no-heading {
            .font(@openSans_Light, 300, 14px, @black-color01);
            .asterik{
                .font(@openSans_Light, 300, 14px, @black-color01);
                position: absolute;
                top: 0;
            }
        }
        .po-no-disclaimer {
            .font(@HelveticaNeue_Light, 300, 12px, @black-color01);
            margin-bottom:20px;
            .error-container{
                margin-left:25px;
                .font(@openSans, normal, 12px, @red02);
                font-style: italic;
                .screen-mob({
                    margin: 5px 0px;
                })
            }
        }
        .po-count-text {
            .font(@HelveticaNeueMedium, 500, 12px, @black-color01);
            .text-alignment {
                vertical-align: super;
                margin-left: 5px;
            }
        }
        .po-count-img {
            width: 20px;
            height: 20px;
            display: inline-block;
        }
        .po-no-box {
            margin-top: 25px;
            min-height: 26px;
            &:nth-child(4n+1) {
                .screen-tab-desk ({
                    padding-left: 0px;
                });
            }
            &:last-child {
                .screen-mob({
                    margin-bottom: 20px;
                });
            }
        }
        .po-count-img-full {
            @extend .po-count-img;
            background: url(/_ui/responsive/cat/images/yess.png) no-repeat;
            background-size: 20px;
        }
        .po-count-img-empty {
            @extend .po-count-img;
            background: url(/_ui/responsive/cat/images/warning.png) no-repeat;
            background-size: 20px;
        }
        .po-count-img-not-full {
            @extend .po-count-img;
            background: url(/_ui/responsive/cat/images/info-icon-type2.png) no-repeat;
            background-size: 20px;
        }
        .remove{
            background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
            display:inline-block;
            width:12px;
            height:12px;
            margin-left:10px;
            cursor: pointer;
        }
        .remove-row {
            text-align: right;
        }
        .config-id-section {
            padding: 20px 25px 15px 15px;
        }
        .config-id-heading{
            .font(@openSans, normal, 10px, @black-color01);
            margin-bottom:8px;
        }
        .configlevel-product-mb {
            /*border-bottom: 1px solid @grey17; */
        }
        .config-id-value{
            .font(@HelveticaNeue, normal, 12px, @black-color01);
            margin-bottom:20px;
            .remove{
                background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
                display:inline-block;
                width:12px;
                height:12px;
                cursor: pointer;
                position:absolute;
                top: -20px;
                right: -10px;
            }
        }
        .heading{
            .font(@openSans_Light, 300, 10px, @black-color01);
            margin-bottom:20px;
        }
        .value{
            .font(@HelveticaNeue, normal, 12px, @black-color01);
            margin-bottom:20px;
        }
        .po-input {
            .screen-mob({
                width: 80%;
            });
        }
    }  
}
.popup-text-align {
    text-align: center;
}
.no-padding-desktop {
    .screen-tab-desk ({
        padding: 0px !important;
    });
}