@media only screen and (max-width: 768px) {
    .quotation-page-mobile-component{
        display:block;
        #msform {
            text-align: center;
            position: relative;
            margin-top: 30px;
        }
        
        #msform fieldset {
            background:none;
            border: 0 none;
            border-radius: 0px;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            position: relative;
            > div{
                background:@white;
            }
        }
        
        #msform fieldset:not(:first-of-type) {
            display: none;
        }
        
        #msform input, #msform textarea {
            width: 100%;
            box-sizing: border-box;
            margin-top:6px;
        }
        #progressbar {
            padding-left:0;
            margin-bottom: 30px;
            overflow: hidden;
        }
        
        #progressbar li {
            height:30px;
            list-style-type: none;
            text-transform: uppercase;
            width: 33.33%;
            .font(@openSans_Light, 300, 9px, @black-color01);
            float: left;
            position: relative;
        }
        
        #progressbar li:before {
            content: "";
            height: 10px;
            display: block;
            font-size: 12px;
            margin: 0 auto 10px auto;
            background-color:@grey13;
            border-left:0.5px solid @grey17;
            border-top:0.5px solid @grey19;
            border-bottom:0.5px solid @grey19;
        }

        #progressbar li:first-child:before{
            border-left:0.5px solid @grey19;
        }
        #progressbar li:last-child:before{
            border-right:0.5px solid @grey19;
        }
        
        #progressbar li.active:before, #progressbar li.active:after {
            background:@sunflower-yellow;
        }
        .padding-top-15{
            padding-top:15px !important;
            border:1px solid @grey17;
        }
        .quote-details-heading{
            padding:15px 10px 10px 20px;
            border-bottom:1px solid @grey12;
            .fs-title{
                text-align: left;
                margin:0;
                .font(@openSans, bold, 12px, @black-color01);
            }
        }
        .quote-details-content{
            padding:20px 30px 20px 20px;
            .quote-details-row{
                margin-bottom:20px;
                .col-header{
                    .font(@HelveticaNeueThin, 100, 12px, @black-color01);
                    .asterik{
                        .font(@HelveticaNeueThin, 100, 12px, @black-color01);
                    }
                }
                .col-value{
                    .font(@HelveticaNeue, normal, 12px, @black-color01);
                }
                .text-box{
                    border:0;
                    padding:0;
                    border-bottom: 1px solid @grey10;
                    .font(@HelveticaNeue, normal, 12px, @black-color01);
                    &.description-box{
                        background-color:@grey11;
                        &::placeholder{
                            .font(@HelveticaNeueThin, 100, 14px, @grey10);
                            font-style: italic;
                        }
                    }
                }
                .dropdown-menu{
                    padding:0;
                    min-width:100%;
                    table{
                        width:100%;
                        thead{
                            border:1px solid @grey10;
                             tr{
                                 th{
                                     background-color:@white;
                                     .font(@openSans_Light, 300, 10px, @black-color01);
                                     &:last-child{
                                         text-align: center;
                                     }
                                     .btn{
                                         padding:0;
                                         border-color:@white;
                                         background-color:@white;
                                         .font(@openSans, bold, 14px, @black-color01);
                                         text-transform: capitalize;
                                     }
                                 }
                             }
                        }
                        tbody{
                         background-color:@grey11; 
                         border:1px solid @grey10;  
                         tr{
                             td{
                                 padding:0;
                                 .btn{
                                     background-color:@grey11;
                                     padding:5px;
                                     border:0;
                                     .font(@openSans, normal, 12px, @black-color01);
                                     &.active{
                                         span{
                                             background-color:@sunflower-yellow;
                                             padding:3px;
                                         }
                                     }
                                 }
                             }
                         }
                        }
                    }
                 }

            }
        }
        .cart-details-content{
            padding:20px 10px 20px 10px;
            .product-row{
                border:1px solid @grey17;
                padding: 15px 25px 15px 15px;
                &.product-details-section{
                    .product-name-heading{
                        margin-bottom:15px;
                    }
                    .product-image-container{
                        border:1px solid @grey17;
                        img{
                            width:87px;
                            height:62px;
                        }
                    }
                    .product-description-container{
                        text-align: left;
                        padding-left:10px;
                        label{
                            display:block;
                        }
                        .product-base-name{
                            .font(@openSans_Semibold, 600, 12px, @black-color01);
                            margin-bottom:10px;
                        }
                        .configuration-id-header{
                            .font(@openSans_Light, 300, 10px, @black-color01);
                            margin-bottom:0;
                        }
                        .configuration-id-value{
                            .font(@HelveticaNeue, normal, 12px, @black-color01);
                            margin-bottom:0;
                        }
                    }
                }
                &.list-price-per-product{
                    border-top:0;
                    border-bottom:0;
                    .heading{
                        .font(@openSans_Light, 300, 10px, @black-color01);
                    }
                    .value{
                        .font(@HelveticaNeue, normal, 12px, @black-color01);
                    }
                }
                &.quantity{
                    border-top:0;
                    border-bottom:0;
                    .heading{
                        .font(@openSans_Light, 300, 10px, @black-color01);
                    }
                    .value{
                        .font(@HelveticaNeue, normal, 12px, @black-color01);
                    }
                }
                &.discount{
                    border-top:0;
                    border-bottom:0;
                    .heading{
                        .font(@openSans_Light, 300, 10px, @black-color01);
                    }
                    .value{
                        .font(@HelveticaNeue, normal, 12px, @black-color01);
                    }
                }
                &.transaction{
                    border-top:0;
                    border-bottom:0;
                    background:@grey05 !important;
                    .clearfix{
                        background:@grey05 !important;
                    }
                    .heading{
                        .font(@openSans, normal, 10px, @black-color01);
                        line-height:20px;
                    }
                    .value{
                        .font(@HelveticaNeue, normal, 12px, @black-color01);
                    }
                }
                .decrement{
                    background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
                    display:inline-block;
                    width:15px;
                    height:15px;
                    margin-right:6px;
                    cursor: pointer;
                    position: relative;
                    top: 3px;
                }
                .increment{
                    background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
                    display:inline-block;
                    width:15px;
                    height:15px;
                    margin-left:6px;
                    cursor: pointer;
                    position: relative;
                    top: 3px;
                }
                .quantity-box{
                    width:30px !important;
                    height:25px;
                    text-align: center;
                    border:1px solid @grey10;
                    margin-top:0 !important;
                }
                .discount-box{
                    width:30px !important;
                    height:25px;
                    text-align: center;
                    border:1px solid @grey10;
                    margin-top:0 !important;
                }
                .percent-off{
                    line-height:25px;
                    display:inline-block;
                    width:15px;
                    height:15px;
                    margin-left:10px;
                    cursor: pointer;
                    position: relative;
                }
                .dollar-off{
                    line-height:25px;
                    display:inline-block;
                    width:15px;
                    height:15px;
                    margin-right:10px;
                    cursor: pointer;
                    position: relative;
                }
                label{
                    .font(@openSans, bold, 14px, @black-color01);
                    text-transform: none;
                }
            }
        }
        .list-price-discount-section{
            padding:15px 20px 25px 10px;
            margin-top:15px;
            .price-row{
                margin-bottom:15px;
                &:last-child{
                    margin-bottom:0;
                }
            }
            .heading{
                .font(@openSans, 300, 12px, @black-color01);
            }
            .value{
                .font(@HelveticaNeueMedium, 500, 16px, @black-color01);
            }
        }
        .transaction-price-section{
            padding:10px 20px 10px 10px;
            background:none !important;
            .clearfix{
                background:none !important;
            }
            .heading{
                .font(@openSans, 300, 14px, @black-color01);
                max-width:145px;
                text-align: left;
            }
            .value{
                .font(@HelveticaNeueMedium, 500, 18px, @black-color01);
            }
        }
        .additional-services-section{
            background-color: @white;
            padding:30px 20px 40px 10px;
            .additional-services-header{
                margin-bottom:26px;
                .font(@openSans, normal, 12px, @black-color01);
                text-align: left;
            }
            .additional-services-checkbox-section{
                padding-left:10px !important;
                &.CSA{
                    margin-bottom:30px;
                }
                .additional-service-checkbox-container{
                    .font(@HelveticaNeue_Light, 300, 14px, @black-color01);
                    text-align: left;
                    margin-left:5px;
                }
            }
            .description-box{
                background-color: @grey11;
                border:0;
                border-bottom:1px solid @grey10;
                margin-top:15px;
                &::placeholder{
                    .font(@HelveticaNeueThin, 300, 16px, @grey10);
                    font-style: italic;
                }
            }
            .additional-service-checkbox-container{
                display:block;
                text-indent: 15px;
            }
            .additional-service-checkbox-container input {
                position: absolute;
                opacity: 0;
            }
            
            /* Create a custom checkbox */
            .additional-service-checkbox-container .checkmark {
                position: absolute;
                top: 5px;
                left:10px;
                height: 13px;
                width: 13px;
                background-color:@white;
                border:1px solid @grey10;
            }
            
            /* When the checkbox is checked, add a blue background */
            .additional-service-checkbox-container input:checked ~ .checkmark {
                background-color:@sunflower-yellow;
                border:0;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .additional-service-checkbox-container:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .additional-service-checkbox-container input:checked ~ .checkmark:after {
                content: "";
                position: absolute;
                display: block;
            }
            
            /* Style the checkmark/indicator */
            .additional-service-checkbox-container .checkmark:after {
                left: 4px;
                top: 1px;
                width: 5px;
                height: 10px;
                border: solid @black-color01;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            
        }
        .customer-details-section{
            padding:20px 30px 0 20px;
            .customer-radio-container{
                .font(@openSans, normal, 14px, @black-color01);
                text-transform: capitalize;
                display:block;
                .radio-text{
                    margin-left:20px;
                }
            }
    
            .select-customer-radio-section{
                text-align: left;
                input {
                    position: absolute;
                    opacity: 0;
                }
            } 
            .select-customer-radio-section .checkmark {
                position: relative;
                height: 15px;
                width: 15px;
                background-color:@white;
                border-radius: 50%;
                right: 119px;
                display: inline-block;
                top: 2px;
                border:1px solid @black-color01;
                &.new-customer{
                    right: 140px;
                }
            }
        
            .select-customer-radio-section:hover input ~ .checkmark {
                background-color: @white;
            }
        
            .select-customer-radio-section input:checked ~ .checkmark {
                background-color:@sunflower-yellow;
                border:0;
            }
        
            .select-customer-radio-section .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
        
            .select-customer-radio-section input:checked ~ .checkmark:after {
                display: block;
            }
        
            .select-customer-radio-section .checkmark:after {
                top: 4px;
                left: 4px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background:@grey07;
            }
        }
        .customer-data{
            padding:20px 30px 0 20px;
            background-color: @white !important;
            text-align: left;
            .left-heading{
                .font(@openSans_Light, 300, 14px, @black-color01);
                margin-bottom:10px;
            }
            .asterik{
                .font(@openSans_Light, 300, 14px, @black-color01);
            }
            .product-family-dropdown-label{
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
            }
            .product-family-btn{
                margin-bottom:20px;
            }
            input[type="text"]{
                margin-bottom:20px;
                border:0;
                border-bottom:1px solid @grey10;
                padding-left:0;
                &::placeholder{
                    .font(@openSans_Light, 300, 14px, @black-color01);
                }
                &.customer-name-typeahead{
                    &::placeholder{
                        .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                        font-style:normal;
                        padding-bottom:5px;
                    } 
                }
                &.customer-email-typeahead{
                    &::placeholder{
                        .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
                        font-style:normal;
                        padding-bottom:5px;
                    } 
                }
            }
            [uib-typeahead-popup].dropdown-menu {
                display: block;
                width:100%;
                max-height:200px;
                overflow: auto;
                margin:0;
                padding:0 0 0 10px;
                li{
                    a{
                        padding:3px 0;
                    }
                    &:last-child{
                        > .active{
                            a{
                                &:hover{
                                    border-bottom:0;
                                }
                                &:focus{
                                    border-bottom:0;
                                }
                            }
                        }
                    }
                }
                > .active{
                    a{
                        background-color:@white !important;
                        color:#000;
                        &:hover{
                            background-color:@white !important; 
                            color:#000;
                            border-bottom:1px solid @sunflower-yellow;
                        }
                        &:focus{
                            background-color:@white !important;
                            color:#000;
                            border-bottom:1px solid @sunflower-yellow;
                        }
                    }
                }
            }
            .typeahead-arrow{
                position: absolute;
                bottom: 26px;
                right: 0;
            }
            .billing-address{
                margin-top:30px;
            }
            .billing-address-checkbox{
                display:block;
                text-indent: 25px;
                .font(@HelveticaNeueThin, 100, 16px, @black-color01);
                text-transform: none;
                margin-bottom:25px;
            }
            .billing-address-checkbox input {
                position: absolute;
                opacity: 0;
            }
            
            /* Create a custom checkbox */
            .billing-address-checkbox .checkmark {
                position: absolute;
                top: 5px;
                left:0;
                height: 13px;
                width: 13px;
                background-color:@white;
                border:1px solid @grey10;
            }
            
            /* When the checkbox is checked, add a blue background */
            .billing-address-checkbox input:checked ~ .checkmark {
                background-color:@sunflower-yellow;
                border:0;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .billing-address-checkbox::after {
                content: "";
                position: absolute;
                display: none;
                
            }
            
            /* Show the checkmark when checked */
            .billing-address-checkbox input:checked ~ .checkmark:after {
                content: "";
                position: absolute;
                display: block;
            }
            
            /* Style the checkmark/indicator */
            .billing-address-checkbox .checkmark::after {
                left: 4px;
                top: 1px;
                width: 5px;
                height: 10px;
                border: solid @black-color01;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        .comments-section{
            .comments-box{
                background-color:@grey11;
                &::placeholder{
                    .font(@HelveticaNeue, 300, 14px, @black-color01);
                    font-style:italic;
                }
            }
        }
        
        .mobile-quote-btn{
            margin-top:25px;
            width:100%;
        }
        
        
    }
}