
.quote-content-container{
    background:@white;
    .screen-mob({
        padding-bottom:10px;
    });
}
.quote-cart-template-container{
    background:@white;
    label{
        color:inherit !important;
        text-transform:none;
        .font(inherit,inherit,inherit,@black-color01);
    }
    .total-price{
        .price-header{
            .font(@openSans,bold, 16px, @black-color01);
            margin-bottom:27px;
            .screen-mob({
                text-align:left;
                margin-bottom:20px;
            });
        }
        .price-value{
            .font(@HelveticaNeue_Light,300, 20px, @black-color01);
            padding-right: 10px;
            .screen-mob({
                text-align:right;
                margin-bottom:20px;
            });
        }
        
            border-bottom:1px solid @grey13;
        .screen-mob({
            background:@white;
            margin-top: 25px;
            padding: 15px 15px 0;
            border:0;
        });
    }
    .transaction-price{
        padding:25px 0 40px 0;
        .price-header{
            .font(@openSans,bold, 18px, @black-color01);
            .screen-mob({
                text-align:left;
            });
        }
        .price-value{
            .font(@openSans,300, 24px, @black-color01);
            padding-right: 10px;
        }
        .screen-mob({
            background: @white;
            padding: 0 15px 15px;

        });
    }
    .screen-mob({
        margin: 20px 10px 10px;
        //border: 1px solid @grey13;
        padding-top: 10px;
    });
}
.quote-cart-header{
    background-color:@white;
    height:65px;
    .font(@openSans,bold, 14px, @black-color01);
    padding-top:15px;
    padding-bottom:33px;
    text-transform:uppercase;
    border-bottom:1px solid @grey13;
    border-top:1px solid @grey13;
    margin-bottom:77px;
    &>div:first-child{
        padding-left:30px !important;
    }
    input[name="discount-type"]{
        opacity:0;
        display:none;
    }
    .checkmark {
        position: absolute;
        height: 13px;
        width: 13px;
        background-color: #ffffff;
        border-radius: 50%;
        left: -18px;
        display: inline-block;
        top: 2px;
        border: 1px solid #000000;
    }
    input:checked ~ .checkmark {
        background-color:@sunflower-yellow;
        border:0;
    }
    input:checked ~ .checkmark:after {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #3f3f3f;
    }
    .checkmark:after {
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #3f3f3f;
    }
    .discount-header{
        position:relative;
    }
    .discount-container{
        position:absolute;
        top:65px;
        left:48px;
        label{
            position:relative;
            display:block;
            margin-bottom:2px !important;
            .font(@openSans,300, 14px, @black-color01);
        }
        
    }
}

.quote-cart-template{
    &+*{
        padding-top:65px;
        border-top:1px solid @grey13;
    }
    .screen-mob({
        border:0;
        margin-bottom:10px;
        border:1px solid @grey17;
        padding-top:10px; 
    });
    background-color:@white;
    
    input{
        outline:none;
    }
    .btn-active{
        &:active{
            transform:scale(0.98);
            -webkit-transform: scale(0.98);
             -moz-transform: scale(0.98);
        }
     }
    input[type="radio"]{
        opacity: 0;
    }
    button{
        outline:none;
        background: none;
        border: 0;
        &:active{
            transform:scale(0.98);
            -webkit-transform: scale(0.98);
             -moz-transform: scale(0.98);
        }
    }
    label{
        color:inherit !important;
        position: relative;
        .font(inherit,inherit,inherit,@black-color01);
    }
   h6{
        margin:0;
   }
   .font-type-0{
    .font(@openSans,bold, 16px, @black-color01);
   }
   .font-type-1{
    .font(@HelveticaNeue_Light, 300, 18px, @black-color01);
   }
   .font-type-2{
    .font(@HelveticaNeueMedium, 500, 14px, @black-color01);
    .screen-mob({
        font-size:12px;
    });
   }
   .font-type-3{
    .font(@openSans,300, 16px, @black-color01);
    .screen-mob({
        font-size:10px;
    });
   }
   .font-type-4{
    .font(@HelveticaNeue_Light,300, 16px, @black-color01);
   }
   .font-type-5{
    .font(@openSans,normal, 18px, @black-color01);
   }
   .font-type-6{
    .font(@HelveticaNeue_Light,100, 14px, @black-color01);
   }
   .font-type-7{
    .font(@openSans,300, 14px, @black-color01);
   }
   .font-type-8{
    .font(@HelveticaNeueBold,normal, 16px, @black-color01);
   }
   .font-type-9{
    .font(@openSans,bold, 14px, @black-color01);
   }
   .font-type-10{
    .font(@HelveticaNeueThin,100, 16px, @black-color01);
   }
   
   b{
    .font(@HelveticaNeue,normal, 14px, @black-color01);  
    .screen-mob({
        font-family:@HelveticaNeue;
        font-weight:100;
    });
}
   .has-error{
        color:@red02;
    }
    .text-error{
        .screen-mob({
            font-family: @HelveticaNeue_Light;
            font-size: 14px;
            font-weight: 300;
            padding:0 20px !important;
            margin-bottom:40px;
        });
    }
    .config-id{
        .font-type-3;
        text-transform:capitalize;
        .screen-mob({
            font-family:@openSans;
            text-transform:uppercase;
            width:100%;
        });
    }
    .primary-offering {
        label:first-child {
            margin-bottom: 0;
        }
    }
    .config-id-value{
        .font-type-2;
        .screen-mob({
            font-family:@HelveticaNeue;
            font-weight:normal;
        });   
    }
   
    .cart-hddng{
        .font-type-0;
        margin-bottom:15px;
        .screen-mob({
            font-family:@openSans;
            font-weight:bold;
            font-size:14px;
            color:@black-color01;
            text-transform: capitalize;
        });
    }
   .qty{
       width:28px;
       height:25px;
       .font-type-4;
       .screen-mob({
           font-family:@HelveticaNeue_Light;
           font-weight:300;
           font-size:12px;
           color:@black-color01;
           border:1px solid @grey10;
       });       
   }
   .inactive{
    .screen-mob({
        font-family:@openSans;
        font-weight:bold;
        font-size:12px;
        color:@grey14;
    });  
   }
   .decrement{
    background: url(/_ui/responsive/cat/images/decrement.png) center right no-repeat;
    display:inline-block;
    width:15px;
    height:15px;
    margin-right:10px;
    cursor: pointer;
    position: relative;
    top: 3px;
    }
    .increment{
        background: url(/_ui/responsive/cat/images/increment.png) center right no-repeat;
        display:inline-block;
        width:15px;
        height:15px;
        margin-left:10px;
        cursor: pointer;
        position: relative;
        top: 3px;
    }
    .serial-number-container{
        margin-top:20px;
        .screen-mob({
            border-bottom:1px solid @grey17;
        });
    }
    .serial-numbers{
        max-width:193px;
        border:1px solid black;
        display:inline-block;
        .screen-mob({
          display: block;
          margin:auto;
          max-width:none;
        });
    }
    .discount-price{
        width:86px;
        height:25px;
        text-align: right;
        margin:0 3px;
        .font-type-4;
    }
    .prd-discount-price{
        .screen-mob({
            font-family:@HelveticaNeue;
            font-size: 12px;
            font-weight: 300;
        });
    }
    .edit-reserve-btn,.remove-btn,.reserve-btn{
        .font-type-5;
        font-style:italic;
        display: block;
        margin-bottom:32px;
    }
    .edit-reserve-btn{
        & span{
            display:block;
        }
        background: url(/_ui/responsive/cat/images/edit.png) bottom right no-repeat;
        padding-right:30px;
        background-position-y:30px;
    }
    .reserve-btn{
        text-transform:capitalize;
        width: 46%;
        padding-right:35px;
        background:url(/_ui/responsive/cat/images/reserve-icon.png) center right no-repeat
    }
    .mb-msg-err{
        padding-top: 0;
        margin-bottom:10px;
     }
    .disable{
        opacity: .25;
        margin-bottom: 0;
        cursor: not-allowed;
        &:active{
            transform:scale(1);
            -webkit-transform:scale(1);
            -moz-transform:scale(1);
        }
    }
    .remove-btn{
        padding-right:32px;
        background:url(/_ui/responsive/cat/images/cross.png) center right no-repeat
    }
    .serial-number-header{
        .font-type-6;
        margin-bottom:15px;
        .screen-mob({
            font-family:@HelveticaNeueThin;
        });
    }
    .serial-number-blck{
        .screen-mob({
            padding:0 34px;
        })
        
    }
    .serial-numbers{
        min-height:25px;
        min-width:125px;
        .font-type-4;
        padding:3px 15px;
        text-align: center;
        background: @grey11;
        border:1px solid @grey12;
        margin:10px 20px 0 0;
        .screen-mob({
            margin:10px auto
        });
    }
    .epp-csa-optn{
        .font-type-7;
        margin:20px 0 31px 0;
        display:block;
        &:focus{
            text-decoration: none;
        }
        &:active{
            text-decoration: none;
        }
    }
    .epp-csa-add-new-btn{
        display:inline-block;
        margin-bottom:30px;
        .font(@openSans,normal,14px,@black-color01);
        background:url(/_ui/responsive/cat/images/increment.png) center left no-repeat;
        background-size:10px;
        padding-left: 15px;
    }
    .add-value-section{
        margin-bottom: 20px; 
        &.minus-icon{
            margin-bottom: 10px;
        }
    }
    .vet-section{
        .screen-tab-desk({
            margin-bottom: 20px;
        });
        .vet-lite-description{
            margin-top: 6px;
            .font(@HelveticaNeue_Light,300,14px,@black-color01);
            span{
                font-family: @HelveticaNeue;
            }
        }
        .vet-lite-button{
            padding: 10px;   
            border: 1px solid @grey10;
            .font(@openSans,bold,12px,@black-color01);
            .screen-mob({
                margin: 20px 0 30px;
                width: 100%;
                font-size: 14px;
            });
            .screen-tab-desk({
                padding: 8px 23px;
            });
            .screen-desk({
                margin-left: 30px;
            });
        }
    }
    
    .epp-headers{
     label{
        .font-type-9;
        margin:40px 0 30px 0;
        text-transform:uppercase;
     }   
    }
    .epp-container{
        margin-bottom:44px;
        .screen-mob({
            margin-bottom:20px;
        });
    }
    .epp-list-price-label{
        .screen-mob({
            background-color:@grey11;
            font-family: @openSans;
            font-size: 18px;
            font-weight: normal;
            border-bottom: solid 1px @grey10;
        });
        input{
            .screen-mob({
                border:0;
                background:inherit;
                font-family: @openSans;
                font-size: 14px;
                font-weight: normal;
                width:calc(100% - 30px);
                text-align: left;
            });
        }
    }
    .epp-qty-label{
        .screen-mob({
            text-align:right;
        });
        
    }
    .epp-total-label{
        .screen-mob({
            margin:20px 0;
            font-family: @openSans;
            font-size: 14px;
            font-weight: normal;
            label{
                text-transform: uppercase !important;
                margin-right:11px;
            }
        });
    }
    .btns-type-1{
       min-width:84px;
       min-height:25px;
       .font-type-9;
       text-transform: uppercase;
       padding:0 20px;
       border:1px solid @grey10;
       margin-bottom:20px;
       .screen-mob({
           width:49%;
           height:40px;
       });
    }
    .clear-btn{
        margin-right:20px;
        margin-left:20px;
        .screen-mob({
            margin-left:0;
            margin-right: 0;
            float:right;
        });
    }
    .csa-hrs{
        text-align:center;
        width:61px;
        height:25px;
        border:1px solid @grey10;
        .screen-mob({
            border:0;
           border-bottom:1px solid @grey10;
           background-color:@grey11;
           font-family:@HelveticaNeue_Light;
           font-size: 16px;
           font-weight: 300;
        });
    }
    .csa-yrs-label,.csa-hrs-label{
        .screen-mob({
            padding-right:18px !important;
            margin:20px 0 10px;
            text-transform:uppercase;
        });
    }
    .csa-yrs-label{
        .screen-mob({
            text-align:right;
        });
    }
    .csa-yrs{
        text-align:center;
        width:52px;
        height:25px;
        border:1px solid @grey10;
        .screen-mob({
            border:0;
           border-bottom:1px solid @grey10;
           background-color:@grey11;
           font-family:@HelveticaNeue_Light;
           font-size: 16px;
           font-weight: 300;
        });
    }
    .drop-down-button{
        width:400px;
        .screen-mob({
            width:100%;
        });
        .drop-down {
            width: 15px;
            height: 8px;
        }
    }
    .prd-img-container{
        &> div:first-child{
            padding-left: 30px;
            position: relative;
            top: -30px;
            .screen-mob({
                top: 0;
            });
        };
        img {
            width: 100%;
            height: auto;
        }
        .screen-mob({
            border-bottom:1px solid @grey17;
            margin-bottom:22px;
        });
    }
    .config-container{
        &~ section{
            padding-left:16px;
            .screen-mob({
                padding:0 16px;
            });
        }
    }
    .epp-csa-container{
        padding-top:26px;
        padding-bottom: 10px;
        .dropdown-menu{
            li{
                a{
                    padding:0;
                }
            }
        }
        .screen-mob({
            padding-top:0;
        });
    }
    .epp-list-price,.epp-qty{
        .screen-mob({
            font-family: @openSans;
            font-size: 14px;
            font-weight: normal;
            text-transform: uppercase;
            margin-top: 20px;
        });
    }
    .epp-qty{
        .screen({
            text-align: right;
            padding-right:18px !important;
        });
    }
    .epp-optn-hddng{
        .font-type-8;
       .screen-mob({
        font-family: @openSans;
        font-size: 14px;
        font-weight: normal;
        margin-bottom:15px;
       });
    }
    hr{
        margin:0;
        width:90%;
        opacity:0.5;
        border-top:1px solid @grey13;
        .screen-mob({
            display:none;
        });
    }
    .plus-icon{
        background:url(/_ui/responsive/cat/images/plus-icon.png) center left no-repeat;
        background-size:22px;
        padding-left:33px;
    }
    .minus-icon{
        background:url(/_ui/responsive/cat/images/minus-icon.png) center left no-repeat;
        background-size:22px;
        padding-left:33px;
    }
    .close-btn{
        background:url(/_ui/responsive/cat/images/close-icon.png) center left no-repeat;
        background-size: 10px;
        position: absolute;
        height: 23px;
        width: 12px;
        top: -5px;
        right: 10px;
    }
    .discount-header,.qty-header,.prd-price-header{
        .font-type-7;
        .screen-mob({
            font-family:@openSans;
            font-size: 10px;
            font-weight: 300;
            color: @black-color01;
            padding:3px 0 0 20px;
            font-size:10px;
            text-transform:uppercase;
        });
        &+div{
            .screen-mob({
                text-align: right;
                padding-right:30px !important;
            });
          
        }
    }
    .prd-price-header,.qty-header{
        margin-bottom:37px;
        &+div{
            .screen-mob({
                font-family:@HelveticaNeue;
                font-weight:normal;
                font-size:12px;
                color:@black-color01;

            });
        }
    }
    .qty-header{
        .screen-mob({
            padding-left:20px !important;
        });
    }
    .discount-header{
        margin-bottom:25px;
        &+div{
            input{
                .screen-mob({
                    width:67px;
                    border:1px solid @grey10;
                });
            }
            .screen-mob({
                font-family:@HelveticaNeue;
                font-weight:300;
                font-size:12px;
                color:@black-color01;
            });
        }
    }
    .prdct-mobile-btns-container{
        .screen-mob({
           padding:0 15px;
        });
    }
    .prdct-mobile-btns{
        .screen-mob({
            text-transform: uppercase;
            text-align:center;
            min-height:40px;
            padding:10px 0;
            width: 100%;
            margin:0 auto 15px;
            font-family:@openSans;
            font-size: 14px;
            font-weight: bold;
            color:@black-color01;
            border:1px solid @grey10;
        });
    }
    .transaction-price-container{
        text-align: right;
        .screen-mob({
            background-color:@grey05;
            min-height:35px;
            padding:13px 34px 13px 20px;
        });
        .trans-header{
            .screen-mob({
                font-family: @HelveticaNeueMedium;
                font-size: 10px;
                font-weight: 500;
                text-transform: uppercase;
                padding-left:20px;
            });
        }
        .trans-value{
            .screen-mob({
                text-align:right;
                font-family: @HelveticaNeue;
                font-size: 12px;
                font-weight: normal;
                padding-right:34px;
            });
        }
        
    }
}

//Vet Lite Popup styles
.modal-vet-lite-popup{
    max-width: 280px;
    .screen-tab-desk({
        max-width: 580px;
        height: 554px;
    });    
}
.vet-lite-popup{
    .modal-body{
        padding: 50px 90px;
        border: 3px solid @grey10;
        .screen-mob({
            padding: 40px 20px;
        });
    }
    .vet-lite-popup-container{
        .close-pop-up{
            display: inline-block;
            width: 40px;
            height: 40px;
            position: absolute;
            right: 10px;
            top: 10px;
            background:url(/_ui/responsive/cat/images/close-icon-15px.png) center center no-repeat;
            color:inherit;
            .screen-mob({
              right:0;
              top:0;
            });
        }
        .vet-lite-popup-content{
            margin: 0 auto;
            .vet-title-section{
                margin-bottom: 60px;
                font-family: @openSans;
                background:url(/_ui/responsive/cat/images/vet-icon@3x.png) 0 0 no-repeat;
                background-size: 45px 45px;
                padding-left: 50px;
                .screen-mob({
                    margin-bottom: 30px;
                });
                .vet-title{
                    font-size: 18px;
                    font-weight: bold;
                }
                .vet-sub-title{
                    font-size: 16px;
                    font-weight: 300;
                }
            }
            .vet-item{
                margin-bottom: 60px;
                font-family: @HelveticaNeue_Light;
                padding-left: 44px;
                margin-left: 6px;
                .screen-mob({
                    margin-bottom: 20px;
                });
                &.item1{
                    background: url(/_ui/responsive/cat/images/vet-circle-1@3x.png) 0 2px no-repeat;
                    background-size: 8% 48%;
                    .screen-mob({
                        background-size: 13% 28%;
                    });
                }
                &.item2{
                    background: url(/_ui/responsive/cat/images/vet-circle-2@3x.png) 0 2px no-repeat;
                    background-size: 8% 45%;
                    .screen-mob({
                        background-size: 13% 26%;
                    });
                }
                &.item3{
                    background: url(/_ui/responsive/cat/images/vet-circle-3@3x.png) 0 2px no-repeat;
                    background-size: 8% 65%;
                    .screen-mob({
                        background-size: 13% 35%;
                    });
                }
                .vet-sub-font{
                    font-family: @HelveticaNeueMedium;
                }
            }
            .continue-button{
                margin: 0 auto;
                display: table;
                background: @grey07;
                border: 1px solid @grey10;
                padding: 9px 52px;
                outline: none;
                .font(@openSans, bold, 14px, @white);                
                &:focus,&:active,&:hover{
                    outline: none;
                }
                .screen-mob({
                    width: 100%;
                });
            }
        }
    }
}

//Value Analysis Section
.value-analysis-section{
    .screen-tab-desk({
        padding-left: 32px;
    });
    .va-item{
        margin-bottom: 30px;
        .screen-tab-desk({
            padding-right: 25px;
            margin-top: 40px;
        });
        .va-item-border{
            .screen-tab-desk({
                border-bottom: 1px solid #d5d5d5;
                margin-left: 0;
                margin-right: 0;
                padding-bottom: 40px;
            });
            .va-left{
                .screen-tab-desk({
                    padding-left: 0;
                });
            }
            .va-right{
                .screen-tab-desk({
                    padding-right: 0;
                });
            }
            .error-msg{
                .font(@HelveticaNeue_Light, 300, 14px, @red02);
                span{
                    .screen-tab-desk({
                        display: block;
                    });
                }
                .screen-mob({
                    margin-bottom: 20px;
                });
            }
        }
        .va-title{
            .font(@openSans, 300, 14px, @black-color01);                            
            margin-bottom: 23px;
            .screen-mob({
                font-weight: 600;
                margin-bottom: 25px;
            });
        }
        input{
            margin-bottom: 20px;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid @grey10;
            padding: 0;
            .font(@HelveticaNeue_Light, 300, 16px, @black-color01);                                        
            width: 100%;
            .screen-mob({
                font-size: 14px;
                font-family: @openSans;
                font-weight: normal;
                margin-bottom: 25px;            
            });
            &::-webkit-input-placeholder{
                font-style: italic;
                .font(@HelveticaNeueThin, 100, 14px, @grey10);
                .screen-mob({
                    font-size: 12px;
                });
            }
            &::-moz-placeholder{
                font-style: italic;
                .font(@HelveticaNeueThin, 100, 14px, @grey10);
                .screen-mob({
                    font-size: 12px;
                });
            }
            &::-ms-input-placeholder{
                font-style: italic;
                .font(@HelveticaNeueThin, 100, 14px, @grey10);
                .screen-mob({
                    font-size: 12px;
                });
            }
            &.error{
                border-color: @red02;
            }
        }
        .vet-model-name,
        .vet-url{
            .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
            margin-bottom: 20px;
            word-wrap: break-word;
            .screen-mob({
                font-size: 14px;
            });
        }
    }
    .buttons-section{
        .screen-tab-desk({
            text-align: right;
            margin-top: 10px;
        });
        .screen-mob({
            margin-top: 5px;
        });
        .btns-type-1{
            margin-bottom: 0;
            text-transform: uppercase;
            .font(@openSans, bold, 12px, @black-color01);
            &.remove{
                .screen-tab-desk({
                    margin-left: 20px;
                });
                .screen-mob({
                    float: right;
                });
            }
            .screen-mob({
                width: 46%;
                font-size: 14px;
            });
        }
    }
    .add-va-item-link{
        margin-bottom: 20px;
        .font(@openSans, 300, 14px, @black-color01);
        .screen-mob({
            padding: 20px 0;
            border: 1px solid @grey17;
            border-width: 1px 0;
        });
        .item-link{
            font-weight: normal;
            margin-top: 10px;
            cursor: pointer;
            .screen-mob({
                font-weight: 600;
            });
        }
    }
}

//For mobile version of total price container
.transaction-price{
    .price-header,.price-value{
        .screen-mob({
            font-size:14px !important;
        });
    }
    .screen-mob({
        background: @white;
        padding: 0 15px 15px;
    });
}
.total-price{
    .price-header{
        .screen-mob({
            margin-bottom:20px;
        });
    }
    .price-value{
        .screen-mob({
            margin-bottom:20px;
        });
    }
    .screen-mob({
        background:@white;
        margin-top: 25px;
        padding: 15px 15px 0;
    });
}
