#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background:none;
    border: 0 none;
    border-radius: 0px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative;
    > div{
        background:@white;
    }
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input, #msform textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top:6px;
}
#progressbar {
    padding-left:0;
    margin-bottom: 30px;
    overflow: hidden;
}

#progressbar li {
    height:30px;
    list-style-type: none;
    text-transform: uppercase;
    width: 33.33%;
    .font(@openSans_Light, 300, 9px, @black-color01);
    float: left;
    position: relative;
}

#progressbar li:before {
    content: "";
    height: 10px;
    display: block;
    font-size: 12px;
    margin: 0 auto 10px auto;
    background-color:@grey13;
    border-left:0.5px solid @grey17;
    border-top:0.5px solid @grey19;
    border-bottom:0.5px solid @grey19;
}

#progressbar li:first-child:before{
    border-left:0.5px solid @grey19;
}
#progressbar li:last-child:before{
    border-right:0.5px solid @grey19;
}

#progressbar li.active:before, #progressbar li.active:after {
    background:@sunflower-yellow;
}