#replicate-quote-non-empty-cart-modal-body{
    padding:0;
    background-color:@white;
    border: solid 3px @grey10;
    
    .content-section{
        padding-bottom: 10px;
        .productImage{
        margin-left: 60px;
        margin-right: 15px;
        .popImage{
			width:79px;
			height:60px;
		}
    }
        .rightHalf{
            .productCode{
                .font(@openSans_Bold, bold, 16px, @black-color01);
            }
            .productName{
                .font(@HelveticaNeueMedium, normal, 14px, @black-color01);
            }
            .productBase{
                .font(@HelveticaNeueMedium, normal, 14px, @black-color01);
            }
        }
 
   }
    .close-modal{
        background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
        display:inline-block;
        width:12px;
        height:12px;
        cursor: pointer;
        right:10px;
        top:10px;
        position: absolute;
    }
    .confirm-remove{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding:0 50px;
        .font(@HelveticaNeue, 300, 16px, @black-color01);
    }
    .msg-text{
        text-align: left;
        padding: 30px 70px;
        .font(@HelveticaNeue, 300, 16px, @black-color01);
    }
    .update-product-list{
        margin-bottom:0;
    }
    .yes-btn {
        width: initial;
    }
    .attention-header{
        text-align:center;
        margin-top:30px;
        h3{
            .font(@openSans_Bold, normal, 20px, @black-color01);
        }
    }
    .remove-product-btn-container{
        text-align: center;
        padding:0 0 20px;
        .no-btn{
            background-color: @white;
            color:@black-color01;
        }
    }
}
#quote-details-after-submission-noneditable-popup{
    padding:0;
    background-color:@white;
    border: solid 3px @grey10;
    .close-modal{
        background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
        display:inline-block;
        width:12px;
        height:12px;
        cursor: pointer;
        right:15px;
        top:15px;
        position: absolute;
    }
    .confirm-remove{
        text-align: left;
        margin-top: 30px;
        padding: 30px 80px 40px 80px;
        .font(@HelveticaNeue_Light, 300, 16px, @black-color01);
    }
    .update-product-list{
        margin-bottom:0;
        width:100%;
    }
    .remove-product-btn-container{
        text-align: center;
        padding: 0 150px 40px 150px;
    }
}
.quotation-page-desktop-component{
    .replicate-container-mb{
        margin: 0 10px;
    }
    .replicate-quote-mb-btn{
        margin-top: 20px;
        width: 100%;
    }
    .error-message{
        display: inline-block;
        .font(@HelveticaNeue, 300, 18px, @red02);
        padding-right: 20px;
    }
    .page-header{
        padding-left: 0;
        padding-bottom: 20px;
    }
    .quote-details-section-desktop{
        background-color: @white;
        margin-bottom: 40px;
        .row-top-border{
            .screen-tab-desk({ 
                border-top: 1px solid @grey12;
            });
        }
        .quote-details-heading-section{
            padding:10px 30px;
            border-bottom: 1px solid @grey13;
            background-color:@white;
            .heading-text{
                display: inline-block;
                padding: 12px 0px;
                .font(@openSans, bold, 14px, @black-color01);
            }
            
        }
        .quote-details-col{
            background-color:@white;
            .screen-tab-desk({
                padding:30px 0 30px 55px;
            });
            
            label{
                display: block;
            }
            &.description-section{
                padding:30px 0 40px 55px;
                .description-box{

                }
            }
            .drop-down-button{
              .dropdown-menu{
                top: 25px !important;
                left:0px !important;
                > li{
                    a{
                        background-color: transparent !important;
                    }
                    a:hover, a:focus{

                    }
                }
              }  
            }
            .dropdown-menu{
               padding:0;
               top: 0px !important;
               // left:230px !important;
               box-shadow: none;
               .uib-button-bar {
                    padding: 10px 20px 10px 20px;
                    margin-top: 0 !important;
                    background-color:@grey11;
                    border-left:1px solid @grey10;
                    border-right:1px solid @grey10;
                    border-bottom:1px solid @grey10;
                    .btn{
                        display:none;
                    }
                    .date-heading{
                        .font(@openSans_Light, 300, 12px, @black-color01);
                    }  
                    .date-value{
                        .font(@openSans, normal, 12px, @black-color01);
                    }   
               }
               table{
                   width:240px;
                   thead{
                       border:1px solid @grey10;
                        tr{
                            th{
                                background-color:@white;
                                padding:8px 5px;
                                .font(@openSans_Light, 300, 10px, @black-color01);
                                &:last-child{
                                    text-align: center;
                                }
                                .btn{
                                    padding:0;
                                    border-color:@white;
                                    background-color:@white;
                                    .font(@openSans, bold, 14px, @black-color01);
                                    text-transform: capitalize;
                                    .glyphicon-chevron-left{
                                        background: url(/_ui/responsive/cat/images/datepicker-prev.png) center right no-repeat;
                                        background-position: 7px 2px;
                                        width: 25px;
                                        height: 25px;
                                        &::before{
                                            content: " ";
                                            white-space: pre;
                                        }
                                    }
                                    .glyphicon-chevron-right{
                                        background: url(/_ui/responsive/cat/images/datepicker-next.png) center right no-repeat;
                                        background-position: 7px 2px;
                                        width: 25px;
                                        height: 25px;
                                        &::before{
                                            content: " ";
                                            white-space: pre;
                                        }
                                    }
                                }
                            }
                        }
                   }
                   tbody{
                    background-color:@grey11; 
                    border:1px solid @grey10;  
                    tr{
                        td{
                            padding:0;
                            .btn{
                                background-color:@grey11;
                                padding:5px;
                                border:0;
                                .font(@openSans, normal, 12px, @black-color01);
                                &.active{
                                    span{
                                        background-color:@sunflower-yellow;
                                        padding:3px;
                                    }
                                }
                            }
                        }
                    }
                   }
               }
            }
        }
        .sub-header{
            .font(@openSans_Light, 300, 14px, @black-color01);
            margin-bottom:20px;
        }
        .asterik{
            .font(@openSans_Light, 300, 14px, @black-color01);
        }
        .input-container {
            position: relative;
            .screen-tab-desk({ 
                display: inline-block;
            });
            > div {
                position: absolute;
                right: 242px;
            }
        }
        .calendar-icon{
            cursor: pointer;
            background: url(/_ui/responsive/cat/images/calendar.png) center right no-repeat;
            height:20px;
            width:20px;
            position: absolute;
            right: 0px;
            bottom: 5px;
        }
        .no-border-right{
            border-right:0 !important;
        }
        .no-border-bottom{
            border-bottom:0 !important;
        }
        .no-border{
            border:0 !important;
        }
    }
}
@media only screen and (max-width: 900px){
    .quotation-page-desktop-component{
        .quote-details-section-desktop{
            #quote-step-indicator {
                text-align: center;
                position: relative;
                margin-top: 30px;
            }
            
            #quote-step-indicator fieldset {
                background:none;
                border: 0 none;
                border-radius: 0px;
                box-sizing: border-box;
                width: 100%;
                margin: 0;
                position: relative;
                > div{
                    background:@white;
                }
            }
            
            #quote-step-indicator fieldset:not(:first-of-type) {
                display: none;
            }
            
            #quote-step-indicator input, #quote-step-indicator textarea {
                width: 100%;
                box-sizing: border-box;
                margin-top:6px;
            }
            #progressbar {
                padding-left:0;
                margin-bottom: 30px;
                overflow: hidden;
            }
            
            #progressbar li {
                height:30px;
                list-style-type: none;
                text-transform: uppercase;
                width: 33.33%;
                .font(@openSans_Light, 300, 9px, @black-color01);
                float: left;
                position: relative;
            }
            
            #progressbar li:before {
                content: "";
                height: 10px;
                display: block;
                font-size: 12px;
                margin: 0 auto 10px auto;
                background-color:@grey13;
                border-left:0.5px solid @grey17;
                border-top:0.5px solid @grey19;
                border-bottom:0.5px solid @grey19;
            }
    
            #progressbar li:first-child:before{
                border-left:0.5px solid @grey19;
            }
            #progressbar li:last-child:before{
                border-right:0.5px solid @grey19;
            }
            
            #progressbar li.active:before, #progressbar li.active:after {
                background:@sunflower-yellow;
            }
            .quote-details-heading-section{
                padding:15px 10px;
                .font(@openSans, bold, 12px, @black-color01);
                border-bottom:1px solid @grey12;
            }
            .quote-details-col{
                padding:20px 10px 0 10px;
                &.description-section{
                    padding:20px 10px 10px 10px;
                }
                .text-counter{
                    top:50px;
                }
                input[type='text']{
                    width:100%;
                }
            }
            .sub-header{
                .font(@HelveticaNeueThin, normal, 12px, @black-color01);
                margin-bottom:5px;
            }
            .calendar-icon{
                margin:0;
                // top:43px;
                // right:12px;
            }
        }
    }
}

