.modal-submit-quote {
  width: 450px;
}

.popup-outer-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
}
.popup-wrapper {
  vertical-align: middle;
  display: table-cell;
  border:3px @grey10;
  padding: 0px;
}
.submit-query-popup {
  margin: 0 auto;
  padding: 50px 0;
  background-color:@white;
  border:3px solid @grey10;
  .cat-loading-spinner{
    margin: 0px auto;
  }
}
.close-mobile-popup {
  display: none;
}
.popup-header {
 .font(@openSans,bold,20px,@black-color01);
  letter-spacing: -0.6px;
  text-align: center;
  text-transform: uppercase;
}
.quote-details {
  padding: 30px 70px 30px 90px;
}
.quote-info {
  margin-bottom: 20px;
}
.quote-info:last-child {
  margin-bottom: 0;
}
.quote-label {
  .font(@HelveticaNeueThin,100,16px,@black-color01);
  text-transform: capitalize;
}
.quote-val {
  .font(@HelveticaNeueMedium,500,16px,@black-color01);
  text-align: left;
}
.approval {
  text-align: left;
  padding-bottom: 30px;
  padding-left: 76px;
}
.approval input {
  vertical-align: middle;
  margin: 0;
}
.approval label {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 100;
  color:@black-color01;
  margin: auto;//change from 0  CBH-2108
  text-transform: none;
  position: relative;//added for text change css fix CBH-2108
  display:inline-block;//added for text change css fix CBH-2108
}

	

.quote-button-wrapper {
  padding-bottom: 30px;
}
.quote-btn {
  display: block;
  float: left;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  border: 0;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: bold;
  color: @black-color01;
  line-height: normal;
  border-radius:0;
}
.done-btn {
  width: 101px;
  background-color: #3f3f3f;
  color:@white;
}
.quote-btn-mobile{
  display:none;
}
.quote-btn-desktop{
  border: solid 1px @grey14 !important;
  display:block;
}
.quote-history-mobile {
  display: none;
}
.export-doc-link {
  text-align: center;
}
.export-doc-link a {
  text-decoration: none;
  font-size: 16px;
  font-style: italic;
  color:@black-color01;
}
.approval-checkbox{
  display:block;
  text-indent: 15px;
  .font(@HelveticaNeueThin, 100, 16px, @black-color01);
  text-transform: none;
}
.approval input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.approval .checkmark {
  position: absolute;
  top: 5px;
  left:-10px;
  height: 13px;
  width: 13px;
  background-color:@white;
  border:1px solid @grey10;
}

/* When the checkbox is checked, add a blue background */
.approval-checkbox input:checked ~ .checkmark {
  background-color:@sunflower-yellow;
  border:0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.approval-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.approval-checkbox input:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  display: block;
}

/* Style the checkmark/indicator */
.approval-checkbox .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid @black-color01;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-modal{
background: url(/_ui/responsive/cat/images/cross.png) center right no-repeat;
display:inline-block;
width:12px;
height:12px;
cursor: pointer;
right:10px;
top:-40px;
position: absolute;
}
.screen-mob({
  .submit-query-popup {
    padding: 45px 0;
    position: relative;
    width: 280px;
  }
  .close-modal{
    right:5px;
    top:-15px;
  }
  .approval .checkmark {
    left: 0px;
  }
  .quote-btn-desktop{
    display:none;
  }
  .quote-btn-mobile{
    display:block;
    padding:0;
    border:0;
    margin-top:20px;
    .font(@openSans,normal,16px,@black-color01);
    font-style:italic;
    text-transform: capitalize;
  }
  .done-btn {
    margin-left:33%;
  }
  .close-mobile-popup {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .popup-header {
    font-size: 16px;
    letter-spacing: -0.4px;
  }
  .quote-details {
    padding: 30px 0px 30px 20px;
  }
  .quote-label {
    font-size: 14px;
    width: 110px;
  }
  .quote-val {
    font-size: 14px;
  }
  .approval {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 20px;
  }
  .quote-button-wrapper {
    text-align: center;
  }
  .quote-history-btn {
    display: none;
  }
  .done-btn {
    float: none;
  }
  .quote-history-mobile {
    display: block;
    text-align: center;
    padding-top: 25px;
  }
  .quote-history-mobile a{
    text-decoration: none;
    font-size: 16px;
    font-style: italic;
    color: @black-color01;
    text-transform: capitalize;
  }
});
.screen-desk({
    .submit-query-popup{
      width: 442px;
    }
    .quote-button-wrapper{
      padding-left: 45px;
      padding-right: 45px;
    }
});
// .screen-tab-intermediate({
//   .submit-query-popup {
//     //width: 330px;
//     //left:160px;
//     //top:160px;
//   }
//   // .approval-checkbox {
//   //   text-indent: 0px !important;
//   //   div{
//   //     padding-left:0px;
//   //   }
//   // }
// });
