.quotation-submit-container{
	.error-message{
		display: inline-block;
		.font(@HelveticaNeue_Light, 300, 18px, @red02);
		.screen-mob({
			margin-bottom:20px;
		})
	}
	.download-quote-btn{
		margin-right: 20px;
	}
	.activate-mobile-buttons{
		.screen-mob({
			width: 100%;
		});
	}
}
