.indicates-required{
    margin-top:20px;
    label{
        text-transform: none;
        .font(@HelveticaNeue_Light, 300, 14px, @black-color01);  
        font-style:italic;
        
    }
}
.quotation-customer-container{
    background-color: @white;
    .font(@openSans, bold, 14px, @black-color01);

    .margin-left-30{
        margin-left:30px !important;
    }
    .margin-left-25{
        margin-left:25px !important;
    }
    .padding-top-136{
        .screen-tab-desk({
            padding-top:136px !important;
        });
    }
    .select-customer-radio-section input {
        position: absolute;
        opacity: 0;
    }

    .customer-data{
        padding:50px 0 60px 0;
        .comments-section{
            .comments-box{
              padding-right: 60px;
              .screen-mob({
                padding : 0 !important;
              });
              .col-xs-12{
                  .screen-mob({
                    padding : 0 !important;
                  });
                  input{
                      width:100%;
                      padding-right: 90px;
                  }
              }
            }
            .text-counter{
             position: absolute;
             top: 3px;
             display: block;
             right: 20px;
             .font(@HelveticaNeueThin,normal,14px,@grey10);
             font-style:italic;
             .screen-mob({
                padding-right : 10px;
             });
             &.has-error{
               color:@red02;
             }
            }
         }
        .customer-data-row{
            margin-bottom:40px;
            .disable{
                opacity:0.4;
            }
            .clear-form{
                &:hover,&:focus{
                   color:none;
                }
                position:absolute;
                right:30px;
                top:-5px;
                cursor: pointer;
                display:inline-block;
                width:30px;
                height:30px;
                z-index:9;
                background:url(/_ui/responsive/cat/images/cross.png);
                background-repeat:no-repeat;
                background-position:center center;

            }
            &.quote-edit{
                .col-md-3{
                    padding-left:25px;
                }
                .col-md-6{
                    padding-left:25px;
                }
                .col-md-2{
                    padding-left:10px;
                }
            }
            &.customer-name{
               .col-md-3{
                   .screen-mob({
                      margin-bottom:20px;
                   })
               }
            }
            &.customer-email{
                .col-md-3{
                    .screen-mob({
                       margin-bottom:20px;
                    })
                }
             }

        }
        .left-heading{
            .font(@openSans_Light, 300, 14px, @black-color01);
        }
        .asterik{
            .font(@openSans_Light, 300, 14px, @black-color01);
        }
        .text-box{
            padding:0 0 3px 0;
            margin:0 0 20px 0;
            -webkit-transition : border 100ms ease-in; 
            -moz-transition : border 100ms ease-in;
            -o-transition : border 100ms ease-in;
        }
        input[type='text']{
            &.cat-inputs{
                &.type1{
                    width:100%;
                }
            }
        }
        [uib-typeahead-popup].dropdown-menu {
            display: block;
            width:180px;
            max-height:200px;
            overflow: auto;
            margin:0;
            padding:0 0 0 10px;
            li{
                a{
                    padding:3px 0;
                }
                &:last-child{
                    > .active{
                        a{
                            &:hover{
                                border-bottom:0;
                            }
                            &:focus{
                                border-bottom:0;
                            }
                        }
                    }
                }
            }
            > .active{
                a{
                    background-color:@white !important;
                    color:#000;
                    &:hover{
                        background-color:@white !important; 
                        color:#000;
                        border-bottom:1px solid @sunflower-yellow;
                    }
                    &:focus{
                        background-color:@white !important;
                        color:#000;
                        border-bottom:1px solid @sunflower-yellow;
                    }
                }
            }
        }
        .typeahead-arrow{
            position: relative;
            bottom: 15px;
            right: 0;
            float: right;
        }
        .product-family-dropdown{
            margin-bottom:20px;
            .product-family-dropdown-label{
                .font(@HelveticaNeueMedium, 500, 14px, @black-color01) !important;
            }
        }
        .product-family-dropdown-menu{
            margin-top:-19px;
        }
        .competitor-dropdown-header{
            .font(@openSans_Light, 300, 14px, @black-color01);
        }

        .billing-address-checkbox-section{
            margin-bottom:40px;
        }

        .billing-address-checkbox{
            display:block;
            text-indent: 15px;
            .font(@HelveticaNeueThin, 100, 16px, @black-color01);
            text-transform: none;
        }
        .billing-address-checkbox input {
            position: absolute;
            opacity: 0;
        }
        
        /* Create a custom checkbox */
        .billing-address-checkbox .checkmark {
            position: absolute;
            top: 1px;
            left:-4px;
            height: 13px;
            width: 13px;
            background-color:@white;
            border:1px solid @grey10;
        }
        
        /* When the checkbox is checked, add a blue background */
        .billing-address-checkbox input:checked ~ .checkmark {
            background-color:@sunflower-yellow;
            border:0;
        }
        
        /* Create the checkmark/indicator (hidden when not checked) */
        .billing-address-checkbox:after {
            content: "";
            position: absolute;
            display: none;
        }
        
        /* Show the checkmark when checked */
        .billing-address-checkbox input:checked ~ .checkmark:after {
            content: "";
            position: absolute;
            display: block;
        }
        
        /* Style the checkmark/indicator */
        .billing-address-checkbox .checkmark:after {
            left: 4px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid #000000;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .cart-header-section{
        padding:30px 0 30px 30px;
        border-bottom:1px solid @grey12;
    }

    .customer-details-section{
        padding:40px 0 0 35px;
    }

    .customer-radio-container{
        .font(@openSans, normal, 18px, @black-color01);
        text-transform: capitalize;
    }

    .select-customer-radio-section .checkmark {
        position: relative;
        height: 15px;
        width: 15px;
        background-color:@white;
        border-radius: 50%;
        right: 150px;
        display: inline-block;
        top: 2px;
        border:1px solid @black-color01;
        &.new-customer{
            right: 175px;
        }
    }

    .select-customer-radio-section:hover input ~ .checkmark {
        background-color: @white;
    }

    .select-customer-radio-section input:checked ~ .checkmark {
        background-color:@sunflower-yellow;
        border:0;
    }

    .select-customer-radio-section .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .select-customer-radio-section input:checked ~ .checkmark:after {
        display: block;
    }

    .select-customer-radio-section .checkmark:after {
        top: 4px;
        left: 4px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background:@grey07;
    }
}
@media only screen and (max-width: 900px){
    .quotation-customer-container{
	 &.editable-quote{
        .cart-header-section{
            padding:15px 10px 10px 10px;
            .font(@openSans, bold, 12px, @black-color01);
        }
        .customer-details-section{
            padding:25px 30px 35px 15px !important;
        }
        .select-customer-radio-section {
            .checkmark{
                &.new-customer{
                    right:150px;
                }
            }
        }
        .customer-data{
            padding:30px 0 0 !important;
            .customer-data-row{
                .col-md-3{
                    padding:0;
                }
                .col-md-6{
                    padding:0;
                }
                .col-md-2{
                    padding:0;
                }
            }
            .text-box{
                width:100%;
            }

            .typeahead-arrow{
                right:0;
            }
        }
        .padding-top-136{
            padding-top:0 !important;
        }
	.padding-top-198{
                padding-top:0 !important;
            }
        }
    }
    .quotation-submit-container{

        .update-product-list{
            width:100%;
            margin-bottom:15px;
        }
        .export-quote-btn{
            margin-right:0;
            width:100%;
        }
    }
}
