.edit-pop-up-wrapper{
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translate(0,-50%) !important;
  -webkit-transform:translate(0,-50%) !important;
  -moz-transform:translate(0,-50%) !important;
  max-width:450px;
  .screen-mob({
    max-width: 280px;
  })
}
.full-screen-xs{
  .screen-mob({
    width: 100%;
    max-width:100%;
    .modal-body{
      border:none !important;
      height:100vh;
    }
  })

}

.modal-dialog{
  .modal-content{
    .no-box-shadow;
    border:none;
    //border:3px solid @grey10;
  }
  &.modal-submit-quote{
    .modal-content{
      border:0;
    }
  }
}


  .modal-dialog.cart-lost-container{
    width:442px !important;
    font-size:16px;
    border:3px solid @grey10;
    .screen-mob({
      width:280px !important;
    });
    .cart-lost-content{
      .close-pop-up{
        display: inline-block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        background:url(/_ui/responsive/cat/images/close-icon-15px.png) center center no-repeat;
        color:inherit;
        .screen-mob({
          right:0;
          top:0;
        });
      }
      p{
          margin:36px auto;
          width:300px;
          .font(@HelveticaNeue_Light,300,16px,@black-color01);
         .screen-mob({
           width:256px;
         });
        }
        .update-product-list{
          display:block;
          margin:0 auto 35px;
          width:135px;
        }
    }
  }

