.quote-mobile-navigation{
    margin-top: 20px;
    .text{
        .font(@openSans, bold, 14px, @grey10);
    	width: 80px;
	    word-wrap: inherit;
	    display: inline-block;
    }
    img{
        cursor: pointer;
        position: relative;
	    top: -10px;
	    margin: 0px 5px;
    }
}