 #catMobileNavMenu{
	 &[data-sidebar] {
	 	.screen-tab-desk({
	 		display: none !important;
	 		});
		 display: none;
		 position: absolute;
		 height: 100vh;
		 width: 260px;
		 overflow-y: auto;
		 z-index: @zIndexMobileMenu;
	}
	#catNavMenuContainer{
		#catNavMenuprofile{
			position: fixed;
			width: 260px;
			height: 72px;
  		background-color: #000000;
  		padding: 25px 20px;
  		.userProfile-icon{
  			  height: 25px;
  		}
  		a{
	  		.font("open sans", bold, 14px, @white);
	  		 padding-left:10px;
	  		 vertical-align: bottom;
  		}
		}
		#navigationLinks{
			position: relative;
  		top: 71px;
			ul#mobileNavMenu{
				list-style: none;
				padding-left:0px;
				> li{
					.font("Open Sans", 300, 16px,@black-color01);
					&:not(:last-child){
							border-bottom: solid 1px #f0f0f0;
					}
					a{
						.font("Open Sans", 300, 16px,@black-color01);
					}
				}
				li{
					min-height: 40px;
					padding: 10px 20px;
					cursor: pointer;

					ul{
						list-style: none;
						li{
							cursor: pointer;
						}
					}
				}
			}
		}
		#logout{
			 height: 53px;
  		 background-color: #000000;
  		 padding: 15px 20px;
  		 position: fixed;
  		 top: 90vh;
  		 width:260px;
  		 a{
	  		 .font("open sans", bold, 14px, @white);
	  		 vertical-align: bottom;
	  		}
	  		img{
	  			width: 19px;
	  			margin-right: 11px;
	  		}
		}
	}
}
 #catMobileNavOverlay{
	 	&[data-sidebar-overlay] {
	 	.screen-tab-desk({
	 		display: none !important;
	 		});
		 display: none;
		 position: fixed;
		 top: 0;
		 left: 0;
		 opacity: 0;
		 width: 100%;
		 height: 100%;
		 position: absolute;
		 top: 40px;
		 z-index: @zIndexMobileOverLay;
	}
}


#catMobileNavMenu{
	 &[data-sidebar] {
	 		 background-color: #ffffff;box-shadow: 0 6px 0 0 rgba(0,0,0,0.5); 
	 		 a{
	 		 	color:#aaa; text-decoration:none;
	 		 }
	 }
}
.overlay { background-color: #444; }