/*!
 * CAT Site Version 0.0.1
 * Copyright reserved @Deloitte and CAT
 */
/* =============================================================================
   Screen size variables
   ========================================================================== */
/* =============================================================================
   Media queries for different screen sizes
   ========================================================================== */
* {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.cat-container {
  margin: 0px auto;
  width: 95%;
}
@media (min-width: 1240px) {
  .cat-container {
    width: 1080px;
  }
}
body {
  background-color: #f7f7f7;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
@font-face {
  font-family: 'HelveticaNeue_Light';
  src: url("../fonts/HelveticaNeue_Light.ttf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.ttf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/Helvetica-Neue-Bold.ttf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url("../fonts/HelveticaNeue Medium.ttf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueThin';
  src: url("../fonts/HelveticaNeue-Thin.ttf") format("opentype");
  font-style: normal;
}
header {
  background-color: #000000;
  height: 70px;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
}
header .dashboard {
  display: inline-block;
  padding: 20px 24px;
  border-left: 1px solid #5f5f5f;
  border-right: 1px solid #5f5f5f;
  height: 100%;
}
header a#logo {
  background: #000 url(img/nav-mobile-@2x.png) -4px 20px no-repeat;
  background-size: 210px 73px;
  display: block;
  width: 75px;
  text-indent: 100%;
  overflow: hidden;
  line-height: 68px;
  float: left;
  height: 70px;
}
header nav {
  float: right;
}
header nav #menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #4C8FEC url('libs/core/styles/img/menu-icon.png') center;
}
header nav ul li {
  display: inline-block;
  float: left;
  padding: 24px 18px;
  border-left: 1px solid #5f5f5f;
}
header #menu-icon {
  display: none;
}
@media only screen and (max-width: 767px) {
  header nav ul,
  header nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
  }
  header nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  header #menu-icon {
    display: inline-block;
  }
  header nav:hover ul {
    display: block;
  }
}
.login-section .login-page__headline {
  padding-top: 59px;
  padding-bottom: 64px;
  font-family: OpenSans;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.8px;
  text-align: center;
  text-transform: uppercase;
}
.login-section .login-form {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 4px rgba(186, 186, 186, 0.33);
  padding-top: 70px;
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .login-section .login-form {
    width: 640px;
    margin-bottom: 100px;
  }
}
.login-section .login-form input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
  padding-right: 30px;
  height: 55px;
  padding-left: 0px;
}
.login-section .login-form button {
  width: 120px;
  margin: 0px auto;
  background-color: #3f3f3f;
  border: solid 1px #979797;
  margin-top: 40px;
}
.login-section .login-form button:hover {
  background-color: #ffd426;
}
.login-section .login-form #loginForm {
  width: 90%;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .login-section .login-form #loginForm {
    width: 420px;
  }
}
.login-section .login-form #loginForm .forgotten-password {
  color: #000000;
  margin-top: 25px;
}
.login-section .login-form #loginForm .forgotten-password a {
  color: #000000;
}
.login-section .login-form #loginForm .forgotten-password a:hover {
  color: #000000;
}
.login-section .login-form #loginForm .form-group .input-icon {
  position: relative;
  top: -37px;
  left: 95%;
}
.my-profile .profile-container {
  margin: 0px;
}
@media (min-width: 768px) {
  .my-profile .profile-container {
    background-color: #000000;
    border: solid 1px #cdcdcd;
  }
}
.my-profile .left-content {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  padding: 33px 39px;
}
@media (max-width: 767px) {
  .my-profile .left-content {
    padding: 10px;
  }
}
.my-profile .left-content .heading {
  font-size: 20px;
  margin-bottom: 28px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 767px) {
  .my-profile .left-content .heading {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
.my-profile .left-content .user-name {
  margin-bottom: 15px;
  font-size: 24px;
  text-align: left;
  color: #ffffff;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 767px) {
  .my-profile .left-content .user-name {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.my-profile .left-content .user-email {
  margin-bottom: 8px;
  font-family: "HelveticaNeue_Light";
}
@media (max-width: 767px) {
  .my-profile .left-content .user-email {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }
}
.my-profile .left-content .user-contact {
  margin-bottom: 24px;
  font-family: "HelveticaNeue_Light";
  font-size: 14px;
}
@media (max-width: 767px) {
  .my-profile .left-content .user-contact {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }
}
@media (max-width: 767px) {
  .my-profile .left-content .user-password {
    text-align: center;
  }
}
.my-profile .left-content .update-password {
  min-height: 35px;
  background-color: #3f3f3f;
  text-transform: uppercase;
  border: solid 1px #979797;
  color: #ffffff;
}
@media (max-width: 767px) {
  .my-profile .left-content .update-password {
    text-align: center;
  }
}
.my-profile .right-content {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .my-profile .right-content {
    background-color: #ffffff;
    padding-top: 33px;
  }
}
.my-profile .right-content .heading {
  margin-bottom: 30px;
  height: 24px;
  font-size: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
@media (max-width: 767px) {
  .my-profile .right-content .heading {
    font-size: 12px;
    margin-bottom: 15px;
  }
}
.my-profile .right-content .border-top {
  border-top: solid 1px #d1d1d1;
}
.my-profile .right-content .dealer-info {
  padding-bottom: 40px;
  padding-left: 35px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .my-profile .right-content .dealer-info {
    background-color: #ffffff;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 22px;
  }
}
.my-profile .right-content .shipping-info {
  padding-top: 33px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .my-profile .right-content .shipping-info {
    background-color: #ffffff;
    border-top: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 14px;
  }
}
.my-profile .right-content .billing-info {
  padding-top: 33px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .my-profile .right-content .billing-info {
    background-color: #ffffff;
    border-top: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 14px;
  }
}
.my-profile .right-content .user-profile-cell {
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  color: #000000;
}
@media (max-width: 767px) {
  .my-profile .right-content .user-profile-cell {
    padding-bottom: 10px;
  }
}
.my-profile .right-content .user-profile-cell label {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "HelveticaNeue_Light";
}
@media (max-width: 767px) {
  .my-profile .right-content .user-profile-cell label {
    margin-bottom: 0px;
  }
}
.my-profile .right-content .user-profile-cell div {
  display: block;
  font-family: "HelveticaNeueMedium";
}
@media (min-width: 768px) {
  .my-profile .right-content .user-profile-cell div {
    display: inline-block;
  }
}
.breadcrumb-section {
  background-color: transparent;
  padding-left: 10px;
  font-family: "HelveticaNeue_Light";
}
.breadcrumb-section .breadcrumb {
  background-color: transparent;
}
.breadcrumb-section .breadcrumb > li {
  text-transform: capitalize;
  font-family: "HelveticaNeueThin";
  font-size: 16px;
  font-weight: 100;
}
.breadcrumb-section .breadcrumb > li a {
  color: #000000;
}
.breadcrumb-section .breadcrumb > li + li:before {
  content: "\f101";
  font-family: FontAwesome;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
}
.landingPage {
  min-height: 100vh;
}
.landingPage .user-information {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.6px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .landingPage .user-information {
    font-size: 24px;
    letter-spacing: -0.7px;
    margin-bottom: 58px;
  }
}
.landingPage .landing-dropdown {
  padding-bottom: 52px;
}
.landingPage .landing-dropdown .header {
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: #000000;
  padding-left: 10px;
}
.landingPage .landing-dropdown .cat-dropdown {
  padding: 0px;
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button {
  border: none;
  margin-top: 0px;
  padding: 0px;
  box-shadow: none;
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button.disabled > .arrow {
  background-color: #cccccc;
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button .text {
  height: 60px;
  width: 90%;
  padding: 22px 40px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  color: #000000;
  float: left;
  background-color: #fff;
}
@media (min-width: 768px) {
  .landingPage .landing-dropdown .cat-dropdown .drop-down-button .text {
    width: 94%;
  }
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button .arrow {
  height: 60px;
  width: 10%;
  background-color: #ffcc00;
}
@media (min-width: 768px) {
  .landingPage .landing-dropdown .cat-dropdown .drop-down-button .arrow {
    width: 6%;
  }
}
.landingPage .landing-dropdown .cat-dropdown .drop-down-button .arrow img {
  top: 18px;
  position: relative;
}
.landingPage .landing-dropdown .cat-dropdown ul.dropdown-menu {
  border: none;
  padding-top: 0px;
  box-shadow: 0 15px 18px 0 rgba(231, 231, 231, 0.5);
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.landingPage .landing-dropdown .cat-dropdown ul.dropdown-menu li {
  padding: 8px 40px;
}
.landingPage .landing-dropdown .cat-dropdown ul.dropdown-menu li:hover {
  cursor: pointer;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  background-color: #dfdfdf;
}
.landingPage .landing-search-button {
  padding-top: 15px;
}
.landingPage .landing-search-button .btn-container {
  width: 132px;
  margin: 0px auto;
}
.landingPage .landing-search-button .btn-container button {
  font-family: 'Open Sans', sans-serif;
  background-color: #3f3f3f;
  border: solid 1px #979797;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding: 12px 28px;
}
.landingPage .landing-search-button .btn-container button[disabled=disabled] {
  background-color: #cccccc;
  border: none;
  cursor: not-allowed;
}
footer {
  background-color: #000;
  padding-top: 0px;
  padding-top: 16px;
  padding-bottom: 19px;
  font-family: "HelveticaNeue_Light";
}
footer .links {
  text-align: left;
  padding: 0px;
  font-size: 12px;
  font-weight: 300;
}
footer .copy-rights {
  text-align: right;
  padding: 0px;
  font-size: 12px;
  font-weight: 300;
}
